<div id="cart" class="popup popup--basket">
  <div class="popup__overlay popup-close"></div>
  <div class="popup__holder popup__holder--basket">
    <div class="popup__icon popup-close">
      <svg>
        <use xlink:href='/front/dist/images/sprite.svg#close' />
      </svg>
    </div>
    <div class="popup__title">{{ text_cart_title }}</div>
    <div class="product_cart_block">

        {% if products %}
          {% for product in products %}
        <div class="popup-basket checkout-products__holder" id="product_info">
            {{ datalayer }}
        {% if product.thumb %}
          <div class="checkout-products__thumb">
            <img src="{{ product.thumb }}" alt="{{ product.name }}" width="160" height="114">
          </div>
        {% endif %}
        <div class="checkout-products__content">
          <div class="checkout-products__title">{{ product.name }}</div>
          <div class="checkout-products__info">
          {% for option in product.option %}
            <div class="checkout-products__row">
              <div class="checkout-products__spec">{{ option.name }}:</div>
              <div class="checkout-products__value">{{ option.value }}{% if option_value.option_text  %}
                  ({{ option_value.option_text }}){% endif %}{% if option.price and option.id != '18' %}
                  ({% if optionprefix == 'u' %} + {% elseif option.prefix == 'd' %} - {% else %}
                          {{ option.prefix }} {% endif %} {{ option.price }}){% endif %}
              </div>
            </div>
            {% endfor %}
            <div class="checkout-products__row">
              <div class="checkout-products__spec">{{ text_cart_quantity }}</div>
              <div class="checkout-products__value">
                <div class="checkout-products__btn quantity-down dec incart_dec" data-prod-id="{{ product.cart_id }}" data-quant="{{ product.quantity }}">-</div>
                <input class="checkout-products__input popup_cart_quantity" id="popup_quantity" type="number" min="1" name="quantity" value="{{ product.quantity }}" readonly data-prod-id="{{ product.cart_id }}">
                <div class="checkout-products__note">{{ text_cart_sht }}</div>
                <div class="checkout-products__btn quantity-up inc incart_inc" data-prod-id="{{ product.cart_id }}" data-quant="{{ product.quantity }}">+</div>
              </div>
            </div>
            <div class="checkout-products__row checkout-products__row--price">
              <div class="checkout-products__spec">{{ text_cart_price }}</div>
              <div class="checkout-products__value checkout-products__value--price popup_cart_total" data-prod-id="{{ product.cart_id }}">{{ product.total }}</div>
            </div>
          </div>
        </div>
        </div>
      {% endfor %}
    {% endif %}
    </div>
    <div class="popup-basket__btns">
      <div class="popup-basket__col">
        <div class="btn-link popup-close">{{ text_continue_shopping }}</div>
      </div>
      <div class="popup-basket__col">
        <a href="{{ checkout }}" class="btn btn--gold">{{ text_checkout }}</a>
      </div>
    </div>
  </div>
</div>