{% if currencies|length > 1 %}
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency" class="main-sidebar__box touch-thing sidebar-currency__wrap">
  <div class="sidebar-button__description">{{ text_currency }}:</div>
    {% for currency in currencies %}
        {% if currency.code == code %}
          <div class="sidebar-button sidebar-button--currency">{{ currency.title }}</div>
        {% endif %}
    {% endfor %}
    <ul class="sidebar-currency css">
        {% for currency in currencies %}
            {% if currency.code != code %}
              <li class="sidebar-currency__item">
                <a href="#" class="sidebar-currency__link currency-select" name="{{ currency.code }}">{{ currency.title }}</a>
              </li>
            {% endif %}
      {% endfor %}
    </ul>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
{% endif %}