<span class="js-show-social-modal btn btn--gold">Показать модалку соц сетей</span>




<footer class="footer lazy-bg" {#style="background-image: url(../images/bg-footer.jpg)"#} data-srcbg="../images/bg-footer.jpg">
    <div class="footer-top">
        <div class="footer-top__box">
            <div class="footer-top__col">
                <div class="footer-top__title">{{ text_quality }}</div>
                <a href="tel:{{ quality }}" class="footer-top__link">{{ quality }}</a>
            </div>
            <a href="{{ home }}" class="footer-top__logo">
                <svg class="loader__logo" width='66' height='88'>
                    <use xlink:href='/front/dist/images/sprite.svg#logo-image'/>
                </svg>
            </a>
            <div class="footer-top__col">
                <div class="footer-top__title">{{ text_question }}:</div>
                <a href="tel:{{ technical_question }}" class="footer-top__link">{{ technical_question }}</a>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="section footer-middle__wrap">
            <div class="footer-col">
                <div class="footer-nav__wrap">
                    <div class="footer-nav__title">{{ text_room }}</div>
                    <ul class="footer-nav">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="{{ contact_href }}#map-section">{{ address }}</a>
                        </li>
                        <li class="footer-nav__item">
                            <span class="footer-nav__link">{{ worktime }}</span>
                        </li>
                        <li class="footer-nav__item">
                            <a href="tel:{{ showroom_phone }}" class="footer-nav__link">{{ showroom_phone }}</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="mailto:{{ email }}" class="footer-nav__link">{{ email }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% if menu_parent %}
                {% for parent in menu_parent %}
                    <div class="footer-col">
                        <div class="footer-nav__wrap">
                            <div class="footer-nav__title">{{ parent.name }}</div>
                            <ul class="footer-nav">
                                {% for menu in parent.child %}
                                    <li class="footer-nav__item">
                                        <a href="{{ menu.href }}" class="footer-nav__link">{{ menu.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="footer-bottom">
        <div class="section footer-bottom__wrap">
            <a class="devs">
                {#<div class="devs__name">{{ text_create }}</div>#}
                {#<div class="devs__icon-box">#}
                {#<div class="devs__icon">#}
                {#<svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"#}
                {#x="0px" y="0px" viewBox="0 0 201.582 31.427"#}
                {#style="enable-background:new 0 0 201.582 31.427;" xml:space="preserve">#}
                {#<g>#}
                {#<g>#}
                {#<path d="M59.329,7.896v17.165h-5.15v-1.614c-1.133,1.304-2.815,2.094-5.115,2.094c-4.497,0-8.205-3.948-8.205-9.063#}
                {#c0-5.115,3.708-9.063,8.205-9.063c2.3,0,3.982,0.79,5.115,2.094V7.896H59.329z M54.179,16.478c0-2.575-1.716-4.188-4.085-4.188#}
                {#c-2.369,0-4.085,1.614-4.085,4.188c0,2.575,1.716,4.188,4.085,4.188C52.463,20.667,54.179,19.053,54.179,16.478z"></path>#}
                {#<path d="M74.466,7.553v5.836c-2.128-0.343-5.15,0.515-5.15,3.914v7.759h-5.149V7.896h5.149v3.055#}
                {#C70.004,8.651,72.304,7.553,74.466,7.553z"></path>#}
                {#<path d="M84.97,12.839v6.076c0,1.476,1.27,1.614,3.536,1.476v4.669c-6.729,0.687-8.685-1.339-8.685-6.145v-6.076h-2.747V7.896#}
                {#h2.747V4.635l5.15-1.545v4.806h3.536v4.944H84.97z"></path>#}
                {#<path d="M102.477,0h5.149v25.061h-5.149V0z"></path>#}
                {#<path d="M121.186,20.941c1.407,0,2.609-0.549,3.296-1.304l4.119,2.369c-1.682,2.335-4.222,3.536-7.484,3.536#}
                {#c-5.871,0-9.509-3.948-9.509-9.063c0-5.115,3.708-9.063,9.132-9.063c5.012,0,8.72,3.879,8.72,9.063#}
                {#c0,0.721-0.069,1.408-0.206,2.06h-12.187C117.719,20.323,119.298,20.941,121.186,20.941z M124.344,14.693#}
                {#c-0.549-1.991-2.094-2.712-3.639-2.712c-1.957,0-3.261,0.961-3.742,2.712H124.344z"></path>#}
                {#<path d="M159.187,14.522v10.539h-5.15V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.716,0-2.678,1.202-2.678,3.227v9.681h-5.15#}
                {#V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.717,0-2.678,1.202-2.678,3.227v9.681h-5.149V7.896h5.149v1.579#}
                {#c0.79-1.167,2.3-2.06,4.6-2.06c2.025,0,3.536,0.824,4.497,2.266c0.961-1.373,2.54-2.266,4.978-2.266#}
                {#C156.613,7.415,159.187,10.23,159.187,14.522z"></path>#}
                {#<path d="M162.927,16.478c0-5.115,4.051-9.063,9.097-9.063c5.047,0,9.098,3.948,9.098,9.063c0,5.115-4.051,9.063-9.098,9.063#}
                {#C166.979,25.541,162.927,21.594,162.927,16.478z M175.973,16.478c0-2.437-1.717-4.051-3.948-4.051#}
                {#c-2.231,0-3.948,1.614-3.948,4.051c0,2.437,1.716,4.051,3.948,4.051C174.256,20.529,175.973,18.916,175.973,16.478z"></path>#}
                {#<path d="M201.582,14.522v10.539h-5.15v-9.784c0-2.128-1.339-3.124-2.987-3.124c-1.888,0-3.193,1.099-3.193,3.536v9.372h-5.149#}
                {#V7.896h5.149v1.614c0.927-1.27,2.644-2.094,4.909-2.094C198.629,7.415,201.582,9.887,201.582,14.522z"></path>#}
                {#</g>#}
                {#<path style="fill:#F8E015;" d="M25.19,1.958H14.734C6.597,1.958,0,8.555,0,16.693v10.456c0,2.353,1.925,4.278,4.278,4.278h10.456#}
                {#c8.138,0,14.734-6.597,14.734-14.734V6.237C29.469,3.884,27.543,1.958,25.19,1.958z"></path>#}
                {#</g>#}
                {#</svg>#}
                {#</div>#}
                {#<div class="devs__icon-hover">#}
                {#<svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"#}
                {#x="0px" y="0px" viewBox="0 0 201.582 31.427"#}
                {#style="enable-background:new 0 0 201.582 31.427;" xml:space="preserve">#}
                {#<g>#}
                {#<g>#}
                {#<path d="M59.329,7.896v17.165h-5.15v-1.614c-1.133,1.304-2.815,2.094-5.115,2.094c-4.497,0-8.205-3.948-8.205-9.063#}
                {#c0-5.115,3.708-9.063,8.205-9.063c2.3,0,3.982,0.79,5.115,2.094V7.896H59.329z M54.179,16.478c0-2.575-1.716-4.188-4.085-4.188#}
                {#c-2.369,0-4.085,1.614-4.085,4.188c0,2.575,1.716,4.188,4.085,4.188C52.463,20.667,54.179,19.053,54.179,16.478z"></path>#}
                {#<path d="M74.466,7.553v5.836c-2.128-0.343-5.15,0.515-5.15,3.914v7.759h-5.149V7.896h5.149v3.055#}
                {#C70.004,8.651,72.304,7.553,74.466,7.553z"></path>#}
                {#<path d="M84.97,12.839v6.076c0,1.476,1.27,1.614,3.536,1.476v4.669c-6.729,0.687-8.685-1.339-8.685-6.145v-6.076h-2.747V7.896#}
                {#h2.747V4.635l5.15-1.545v4.806h3.536v4.944H84.97z"></path>#}
                {#<path d="M102.477,0h5.149v25.061h-5.149V0z"></path>#}
                {#<path d="M121.186,20.941c1.407,0,2.609-0.549,3.296-1.304l4.119,2.369c-1.682,2.335-4.222,3.536-7.484,3.536#}
                {#c-5.871,0-9.509-3.948-9.509-9.063c0-5.115,3.708-9.063,9.132-9.063c5.012,0,8.72,3.879,8.72,9.063#}
                {#c0,0.721-0.069,1.408-0.206,2.06h-12.187C117.719,20.323,119.298,20.941,121.186,20.941z M124.344,14.693#}
                {#c-0.549-1.991-2.094-2.712-3.639-2.712c-1.957,0-3.261,0.961-3.742,2.712H124.344z"></path>#}
                {#<path d="M159.187,14.522v10.539h-5.15V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.716,0-2.678,1.202-2.678,3.227v9.681h-5.15#}
                {#V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.717,0-2.678,1.202-2.678,3.227v9.681h-5.149V7.896h5.149v1.579#}
                {#c0.79-1.167,2.3-2.06,4.6-2.06c2.025,0,3.536,0.824,4.497,2.266c0.961-1.373,2.54-2.266,4.978-2.266#}
                {#C156.613,7.415,159.187,10.23,159.187,14.522z"></path>#}
                {#<path d="M162.927,16.478c0-5.115,4.051-9.063,9.097-9.063c5.047,0,9.098,3.948,9.098,9.063c0,5.115-4.051,9.063-9.098,9.063#}
                {#C166.979,25.541,162.927,21.594,162.927,16.478z M175.973,16.478c0-2.437-1.717-4.051-3.948-4.051#}
                {#c-2.231,0-3.948,1.614-3.948,4.051c0,2.437,1.716,4.051,3.948,4.051C174.256,20.529,175.973,18.916,175.973,16.478z"></path>#}
                {#<path d="M201.582,14.522v10.539h-5.15v-9.784c0-2.128-1.339-3.124-2.987-3.124c-1.888,0-3.193,1.099-3.193,3.536v9.372h-5.149#}
                {#V7.896h5.149v1.614c0.927-1.27,2.644-2.094,4.909-2.094C198.629,7.415,201.582,9.887,201.582,14.522z"></path>#}
                {#</g>#}
                {#<path style="fill:#F8E015;" d="M25.19,1.958H14.734C6.597,1.958,0,8.555,0,16.693v10.456c0,2.353,1.925,4.278,4.278,4.278h10.456#}
                {#c8.138,0,14.734-6.597,14.734-14.734V6.237C29.469,3.884,27.543,1.958,25.19,1.958z"></path>#}
                {#</g>#}
                {#</svg>#}
                {#</div>#}
                {#</div>#}
            </a>
            <div class="socials">
                <a href="{{ instagram }}" class="socials__link" target="_blank" rel="nofollow">instagram</a>
                <a href="{{ facebook }}" class="socials__link" target="_blank" rel="nofollow">facebook</a>
                <a href="{{ pinterest }}" class="socials__link" target="_blank" rel="nofollow">pinterest</a>
            </div>
            <div class="footer__copy-box">
                <div class="footer__pay">
                    <div class="footer__pay-item"><svg width="37" height="22"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/front/dist/images/sprite.svg#mastercard"></use></svg></div>
                    <div class="footer__pay-item"><svg width="35" height="10"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/front/dist/images/sprite.svg#visa"></use></svg></div>
                </div>
                <div class="footer-bottom__copy">{{ powered }}</div>
            </div>
        </div>
    </div>
    <div class="footer-form__wrap">
        <div class="footer-form__box">
            <div class="footer-form__title">{{ text_subscribe }}</div>
            <form method="post" class="footer-form" id="subscribe-form">
                <input class="footer-form__input" type="email" name="subscribe_email" placeholder="Email" required>
                <button class="footer-form__btn" id="subscribe-button">
                    {{ text_subscribe_button }}
                    <svg>
                        <use xlink:href='/front/dist/images/sprite.svg#letter'/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</footer>

{% if banner_zone.discount >= 1 %}
    <div class="discounts">
        <div class="discounts__inner">
            <div class="discounts__text">{{ text_getdiscounts }}</div>
            <div class="discounts__value">-{{ banner_zone.discount }}%</div>
        </div>
    </div>
{% endif %}
<div class="cookies-box hidden">
    <div class="cookies-box__close js-close-cookies-box">
        <svg width="14" height="14">
            <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#close"></use>
        </svg>
    </div>
    <div class="cookies-box__text">
{#        <div class="cookies-box__title">{{ text_cookies_title }}</div>#}
        <div class="cookies-box__descriptions">
            <p>{{ text_cookies_text }}</p>
        </div>
    </div>
    <div class="cookies-box__controls">
{#        <a href="{{ privacy_policy }}" target="_blank" class="cookies-box__link">{{ text_cookies_more }}</a>#}
        <div class="cookies-box__btn btn btn--gold js-close-cookies-box">{{ text_cookies_close }}</div>
    </div>
</div>


<div class="popup popup--social">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--model">
        <div class="popup__icon popup-close">
            <svg>
                <use xlink:href='/front/dist/images/sprite.svg#close' />
            </svg>
        </div>
        <div class="popup__title">Не пропустіть новинки асортименту - підпишіться на сторінки Delavega у соцмережах:
        </div>
        <div class="popup-social-wrapper">
            <div class="social-align">
                <a href="https://instagram.com/delavega.ua" rel="nofollow" target="_blank" class="social-likes__item">
                    <svg class="social-likes__icon" width="14" height="14">
                        <use xlink:href="/front/dist/images/sprite.svg#instagram"></use>
                    </svg>
                </a>

                <a href="https://www.facebook.com/delavega.ua" rel="nofollow" target="_blank" class="social-likes__item">
                    <svg class="social-likes__icon" width="6" height="17">
                        <use xlink:href="/front/dist/images/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <a href="https://www.pinterest.com/delavegadesign" rel="nofollow" target="_blank" class="social-likes__item">
                    <svg class="social-likes__icon" width="11" height="14">
                        <use xlink:href="/front/dist/images/sprite.svg#pinterest"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="popup popup--login">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--login">
        <div class="popup__icon popup-close">
            <svg>
                <use xlink:href='/front/dist/images/sprite.svg#close'/>
            </svg>
        </div>
        <div class="popup__title">{{ text_enter_account }}</div>
        <div class="popup__note">{{ instruction }}</div>
        <div class="popup__btn">
            <a href="{{ login_href }}" class="form-btn">{{ text_enter }}</a>
            <a href="{{ register_href }}" class="popup__reglink">{{ text_register }}</a>
        </div>
    </div>
</div>
<div class="popup popup--subscribe">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--thanks">
        <div class="popup__icon popup-close">
            <svg>
                <use xlink:href='/front/dist/images/sprite.svg#close'/>
            </svg>
        </div>
        <div class="popup__logo">
            <svg width='43' height='59'>
                <use xlink:href='/front/dist/images/sprite.svg#logo-image'/>
            </svg>
        </div>
        <div class="popup__title">{{ text_thanks_title }}</div>
        <div class="popup__note">{{ text_subscribe_success }}</div>
    </div>
</div>
<div class="popup popup--password">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--thanks">
        <div class="popup__icon popup-close">
            <svg>
                <use xlink:href='/front/dist/images/sprite.svg#close'/>
            </svg>
        </div>
        <div class="popup__logo">
            <svg width='43' height='59'>
                <use xlink:href='/front/dist/images/sprite.svg#logo-image'/>
            </svg>
        </div>
        <div class="popup__title">{{ text_password_resend_success }}</div>
    </div>
</div>
<div class="popup popup--thanks">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--thanks">
        <div class="popup__icon popup-close">
            <svg>
                <use xlink:href='/front/dist/images/sprite.svg#close'/>
            </svg>
        </div>
        <div class="popup__logo">
            <svg width='43' height='59'>
                <use xlink:href='/front/dist/images/sprite.svg#logo-image'/>
            </svg>
        </div>
        <div class="popup__title">{{ text_thanks_title }}</div>
        <div class="popup__note"></div>
    </div>
</div>

<div class="popup popup--discounts ">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--discounts">
        <div class="popup__icon popup-close">
            <svg width="20" height="20">
                <use xlink:href='/images/sprite.svg#close2'/>
            </svg>
        </div>
        <form action="." class="discount">
            <div class="discount__top" style="background-image: url({{ banner_zone.image }});">
                <svg class="discount__logo" width="46" height="60">
                    <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#logo-image"></use>
                </svg>
                <div class="discount__title">{{ banner_zone.text }}</div>
            </div>
            <div class="discount__row">
                <div class="discount__row-parent">
                    <input type="text" name="form_name" placeholder="{{ text_name }}" class="discount__input">
                </div>
                <div class="discount__row-parent">
                    <input type="tel" name="form_phone" placeholder="{{ text_phone }}" class="discount__input">
                </div>
                <input type="text" name="discount" value="{{ banner_zone.discount }}" hidden>
                <button class="discount__button" id="discount__button_send">{{ discount__button_send }}</button>
            </div>

        </form>
    </div>
</div>

<div class="popup popup--discounts-ok">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--discounts">
        <div class="popup__icon popup-close">
            <svg width="20" height="20">
                <use xlink:href='/images/sprite.svg#close2'/>
            </svg>
        </div>
        <form action="." class="discount">
            <div class="discount__top" style="background-image: url({{ banner_zone.image }});">
                <svg class="discount__logo" width="46" height="60">
                    <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#logo-image"></use>
                </svg>
                <div class="discount__title discount__title--ok">{{ text_thanks_promo }}</div>
            </div>
            <div class="discount__row">
                <div class="discount__ok popup-close">ok</div>
            </div>
        </form>
    </div>
</div>
<div class="scroll-up">
    <a href="javascript:void(0);"></a>
</div>
</div>
</div>
<script src="/front/dist/js/app.js"></script>
<script src="/front/dist/js/jquery.cookie.js"></script>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{#<script src="catalog/view/javascript/jquery/ui/jquery-ui.min.js"></script>#}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- AutoSearch -->
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/jquery.mCustomScrollbar.min.css?v1551651246" />
<script src="catalog/view/javascript/jquery/jquery.mCustomScrollbar.min.js?v1551651246"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/autosearch.css?v1551651246" />
<script src="catalog/view/javascript/jquery/autosearch.js?v1551651246"></script>
<!-- AutoSearch END-->
<!-- End Facebook Pixel Code -->
<script charset="UTF-8" src="//cdn.sendpulse.com/js/push/610ac6d17ae515abf0e536b39f995e58_1.js" async></script>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script type="text/javascript">
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    if (!getCookie('agreement_cookies')) {
        setTimeout(function () {
            $('.cookies-box').addClass('active');
        }, 1200);
    }
    $('.cookies-box__btn').on('click', function () {
        var expir = 2592000;
        setCookie(expir);

    });

    $('.cookies-box__close').on('click', function () {
        var expir = 86400;
        setCookie(expir);
    });

    function setCookie(expir) {
        var options = '';
        var value = 'set';
        var name = 'agreement_cookies';
        var expires = expir;
        if (typeof expires == "number" && expires) {


            var d = new Date();
            d.setTime(d.getTime() + expires * 1000);
            expires = options.expires = d;
        }
        if (expires && expires.toUTCString) {
            options.expires = expires.toUTCString();
        }

        value = encodeURIComponent(value);
        var updatedCookie = name + "=" + value + "; expires=" + expires;
        document.cookie = updatedCookie;

    }
</script>
{% if bIndexBot == false %}
    <!-- BEGIN JIVOSITE CODE -->
    <script type='text/javascript'>
        (function(){ var widget_id = 'brHjNdmiHR';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
    <!-- END JIVOSITE CODE -->
    <!--LiveInternet counter-->
    <script type="text/javascript">
        new Image().src = "//counter.yadro.ru/hit?r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random();
    </script>
    <!--/LiveInternet-->
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        $(this).find('.section--b').find('img').addClass('lazy');
        $(this).find('.catalog-filter__results').find('img').addClass('lazy');
        $(this).find('#lastviews').find('img').addClass('lazy');
        $(this).find('.section-lazy').find('img').addClass('lazy');
        let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
        let active = false;

        const lazyLoad = function() {
            if (active === false) {
                active = true;
                setTimeout(function(){
                    lazyImages.forEach(function(lazyImage) {
                        if ((lazyImage.getBoundingClientRect().top <= window.innerHeight + 500 && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                            lazyImage.src = lazyImage.dataset.src;
                            lazyImage.classList.remove("lazy");

                            lazyImages = lazyImages.filter(function(image) {
                                return image !== lazyImage;
                            });

                            if (lazyImages.length === 0) {
                                document.removeEventListener("scroll", lazyLoad);
                                window.removeEventListener("resize", lazyLoad);
                                window.removeEventListener("orientationchange", lazyLoad);
                            }
                        }
                    });

                    active = false;
                }, 0);
            }
        };

        document.addEventListener("scroll", lazyLoad);
        window.addEventListener("resize", lazyLoad);
        window.addEventListener("orientationchange", lazyLoad);
        lazyLoad();
    });

    document.addEventListener("DOMContentLoaded", function() {
        let lazyImagesBG = [].slice.call(document.querySelectorAll(".lazy-bg"));
        let active = false;

        const lazyLoadBG = function() {
            if (active === false) {
                active = true;
                setTimeout(function(){
                    lazyImagesBG.forEach(function(lazyImagesBG) {

                        if ((lazyImagesBG.getBoundingClientRect().top <= window.innerHeight + 500 && lazyImagesBG.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImagesBG).display !== "none") {

                            $(lazyImagesBG).css('background-image', 'url(' + $(lazyImagesBG)[0].dataset.srcbg + ')');
                            lazyImagesBG.classList.remove("lazy-bg");

                            /*lazyImagesBG = lazyImagesBG.filter(function(image) {
                                return image !== lazyImagesBG;
                            });*/

                            if (lazyImagesBG.length === 0) {
                                document.removeEventListener("scroll", lazyLoadBG);
                                window.removeEventListener("resize", lazyLoadBG);
                                window.removeEventListener("orientationchange", lazyLoadBG);
                            }
                        }
                    });

                    active = false;
                }, 0);
            }
        };

        document.addEventListener("scroll", lazyLoadBG);
        window.addEventListener("resize", lazyLoadBG);
        window.addEventListener("orientationchange", lazyLoadBG);
        lazyLoadBG();
    });
</script>
<script>
    jQuery(document).ready(function() {
        var btn = $('.scroll-up');

        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        }
        $(window).scroll(function() {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop:0}, '300');
        });
    });

    var checkRecaptcha = function(token) {
        $(".send-feedback-form").prop('disabled', false);
    }
</script>
<!-- BEGIN GCR Badge Code -->
<script src="https://apis.google.com/js/platform.js?onload=renderBadge"
        async defer>
</script>

<script>
    window.renderBadge = function() {
        var ratingBadgeContainer = document.createElement("div");
        document.body.appendChild(ratingBadgeContainer);
        window.gapi.load('ratingbadge', function() {
            window.gapi.ratingbadge.render(
                ratingBadgeContainer, {
                    "merchant_id": 121413698,
                });
        });
    }
</script>
<!-- END GCR Badge Code -->
</body>
</html>
