<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  {% if robots %}
    <meta name="robots" content="{{ robots }}" />
  {% endif %}
  <link rel=" icon " type="image/png " sizes="16x16 32x32 " href="/front/dist/images/32x32.png ">
  <link rel="icon " type="image/png " sizes="192x192 " href="/front/dist/images/192x192.png ">
  <link rel="apple-touch-icon" sizes="180x180 " href="/front/dist/images/180x180.png ">
  <link href="/front/dist/css/font.css" rel="stylesheet" >
  <link href="/front/dist/css/index.css" rel="stylesheet" >
  <link href="/front/dist/css/index.css" rel="stylesheet" >
  {#  <link href="//coder-pro.com/style.css" rel="stylesheet">#}
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% for script in scripts %}
    <script async src="{{ script }}" type="text/javascript"></script>
  {% endfor %}

  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  {#  <link href="{{ link }}" rel="canonical"/>#}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
  {% if bIndexBot == false %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NNRGMG');</script>
    <!-- End Google Tag Manager -->
    <!-- MailerLite Universal -->
    <script>
      (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

      var ml_account = ml('accounts', '1738786', 'e4r2l4s3y1', 'load');
    </script>
    <!-- End MailerLite Universal -->
    {% if datalayer %}
      {{ datalayer }}
    {% endif %}
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
              n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
              'https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '673287406124178');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" src="https://www.facebook.com/tr?id=673287406124178&ev=PageView&noscript=1"/>;
    </noscript>


  {% endif %}
</head>
<body class="{{ home_class }}">
{% if bIndexBot == false %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNRGMG"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Google Code for Remarketing Tag -->
  {{ ads }}
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 966979610;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <script async type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966979610/?guid=ON&amp;script=0"/>
    </div>
  </noscript>
{% endif %}
<div id="page-preloader" class="preloader">
  <div class="loader">
    <svg class="loader__logo" width='72' height='96'>
      <use xlink:href='/front/dist/images/sprite.svg#logo-image' />
    </svg>
  </div>
</div>

<div class="wrapper">
  <div class="menu-icon">
    <span id="bar-1" class="line-h"></span>
    <span id="bar-2" class="line-h"></span>
    <span id="bar-3" class="line-h"></span>
  </div>
  <div class="main-sidebar animate-revealleft">
    <div class="main-sidebar__top">
      <a href="{{ home }}" class="main-sidebar__box sidebar-logo" title="{{alt_logo}}" alt="{{alt_logo}}">

          <svg class="header__logo--image" width="48" height="64">
            <use xlink:href="/front/dist/images/sprite.svg#logo-image"></use>
          </svg>
          <svg width="187" height="19">
            <use xlink:href="/front/dist/images/sprite.svg#logo-text"></use>
          </svg>
        
      </a>
      <a href="{{ checkout }}" class="main-sidebar__box main-sidebar__box--basket{% if count_products == 0 %} empty_basket{% endif %}">
        <div class="main-sidebar__holder">
          <span class="main-sidebar__number" id="total-products">{{ count_products }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path fill="#FFF" d="M11.96 4.216v-.843C11.96 1.51 10.45 0 8.589 0 6.726 0 5.216 1.51 5.216 3.373v.843H1v12.647h15.176V4.216h-4.215zM6.06 3.373c0-1.397 1.132-2.53 2.53-2.53 1.396 0 2.529 1.133 2.529 2.53v.843h-5.06v-.843zm9.274 12.647H1.843V5.059h13.49v10.96zm-4.215-6.324c.698 0 1.264-.566 1.264-1.265 0-.698-.566-1.264-1.264-1.264-.699 0-1.265.566-1.265 1.264 0 .699.566 1.265 1.265 1.265zm0-1.77c.279 0 .506.226.506.505 0 .28-.227.506-.506.506-.28 0-.506-.226-.506-.506 0-.279.226-.506.506-.506zm-5.06 1.77c.7 0 1.266-.566 1.266-1.265 0-.698-.567-1.264-1.265-1.264-.699 0-1.265.566-1.265 1.264 0 .699.566 1.265 1.265 1.265zm0-1.77c.28 0 .507.226.507.505 0 .28-.227.506-.506.506-.28 0-.506-.226-.506-.506 0-.279.226-.506.506-.506z"/>
          </svg>
        </div>
      </a>
      <a href="{{ account }}" class="main-sidebar__box main-sidebar__box--account">
        <svg width="14" height="14">
          <use xlink:href="/front/dist/images/sprite.svg#user" />
        </svg>
      </a>
      <a href="{{ wishlist }}" class="main-sidebar__box main-sidebar__box--fav">
        <div class="main-sidebar__holder">
          <span class="main-sidebar__number" id="wishlist-total">{{ text_wishlist }}</span>
          <svg class="favorite-ico" width="22" height="17">
            <use xlink:href="/front/dist/images/sprite.svg#heart" />
          </svg>
        </div>
      </a>
      <div class="main-sidebar__box sidebar-search__wrap touch-thing">
        <div class="sidebar-button sidebar-button--search">
          <svg width="14" height="13" class="sidebar-search__before">
            <use xlink:href="/front/dist/images/sprite.svg#search" />
          </svg>
          <svg width="11" height="12" class="sidebar-search__close">
            <use xlink:href="/front/dist/images/sprite.svg#close" />
          </svg>
        </div>
        <div class="sidebar-search">
          {{ search }}
        </div>
      </div>

      <div class="main-sidebar__box sidebar-phones__wrap touch-thing">
        <div class="sidebar-button sidebar-button--phones">
          <div class="phone-animate">
            <svg width="14" height="14">
              <use xlink:href="/front/dist/images/sprite.svg#phone" />
            </svg>
          </div>
        </div>
        <ul class="sidebar-phones">
          <li class="sidebar-phones__item">
            <a href="tel:{{ telephone }}" class="sidebar-phones__link">{{ telephone }}</a>
          </li>
          <li class="sidebar-phones__item">
            <a href="tel:{{ telephone2 }}" class="sidebar-phones__link">{{ telephone2 }}</a>
          </li>
          <li class="sidebar-phones__item">
            <a href="tel:{{ telephone3 }}" class="sidebar-phones__link">{{ telephone3 }}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="main-sidebar__bottom">
      {{ currency }}
      {{ language }}
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile__overlay"></div>
    <div class="header-mobile__box">



    </div>
  </div>
  <div class="wrapper__content{{ class }}">
    <div class="header__wrapper">
      <!--новая верстка-->
      <div class="pre-header">
        <div class="left-side">
          <div class="languages_new">
            {{ language_new }}
            <span class="header__social-title">{{ text_choice_lang }}</span>
          </div>
          <div class="currency_new">
            {{ currency_new }}
            <span class="header__social-title">{{ text_choice_currency }}</span>
          </div>
          <div class="catalog-dowload">
            <a href="{{ text_download_link }}">{{ text_download_catalog }}</a>
          </div>
        </div>
        <div class="right-side">

          <a href="{{ checkout }}" class="main-sidebar__box main-sidebar__box--basket{% if count_products == 0 %} empty_basket{% endif %}">
            <span class="icon-mobile-only">
               <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path fill="#FFF" d="M11.96 4.216v-.843C11.96 1.51 10.45 0 8.589 0 6.726 0 5.216 1.51 5.216 3.373v.843H1v12.647h15.176V4.216h-4.215zM6.06 3.373c0-1.397 1.132-2.53 2.53-2.53 1.396 0 2.529 1.133 2.529 2.53v.843h-5.06v-.843zm9.274 12.647H1.843V5.059h13.49v10.96zm-4.215-6.324c.698 0 1.264-.566 1.264-1.265 0-.698-.566-1.264-1.264-1.264-.699 0-1.265.566-1.265 1.264 0 .699.566 1.265 1.265 1.265zm0-1.77c.279 0 .506.226.506.505 0 .28-.227.506-.506.506-.28 0-.506-.226-.506-.506 0-.279.226-.506.506-.506zm-5.06 1.77c.7 0 1.266-.566 1.266-1.265 0-.698-.567-1.264-1.265-1.264-.699 0-1.265.566-1.265 1.264 0 .699.566 1.265 1.265 1.265zm0-1.77c.28 0 .507.226.507.505 0 .28-.227.506-.506.506-.28 0-.506-.226-.506-.506 0-.279.226-.506.506-.506z"/>
              </svg>
            </span>
            <span class="text_mobile_only">{{ text_shopping_cart }}</span>
            <div class="main-sidebar__holder">
              <span class="main-sidebar__number" id="total-products">{{ count_products }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path fill="#FFF" d="M11.96 4.216v-.843C11.96 1.51 10.45 0 8.589 0 6.726 0 5.216 1.51 5.216 3.373v.843H1v12.647h15.176V4.216h-4.215zM6.06 3.373c0-1.397 1.132-2.53 2.53-2.53 1.396 0 2.529 1.133 2.529 2.53v.843h-5.06v-.843zm9.274 12.647H1.843V5.059h13.49v10.96zm-4.215-6.324c.698 0 1.264-.566 1.264-1.265 0-.698-.566-1.264-1.264-1.264-.699 0-1.265.566-1.265 1.264 0 .699.566 1.265 1.265 1.265zm0-1.77c.279 0 .506.226.506.505 0 .28-.227.506-.506.506-.28 0-.506-.226-.506-.506 0-.279.226-.506.506-.506zm-5.06 1.77c.7 0 1.266-.566 1.266-1.265 0-.698-.567-1.264-1.265-1.264-.699 0-1.265.566-1.265 1.264 0 .699.566 1.265 1.265 1.265zm0-1.77c.28 0 .507.226.507.505 0 .28-.227.506-.506.506-.28 0-.506-.226-.506-.506 0-.279.226-.506.506-.506z"/>
              </svg>
            </div>
            <span class="header__social-title">{{ text_shopping_cart }}</span>
          </a>



          <a href="{{ wishlist }}" class="main-sidebar__box main-sidebar__box--fav">
            <span class="icon-mobile-only">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path fill="#FFF" d="M12.78 1.686c2.522 0 3.651 2.032 3.651 4.056 0 3.263-4.367 7.79-7.588 10.117-3.22-2.301-7.588-6.829-7.588-10.117 0-2.024 1.13-4.056 3.65-4.056 1.337.077 2.553.797 3.264 1.931l.674.894.675-.894c.71-1.134 1.926-1.854 3.263-1.93m0-.844c-1.602.075-3.07.92-3.938 2.268C7.975 1.763 6.508.918 4.906.843 2.098.843.412 3.035.412 5.742c0 4.005 5.446 9.123 8.431 11.12 2.985-1.997 8.432-7.115 8.432-11.12 0-2.707-1.687-4.899-4.494-4.899z"/>
              </svg>
            </span>
            <span class="text_mobile_only">{{ text_wishlist_custom }}</span>
            <div class="main-sidebar__holder">
              <span class="main-sidebar__number" id="wishlist-total">{{ text_wishlist }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path fill="#FFF" d="M12.78 1.686c2.522 0 3.651 2.032 3.651 4.056 0 3.263-4.367 7.79-7.588 10.117-3.22-2.301-7.588-6.829-7.588-10.117 0-2.024 1.13-4.056 3.65-4.056 1.337.077 2.553.797 3.264 1.931l.674.894.675-.894c.71-1.134 1.926-1.854 3.263-1.93m0-.844c-1.602.075-3.07.92-3.938 2.268C7.975 1.763 6.508.918 4.906.843 2.098.843.412 3.035.412 5.742c0 4.005 5.446 9.123 8.431 11.12 2.985-1.997 8.432-7.115 8.432-11.12 0-2.707-1.687-4.899-4.494-4.899z"/>
              </svg>

            </div>
            <span class="header__social-title">{{ text_wishlist_custom }}</span>
          </a>

          <a href="{{ account }}" class="main-sidebar__box main-sidebar__box--account">
            <span class="icon-mobile-only">
               <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                <path fill="#FFF" d="M10.255 1.686c1.397 0 2.53 1.133 2.53 2.53 0 1.397-1.133 2.53-2.53 2.53-1.397 0-2.53-1.133-2.53-2.53 0-1.397 1.133-2.53 2.53-2.53m0 9.275c2.214-.01 4.34.868 5.902 2.436v2.623H4.353v-2.606c1.56-1.575 3.685-2.458 5.902-2.453m0-10.118c-1.863 0-3.373 1.51-3.373 3.373 0 1.862 1.51 3.372 3.373 3.372 1.863 0 3.372-1.51 3.372-3.372 0-1.863-1.51-3.373-3.372-3.373zm0 9.275c-2.44 0-4.778.971-6.5 2.698l-.245.253v3.794H17v-3.794l-.245-.253c-1.722-1.727-4.061-2.697-6.5-2.698z"/>
              </svg>
            </span>
            <span class="text_mobile_only">{{ text_account }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
              <path fill="#FFF" d="M10.255 1.686c1.397 0 2.53 1.133 2.53 2.53 0 1.397-1.133 2.53-2.53 2.53-1.397 0-2.53-1.133-2.53-2.53 0-1.397 1.133-2.53 2.53-2.53m0 9.275c2.214-.01 4.34.868 5.902 2.436v2.623H4.353v-2.606c1.56-1.575 3.685-2.458 5.902-2.453m0-10.118c-1.863 0-3.373 1.51-3.373 3.373 0 1.862 1.51 3.372 3.373 3.372 1.863 0 3.372-1.51 3.372-3.372 0-1.863-1.51-3.373-3.372-3.373zm0 9.275c-2.44 0-4.778.971-6.5 2.698l-.245.253v3.794H17v-3.794l-.245-.253c-1.722-1.727-4.061-2.697-6.5-2.698z"/>
            </svg>
            <span class="header__social-title">{{ text_account }}</span>
          </a>

        </div>
      </div>
      <!--новая верстка конец-->
      <header class="header animate-reveal animate-reveal--4">
        <div class="header-top">

          <!--<div class="header-top__side">
            <div class="header-top__lang">
              <a href="" class="active">RU</a>
              <a href="">UAH</a>
            </div>
            <a href="" class="link-underline">Скачать Каталоги</a>
          </div>-->

          <div class="header-top__side">

          </div>


        </div>

        <div class="header__left">
          <!--новая верстка-->
          <div class="searsh-new">
            {{ search }}
          </div>
          <!--новая верстка конец-->
          <!--<ul class="header__social">
            <li class="header__social-item">
              <a href="{{ instagram }}" target="_blank" rel="nofollow" class="header__social-link">
                <svg width="14" height="14"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#instagram"></use></svg>
                <div class="header__social-title">{{text_instagram}}</div>
              </a>
            </li>
            <li class="header__social-item">
              <a href="{{ facebook }}" target="_blank" rel="nofollow" class="header__social-link">
                <svg width="8" height="14"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#facebook"></use></svg>
                <div class="header__social-title">{{text_facebook}}</div>
              </a>
            </li>
            <li class="header__social-item">
              <a href="{{ pinterest }}" target="_blank" rel="nofollow" class="header__social-link">
                <svg width="14" height="14"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#pinterest"></use></svg>
                <div class="header__social-title">{{text_pinterest}}</div>
              </a>
            </li>
          </ul>-->
          <nav class="header-nav">
            <ul class="header-nav__list">
              <li class="header-nav__item header-nav__item--home">
                <a class="header-nav__link" href="{{ home }}">{{ text_home }}</a>
              </li>
              <li class="header-nav__item header-nav__item--catalog">
                <a id="catalog-link" href="#" class="header-nav__link header-nav__link--dropdown">
                  <svg width="14" height="14">
                    <use xlink:href="/front/dist/images/sprite.svg#menu" />
                  </svg>
                  {{ text_category }}
                </a>
              </li>
              <li class="header-nav__item">
                <a href="{{ company }}" class="header-nav__link">{{ text_company }}</a>
              </li>
              <li class="header-nav__item">
                <a href="{{ contact }}" class="header-nav__link">{{ text_contant }}</a>
              </li>
            </ul>
          </nav>
        </div>

        <a href="{{ home }}" class="header__logo" title="{{alt_logo}}" alt="{{alt_logo}}">
          <svg class="header__logo--image" width='48' height='64'>
            <use xlink:href='/front/dist/images/sprite.svg#logo-image' />
          </svg>
          <svg width='187' height='19'>
            <use xlink:href='/front/dist/images/sprite.svg#logo-text' />
          </svg>
        </a>
        <div class="header__right">

          {% if menu_header_parent %}
            <nav class="header-nav">
              <ul class="header-nav__list">
                {% for menu in menu_header_parent %}
                  <li class="header-nav__item{% if menu.child %} header-nav__item--parent{% endif %}">
                    {% if menu.child %}
                      <a href="{{ menu.href }}" class="header-nav__link header-nav__link--dropdown">{{ menu.name }}
                        <span class="header-nav__arrow">
                        <svg>
                          <use xlink:href='/front/dist/images/sprite.svg#dropdown-arrow' />
                        </svg>
                      </span>
                      </a>
                    {% else %}
                      <a href="{{ menu.href }}" class="header-nav__link">{{ menu.name }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
          <div class="header__tel-box">
            <div class="header__tel-row">
              <a href="tel:{{telephone_href}}" class="header__tel">
                <div class="header__tel-text">{{telephone}}</div>
                <div class="header__social-title">{{text_call}}</div>
              </a>
              <a href="{{ telegram }}" rel="nofollow" class="header__tel-message">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="#FFF" fill-opacity=".5" d="M12.24 14.488c-.11 0-.218-.032-.311-.095l-3.51-2.382-1.883 1.355c-.148.106-.338.133-.51.072-.171-.062-.301-.203-.347-.38l-.946-3.582-3.378-1.292C1.143 8.103 1.002 7.9 1 7.672c-.002-.228.137-.433.348-.517l12.844-5.111c.059-.025.12-.04.183-.043h.066c.13.008.256.06.354.157l.03.03c.081.094.126.208.135.324.002.03.002.059 0 .088l-.01.063-2.168 11.376c-.035.182-.16.335-.331.407-.068.028-.14.042-.212.042zm-3.513-3.603l3.127 2.121 1.687-8.851-6.093 5.862 1.264.858.015.01zm-2.603-.472L6.542 12l.902-.65-1.18-.8c-.056-.038-.103-.084-.14-.137zm-3.05-2.755l2.319.887c.166.063.291.203.337.375l.294 1.115c.013-.129.072-.25.166-.341l5.806-5.586-8.923 3.55z"/>
                </svg>

                <div class="header__social-title">{{text_telegram}}</div>
              </a>
            </div>
            <div class="header__tel-row">
              <a href="tel:{{telephone2_href}}" class="header__tel">
                <div class="header__tel-text ">{{telephone2}}</div>
                <div class="header__social-title">{{text_call}}</div>
              </a>
              <a href="{{ viber }}" rel="nofollow" class="header__tel-message">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="#FFF" fill-opacity=".5" d="M2.47 1.54C4.372-.23 8.245.012 8.245.012c3.283.014 4.758 1.108 5.122 1.453 1.208 1.071 1.879 3.45 1.412 7.214-.44 3.654-3.131 4.004-3.607 4.163-1.429.356-2.906.467-4.37.327-.258.308-.605.712-.853.99-.458.499-.738.966-1.213.812-.373-.123-.373-.735-.373-.735v-1.512l-.24-.075C.923 11.56.97 8.037 1.009 6.135c.04-1.947.409-3.518 1.461-4.594zm5.704-.471S4.882.85 3.288 2.326c-.889.9-1.186 2.234-1.222 3.86-.035 1.625-.204 4.73 2.71 5.56v2.511c0 .141.022.236.102.259.081.007.16-.027.213-.09.467-.5 1.96-2.316 1.96-2.316 1.263.09 2.532-.022 3.762-.332.4-.131 2.58-.322 2.954-3.368.377-3.146-.143-5.29-1.178-6.188-.306-.286-1.639-1.153-4.415-1.153zm-2.32 1.27l.52.64c.155.189.347.517.457.693.155.25.109.575-.11.775l-.356.274c-.11.108-.166.258-.155.41.353 1.181 1.287 2.106 2.482 2.46.153.01.303-.046.41-.154l.284-.351c.2-.218.529-.261.78-.104.242.138.476.288.702.45.215.158.648.514.648.518.185.148.246.395.16.606l-.046.088c-.116.2-.256.385-.417.551l-.167.16c-.167.15-.375.249-.597.284-.03.005-.058.005-.087 0-.057.001-.113-.004-.169-.015l-.082-.02c-.569-.195-1.116-.445-1.633-.748-.482-.261-.94-.563-1.37-.901-.143-.112-.282-.23-.417-.353l-.198-.188H6.47c-.193-.194-.376-.399-.547-.612-.342-.425-.647-.877-.913-1.351-.245-.408-.456-.836-.63-1.278l-.123-.334c-.027-.082-.04-.167-.04-.253-.003-.028-.003-.057 0-.085.027-.175.097-.34.202-.483l.085-.103c.131-.196.286-.376.462-.536l.181-.153c.23-.145.535-.096.707.113zm1.839.88c.828.022 1.614.356 2.19.93.524.561.795 1.3.756 2.053.006.058-.014.116-.055.16-.027.028-.062.048-.1.059l-.059.008c-.058-.002-.113-.025-.153-.066-.04-.04-.062-.095-.06-.15.04-.653-.196-1.294-.652-1.777-.499-.498-1.181-.785-1.898-.8-.086.006-.166-.037-.207-.11-.04-.072-.034-.16.017-.227.051-.066.137-.097.221-.08zm-.065-1.076c1.08-.017 2.124.38 2.898 1.102.805.794 1.233 1.87 1.185 2.975 0 .105-.09.19-.2.19l.005.019c-.11 0-.199-.086-.199-.19.057-1.01-.33-1.996-1.065-2.722-.7-.654-1.646-1.012-2.624-.993-.11 0-.2-.085-.2-.19 0-.088.062-.162.147-.184l.053-.007zm1.015 2.143c.254-.007.5.09.676.268.177.178.268.42.25.666.002.035-.01.069-.035.094-.024.026-.057.042-.093.043l-.006-.006c-.072 0-.132-.055-.135-.125.017-.18-.047-.358-.177-.489-.129-.13-.31-.2-.496-.19-.074-.004-.131-.066-.127-.138.005-.072.069-.127.143-.123z"/>
                </svg>

                <div class="header__social-title">{{text_viber}}</div>
              </a>
            </div>
          </div>
        </div>
      </header>
      <div class="header-dropdown header-dropdown--catalog">
        {{ menu }}
      </div>
      {% if menu_header_parent %}
        <div class="header-dropdown header-dropdown--sellers">
          {% for menu in menu_header_parent %}
            {% if menu.child %}
              <ul class="header-dropdown__list">
                {% for menu_child in menu.child %}
                  <li class="header-dropdown__item">
                    <a href="{{ menu_child.href }}" class="header-dropdown__link">{{ menu_child.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
