{% if languages|length > 1 %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="main-sidebar__box touch-thing sidebar-langs__wrap" id="form-language">
        <div class="sidebar-button__description">{{ text_language }}:</div>
        {% for language in languages %}
            {% if language.code == code %}
                <div class="sidebar-button sidebar-button--langs">{{ language.name }}</div>
            {% endif %}
        {% endfor %}
        <ul class="sidebar-langs">
            {% for language in languages %}
                {% if language.code != code %}
                    <li class="sidebar-langs__item">
                        <a href="#" class="sidebar-langs__link language-select" name="{{ language.code }}">{{ language.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
        {% if tltblog_id %}
            <input type="hidden" name="tltblog_id" value="{{ tltblog_id }}" />
        {% endif %}
    </form>
{% endif %}