{% if categories %}
  <ul class="header-dropdown__list">
      {% for category in categories %}
        <li class="header-dropdown__item">
            {% if category.dropdown_only == false %}
          <a href="{{ category.href }}" class="header-dropdown__link">{{ category.name }}
            {% if category.children %}
              <span class="header-dropdown__arrow">
                <svg>
                  <use xlink:href='/images/sprite.svg#dropdown-arrow' />
                </svg>
              </span>
            {% endif %}
          </a>
            {% else %}
                <a href="{{ category.href }}" class="click_only_class header-dropdown__link">{{ category.name }}
                    {% if category.children %}
                        <span class="header-dropdown__arrow">
                <svg>
                  <use xlink:href='/images/sprite.svg#dropdown-arrow' />
                </svg>
              </span>
                    {% endif %}
                </a>
            {% endif %}
          {% if category.children %}
            <div class="menu-inner">
              <div class="menu-inner__list">
                  {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                    {% for child in children %}
                      <a href="{{ child.href }}" class="menu-inner__item">
                        <div class="menu-inner__image">
                          <img src="{{ child.image_menu }}" alt="{{ child.name }}">
                        </div>
                        <div class="menu-inner__title">{{ child.name }}</div>
                      </a>
                    {% endfor %}
                  {% endfor %}
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}
  </ul>
{% endif %}