<div id="search" class="sidebar-search__form">
  <input type="text" class="sidebar-search__input" name="search" placeholder="{{ text_search }}">
  <button class="sidebar-search__submit">
    <svg width="14" height="13">
      <use xlink:href='/front/dist/images/sprite.svg#search' />
    </svg>
  </button>
</div>