{{ header }}
<div class="section thanks">
  <div class="thanks__box">
    <div class="thanks__title">{{ text_success }}</div>
    <div class="thanks__note">{{ text_message }}</div>
    <a href="{{ account }}" class="thanks__btn form-btn">{{ text_account_title }}</a>
  </div>
  <div class="news-thumb__btn thanks__button">
      <div class="thanks__align">
        <a href="{{ continue }}" class="btn-link">{{ button_to_home }}</a>
      </div>
  </div>
</div>
{{ content_bottom }}
{% if instagram or pinterest or facebook %}
  <div class="section section--e">
    <div class="heading__wrapper">
      <div class="heading heading--largemb">{{ text_we_socials }}</div>
    </div>
    <div class="social-align">
      {% if pinterest %}
        <a href="{{ pinterest }}" rel="nofollow" target="_blank" class="social-likes__item">
          <svg class="social-likes__icon" width="11" height="14">
            <use xlink:href="/front/dist/images/sprite.svg#pinterest" />
          </svg>
        </a>
      {% endif %}
      {% if facebook %}
        <a href="{{ facebook }}" rel="nofollow" target="_blank" class="social-likes__item">
          <svg class="social-likes__icon" width="6" height="17">
            <use xlink:href="/front/dist/images/sprite.svg#facebook" />
          </svg>
        </a>
      {% endif %}
      {% if instagram %}
        <a href="{{ instagram }}" rel="nofollow" target="_blank" class="social-likes__item">
          <svg class="social-likes__icon" width="14" height="14">
            <use xlink:href="/front/dist/images/sprite.svg#instagram" />
          </svg>
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
<!-- НАЧАЛО кода модуля опроса -->
{{ questionScript }}
<!-- КОНЕЦ кода модуля опроса -->
{{ pixel }}
{{ footer }}
