<a href="{{ account }}" class="account-sidebar__item{% if check_url == account %} active{% endif %}">{{ text_account }}</a>
<a href="{{ order }}" class="account-sidebar__item{% if check_url == order %} active{% endif %}">{{ text_order }}</a>
<a href="{{ wishlist }}" class="account-sidebar__item{% if check_url == wishlist %} active{% endif %}">{{ text_wishlist }}</a>
<a href="{{ logout }}" class="account-sidebar__item">{{ text_logout }}</a>
