<div class="section section--a">
    <div class="heading heading--center heading--largemb">{{ heading_title }}</div>
    {% if triggers %}
        <div class="material-list">
            {% for trigger in triggers %}
                <div class="material-list__item">
                {% if trigger.image %}
                    <div class="material-list__thumb">
                        <img src="image/{{ trigger.image }}" alt="{{ trigger.title }}">
                    </div>
                {% endif %}
                <div class="material-list__content">
                    <div class="material-list__title">{{ trigger.title }}</div>
                    {% if trigger.description %}
                        <div class="material-list__text text" data-simplebar>
                            {{ trigger.description }}
                            {% if trigger.link %}
                                <a href="{{ trigger.link }}" class="btn-link">{{ text_more }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>