<div class="section">
    <div class="heading heading--center heading--mb">{{ heading_title }}</div>
    <div class="add-menu">
        {% for trigger in triggers %}
            {% if trigger.link %}
                <a href="{{ trigger.link }}" class="add-menu__item">
                    {% if trigger.image %}
                        <div class="add-menu__image">
                            <img src="image/{{ trigger.image }}" alt="{{ trigger.title }}">
                        </div>
                    {% endif %}
                    <div class="add-menu__title">{{ trigger.title }}</div>
                    <div class="add-menu__btn">{{ text_more }}
                        <svg width='23' height='4'>
                            <use xlink:href='/images/sprite.svg#arrow-right' />
                        </svg>
                    </div>
                </a>
            {% else %}
                <div class="add-menu__item">
                    {% if trigger.image %}
                        <div class="add-menu__image">
                            <img src="image/{{ trigger.image }}" alt="{{ trigger.title }}">
                        </div>
                    {% endif %}
                    <div class="add-menu__title">{{ trigger.title }}</div>
                    <div class="add-menu__btn">{{ text_more }}
                        <svg width='23' height='4'>
                            <use xlink:href='/images/sprite.svg#arrow-right' />
                        </svg>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>