<div class="section section--a">
    <div class="heading heading--center heading--mb">{{ heading_title }}</div>
    <div class="heading__note">{{ html }}</div>
    <div class="values-list animation-parent">
        {% for trigger in triggers %}
            <div class="values-list__item animation-item">
                {% if trigger.image %}
                    <div class="values-list__thumb">
                        <img src="image/{{ trigger.image }}" alt="{{ trigger.title }}">
                    </div>
                {% endif %}
                <div class="values-list__title">{{ trigger.title }}</div>
            </div>
        {% endfor %}
    </div>
</div>