{% if triggers %}
    <div class="section">
        <div class="mission" style="background-image: url(/front/dist/data/bg/bg-mission.jpg);">
            <div class="mission__wrap">
                {% for trigger in triggers %}
                    <div class="mission__col">
                        <div class="mission__box">
                            <div class="mission__title">{{ trigger.title }}</div>
                            <div class="mission__text">{{ trigger.description }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}