{% if triggers %}
    <div class="section section--a team__wrap">
        <div class="heading heading--center heading--largemb">{{ heading_title }}</div>
        <div class="team">
            {% for trigger in triggers %}
                <div class="team__item">
                {% if trigger.image %}
                    <div class="team__image">
                        <img src="image/{{ trigger.image }}" alt="trigger.image" width="292" height="350">
                    </div>
                {% endif %}
                <div class="team__content">
                {% if trigger.title %}
                    <div class="team__title">{{ trigger.title }}</div>
                {% endif %}
                {% if trigger.description %}
                    <div class="team__position">{{ trigger.description }}</div>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}