<div class="section section--form">
    <div class="heading__wrapper">
        <div class="heading">{{ heading_title }}</div>
    </div>
    <div class="heading__note">{{ html }}</div>
    <div class="question-form__wrap">
        <form class="question-form form" method="post" id="contact_form">
            <div class="question-form__col form-input">
                <input id="name" type="text" class="input" name="form_name" required>
                <label class="label" for="name">{{ text_name }}*</label>
            </div>
            <div class="question-form__col form-input">
                <input id="phone" type="tel" class="input" name="form_phone" required>
                <label class="label" for="phone">{{ text_phone }}*</label>
            </div>
            <div class="question-form__col form-input">
                <input id="email" type="email" class="input" name="form_email" required>
                <label class="label" for="email">{{ text_email }}</label>
            </div>
            <div class="question-form__col question-form__col--btn">
                <button class="form-btn" id="contact_form_send">{{ text_send }}</button>
            </div>
        </form>
    </div>
</div>