<div class="section section--c">
    <div class="heading heading--center heading--largemb">{{ heading_title }}</div>
    {% if triggers %}
        <div class="creation-tabs tabs-list">
            {% set count = 1 %}
            {% for trigger in triggers %}
                <a href="#tech-{{ count }}" class="creation-tabs__item">
                    <div class="creation-tabs__thumb">
                        <div class="creation-tabs__icon creation-tabs__icon--{{ count }}">
                            <img class="lazy" src="" data-src="front/dist/images/tech_{{ count }}.png" alt="tech_{{ count }}">
                        </div>

                        {#<svg class="creation-tabs__icon creation-tabs__icon--{{ count }}">
                            <use xlink:href="/front/dist/images/sprite.svg#tech-{{ count }}" />
                        </svg>#}
                    </div>

                    <div class="creation-tabs__heading">{{ trigger.title }}</div>
                </a>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
        <div class="creation-tabs__content">
            {% set count = 1 %}
            {% for trigger in triggers %}
                <div id="tech-{{ count }}" class="tab">
                    <div class="creation-tabs__box">
                        {% if trigger.image %}
                            <div class="creation-tabs__image">
                                <img class="lazy" src="" data-src="image/{{ trigger.image }}" alt="{{ trigger.title }}" width="800" height="440">
                            </div>
                        {% endif %}
                        <div class="creation-tabs__info">
                            <div class="creation-tabs__title">{{ trigger.title }}</div>
                            {% if trigger.description %}
                                <div class="creation-tabs__text text"> {{ trigger.description }}</div>
                            {% endif %}
                            {% if trigger.link %}
                                <a href="{{ trigger.link }}" class="btn-link">{{ text_more }}</a>
                            {% endif %}
                            {% if trigger.brand1 or trigger.brand2 or trigger.brand3 %}
                                <div class="creation-tabs__list">
                                    {% if trigger.brand1 %}
                                        <div class="creation-tabs__logo">
                                            <img class="lazy" src="" data-src="image/{{ trigger.brand1 }}" alt="{{ trigger.title }}">
                                        </div>
                                    {% endif %}
                                    {% if trigger.brand2 %}
                                        <div class="creation-tabs__logo">
                                            <img class="lazy" src="" data-src="image/{{ trigger.brand2 }}" alt="{{ trigger.title }}">
                                        </div>
                                    {% endif %}
                                    {% if trigger.brand3 %}
                                        <div class="creation-tabs__logo">
                                            <img class="lazy" src="" data-src="image/{{ trigger.brand3 }}" alt="{{ trigger.title }}">
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
    {% endif %}
</div>