{% if triggers %}
    <div class="section section--a">
        <div class="navigation-box">
            <div class="navigation-box__content">
                {% set counter = 1 %}
                {% for trigger in triggers %}
                    <div id="work-{{ counter }}" class="navigation-box__tab tab lazy-bg" {#style="background-image: url(image/{{ trigger.image }});"#} data-srcbg="image/{{ trigger.image }}">
                        <div class="navigation-box__wrap">
                            <div class="main-slider__box">
                                <div class="heading">{{ trigger.title }}</div>
                                {% if trigger.description %}
                                    <div class="main-slider__note">{{ trigger.description }}</div>
                                {% endif %}
                                {% if trigger.link %}
                                    <a href="{{ trigger.link }}" class="btn-link main-slider__btn">{{ text_more }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% set counter = counter + 1 %}
                {% endfor %}
            </div>
            <div class="navigation-tabs tabs-list">
                {% set tabs = 1 %}
                {% for trigger in triggers %}
                    <a href="#work-{{ tabs }}" class="navigation-tabs__item">{{ trigger.title }}</a>
                    {% set tabs = tabs + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}