{% if triggers %}
    {% for trigger in triggers %}
        <div class="info-section" style="background-image: url(image/{{ trigger.image }});">
            <div class="section">
                <div class="info-section__box">
                    <h2>{{ trigger.title }}</h2>
                    <div data-simplebar class="info-section__text text">
                        {{ trigger.description|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}