<div class="social-section">
    <div class="heading heading--center heading--largemb">{{ heading_title }}</div>
    <div class="social-section__decor">
        <svg>
            <use xlink:href='/front/dist/images/sprite.svg#insta-logo' />
        </svg>
    </div>
    <div class="social-section__list" id="instagram-list"></div>
    <a href="{{ instagram }}" class="social-section__btn" rel="nofollow" target="_blank">
        {{ text_more_instagram }}
        <span>{{ hashtag }}</span>
        <svg>
            <use xlink:href='/front/dist/images/sprite.svg#arrow-right' />
        </svg>
    </a>
</div>
{% if bIndexBot == false %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var access = '{{ token }}',
                user_id = '{{ user_id }}',
                container = $('#instagram-list');

            $.getJSON("https://api.instagram.com/v1/users/" + user_id + "/media/recent/?access_token=" + access, function (json) {

                container.html('');

                for (var i = 0; i < '{{ count }}'; i++) {

                    container.append('<a href="' + json.data[i].link + '" class="social-section__item" target="_blank"><img src="' + json.data[i].images.low_resolution.url + '" width="{{ width }}" height="{{ height }}" alt="' + json.data[i].caption.text + '" /></a>');
                }
            });
        });
    </script>
{% endif %}