{% if products %}
    <div class="section section--padding" id="lastviews">
        <div class="heading__wrapper">
            <div class="heading heading--center heading--largemb">{{ heading_title }}</div>
        </div>
        <div class="additional-slider additional-slider--2">
            {% for product in products %}
                <div class="additional-slider__item">
                    <div class="product-thumb">
                        {% if product.promos %}
                            {% for label in product.promos %}
                                <div class="product-thumb__label">{{ label.promo_text }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="product-thumb__favorite add-to-favorite{% if product.is_wishlist %} active{% endif %}" {% if product.is_wishlist %}onclick="wishlist.remove('{{ product.product_id }}');"{% else %}onclick="wishlist.add('{{ product.product_id }}');"{% endif %} data-id="{{ product.product_id }}">
                            <span class="title-favorite">{{ add_wishlist }}</span>
                            <svg class="product-thumb__favorite--icon" width="24" height="21">
                                <use xlink:href="/front/dist/images/sprite.svg#heart" />
                            </svg>
                        </div>
                        <div class="product-thumb__content">
                            {% if product.images %}
                                <a href="{{ product.href }}" class="product-thumb__image">
                                    {% set counter = 1 %}
                                    {% for image in product.images %}
                                        <img{% if counter == 2 %} class="product-thumb__hover"{% endif %} src="/images/no_photo_white.png" data-src="{{ image.thumb }}" alt="{{ product.name }}" width="375" height="220">
                                        {% set counter = counter + 1 %}
                                    {% endfor %}
                                </a>
                            {% endif %}
                            <a href="{{ product.href }}" class="product-thumb__title">{{ product.name }}</a>
                            {% if product.price %}

                                {% if not product.special %}
                                    <div class="product-thumb__price">{{ text_vid }} {{ product.price }}</div>
                                {% else %}
                                    <div class="product-thumb__price">
                                        <div class="product-thumb__price--old">{{ product.price }}</div>
                                        <div class="product-thumb__price--new">{{ text_vid }} {{ product.special }}</div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="product-thumb__btn">
                            <a href="{{ product.href }}" class="btn">{{ text_more }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="additional-slider__bottom additional-slider__bottom--2"{% if products|length < 4 %} style="display: none;"{% endif %}>
            <div class="additional-slider__nav additional-slider__nav--2">
                <div class="additional-slider__arrow additional-slider__arrow--prev">
                    <svg width='23' height='5' class="proadditionalduct-slider__svg">
                        <use xlink:href="/front/dist/images/sprite.svg#arrow-left" />
                    </svg>
                </div>
                <div class="additional-slider__arrow additional-slider__arrow--next">
                    <svg width='23' height='5' class="additional-slider__svg">
                        <use xlink:href="/front/dist/images/sprite.svg#arrow-right" />
                    </svg>
                </div>
                <div class="additional-slider__dots additional-slider__dots--2">
                    {% for product in products %}
                        <div class="additional-slider__dot"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}