{% if articles %}
    <div class="section{{ class }}">
        <div class="heading heading--news heading--center heading--largemb">{{ heading_title }}</div>
        <div class="product-thumb__list product-thumb__list--news row">
            {% for article in articles %}
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="news-thumb">
                        <a href="{{ article.href }}" class="news-thumb__image">
                            <img class="lazy" src="{{ article.thumb }}" data-src="{{ article.thumb }}" alt="{{ article.title }}" width="372" height="290">
                            <time class="news-thumb__date" datetime="{{ article.date }}">{{ article.date }}</time>
                        </a>
                        <a href="{{ article.href }}" class="news-thumb__title">{{ article.title }}</a>
                        <div class="news-thumb__text">{{ article.intro }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="news-thumb__btn">
            <a href="{{ news }}" class="btn-link">{{ text_all_news }}</a>
        </div>
    </div>
{% endif %}