{% if banners %}
    <div class="partners-box">
        <div class="heading heading--news heading--center heading--largemb">{{ heading_title }}</div>
        <div class="partners-arrow partners-prev"><svg width="23" height="4"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#arrow-left"></use></svg></div>
        <div class="partners">
            {% for banner in banners %}
                {% if banner.link %}
                    <a href="{{ banner.link }}" target="_blank" rel="nofollow" class="partners__item"><img class="lazy" src="" data-src="{{ banner.image }}" alt="{{ banner.title }}"></a>
                {% else %}
                    <a  target="_blank" rel="nofollow" class="partners__item"><img class="lazy" src="" data-src="{{ banner.image }}" alt="{{ banner.title }}"></a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="partners-arrow partners-next"><svg width="23" height="4"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#arrow-right"></use></svg></div>
    </div>
{% endif %}