{% if tltblogs %}
    <div class="news-section__row">
        <div class="news-section__title">{{ heading_title }}</div>
        <div class="articles-list">
            {% for article in tltblogs %}
                <div class="articles-list__item">
                <a href="{{ article.href }}" class="articles-list__thumb">
                    <img src="{{ article.thumb }}" alt="{{ article.title }}" width="114" height="90">
                </a>
                <div class="articles-list__content">
                    <a href="{{ article.href }}" class="articles-list__title">{{ article.title }}</a>
                    <div class="articles-list__note">{{ article.intro }}</div>
                    <time class="articles-list__date">{{ article.date }}</time>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}