{% if triggers %}
    <div class="product-triggers section section--padding">
        {% set counter = 1 %}
        {% for trigger in triggers %}
            <div class="product-triggers__item">
                <div class="product-triggers__wrap">
                    <div class="product-triggers__heading">
                        <svg width='60' height='30'>
                            <use xlink:href='/front/dist/images/sprite.svg#{% if counter == 1 %}delivery{% elseif counter == 2 %}paying{% else %}guarantee{% endif %}' />
                        </svg>
                        <a href="{{ trigger.link }}" class="product-triggers__title">{{ trigger.title }}</a>
                    </div>
                    {% if trigger.description %}
                        <div class="product-triggers__note">{{ trigger.description }}</div>
                    {% endif %}
                </div>
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}
    </div>
{% endif %}