<div class="info-section info-section--full">
    <div class="section">
        <div class="info-section__box">
            <h2>{{ heading_title }}</h2>
            <div data-simplebar class="info-section__text text">
                {{ html }}
            </div>
        </div>
    </div>
</div>