{% if banners %}
  <div class="main-section">
    <div class="main-slider" id="slider-{{ module }}">
      {% for banner in banners %}
        <div class="main-slider__slide">
          <div class="main-slider__item lazy-bg" {#style="background-image: url({{ banner.image }});"#} data-srcbg="{{ banner.image }}">
            <div class="main-slider__box">
              <div class="heading">{{ banner.title }}</div>
              {% if banner.text %}
                <div class="main-slider__note">{{ banner.text }}</div>
              {% endif %}
              {% if banner.link %}
                <a href="{{ banner.link }}" class="btn-link main-slider__btn">{{ text_more }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="main-slider__bottom">
      <div class="main-slider__nav">
        <div class="main-slider__arrow main-slider__arrow--prev">
          <svg class="main-slider__svg">
            <use xlink:href="/front/dist/images/sprite.svg#arrow-left" />
          </svg>
        </div>
        <div class="main-slider__arrow main-slider__arrow--next">
          <svg class="main-slider__svg">
            <use xlink:href="/front/dist/images/sprite.svg#arrow-right" />
          </svg>
        </div>
        <div class="main-slider__dots">
          {% set counter = 1 %}
          {% for banner in banners %}
            <div class="main-slider__dot">{{ counter }}</div>
            {% set counter = counter + 1 %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="main-section__line"></div>
  </div>
{% endif %}