<div class="triggers lazy-bg" {#style="background-image: url(/front/dist/data/main-sliders/image-3.jpg);"#} data-srcbg="/front/dist/data/main-sliders/image-3.jpg">=
    <div class="triggers__col">
        {% for trigger in triggers|slice(0, 2) %}
            <div class="triggers__box">
                <div class="triggers__wrapper">
                    <img class="lazy" src="" data-src="image/{{ trigger.image }}" alt="{{ trigger.title }}">
                    <div class="triggers__text">{{ trigger.title }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="triggers__col">
        {% set count = 1 %}
        {% for trigger in triggers %}
            {% if count == 3 %}
                <div class="triggers__box">
                    <div class="triggers__wrapper">
                        <img class="lazy" src="" data-src="image/{{ trigger.image }}" alt="{{ trigger.title }}">
                        <div class="triggers__text">{{ trigger.title }}</div>
                    </div>
                </div>
            {% endif %}
            {% set count = count + 1 %}
        {% endfor %}
    </div>
    <div class="triggers__col">
        {% set count = 1 %}
        {% for trigger in triggers %}
            {% if count > 3 %}
                <div class="triggers__box">
                    <div class="triggers__wrapper">
                        <img class="lazy" src="" data-src="image/{{ trigger.image }}" alt="{{ trigger.title }}">
                        <div class="triggers__text">{{ trigger.title }}</div>
                    </div>
                </div>
            {% endif %}
            {% set count = count + 1 %}
        {% endfor %}
    </div>
</div>