{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-tltblog" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-tltblog" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
            <li class="hidden"><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                  <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />&nbsp;{{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                  <div class="tab-pane" id="language{{ language.language_id }}">
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="tltblog_description[{{ language.language_id }}][title]" value="{{ tltblog_description[language.language_id] is defined ? tltblog_description[language.language_id]['title'] : '' }}" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" class="form-control" />
                        {% if error_title[language.language_id] is defined %}
                          <div class="text-danger">{{ error_title[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-keyword{{ language.language_id }}"><span data-toggle="tooltip" title="{{ help_keyword }}">{{ entry_keyword }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="keyword[{{ language.language_id }}]" value="{{ keyword[language.language_id] }}" placeholder="{{ entry_keyword }}" id="input-keyword{{ language.language_id }}" class="form-control" />
                        {% if error_keyword[language.language_id] is defined %}
                          <div class="text-danger">{{ error_keyword[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-intro{{ language.language_id }}">{{ entry_intro }}</label>
                      <div class="col-sm-10">
                        <textarea name="tltblog_description[{{ language.language_id }}][intro]" placeholder="{{ entry_intro }}" id="input-intro{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ tltblog_description[language.language_id]['intro'] is defined ? tltblog_description[language.language_id]['intro'] : '' }}</textarea>
                        {% if (error_intro[language.language_id] is defined) %}
                          <div class="text-danger">{{ error_intro[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="tltblog_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ tltblog_description[language.language_id]['description'] is defined ? tltblog_description[language.language_id]['description'] : '' }}</textarea>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="tltblog_description[{{ language.language_id }}][meta_title]" value="{{ tltblog_description[language.language_id]['meta_title'] is defined ? tltblog_description[language.language_id]['meta_title'] : '' }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                        {% if (error_meta_title[language.language_id] is defined) %}
                          <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="tltblog_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ tltblog_description[language.language_id]['meta_description'] is defined ? tltblog_description[language.language_id]['meta_description'] : '' }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                      <div class="col-sm-10">
                        <textarea name="tltblog_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ tltblog_description[language.language_id]['meta_keyword'] is defined ? tltblog_description[language.language_id]['meta_keyword'] : '' }}</textarea>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="tab-data">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10">
                  <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bottom"><span data-toggle="tooltip" title="{{ help_bottom }}">{{ entry_bottom }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      {% if bottom %}
                        <input type="checkbox" name="bottom" value="1" checked="checked" id="input-bottom" />
                      {% else %}
                        <input type="checkbox" name="bottom" value="1" id="input-bottom" />
                      {% endif %}
                      &nbsp; </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-show-title"><span data-toggle="tooltip" title="{{ help_show_title }}">{{ entry_show_title }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      {% if show_title %}
                        <input type="checkbox" name="show_title" value="1" checked="checked" id="input-bottom" />
                      {% else %}
                        <input type="checkbox" name="show_title" value="1" id="input-bottom" />
                      {% endif %}
                      &nbsp; </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-show-description"><span data-toggle="tooltip" title="{{ help_show_description }}">{{ entry_show_description }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      {% if show_description %}
                        <input type="checkbox" name="show_description" value="1" checked="checked" id="input-show-description" />
                      {% else %}
                        <input type="checkbox" name="show_description" value="1" id="input-show-description" />
                      {% endif %}
                      &nbsp; </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group hidden">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    <div class="checkbox">
                      <label>
                        {% if 0 in tltblog_store %}
                          <input type="checkbox" name="tltblog_store[]" value="0" checked="checked" />
                          {{ text_default }}
                        {% else %}
                          <input type="checkbox" name="tltblog_store[]" value="0" />
                          {{ text_default }}
                        {% endif %}
                      </label>
                    </div>
                    {% for store in stores %}
                      <div class="checkbox">
                        <label>
                          {% if store.store_id in tltblog_store %}
                            <input type="checkbox" name="tltblog_store[]" value="{{ store.store_id }}" checked="checked" />
                            {{ store.name }}
                          {% else %}
                            <input type="checkbox" name="tltblog_store[]" value="{{ store.store_id }}" />
                            {{ store.name }}
                          {% endif %}
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-tags"><span data-toggle="tooltip" title="{{ help_tags }}">{{ entry_tags }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="tags" value="" placeholder="{{ entry_tags }}" id="input-tags" class="form-control" />
                  <div id="tltblog-tags" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for tltblog_tag in tltblog_tags %}
                      <div id="tltblog-tags{{ tltblog_tag.tlttag_id }}"><i class="fa fa-minus-circle"></i> {{ tltblog_tag.title }}
                        <input type="hidden" name="tltblog_tags[]" value="{{ tltblog_tag.tlttag_id }}" />
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-related"><span data-toggle="tooltip" title="{{ help_related }}">{{ entry_related }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="related" value="" placeholder="{{ entry_related }}" id="input-related" class="form-control" />
                  <div id="tltblog-related" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for tltblog_related in tltblog_relateds %}
                      <div id="tltblog-related{{ tltblog_related.related_id }}"><i class="fa fa-minus-circle"></i> {{ tltblog_related.name }}
                        <input type="hidden" name="tltblog_related[]" value="{{ tltblog_related.related_id }}" />
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane hidden" id="tab-design">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <td class="text-left">{{ entry_store }}</td>
                    <td class="text-left">{{ entry_layout }}</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="text-left">{{ text_default }}</td>
                    <td class="text-left"><select name="tltblog_layout[0]" class="form-control">
                        <option value=""></option>
                        {% for layout in layouts %}
                          {% if (tltblog_layout[0] is defined and tltblog_layout[0] == layout.layout_id) %}
                            <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                          {% else %}
                            <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select></td>
                  </tr>
                  {% for store in stores %}
                    <tr>
                      <td class="text-left">{{ store.name }}</td>
                      <td class="text-left"><select name="tltblog_layout[{{ store.store_id }}]" class="form-control">
                          <option value=""></option>
                          {% for layout in layouts %}
                            {% if tltblog_layout[store.store_id] is defined and tltblog_layout[store.store_id] == layout.layout_id %}
                              <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                            {% else %}
                              <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                            {% endif %}
                          {% endfor %}
                        </select></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript">
      // Tags
      $('input[name=\'tags\']').autocomplete({
          'source': function(request, response) {
              $.ajax({
                  url: 'index.php?route=extension/tltblog/tlttag/autocomplete&user_token={{ user_token }}&filter_title=' +  encodeURIComponent(request),
                  dataType: 'json',
                  success: function(json) {
                      response($.map(json, function(item) {
                          return {
                              label: item['title'],
                              value: item['tlttag_id']
                          }
                      }));
                  }
              });
          },
          'select': function(item) {
              $('input[name=\'tags\']').val('');

              $('#tltblog-tags' + item['value']).remove();

              $('#tltblog-tags').append('<div id="tltblog-tags' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="tltblog_tags[]" value="' + item['value'] + '" /></div>');
          }
      });

      $('#tltblog-tags').delegate('.fa-minus-circle', 'click', function() {
          $(this).parent().remove();
      });

      // Related
      $('input[name=\'related\']').autocomplete({
          'source': function(request, response) {
              $.ajax({
                  url: 'index.php?route=extension/tltblog/tltblog/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                  dataType: 'json',
                  success: function(json) {
                      response($.map(json, function(item) {
                          return {
                              label: item['name'],
                              value: item['related_id']
                          }
                      }));
                  }
              });
          },
          'select': function(item) {
              $('input[name=\'related\']').val('');

              $('#tltblog-related' + item['value']).remove();

              $('#tltblog-related').append('<div id="tltblog-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="tltblog_related[]" value="' + item['value'] + '" /></div>');
          }
      });

      $('#tltblog-related').delegate('.fa-minus-circle', 'click', function() {
          $(this).parent().remove();
      });

      $('#language a:first').tab('show');
      $('#option a:first').tab('show');

      {% for language in languages %}
      $('#input-title{{ language.language_id }}').change(function () {
          var title = $('#input-title{{ language.language_id }}').val();
          var seo = $('#input-keyword{{ language.language_id }}').val();

          if (title.length !== 0 && seo.length === 0) {
              $('#input-keyword{{ language.language_id }}').val(tltslug(title));
          }
      });
      {% endfor %}
  </script></div>
{{ footer }}