{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      {% if error_config %}
        <div class="pull-right"><a href="#" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary disabled"><i class="fa fa-plus"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default disabled hidden" onclick="#"><i class="fa fa-copy"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger disabled" onclick="#"><i class="fa fa-trash-o"></i></button>
        </div>
      {% else %}
        <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default hidden" onclick="$('#form-tltblog').attr('action', '{{ copy }}').submit()"><i class="fa fa-copy"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-tltblog').submit() : false;"><i class="fa fa-trash-o"></i></button>
        </div>
      {% endif %}
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_config %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_config }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group">
                <label class="control-label" for="input-title">{{ entry_title }}</label>
                <input type="text" name="filter_title" value="{{ filter_title }}" placeholder="{{ entry_title }}" id="input-title" class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-tltblog">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[title*=\'selected\']').prop('checked', this.checked);" /></td>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-center">{% if sort == 'bd.title' %}
                    <a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
                  {% else %}
                    <a href="{{ sort_title }}">{{ column_title }}</a>
                  {% endif %}</td>
                <td class="text-center">{% if sort == 'b.status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                  {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                  {% endif %}</td>
                <td class="text-center">{% if sort == 'b.sort_order' %}
                    <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                  {% else %}
                    <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
                  {% endif %}</td>
                <td class="text-center">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody>
              {% if tltblogs %}
                {% for tltblog in tltblogs %}
                  <tr>
                    <td class="text-center">
                      {% if tltblog.tltblog_id in selected %}
                        <input type="checkbox" name="selected[]" value="{{ tltblog.tltblog_id }}" checked="checked" />
                      {% else %}
                        <input type="checkbox" name="selected[]" value="{{ tltblog.tltblog_id }}" />
                      {% endif %}</td>
                    <td class="text-center">{% if tltblog.image %}
                        <img src="{{ tltblog.image }}" alt="{{ tltblog.title }}" class="img-thumbnail" />
                      {% else %}
                        <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
                      {% endif %}
                    </td>
                    <td class="text-left">{{ tltblog.title }}</td>
                    <td class="text-left">{{ tltblog.status }}</td>
                    <td class="text-left">{{ tltblog.sort_order }}</td>
                    {% if error_config %}
                      <td class="text-right"><a href="#" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary disabled"><i class="fa fa-pencil"></i></a></td>
                    {% else %}
                      <td class="text-right"><a href="{{ tltblog.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                    {% endif %}
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="7">{{ text_no_results }}</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $('#button-filter').on('click', function() {
          var url = 'index.php?route=extension/tltblog/tltblog&user_token={{ user_token }}';

          var filter_title = $('input[name=\'filter_title\']').val();

          if (filter_title) {
              url += '&filter_title=' + encodeURIComponent(filter_title);
          }

          var filter_status = $('select[name=\'filter_status\']').val();

          if (filter_status != '*') {
              url += '&filter_status=' + encodeURIComponent(filter_status);
          }

          location = url;
      });
  </script>
</div>
{{ footer }}