<li class="so-filter-options search" data-option="search">
	<div class="so-filter-heading">
		<div class="so-filter-heading-text">
			<span><?php echo $obj_lang->get('text_search');?></span>
		</div>
		<i class="fa fa-chevron-down"></i>
	</div>
	<div class="so-filter-content-opts">
		<div class="so-filter-content-opts-container">
			<div class="so-filter-option" data-type="search">
				<div class="so-option-container">
					<div class="input-group">
						<input type="text" class="form-control" name="text_search" id="text_search" value="<?php echo $text_search?>">
						<div class="input-group-btn">
							<button class="btn btn-default inverse" type="button" id="submit_text_search"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>
