{{ header }}
{{ content_top }}
<div class="top-section top-section--white">
  <ul class="breadcrumbs">
      {% for counter, breadcrumb in breadcrumbs %}
          {% if counter + 1 < breadcrumbs|length %}
            <li class="breadcrumbs__item">
              <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
            </li>
          {% else %}
            <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
          {% endif %}
      {% endfor %}
  </ul>
  <h1>{{ text_account }}</h1>
</div>
<div class="account section">
  <div class="account-sidebar">
    {{ column_left }}
  </div>
  <div class="account__align">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="account-personal">
      <div class="account-personal__box">
        <div class="account-personal__col">
          <label for="account-name" class="account-personal__label">{{ entry_firstname }}</label>
          <input id="account-name" type="text" name="firstname" class="account-personal__input" value="{{ firstname }}">
        </div>
        <div class="account-personal__col">
          <label for="account-surname" class="account-personal__label">{{ entry_lastname }}</label>
          <input id="account-surname" name="lastname" type="text" class="account-personal__input" value="{{ lastname }}">
        </div>
        <div class="account-personal__col">
          <label for="account-name" class="account-personal__label">{{ entry_telephone }}</label>
          <input id="account-name" type="tel" name="telephone" class="account-personal__input{% if error_warning_phone or error_telephone %} error{% endif %}" value="{{ telephone }}">
        </div>
        <div class="account-personal__col">
          <label for="account-email" class="account-personal__label">{{ entry_email }}</label>
          <input id="account-email" type="email" name="email" class="account-personal__input{% if error_warning or error_email %} error{% endif %}" value="{{ email }}">
        </div>
        <div class="account-personal__col">
          <label for="account-name" class="account-personal__label">{{ entry_shipping }}</label>
          <input id="account-name" name="delivery_address" type="text" class="account-personal__input" value="{{ delivery_address }}">
        </div>
        <div class="account-personal__col">
          <label for="account-birthday" class="account-personal__label">{{ entry_birthday }}</label>
          <input id="account-birthday" name="birthday" type="text" class="account-personal__input" value="{{ birthday }}" placeholder="__-__-____">
        </div>
      </div>
      <div class="account-check">
        <input class="account-check__input" type="checkbox" id="account-check" name="newsletter" {% if newsletter == 0 %}checked="checked"{% endif %}>
        <label class="account-check__label" for="account-check">{{ text_not_send_email }}</label>
      </div>
      <button type="submit" class="account-personal__btn form-btn">{{ text_save }}</button>
    </form>
    {% if discount > 0 %}
      <div class="account-discount" style="background-image: url(/front/dist/data/bg/bg-discount.jpg)">
        <div class="account-discount__box">
          <div class="account-discount__title">{{ text_discount }} -{{ discount }}%</div>
          <div class="account-discount__note">{{ text_no_special }}</div>
          <a href="#" class="account-discount__btn">{{ text_to_catalog }}</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{{ content_bottom }}
{{ footer }}