{{ header }}
<div class="top-section top-section--white">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ text_go_account }}</h1>
</div>
<div class="registration section">
    <div class="registration__note">{{ text_enter_password }}</div>

    <form action="{{ action }}" method="post" class="registration-form form">
        <div class="registration-form__row form-input{% if error_password %} error{% endif %}">
            <input id="number" type="password" class="input" name="password" required>
            <label class="label" for="number">{{ entry_password }}</label>
        </div>
        <div class="registration-form__row registration-form__row--btn">
            <input type="submit" class="form-btn" value="{{ button_login_account }}" />
            <div class="registration-form__links">
                {{ text_not_send }}
                <a href="#" id="resend-login-button" class="registration-form__link registration-form__link--bold">{{ text_resend }}</a>
            </div>
            <div class="registration-form__links">
                <a href="{{ login_return }}" class="registration-form__link registration-form__link--bold">{{ text_change_phone }}</a>
            </div>
        </div>
    </form>
</div>
{{ footer }}