{{ header }}
<div class="top-section top-section--white">
  <ul class="breadcrumbs">
      {% for counter, breadcrumb in breadcrumbs %}
          {% if counter + 1 < breadcrumbs|length %}
            <li class="breadcrumbs__item">
              <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
            </li>
          {% else %}
            <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
          {% endif %}
      {% endfor %}
  </ul>
  <h1>{{ text_go_account }}</h1>
  <div class="registration__note registration__note--decor">{{ text_enter_phone }}</div>
</div>
<div class="registration section">
  <form action="{{ action }}" method="post" class="registration-form form">
    <div class="registration-form__row form-input{% if error_warning %} error{% endif %}">
      <input id="phone" type="tel" class="input" name="telephone" value="{{ telephone }}" required>
      <label class="label" for="phone">{{ entry_phone }}*</label>
        {% if error_warning %}
      <div class="error-text-login">{{ error_phone_db }}</div>
        {% endif %}
    </div>
    <div class="registration-form__row registration-form__row--btn">
      <input type="submit" class="form-btn" value="{{ button_login_account }}">
      <div class="registration-form__links">
        <a href="{{ register }}" class="registration-form__link">{{ button_register }}</a>
      </div>
    </div>
  </form>
</div>
{{ content_bottom }}
{{ footer }}