{{ header }}
{{ content_top }}
<div class="top-section top-section--white">
  <ul class="breadcrumbs">
      {% for counter, breadcrumb in breadcrumbs %}
          {% if counter + 1 < breadcrumbs|length %}
            <li class="breadcrumbs__item">
              <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
            </li>
          {% else %}
            <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
          {% endif %}
      {% endfor %}
  </ul>
  <h1>{{ text_account }}</h1>
</div>

<div class="account section">
  <div class="account-sidebar">
    {{ column_left }}
  </div>
  <div class="account__align">
    <div class="account-history__overflow">
      <div class="account-history__tip">{{ text_table_list }}</div>
      {% if orders %}
        <div class="account-history">
          <div class="account-history__row--heading account-history__row">
            <div class="account-history__col">{{ text_order_number }}</div>
            <div class="account-history__col">{{ text_date_added }}</div>
            <div class="account-history__col">{{ text_order_price }}</div>
            <div class="account-history__col">{{ text_order_status }}</div>
          </div>
          {% for order in orders %}
            <div class="account-history__item">
              <div class="account-history__row account-history__row--open">
                <div class="account-history__col">{{ order.order_id }}</div>
                <div class="account-history__col">{{ order.date_added }}</div>
                <div class="account-history__col">{{ order.total }}</div>
                <div class="account-history__col account-history__col--btn">{{ order.status }}
                  <div class="account-history__arrow">
                    <svg width='14' height='8'>
                      <use xlink:href='/front/dist/images/sprite.svg#history-arrow' />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="account-content__wrap">
                {% for product in order.products %}
                <div class="account-content">
                  <div class="account-content__left">
                    <a href="{{ product.href }}" class="account-content__image">
                      <img src="{{ product.image }}" alt="{{ product.name }}" width="247" height="176">
                    </a>
                    <div class="account-content__box">
                      <a href="{{ product.href }}" class="account-content__heading">{{ product.name }}</a>
                      {% if product.option %}
                        <div class="account-content__info">
                          {% for option in product.option %}
                            <div class="account-content__row">
                              <div class="account-content__title">{{ option.name }}:</div>
                              <div class="account-content__value">{{ option.value }}</div>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="account-content__right">
                    <div class="account-content__price">{{ product.total }}</div>
                    <div class="account-content__quantity">
                      <div class="account-content__spec">{{ text_qnt }}</div>
                      <div class="account-content__number">{{ product.quantity }} {{ text_qnt_product }}</div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="account-conclusion account-content">
                  <div class="account-content__left">
                    <div class="account-content__info">
                      {% if order.shipping %}
                        <div class="account-content__row">
                          <div class="account-content__title">{{ text_shipping_method }}:</div>
                          <div class="account-content__value">{{ order.shipping }}</div>
                        </div>
                      {% endif %}
                      <div class="account-content__row">
                        <div class="account-content__title">{{ text_service_lift }}:</div>
                        <div class="account-content__value">{{ order.service_lift }}</div>
                      </div>
                      {% if order.delivery_address %}
                        <div class="account-content__row">
                          <div class="account-content__title">{{ text_shipping_address }}:</div>
                          <div class="account-content__value">{{ order.delivery_address }}</div>
                        </div>
                      {% endif %}
                      {% if order.payment %}
                        <div class="account-content__row">
                          <div class="account-content__title">{{ text_payment_method }}:</div>
                          <div class="account-content__value">{{ order.payment }}</div>
                        </div>
                      {% endif %}
                      {% if order.comment %}
                        <div class="account-content__row">
                          <div class="account-content__title">{{ column_comment }}:</div>
                          <div class="account-content__value">{{ order.comment }}</div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="account-content__right">
                      <div class="account-content__holder">
                        <div class="account-content__spec">{{ text_order_price }}:</div>
                        <div class="account-content__price">{{ order.total }}</div>
                      </div>
                      <div class="account-content__holder">
                        <div class="account-content__spec">{{ text_order_status }}:</div>
                        <div class="account-content__price">{{ order.status }}</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="no_orders">{{ text_no_products }}</p>
      {% endif %}
    </div>
  </div>
</div>
{{ content_bottom }}
{{ footer }}
