{{ header }}
<div class="top-section top-section--white">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ text_account }}</h1>
    <div class="registration__note">{{ text_register_password }}</div>
</div>
<div class="registration section">
    <form action="{{ action }}" method="post" class="registration-form form">
        <div class="registration-form__row form-input">
            <input id="number" type="password" class="input" name="password" required>
            <label class="label" for="number">{{ entry_password }}</label>
        </div>
        {% if error_password %}
            <p class="error">{{ error_password }}</p>
        {% endif %}
        <div class="registration-form__row registration-form__row--btn">
            <input type="submit" class="form-btn" value="{{ button_register }}" />
            <div class="registration-form__links">
                {{ text_not_send }}
                <a href="#" id="resend-button" class="registration-form__link registration-form__link--bold">{{ text_resend }}</a>
            </div>
            <div class="registration-form__links">
                <a href="{{ register_link }}" class="registration-form__link registration-form__link--bold">{{ text_change_phone }}</a>
            </div>
        </div>
    </form>
</div>

<div class="popup popup--text">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--model">
        <div class="popup__icon popup-close">
            <svg>
                <use xlink:href='/front/dist/images/sprite.svg#close' />
            </svg>
        </div>
        <div class="popup__note popup__note--text">{{ text_resend_popup }}</div>
    </div>
</div>

{{ footer }}