{{ header }}
<div class="top-section top-section--white">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
    <div class="registration__note">{{ text_register_note }}</div>
</div>
<div class="registration section">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="registration-form form">
        <div class="registration-form__row form-input{% if telephone is not empty %} active{% endif %}{% if error_telephone %} error{% endif %}">
            <input id="phone" type="tel" class="input" name="telephone" value="{{ telephone }}" required>
            <label class="label" for="phone">{{ entry_telephone }}*</label>
        </div>
        <div class="registration-form__row form-input{% if email is not empty %} active{% endif %}">
            <input id="email" type="email" class="input" name="email" value="{{ email }}" required>
            <label class="label" for="email">{{ entry_email }}*</label>
        </div>
        {% if error_email %}
            <p class="error">{{ error_email }}</p>
        {% endif %}
        {% if error_warning %}
            <p class="error">{{ error_warning }}</p>
        {% endif %}
        <div class="registration-form__row registration-form__row--btn">
            <input type="submit" class="form-btn" value="{{ button_register }}" />
            <div class="registration-form__links">
                <a href="{{ login }}" class="registration-form__link">{{ button_login }}</a>
            </div>
        </div>
    </form>
</div>
{{ content_bottom }}
{{ column_right }}
{{ footer }} 