{{ header }}
{{ content_top }}
<div class="top-section top-section--white">
  <ul class="breadcrumbs">
      {% for counter, breadcrumb in breadcrumbs %}
          {% if counter + 1 < breadcrumbs|length %}
            <li class="breadcrumbs__item">
              <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
            </li>
          {% else %}
            <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
          {% endif %}
      {% endfor %}
  </ul>
  <h1>{{ text_account }}</h1>
</div>
<div class="account section">
  <div class="account-sidebar">
    {{ column_left }}
  </div>
  <div class="account__align">
    {% if products %}
    <div class="product-thumb__list row">
      {% for product in products %}
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="product-thumb">
          <a href="{{ product.remove }}" class="product-thumb__favorite remove-wishlist" title="{{ text_remove_wishlist }}">
            <svg class="product-thumb__favorite--close" width="12" height="12">
              <use xlink:href="/front/dist/images/sprite.svg#close" />
            </svg>
          </a>
          <div class="product-thumb__content">
            {% if product.images %}
              <a href="{{ product.href }}" class="product-thumb__image">
                  {% set counter = 1 %}
                  {% for image in product.images %}
                    <img{% if counter == 2 %} class="product-thumb__hover"{% endif %} src="{{ image.thumb }}" alt="{{ product.name }}" width="375" height="220">
                      {% set counter = counter + 1 %}
                  {% endfor %}
              </a>
            {% endif %}
            <a href="{{ product.href }}" class="product-thumb__title">{{ product.name }}</a>
            {% if product.price %}
              {% if not product.special %}
                <div class="product-thumb__price">{{ product.price }}</div>
              {% else %}
                <div class="product-thumb__price">
                  <div class="product-thumb__price--old">{{ product.price }}</div>
                  <div class="product-thumb__price--new">{{ product.special }}</div>
                </div>
              {% endif %}
            {% endif %}
          </div>
          <div class="product-thumb__btn">
            <a href="{{ product.href }}" class="btn">{{ text_more }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <p class="no_orders">{{ text_empty_wishlist }}</p>
    {% endif %}
  </div>
</div>
<div class="popup popup--choose">
  <div class="popup__overlay popup-close"></div>
  <div class="popup__holder popup__holder--login">
    <div class="popup__icon popup-close">
      <svg>
        <use xlink:href='/front/dist/images/sprite.svg#close' />
      </svg>
    </div>
    <div class="popup__note">{{ text_before_remove }}</div>
    <div class="popup__btn">
      <a href="#" class="form-btn" id="confirm-remove-wishlist">{{ button_remove }}</a>
      <span class="popup__reglink popup-close">{{ button_cancel }}</span>
    </div>
  </div>
</div>
{{ content_bottom }}
{{ footer }}
