<label for="payment-type" class="account-personal__label">{{ text_checkout_payment_method }}</label>
{% if error_warning %}
  <p class="error">{{ error_warning }}</p>
{% endif %}
{% if payment_methods %}
    <div class="common-select__wrap custom-select">
      <select class="common-select" name="payment_method" id="payment-type">
          <option value="" selected="selected" disabled="disabled">{{ text_payment_first_method }}</option>
          {% for payment_method in payment_methods %}
              {% if payment_method.code == code or not code %}
                  {% set code = payment_method.code %}
                    <option value="{{ payment_method.code }}">{{ payment_method.title }}</option>
              {% else %}
                    <option value="{{ payment_method.code }}">{{ payment_method.title }}</option>
              {% endif %}
          {% endfor %}
      </select>
    </div>
{% endif %}