<label for="delivery-type" class="account-personal__label">{{ text_checkout_shipping_method }}</label>
{% if error_warning %}
  <p class="error">{{ error_warning }}</p>
{% endif %}
{% if shipping_methods %}
    {% if not shipping_method.error %}
    <div class="common-select__wrap custom-select">
      <select class="common-select" name="shipping_method" id="delivery-type">
      <option value="" selected="selected" disabled="disabled">{{ text_shipping_first_method }}</option>
      {% for shipping_method in shipping_methods %}
        {% for quote in shipping_method.quote %}
            {% if quote.code == code or not code %}
            {% set code = quote.code %}
              <option value="{{ quote.code }}">{{ quote.title }}</option>
            {% else %}
              <option value="{{ quote.code }}">{{ quote.title }}</option>
            {% endif %}
        {% endfor %}
      {% endfor %}
      </select>
    </div>
    {% endif %}
{% endif %}