{% if products %}
    {{ datalayer }}
    {{ pixel }}

    <div class="checkout-products">
    <div class="checkout-products__box" id="checkout-cart">
        {% set i=0 %}
        {% for product in products %}
            {% set i=i+1 %}
            <div class="checkout-products__holder">
                <div class="checkout-products__delete reprodcheckout" data-card_id="{{ product.cart_id }}"
                     title="{{ text_delete_from_cart }}">
                    <svg width='8' height='8'>
                        <use xlink:href='/front/dist/images/sprite.svg#close'/>
                    </svg>
                </div>
                {% if product.thumb %}
                    <a href="{{ product.href }}"
                       class="checkout-products__thumb">
                        <img src="{{ product.thumb }}" alt="{{ product.name }}" width="160" height="114">
                    </a>
                {% endif %}
                <div class="checkout-products__content">
                    <div class="checkout-products__title"><a class="product-thumb__title" href="{{ product.href }}">{{ product.name }}</a></div>
                    <div class="checkout-products__info">
                        {% if product.option %}
                            {% for option in product.option %}
                                <div class="checkout-products__row">
                                    <div class="checkout-products__spec">{{ option.name }}:</div>
                                    <div class="checkout-products__value">{{ option.value }}{% if option_value.option_text  %}
                                            ({{ option_value.option_text }}){% endif %}{% if option.price and option.id != '18' %}
                                            ({% if option.price_prefix == 'u' %} + {% elseif option.price_prefix == 'd' %} - {% else %}
                                                {{ option.price_prefix }} {% endif %} {{ option.price }}){% endif %}

                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="checkout-products__row">
                            <div class="checkout-products__spec">{{ column_quantity }}</div>
                            <div class="checkout-products__value">
                                <div class="checkout-products__btn quantity-down dec incart_dec"
                                     data-prod-id="{{ product.cart_id }}" data-quant="{{ product.quantity }}">-
                                </div>
                                <input class="checkout-products__input" type="number" min="1" name="quantity"
                                       value="{{ product.quantity }}" readonly>
                                <div class="checkout-products__note">{{ text_sht }}</div>
                                <div class="checkout-products__btn quantity-up inc incart_inc"
                                     data-prod-id="{{ product.cart_id }}" data-quant="{{ product.quantity }}">+
                                </div>
                            </div>
                        </div>
                        <div class="checkout-products__row checkout-products__row--price">
                            <div class="checkout-products__spec">{{ column_price }}</div>
                            <div class="checkout-products__value checkout-products__value--price">{{ product.total }}</div>
                        </div>
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>

    <div class="checkout-sum">
        {% if totals is defined %}
            <div class="checkout-sum__row">
                {% for total in totals %}
                    {% if total.code == 'sub_total' %}
                        <div class="checkout-sum__title">{{ total.title }}:</div>
                        <div class="checkout-sum__value">{{ total.text }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if totals is defined %}
            {% if totals.code != 'coupon' %}
                <div class="checkout-sum__row" id="coupon-success" style="display: none;">
                    <div class="checkout-sum__title">{{ text_your_sale }}:</div>
                    <div class="checkout-sum__value" id="coupon-discount"></div>
                </div>
            {% endif %}
            {% for total in totals %}
                {% if total.code == 'coupon' %}
                    <div class="checkout-sum__row" id="coupon-success">
                        <div class="checkout-sum__title">{{ text_your_sale }}:</div>
                        <div class="checkout-sum__value" id="coupon-discount">{{ total.text|replace({'-': ""}) }}</div>
                    </div>
                {% endif %}
                {% if total.code == 'total' %}
                    <div class="checkout-sum__row checkout-sum__row--last">
                        <div class="checkout-sum__title">
                            {{ total.title }}:
                        </div>
                        <div class="checkout-sum__value" id="total-value">
                            {{ total.text }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    </div>

    {% if related %}
        <div class="additional-slider-card">
            <div class="additional-slider-card-title">{{ text_also_buy }}</div>

                <div class="additional-slider additional-slider--3">
                    {% for product in related %}
                        <div class="additional-slider__item">
                            <div class="product-thumb">
                                <div class="product-thumb__favorite add-to-favorite{% if product.is_wishlist %} active{% endif %}"
                                     {% if product.is_wishlist %}onclick="wishlist.remove('{{ product.product_id }}');"
                                     {% else %}onclick="wishlist.add('{{ product.product_id }}');"{% endif %}
                                     data-id="{{ product.product_id }}">
                                    <svg class="product-thumb__favorite--icon" width="24" height="21">
                                        <use xlink:href="/images/sprite.svg#heart"/>
                                    </svg>
                                </div>
                                <div class="product-thumb__content">
                                    {% if product.images %}
                                        <a href="{{ product.href }}" class="product-thumb__image">
                                            {% set counter = 1 %}
                                            {% for image in product.images %}
                                                <img{% if counter == 2 %} class="product-thumb__hover"{% endif %}
                                                        src="{{ image.thumb }}" alt="{{ product.name }}" width="375"
                                                        height="220">
                                                {% set counter = counter + 1 %}
                                            {% endfor %}
                                        </a>
                                    {% endif %}
                                    <a href="{{ product.href }}" class="product-thumb__title">{{ product.name }}</a>
                                    {% if product.price %}
                                        {% if not product.special %}
                                            <div class="product-thumb__price">{{ text_vid }} {{ product.price }}</div>
                                        {% else %}
                                            <div class="product-thumb__price">
                                                <div class="product-thumb__price--old">{{ product.price }}</div>
                                                <div class="product-thumb__price--new">{{ text_vid }} {{ product.special }}</div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="product-thumb__btn">
                                    <a href="{{ product.href }}" class="btn">{{ text_more }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <div class="additional-slider__bottom additional-slider__bottom--3">
                <div class="additional-slider__nav additional-slider__nav--3">
                    <div class="additional-slider__arrow additional-slider__arrow--prev">
                        <svg width='23' height='5' class="proadditionalduct-slider__svg">
                            <use xlink:href="/images/sprite.svg#arrow-left"/>
                        </svg>
                    </div>
                    <div class="additional-slider__arrow additional-slider__arrow--next">
                        <svg width='23' height='5' class="additional-slider__svg">
                            <use xlink:href="/images/sprite.svg#arrow-right"/>
                        </svg>
                    </div>
                    <div class="additional-slider__dots additional-slider__dots--3">

                        {% for i in 0..slpages %}
                            <div class="additional-slider__dot"></div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>
        <script src="./catalog/view/javascript/tiny-slider.js"></script>

        <script >
            if (document.querySelector('.additional-slider--3')) {
                const mainSlider = tns({
                    container: '.additional-slider--3',
                    controlsContainer: '.additional-slider__nav--3',
                    speed: 500,
                    items: 1,
                    loop: false,
                    navContainer: '.additional-slider__dots--3',
                    responsive: {
                        1200: {
                            items: 3,
                            slideBy: 'page'
                        },
                        // 1023: {
                        //   items: 2,
                        //   slideBy: 'page'
                        // }
                    }
                });
                const mainSliderInfo = mainSlider.getInfo();
                if (mainSliderInfo.slideCount === 1) {
                    const bottom = document.getElementsByClassName('additional-slider__bottom--3');
                    bottom[0].remove()
                }


            }
        </script>

    {% endif %}
{% endif %}
