<div class="checkout-basket">
  <div id="checkout-cart">
	<div id="checkout-cart-wrapper">
	  <div class="basket__item-list custom-scroll">
		{% if products is defined %}
			{% for product in products %}
				<div class="item">
				  <div class="item__remove reprodcheckout" data-card_id="{{ product.cart_id }}">
					<div class="click-area"></div>
				  </div>
				  <div class="item__image">
					<a href="{{ product.href }}">
					  <img src="{{ product.thumb }}" height="74" width="73" alt="{{ product.name }}">
					</a>
				  </div>
				  <div class="item__info">
					<div class="item__title">
					  <a href="{{ product.href }}">{{ product.name }}</a>
					</div>
					<div class="item__options">
						{% if product.option %}
							{% for option in product.option %}
							<small>- {{ option.name }} {{ option.value }}</small> 
							{% endfor %}
						{% endif %}	
					</div>					
					<div class="item__amount-price">
					  <div class="amount-input-block">
						<div class="dec incart_dec" data-prod-id="{{ product.cart_id }}" data-quant="{{ product.quantity }}"></div>
						<input type="text" id class="amount-input-block__input" readonly value="{{ product.quantity }}">
						<div class="inc incart_inc" data-prod-id="{{ product.cart_id }}" data-quant="{{ product.quantity }}"></div>
					  </div>
					  <div class="item__total">
						<span class="amount">{{ product.quantity }}x</span>
						{{ product.price }}
					  </div>
					</div>
				  </div>
				</div>
			{% endfor %}
		{% endif %}
	  </div>
	</div>
  </div>
</div>
<div class="checkout-total">
		{% if totals is defined %}
			{% for total in totals %}	
				<div class="row_in_total">
					<div class="checkout-total__title">{{ total.title }}:</div>{{ total.text }}
				</div>
			{% endfor %}
		{% endif %}  
</div>
