{{ header }}
{{ column_left }}
{{ content_top }}

<div class="checkout__wrap">
    <div class="heading heading--center heading--largemb">{{ heading_title }}</div>
    <div class="checkout">
        <div class="checkout-info step-1" id="form_first_step">
            <div class="checkout-info__box">
                <div class="checkout-info__title">{{ text_checkout_account }}</div>
                <div class="checkout-info__holder form">
                    <div class="checkout-info__row form-input{% if firstname is not empty %} active{% endif %}">
                        <label for="name" class="label">{{ entry_firstname }}</label>
                        <input id="name" name="firstname" value="{{ firstname }}" type="text" class="input">
                        <input type="hidden" name="country_id" value="220">
                        <input type="hidden" name="zone_id" value="3491">
                    </div>
                    <div class="checkout-info__row form-input{% if telephone is not empty %} active{% endif %}">
                        <label for="phone" class="label">{{ entry_telephone }}</label>
                        <input id="phone" name="telephone" value="{{ telephone }}" type="tel" class="input">
                    </div>
                    <div class="checkout-info__row form-input{% if email is not empty %} active{% endif %}">
                        <label for="email" class="label">{{ entry_email }}</label>
                        <input id="email" type="email" name="email" value="{{ email }}" class="input">
                    </div>
                    <div class="checkout-info__row">
                        <span class="add-comment">{{ text_yours_comment }}</span>
                        <textarea name="message" class="checkout-textarea" id="comment-checkout" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="checkout-info__box step-2">
                <div class="checkout-info__title">{{ text_checkout_shipping_address }}</div>

                <div class="checkout-info__holder form">

                    <div class="checkout-info__row" id="wrap-for-shipping"></div>

                    <div class="checkout-info__row form-input{% if delivery_address is not empty %} active{% endif %}">
                        <label for="address" class="label">{{ text_your_address }}</label>
                        <input id="address" type="text" name="delivery_address" value="{{ delivery_address }}" class="input">
                    </div>
                    <div class="checkout-info__row">
                        <input class="account-check__input" type="checkbox" id="account-check" name="service_lift" value="{{ service_lift }}" {% if service_lift == 1 %}checked{% endif %}>
                        <label class="account-check__label" for="account-check">{{ text_service_lift }}</label>
                    </div>

                    <div class="checkout-info__row" id="wrap-for-payment"></div>

                    {#<div class="checkout-info__row form-input checkout-info__row--btn" id="coupon-field">#}
                        {#<input id="coupon" type="text" class="input" name="coupon" placeholder="{{ text_promocode }}" value="">#}
                        {#<div class="checkout-info__btn" id="confirm_coupon">Ok</div>#}
                        {#<p id="promo_error" class="error"></p>#}
                    {#</div>#}
                    <div class="checkout-info__row">
                        <input class="account-check__input" type="checkbox" id="accept-check" name="accept" value="{{ accept }}" {% if accept == 1 %}checked{% endif %}>
                        <label class="account-check__label" style="display: block;" for="accept-check">{{ text_accept }}</label>
                    </div>
                    <div class="checkout-info__row checkout-info__row--btn" id="collapse-checkout-confirm"></div>
                </div>
            </div>
        </div>
        <div class="checkout-products-box"></div>
    </div>
    {#<div class="checkout-info__row checkout-info__row--btn checkout-info__row--mobile" style="display:none;">#}
        {#<div class="btn btn--gold" id="button-confirm">{{ button_confirm_order }}</div>#}
    {#</div>#}
</div>

{{ content_bottom }}
{{ column_right }}

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {

    let init_select = function () {
        let x, i, j, selElmnt, a, b, c;
        /* look for any elements with the class "custom-select": */
        x = document.getElementsByClassName("custom-select");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /* for each element, create a new DIV that will act as the selected item: */
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /* for each element, create a new DIV that will contain the option list: */
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 0; j < selElmnt.length; j++) {
                /* for each option in the original select element,
                create a new DIV that will act as an option item: */
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    /* when an item is clicked, update the original select box,
                    and the selected item: */
                    let y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                /* when the select box is clicked, close any other select boxes,
                and open/close the current select box: */
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });

        }
        function closeAllSelect(elmnt) {
            /* a function that will close all select boxes in the document,
            except the current select box: */
            let x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }
        /* if the user clicks anywhere outside the select box,
        then close all select boxes: */
        document.addEventListener("click", closeAllSelect);
    };

    // Вытяну товары для перечня в корзине + тоталы
    updateCart();
    loadShipping();
    loadPayment();
    setTimeout(function(){
        updateInfo();
    }, 500);

    $('input[name="service_lift"]').on('click', function () {
        if ($('input[name="service_lift"]').is(':checked')) {
            $('input[name="service_lift"]').val('1');
        } else {
            $('input[name="service_lift"]').val('0');
        }
    });
    $('input[name="accept"]').on('click', function () {
        if ($('input[name="accept"]').is(':checked')) {
            $('input[name="accept"]').parent().removeClass('error');
            $('input[name="accept"]').val('1');
        } else {
            $('input[name="accept"]').val('0');
            $('input[name="accept"]').parent().addClass('error');

        }
    });


    $(document).on('click', '#confirm_coupon', function(event){
        $('#promo_error').text('');
        $.ajax({
            url: '/index.php?route=checkout/coupon/coupon',
            type: 'post',
            data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
            dataType: 'json',
            success: function(json) {
                $('#coupon-field').removeClass('error');

                if (json['error']) {
                    $('#coupon-field').addClass('error');
                    $('#promo_error').text(json['error']);
                    $('input[name="coupon"]').val('');
                }
                if (json['success']) {
                    $.ajax({
                        url: '/index.php?route=checkout/cart/refresh_total',
                        type: 'post',
                        dataType: 'json',
                        success: function (json) {
                            $('input[name="coupon"]').val('');
                            $('#coupon-discount').html(json['coupon_total']['text'].replace('-',''));
                            $('#coupon-success').css('display', 'flex');
                            $('#total-value').html(json['totals_total']['text']);
                        }
                    });
                    updateInfo();
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
        event.stopImmediatePropagation();
    });

    $('#form_first_step input').on('change', function () {
       updateInfo();
    });

    // Кликнули на крестик/+/- для удаления/редактирования количества товара
    $(document).on('click', '.reprodcheckout', function() {
        var card_id = $(this).attr('data-card_id');
        cart.remove(card_id);
        setTimeout(function(){
            updateCart();
        },300);

    });
    $(document).on('click', '.incart_dec', function() {
        var id = $(this).attr('data-prod-id');
        var q = +$(this).attr('data-quant') - 1;
        cart.updatesmcart(id,q);
        setTimeout(function(){
            updateCart();
        },300);
    });
    $(document).on('click', '.incart_inc', function() {
        var id = $(this).attr('data-prod-id');
        var q = +$(this).attr('data-quant') + 1;
        cart.updatesmcart(id,q);
        setTimeout(function(){
            updateCart();
        },300);
    });

    // Подгружаем товары и totals
    function updateCart() {
        $.ajax({
            url: '/index.php?route=checkout/step1checkout/getCartProducts',
            async : false,
            dataType: 'html',
            success: function (html) {
                $('.checkout-products-box').html(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function updateInfo() {

        var data = $('input[name=\'firstname\'], input[name=\'telephone\'], input[name=\'email\'], input[name=\'country_id\'], input[name=\'zone_id\'], input[name=\'service_lift\'], input[name=\'delivery_address\'], select[name=\'payment_method\'], select[name=\'shipping_method\'], textarea[name=\'message\']');

        $.ajax({
            url: 'index.php?route=checkout/step1checkout/updateCheckoutInfo',
            data: data,
            type: 'post',
            dataType: 'json',
            success: function (json) {

                $('.form-input').removeClass('error');

                if(json.error){
                    for(var key in json.error){
                        if(json.error.hasOwnProperty(key)){
                            $('#form_first_step').find('[name="'+key+'"]').parent().addClass('error');
                        }
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function loadShipping() {
        $.ajax({
            url: '/index.php?route=checkout/shipping_method',
            dataType: 'html',
            success: function (html) {
                $('#wrap-for-shipping').html(html);
                /**
                 * Change shipping method
                 **/
                $('body').on('DOMSubtreeModified', '#wrap-for-shipping .select-selected', function() {
                    var shipcode = $('select[name=\'shipping_method\']').val();
                    if (shipcode == 'cs.shipping_cs_0'){
                        $('#wrap-for-shipping + .checkout-info__row').hide(500);
                    }else{
                        $('#wrap-for-shipping + .checkout-info__row').show(500);

                    }
                    setTimeout(function(){
                        setShipping(shipcode);
                            setTimeout(function(){
                                updateCart();
                            }, 500);
                    }, 500);
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function setShipping(code){
        var comment = '';
        $.ajax({
            url: '/index.php?route=checkout/shipping_method/save',
            type: 'post',
            data: 'shipping_method=' + code + '&comment=' + comment,
            dataType: 'json',
            success: function (json) {
                setTimeout(function() {
                    shippingFeelds();
                    updateOrder();
                }, 500);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function shippingFeelds(){
        $.ajaxSetup ({cache: false});
        $.ajax({
            url: '/index.php?route=checkout/step1checkout/shippingMethodsFeelds',
            type: 'post',
            dataType: 'json',
            success: function (json) {
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function loadPayment() {
        $.ajax({
            url: '/index.php?route=checkout/payment_method',
            dataType: 'html',
            success: function (html) {
                $('#wrap-for-payment').html(html);
                init_select();
                $('#wrap-for-shipping .select-items').find('div').eq(0).css('pointer-events', 'none');
                $('#wrap-for-payment .select-items').find('div').eq(0).css('pointer-events', 'none');
                /**
                 * Change payment method
                 **/

                $('body').on('DOMSubtreeModified', '#wrap-for-payment .select-selected', function() {
                        var paycode = $('select[name=\'payment_method\']').val();
                        setTimeout(function(){
                            if (paycode) {
                                setPayment(paycode);
                            }
                            setTimeout(function(){
                                updateOrder();
                                updateCart();
                            }, 500);
                        }, 500);
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function setPayment(code = $('select[name=\'payment_method\']').val()){
        var comment = '';
        $.ajax({
            url: '/index.php?route=checkout/payment_method/save',
            type: 'post',
            data: 'payment_method=' + code + '&comment=' + comment + '&agree=1',
            dataType: 'json',
            success: function (json) {
                $.ajax({
                    url: 'index.php?route=checkout/confirmst1ch',
                    dataType: 'html',
                    success: function(html) {
                        $('#collapse-checkout-confirm').html(html);
                        $('.checkout-info__row--mobile').show();
                        setTimeout(function(){
                            updateOrder();
                        }, 500);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    function updateOrder(){
        $.ajax({
            url: '/index.php?route=checkout/step1checkout/updateOrder',
            dataType: 'json',
            success: function (json) {
                if(json.error){ console.log(json.error); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    };

    /* отловим момент когда написан комментарий */
    $( "#comment-checkout" ).blur(function() {
        var message = $( "#comment-checkout" ).val();
        $.ajax({
            url: '/index.php?route=checkout/step1checkout/saveMessage',
            type: 'post',
            data: 'message=' + message,
            dataType: 'json',
            success: function (json) {

            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});

</script>

{{ footer }}
