{{ header }}   
{{ column_left }}
{{ content_top }}
<div class="main">
  <div class="container">
	<ul class="breadcrumbs">
		{% for i, breadcrumb in breadcrumbs %}
			{% if i+1 < breadcrumbs_total %}
			  <li class="home">
				<span property="itemListElement" typeof="ListItem">
				  <a property="item" typeof="WebPage" href="{{ breadcrumb.href }}" class="home"><span property="name">{{ breadcrumb.text }}</span></a>
				  <meta property="position" content="{{ i+1 }}">
				</span>
			  </li>
			{% else %}
			  <li class="post post-page current-item">
				<span property="itemListElement" typeof="ListItem">
				  <span property="name">{{ breadcrumb.text }}</span>
				  <meta property="position" content="{{ i+1 }}">
				</span>
			  </li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="section-title page-title">{{ heading_title }}</div>
	<div class="checkout">
	  <div class="checkout__steps">
		<div class="step step-1 active">
		  <div class="step__head">
			<div class="step__number">1</div>
			<div class="step__title">
			  <div class="step__title--title">{{ entry_about_data }}</div>
			  <button class="btn-edit-step">{{ button_re }}</button>
			</div>
		  </div>
		  <form action="#" class="checkout__form" id="form_first_step" method="POST">
			<input type="hidden" name="country_id" value="{{ country_id }}">
			<div class="row">
			  <input type="text" name="firstname" class="form-input <!--error-->" placeholder="{{ entry_firstname }}" value="{{ firstname }}">
			</div>
			<div class="row">
			  <input type="text" name="lastname" class="form-input" placeholder="{{ entry_lastname }}" value="{{ lastname }}">
			</div>
			<div class="row">
			  <label class="country-label">
				<input type="tel" name="telephone" class="form-input" placeholder="+38 (___) ___-__-__" value="{{ telephone }}">
			  </label>
			</div>
			<div class="row">
			  <input type="email" name="email" class="form-input" placeholder="Email" value="{{ email }}">
			</div>
			<div class="row">
				<select class="form-input" name="zone_id">
					<option value="0">{{ error_region_empty }}</option>
					{% for zone in zones %}
						{% if zone.zone_id == zone_id %}
							<option value="{{ zone.zone_id }}" selected="selected">{{ zone.name }}</option>
						{% else %}
							<option value="{{ zone.zone_id }}">{{ zone.name }}</option>
						{% endif %}	
					{% endfor %}
				</select>
			</div>
			<button class="btn-next-step btn-style-2" id="button_first_step">{{ text_next_step }}</button>
		  </form>
		</div>
		<div class="step step-2">
		  <div class="step__head">
			<div class="step__number">2</div>
			<div class="step__title">
			  <div class="step__title--title">{{ text_chouse_shipping }}</div>
			</div>
		  </div>
		  <form action="#" class="checkout__form" id="shipping_form" name="shipping_form">
			<div class="checkout__form--input-set">
			  <div class="step__subtitle">{{ text_shipping }}:</div>
			  <div id="wrap-for-shipping">
			  
			  </div>
			  <div id="wrap-for-fields-shipping">
			  
			  </div>			  
			</div>
		  </form>
		  <form action="#" class="checkout__form" id="payment_form" name="payment_form">
			<div class="checkout__form--input-set">
			  <div class="step__subtitle">{{ text_payment }}:</div>
			  <div id="wrap-for-payment">
				  
			  </div>
			</div>
			<div class="checkout__form--input-set">
			  <div class="step__subtitle">{{ text_comment_to }}:</div>
			  <div class="row">
				<textarea class="form-input form-input--textarea" placeholder="{{ text_yours_comment }}"></textarea>
			  </div>
			</div>
			<!--<button class="btn-confirm-order btn-style-2">Оформить заказ</button>-->
			<div id="collapse-checkout-confirm"></div>
		  </form>
		</div>
	  </div>
	  <div class="checkout__order">

	  </div>
	</div>
  </div>
</div>
{{ content_bottom }}
{{ column_right }}
<script type="text/javascript"><!--
// Вытяну товары для перечня в корзине + тоталы
updateCart();	
	
// Для перехода на 2 шаг кликнем по btn-next-step формы	form_first_step
$('#button_first_step').on('click', function(e) {
	e.preventDefault();
	$('#form_first_step select').removeClass('error');
	$('#form_first_step input').removeClass('error');
	$.ajax({
		url: 'index.php?route=checkout/step2checkout/validateStepFirst',
		type: 'post',
		dataType: 'json',
		data: $("#form_first_step").serialize(),		
		success: function(json) {
			if(json.success){
				const step1 = $('.step-1'), step2 = $('.step-2');
				const toStep2 = $('.btn-next-step');
				step1.removeClass('active');
				step2.addClass('active');
				// подгрузим методы доставки и оплаты
				$.ajax({
				  url: '/index.php?route=checkout/shipping_method',
				  dataType: 'html',
				  success: function (html) {
					$('#wrap-for-shipping').html(html);
					var shipping_method = $("#shipping_form").find("input[name=shipping_method]:checked").val();
					var comment = '';
					$.ajax({
					  url: '/index.php?route=checkout/shipping_method/save',
					  type: 'post',
					  data: 'shipping_method=' + shipping_method + '&comment=' + comment,
					  dataType: 'json',
					  success: function (json) {
						$.ajax({
							url: '/index.php?route=checkout/payment_method',
							dataType: 'html',
							success: function (html) {
								$('#wrap-for-payment').html(html);
								var payment_method = $("#payment_form").find("input[name=payment_method]:checked").val();
								$.ajax({
								  url: '/index.php?route=checkout/payment_method/save',
								  type: 'post',
								  data: 'payment_method=' + payment_method + '&comment=' + comment + '&agree=1',
								  dataType: 'json',
								  success: function (json) {
									  $.ajax({
											url: 'index.php?route=checkout/confirmst2ch',
											dataType: 'html',
											success: function(html) {
												$('#collapse-checkout-confirm').html(html);
												setTimeout(function(){
												$.ajax({
												  url: '/index.php?route=checkout/step2checkout/getCartProducts',
												  dataType: 'html',
												  success: function (html) {
														$('.checkout__order').html(html);
														$('.custom-scroll').mCustomScrollbar();
														$.ajaxSetup ({cache: false});
														$.ajax({
														  url: '/index.php?route=checkout/step2checkout/shippingMethodsFeelds',
														  type: 'post',
														  dataType: 'json',
														  success: function (json) { 
															$('#wrap-for-fields-shipping').html(json.fields);
															customSelect.update('select');
															updateOrder();
														  },
														  error: function (xhr, ajaxOptions, thrownError) {
															console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
														  }
														});
												  },
												  error: function (xhr, ajaxOptions, thrownError) {
													alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
												  }
												});
												
												},100);												  
											},
											error: function(xhr, ajaxOptions, thrownError) {
												alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
											}                
									  });		
								  },
								  error: function (xhr, ajaxOptions, thrownError) {
									alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
								  }
								});
						  },
						  error: function (xhr, ajaxOptions, thrownError) {
							  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						  }
						});
					  },
					  error: function (xhr, ajaxOptions, thrownError) {
						  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					  }
					});
				  },
				  error: function (xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				  }
				});
			}
			if(json.error){
				for(var key in json.error){
					if(json.error.hasOwnProperty(key)){
						$('#form_first_step').find('[name="'+key+'"]').addClass('error');
					}
				}
			}
		}
	});	
});		

// Кликнули на крестик/+/- для удаления/редактирования количества товара
$(document).on('click', '.reprodcheckout', function() { 
	var card_id = $(this).attr('data-card_id');
	cart.remove(card_id);
	setTimeout(function(){
		updateCart();
	},300);	
	
});
$(document).on('click', '.incart_dec', function() { 
	var id = $(this).attr('data-prod-id');
	var q = +$(this).attr('data-quant') - 1;	
	cart.updatesmcart(id,q);
	setTimeout(function(){
		updateCart();
	},300);	
});
$(document).on('click', '.incart_inc', function() {
	var id = $(this).attr('data-prod-id');
	var q = +$(this).attr('data-quant') + 1;	
	cart.updatesmcart(id,q);
	setTimeout(function(){
		updateCart();
	},300);	
});

// Подгружаем товары и totals
function updateCart() {
  $.ajax({
    url: '/index.php?route=checkout/step2checkout/getCartProducts',
    dataType: 'html',
    success: function (html) {
		$('.checkout__order').html(html);
		setTimeout(function () {
			$('.custom-scroll').mCustomScrollbar();
		}, 300);	  
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}	

function loadShipping(){
  $.ajax({
    url: '/index.php?route=checkout/shipping_method',
    dataType: 'html',
    success: function (html) {
	  $('#wrap-for-shipping').html(html);
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

function setShipping(code){
  var comment = '';
  $.ajax({
    url: '/index.php?route=checkout/shipping_method/save',
	type: 'post',
	data: 'shipping_method=' + code + '&comment=' + comment,
	dataType: 'json',
    success: function (json) {
		setTimeout(function(){
			shippingFeelds();
			updateOrder();
		},200);	
    },
    error: function (xhr, ajaxOptions, thrownError) {
		alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

function shippingFeelds(){
  $.ajaxSetup ({cache: false});
  $.ajax({
    url: '/index.php?route=checkout/step2checkout/shippingMethodsFeelds',
	type: 'post',
    dataType: 'json',
    success: function (json) { 
      $('#wrap-for-fields-shipping').html(json.fields);
	  customSelect.update('select');
    },
    error: function (xhr, ajaxOptions, thrownError) {
      console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

$(document).on('change', 'select[name=\'city_ref\']', function() {
  $.ajax({
    url: '/index.php?route=checkout/step2checkout/shippingMethodsFeelds',
	type: 'post',
	data: 'cityref=' + this.value,
    dataType: 'json',
    success: function (json) { 
      $('#wrap-for-fields-shipping').html(json.fields);
	  customSelect.update('select');
    },
    error: function (xhr, ajaxOptions, thrownError) {
      console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });	
});

$(document).on('change', 'select[name=\'warehouse_ref\']', function() {
  $.ajax({
    url: '/index.php?route=checkout/step2checkout/shippingMethodsFeelds',
	type: 'post',
	data: 'warehouseref=' + this.value,
    dataType: 'json',
    success: function (json) { 
      $('#wrap-for-fields-shipping').html(json.fields);
	  customSelect.update('select');
    },
    error: function (xhr, ajaxOptions, thrownError) {
      console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });	
});

// при смене метода доставки
/**
 * Change shipping method
 **/
$(document).on('change', 'input[name=\'shipping_method\']', function() {
	var shipcode = $('input[name=\'shipping_method\']:checked').val();
	setTimeout(function(){
		setShipping(shipcode);
		setTimeout(function(){
			loadPayment();
			setTimeout(function(){
				updateCart();
			},100);
		},100);	
	},100);		
});

function loadPayment(){
  $.ajax({
    url: '/index.php?route=checkout/payment_method',
    dataType: 'html',
    success: function (html) {
		$('#wrap-for-payment').html(html);
    },
    error: function (xhr, ajaxOptions, thrownError) {
		alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

function setPayment(code){
  var comment = '';
  $.ajax({
    url: '/index.php?route=checkout/payment_method/save',
	type: 'post',
	data: 'payment_method=' + code + '&comment=' + comment + '&agree=1',
	dataType: 'json',
    success: function (json) {
		$.ajax({
			url: 'index.php?route=checkout/confirmst2ch',
			dataType: 'html',
			success: function(html) {
				$('#collapse-checkout-confirm').html(html);
				setTimeout(function(){
					updateOrder();
				},100);					
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}                
		});		
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

function updateOrder(){
  $.ajax({
    url: '/index.php?route=checkout/step2checkout/updateOrder',
	dataType: 'json',
    success: function (json) {
		if(json.error){ console.log(json.error); }
    },
    error: function (xhr, ajaxOptions, thrownError) {
		alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
};


/**
 * Change payment method
 **/
$(document).on('change', 'input[name=\'payment_method\']', function() {
	var paycode = $('input[name=\'payment_method\']:checked').val();
	setTimeout(function(){
		setPayment(paycode);
		setTimeout(function(){
			loadShipping();
			setTimeout(function(){
				updateCart();
			},100);
		},100);	
	},100);	
});

// Возврат на шаг 1 со 2го шага
$(document).on('click', '.btn-edit-step', function(){
	$('.step-2').removeClass('active');
	$('.step-1').addClass('active');
});

/* отловим момент когда написан комментарий */
$( ".form-input--textarea" ).blur(function() {
  var message = $( ".form-input--textarea" ).val();
  $.ajax({
    url: '/index.php?route=checkout/step2checkout/savemessage',
	type: 'post',
	data: 'message=' + message,
	dataType: 'json',
    success: function (json) {

    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
//--></script>
{{ footer }}