{{ text_received }}

{{ text_order_id }} {{ order_id }}
{{ text_date_added }} {{ date_added }}
{{ text_payment_method }} {{ payment_method }}
{{ text_shipping_method }} {{ shipping_method }}

{{ text_name }}: {{ name }}
{{ text_email }} {{ email }}
{{ text_phone }}: {{ telephone }}
 {% if delivery_address %}
{{ text_shipping_address }}: {{ delivery_address }}
 {% endif %}
 {% if delivery_address %}
	 {{ text_service_lift }} {{ service_lift }}
 {% endif %}


{{ text_product }}

{% for product in products %}
    {{ product.quantity }} x {{ product.name }} ({{ product.model }}) {{ product.total }}
    {{ text_href }} {{ product.href }}
    {% if product.option %}
        {% for option in product.option %}
			- {{ option.name }} {{ option.value }}
        {% endfor %}
    {% endif %}
{% endfor %} 
{% if vouchers %}

    {% for voucher in vouchers %}
		1x {{ voucher.description }} {{ voucher.amount }}
    {% endfor %}
{% endif %}
{{ text_total }}

{% for total in totals %}
    {{ total.title }}: {{ total.text }}
{% endfor %} 
  
{% if comment %}
    {{ text_comment }}

    {{ comment }}
{% endif %}

