<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
</head>


<body style="background-color: rgba(171, 114, 37, 0.2);font-family: 'Open Sans', sans-serif; color: #333333">
<div style="width: 600px; margin: 0 auto;">
  <div style="background-color: #15161a;text-align: center;padding: 30px 0;padding-bottom: 14px;"><img src="{{ site_url }}/front/dist/data/mail/logo.png" width="131" height="66" alt="{{ store_name }}">
  <p style="font-size:14px;color:#fff;text-align: center;width: 600px;margin: 0;text-transform: uppercase;">{{ text_title }}</p>
  </div>
  <div style="position: relative; background-color: rgba(171, 114, 37, 0.2);">
    <img style="vertical-align: top;" src="{{ site_url }}/front/dist/data/mail/top-img-222-{{ language_name }}.jpg" width="600" height="216" alt="{{ store_name }}">
  </div>

  <div>
    <div style="padding: 35px;background-color:#15161a;color: #969696;">
      <p style="font-size: 14px;color: #fff;line-height: 1.7;margin:0 0 10px;">{{ text_order_id }}
        <span style="color: #969696;">№{{ order_id }}</span></p>
      <p style="font-size: 14px;color: #fff;line-height: 1.7;margin:0 0 10px;">{{ text_date_added }}
        <span style="color: #969696;">{{ date_added }}</span></p>

      <p style="font-size: 14px;margin:0 0 35px;color: #fff;">{{ text_order_status }}
        <span style="font-size: 14px;color: #969696;">
            {{ order_status }}
        </span>
      </p>
      <p style="font-size: 14px; margin:0; padding-bottom: 20px;  border-bottom: 1px solid #3b3d45;">
        {{ text_greeting }}
      </p>
    </div>
    <div style="padding: 35px;background-color:#fcfcfc;color: #969696;">
      <div style="padding-bottom: 20px;color: #333; font-size: 18px; font-weight: bold; border-bottom: 1px solid #f0f0f0; margin-bottom: 30px;">
        {{ text_in_order }}
      </div>
      {% for product in products %}
        <div style="display:flex;flex-direction:row;margin-bottom: 30px; padding: 20px 35px 20px 0;  border-bottom: 1px solid #f0f0f0;">
        <div style="
          margin-right: 10px;
      ">
          <img src="{{ product.image }}" width="240" height="171" alt="{{ product.name }}">
        </div>
        <div style="max-width: 310px;width: 100%;">
          <div style="font-size: 16px;font-weight: bold; padding-bottom: 10px; color: #333;">{{ product.name }}</div>
          <ul style="list-style: none;padding: 0;">
            {% if product.option %}
              {% for option in product.option %}
                <li style="font-size: 12px;margin-bottom: 10px; overflow: hidden">
                  <span style="color: #999;width: 70px;display: inline-block;font-size: 11px; float: left;">{{ option.name }}:</span>
                  <span style="font-size: 13px; color:#333; display: block; overflow: hidden">{{ option.value }}</span>
                </li>
              {% endfor %}
            {% endif %}
            <li style="font-size: 12px;margin-bottom: 10px;"><span style="color: #999;min-width: 70px;display: inline-block;font-size: 11px;">{{ text_quantity }}</span>
              <span style="font-size: 13px; color:#333">{{ product.quantity }} {{ text_sht }}</span>
            </li>
            <li style="font-size: 12px;margin-bottom: 10px;"><span style="color: #999;min-width: 70px;display: inline-block;font-size: 11px;">{{ text_price }}</span>
              <span style="font-size: 13px; color:#333;font-weight: bold;">{{ product.total }}</span>
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}
      <div>
        <ul style="list-style: none;padding: 0;margin: 0;">
          {% for total in totals %}
          <li style="font-size: 14px; margin-bottom: 20px;overflow: hidden;">
            <span style="color: #999; width: 170px;float: left;">{{ total.title }}:</span>
            <span style="margin-left:20px; color: #333; font-weight: 600;float: right;text-transform: uppercase;">{{ total.text }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div style="padding: 20px 0; color: black;">
        {{ pay_onlayn_text }}
      </div>
    </div>



    <div style="
      background: #fff;
      padding: 50px 0;
      text-align: center;
  ">
      <div style="
        position: relative;
        margin-bottom: 50px;
    ">
          <span style="
          position: absolute;
          left: 0;
          width: 100%;
          top: 12px;
          border-bottom: 1px solid #d9d9d9;
      "></span>
        <div style="
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0 50px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
">{{ text_social }}</div>
      </div>
      <div>
          <a href="{{ pinterest }}" rel="nofollow" target="_blank" style="
          position: relative;
          margin: 0 20px;
          width: 69px;
          height: 69px;
          cursor: pointer;
          text-decoration: none;
          display: inline-block;
    line-height: 50px;
      ">
              <img style="position: relative;" src="{{ site_url }}/front/dist/data/mail/pin.png" alt="..." width="69" height="69">
          </a>
          <a href="{{ facebook }}" rel="nofollow" target="_blank" style="
          position: relative;
          margin: 0 20px;
          width: 69px;
          height: 69px;
          cursor: pointer;
          text-decoration: none;
          display: inline-block;
    line-height: 50px;
      ">
              <img style="position: relative;" src="{{ site_url }}/front/dist/data/mail/face.png" alt="..." width="69" height="69">
          </a>
          <a href="{{ instagram }}" rel="nofollow" target="_blank" style="
          position: relative;
          margin: 0 20px;
          width: 69px;
          height: 69px;
          cursor: pointer;
          text-decoration: none;
          display: inline-block;
    line-height: 50px;
      ">
            <img style="position: relative;" src="{{ site_url }}/front/dist/data/mail/inst.png" alt="..." width="69" height="69">
          </a>
      </div>
    </div>


    <div style="
      overflow: hidden;
      padding: 20px 35px;
      color: #808080;
      font-size: 10px;
      background: #15161a;
  ">
      <div style="
        float: left;
    ">
        <div style="
          display: inline-block;
          margin-right: 10px;
      ">{{ text_control }}</div>
        <a style="
          color: #fff;
          text-decoration: none;
      " href="tel:{{ quality }}">{{ quality }}</a>
      </div>
      <div style="
        float: right;
    ">{{ current_year }}</div>
    </div>
    <div style="
      background: #2b2d2f;
      text-align: center;
      padding: 20px 75px;
      color: #999;
      font-size: 10px;
  ">{{ text_footer }}</div>
  </div>
</div>
</body>
</html>
