/************************************************************************************************
  FOOTER DEFFAULT
*************************************************************************************************/
footer{ 
  /*FOOTER BOTTOM*/
  .module{
    margin-bottom: 0;
  }

}

footer.typefooter-1 .footer-middle ul li a:hover{
	color: $linkColor !important;
}
footer.typefooter-1 .footer-bottom .copyright-footer a{
	 color: $linkColor !important;
    display: inline-block;
    &:hover {
        color: #fff !important;
    }
}
footer.typefooter-1 .footer-middle .contact-footer ul li a{
	color: #fff !important;
	&:hover{
		color: $linkColor !important;
	}
}
footer.typefooter-1 .footer-bottom .copyright-footer a:hover{
  color: #fff;
}
footer.typefooter-1 .footer-middle ul.menu li:hover a,
 footer.typefooter-1 .footer-middle ul.menu li:hover:before,
footer.typefooter-1 .footer-top .policy-shop .content-policy:hover h2, 
footer.typefooter-1 .footer-top .policy-shop .content-policy:hover .fa,
footer.typefooter-1 .footer-middle .contact-footer a:hover,
footer.typefooter-1 .footer-bottom .socials-wrap ul li a:hover,
footer.typefooter-1 .footer-bottom .copyright-footer a,
footer.typefooter-1 .footer-middle ul.menu li a:hover{
  color: $linkColor !important;
}
footer.typefooter-1 .footer-top .news-letter .block_content .subcribe button:hover,
footer.typefooter-1 .back-to-top .fa,
footer.typefooter-1 .footer-top .news-letter .block_content form .send-mail,
footer.typefooter-1 .footer-middle .footer-title:before{
  background: $background !important;
}
footer.typefooter-1 .footer-top .news-letter .block_content .subcribe{
  border-left: 2px solid $background !important;
}
footer.typefooter-1 .footer-top .policy-shop .content-policy:hover{
  border-color: $background !important;
}