
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/************************************************************************************************
  FOOTER DEFFAULT
*************************************************************************************************/
footer.typefooter-1{ 
    background:  url(../../images/bg-footer.png) repeat center center;
    position: relative;
   
   .footer-top {
    background: #f5f5f5;
    padding: 30px 0;
    position: relative;
    @include breakpoint(lg){
      padding: 60px 0;
    }
    &.inactive{
        display: none;
    }
   
     .policy-shop{
          clear: both;
           .row{
              margin: 0 -10px;
          }
          .row [class*="col-"]{
              padding: 0 10px;
          }
          .content-policy {
              border:1px solid #ebeaea;
              background: #fff;
              cursor: pointer;
              padding: 30px 10px 13px;
              padding-#{$left}: 100px;
              position: relative;
              &:hover{
                  border-color: $linkColor;
                  h2,.fa{
                      color: $linkColor;
                  }
              }

              .icon {
                     margin-bottom: 12px;
                  font-size: 46px;
                  color: #ccc;
                  position: absolute;
                  #{$left}: 30px;
                  margin: 0;
                  top: 27px;
              }
              h2 {
                  color: #222222;
                  font-size: 16px;
                  font-weight: bold;
                  text-transform: uppercase;
                  margin-bottom: 2px;
              }
              p {
                  color: #666666;
                  font-size: 12px;
              }
          }
      } 
       /*NEWLETTER*/
    .news-letter{
      padding-top: 65px;
      overflow: hidden;
      text-align: center;
      .page-heading { 
        color: #222;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;
      }
      .pre-text {
          font-size: 14px;
          color: #666;
          margin-bottom: 24px;
      }
      .block_content{
        form {
          
          .send-mail{
            padding: 2px;
             background: $background;
          }
          .form-group {margin: 0px; overflow: hidden;}
        }
        .show-error{
          display: block;
        }
        .input-box{float: $left;
          position: relative;
          &:before{
            content: "";
            width: 30px;
            height: 30px;
            background: #fff;
            background: url(../../images/icon-image.png) no-repeat -16px -61px;
            position: absolute;
            #{$left}: 5px;
            top: 9px;
          }
          input {
            padding-#{$left}: 44px;
            color: #999999;
            height: 48px;
            border: none;
            width: 100%;
            font-size: 14px;
            background: #fff;
            @include border-radius(0);
            
          } 
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
             color: #999999;
            }
            ::-moz-placeholder { /* Firefox 19+ */
              color: #999999;
            }
            :-ms-input-placeholder { /* IE 10+ */
              color: #999999;
            }
            :-moz-placeholder { /* Firefox 18- */
              color: #999999;
            }
        } 
        .subcribe{#{$right}: 2px; position: absolute; border-#{$left}: 2px solid $background;
          button{   height: 48px; text-transform: uppercase; 
            font-size: 13px;transition: 0.3s all ease 0s;
            font-weight: normal; background-color: #222222; color: #fff; 
           
            @include breakpoint(lg){ padding: 0 20px; }
            &:hover{
              background: $background;
            }
          }
          
        } 
      }
    }
  }
  .footer-middle {
     padding: 100px 0;
     color: #fff;
     font-size: 12px;
    position: relative;
     .footer-title{
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 18px;
        &:before{
          content: "";
          background: $background;
          width: 40px;
          height: 3px;
          position: absolute;
          #{$left}: 0;
          bottom: 0;
        }
     }
     .contact-footer{
      margin-bottom: 24px;
      .fa{
        margin-#{$right}: 10px;
      }
      a{
        color: #fff;
      }
     } 
     ul.menu{
      li{
        position: relative;
        padding-#{$left}: 10px;
        a{
          color: #fff;
        }
        &:before{
          content: '\f0da';
          font-family: 'FontAwesome';
          width: 10px;
          height: 10px;
          position: absolute;
          #{$left}: 0;
          top: 0;
        }
         &:hover{
          a,&:before{
            color: $linkColor;
          }
        }
      }
    }

  }
  .footer-bottom {
    background: rgba(68,68,68,.6);
    padding: 15px 0;
    color: #fff;
    .copyright-footer{
      margin-top: 5px;
      font-size: 12px;
      a{
        color: $linkColor;
        display: inline-block;
        &:hover {
            color: #fff;
        }
      }
    }
    .socials-wrap {
     float: $right;
      .title-follow {
          display: none;
      }
       ul {
          display: table-cell;
          padding-top: 5px;
          li {
              float: $left;
              position: relative;
              &:first-child{
                &:before{
                  display: none;
                }
              }
              &:before{
                content: "";
                width: 1px;
                height: 22px;
                background: rgba(255,255,255,.1);
                position: absolute;
                #{$left}: 0;
                top: 0;

              }
              a {
                padding: 0 20px;
                color: #ccc; 
                  &:hover {
                      color: $linkColor;
                  }
                  .name-social {
                    display: none;
                  }

              }
          }
      }
    } 
  }
   .back-to-top{
    position: absolute;
    top: -1px;
    height: 50px;
    #{$left}: 50%;
    margin-#{$left}: -180px;
    width: 0px;
    width: 0px;
    border-#{$left}: 180px solid transparent;
    border-#{$right}: 180px solid transparent;
    border-top: 30px solid #f5f5f5;
    .icon{
      position: relative;
      padding: 10px;
      border: 1px solid rgba(255, 255, 255, .32);
      margin-#{$left}: -35px;
      margin-top: -37px;
      width: 70px;
      height: 70px;
      cursor: pointer;
      @include border-radius(50%);
      &:before{
        content: "";
        width: 90px;
        height: 90px;
         border: 1px solid rgba(255, 255, 255, .32);
         #{$left}: -10px;
         top: -10px;
         position: absolute;
          @include border-radius(50%);
      }
    }
    .fa{
     font-size: 26px;
      color: #fff;
      background: $background;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
     
    }
  }
}  