{{ header }}
<div class="error-section">
  <div class="error-section__box">
    <div class="error-section__wrap">
      <div class="error-section__title">404</div>
      <div class="error-section__note">{{ text_error }}</div>
      <div class="error-section__btn">
        <a href="{{ continue }}" class="btn-link">{{ button_home }}
          <svg width='20' height='10'>
            <use xlink:href='/front/dist/images/sprite.svg#arrow-right' />
          </svg>
        </a>
      </div>
      <form class="error-section__search" action="{{ link_search }}">
        <input type="text" name="search" class="error-section__search-input" placeholder="{{ button_search_404 }}">
        <button type="submit" class="error-section__search-btn"><svg width="16" height="16"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#search"></use></svg></button>
      </form>
      <div class="error-section__catalog">
        <ul class="error-section__catalog-cell" style="display: flex;flex-wrap: wrap;">
          {% for categorie in categories %}
          <li class="error-section__catalog-item" style="flex-grow: 1;width: 33%;display: inline-block;"><a href="{{categorie.href}}" class="error-section__catalog-link">{{categorie.name}}</a></li>
          {% endfor %}
          </ul>

      </div>
    </div>
  </div>
  <div class="error-section__bg"></div>
</div>

<script src="/front/dist/js/app.js"></script>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
