@charset "UTF-8";
/*============HEADER V1 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #be3d20;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 14px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 14px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img.second_img .img-1 {
  position: relative;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img.second_img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  display: block;
  /*@include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
  left: 0;
}
.lib-two-img-over.second_img .img-1 {
  opacity: 0;
  /*transform-style: inherit;
   @include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over.second_img .img-2 {
  opacity: 1;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 [2] BLOCK FOOTER
 ==============================================*/
.typeheader-1 .header-top {
  padding: 31px 0;
}
.typeheader-1 .header-top .logo-content {
  margin-bottom: 0;
}
.typeheader-1 .header-top .so-search .autosearch-input {
  height: 40px;
  border: 1px solid #ebeaea;
  background: none;
}
.typeheader-1 .header-top .so-search .button-search {
  height: 40px;
  padding: 9px 16px 11px;
}
.typeheader-1 .header-top .so-search .button-search i {
  display: none;
}
.typeheader-1 .header-top .setting {
  float: right;
  position: relative;
  padding-right: 15px;
}
.typeheader-1 .header-top .setting .fa {
  font-size: 26px;
  color: #222;
  margin: 6px 0;
  cursor: pointer;
}
.typeheader-1 .header-top .setting:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
.typeheader-1 .header-top .setting .account .dropdown-menu, .typeheader-1 .header-top .setting .box-lang-cunrent .dropdown-menu {
  display: bllock;
  opacity: 1;
  visibility: visible;
}
.typeheader-1 .header-top .setting .dropdown-menu {
  padding: 10px;
}
.typeheader-1 .header-top .setting .dropdown-toggle {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #222;
  padding: 0;
}
.typeheader-1 .header-top .setting .dropdown-toggle .btn-group .btn-link:hover {
  color: #222;
}
.typeheader-1 .header-top .setting ul.dropdown {
  padding-left: 15px;
  margin-bottom: 10px;
}
.typeheader-1 .header-top .block-cart {
  float: right;
  position: relative;
  padding-left: 15px;
}
.typeheader-1 .header-top .block-cart:before {
  content: "";
  width: 1px;
  height: 20px;
  background: #ddd;
  position: absolute;
  left: 0;
  top: 9px;
}
.typeheader-1 .header-top .block-cart .title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #222;
}
.typeheader-1 .header-top .block-cart .handle {
  background: url(../../images/icon-image.png) no-repeat -13px -13px;
  width: 36px;
  height: 34px;
}
.typeheader-1 .header-top .block-cart .total-shopping-cart {
  font-size: 12px;
  color: #be3d20;
  margin-bottom: 0;
  margin-top: -9px;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box {
  min-width: 300px;
  top: 110% !important;
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.255);
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.255);
}
.typeheader-1 .header-top .block-cart .shoppingcart-box:before {
  content: "";
  display: block;
  background: transparent;
  height: 25px;
  position: absolute;
  top: -25px;
  width: 100%;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box:after {
  content: '';
  position: absolute;
  top: -8px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #666;
  left: 85%;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box p.empty {
  padding-top: 15px;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box .minicart-title {
  background: #666;
  padding: 0 25px;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box .minicart-title span {
  font-size: 12px;
  color: #fff;
  line-height: 41px;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box .minicart-title span.price-title {
  float: right;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box li.content-item {
  background: #f2f2f2;
  margin-bottom: 15px;
  padding: 0 15px;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box li.content-item table {
  margin-bottom: 0;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box li.content-item .table-striped > tbody > tr:nth-of-type(odd) {
  background: none;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box .checkout {
  padding: 0 15px;
  margin-bottom: 15px;
}
.typeheader-1 .header-top .block-cart .shoppingcart-box .table > tbody > tr > td, .typeheader-1 .header-top .block-cart .shoppingcart-box .table > tbody > tr > th, .typeheader-1 .header-top .block-cart .shoppingcart-box .table > tfoot > tr > td, .typeheader-1 .header-top .block-cart .shoppingcart-box .table > tfoot > tr > th, .typeheader-1 .header-top .block-cart .shoppingcart-box .table > thead > tr > td, .typeheader-1 .header-top .block-cart .shoppingcart-box .table > thead > tr > th {
  border: none;
}
.typeheader-1 .header-bottom {
  background: #222;
}
.typeheader-1 .header-bottom .horizontal {
  float: left;
}
.typeheader-1 .header-bottom .horizontal ul.megamenu > li > a {
  color: #fff;
  font-weight: normal;
  padding: 13px 22px 13px 0;
}
@media (min-width: 1200px) {
  .typeheader-1 .header-bottom .horizontal ul.megamenu > li > a {
    padding: 13px 32px 13px 0;
  }
}
.typeheader-1 .header-bottom .horizontal ul.megamenu > li > a:active, .typeheader-1 .header-bottom .horizontal ul.megamenu > li > a:hover {
  color: #be3d20;
}
.typeheader-1 .header-bottom .horizontal ul.megamenu > li > a strong {
  font-weight: normal;
}
.typeheader-1 .header-bottom .container-megamenu.vertical #menuHeading {
  height: 51px;
}
.typeheader-1 .header-bottom .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
  height: 51px;
}
.typeheader-1 .header-bottom .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container {
  line-height: 51px;
  background: #be3d20;
}
.typeheader-1 .header-bottom .container-megamenu.vertical .vertical-wrapper ul.megamenu {
  border: 1px soli #ebeaea;
}
.typeheader-1 .header-bottom .container-megamenu.vertical:after {
  display: none;
}
.typeheader-1 .header-bottom .header-block1 {
  float: right;
}
.typeheader-1 .header-bottom .header-block1 .module {
  margin-bottom: 0;
}
.typeheader-1 .header-bottom .socials-wrap {
  float: right;
  padding: 10px;
  background: rgba(255, 255, 255, .1);
}
.typeheader-1 .header-bottom .socials-wrap ul {
  display: table-cell;
  padding-top: 5px;
}
.typeheader-1 .header-bottom .socials-wrap ul li {
  float: left;
  position: relative;
}
.typeheader-1 .header-bottom .socials-wrap ul li a {
  padding: 0 5px;
  color: #c4c4c4;
}
.typeheader-1 .header-bottom .socials-wrap ul li a:hover {
  color: #be3d20;
}
.typeheader-1 .header-bottom .socials-wrap ul li a .name-social {
  display: none;
}
@media (max-width: 991px) {
  .typeheader-1 .header-top .block-cart .total-shopping-cart, .typeheader-1 .header-top .block-cart .title {
    display: none;
  }
}
