<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-right">{{ column_order_id }}</td>
        <td class="text-left">{{ column_customer }}</td>
        <td class="text-right">{{ column_amount }}</td>
        <td class="text-left">{{ column_date_added }}</td>
      </tr>
    </thead>
    <tbody>
      {% if histories %}
      {% for history in histories %}
      <tr>
        <td class="text-right"><a href="{{ history.order_href }}">{{ history.order_id }}</a></td>
        <td class="text-left">{{ history.customer }}</td>
        <td class="text-right">{{ history.amount }}</td>
        <td class="text-left">{{ history.date_added }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td class="text-center" colspan="4">{{ text_no_results }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>
