{{ header }}
{{ content_top }}
<div class="top-section lazy-bg" {#style="background-image: url({{ background }})"#} data-srcbg="{{ background }}">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>
<div class="content content--pb">
    <div class="section">
        {% if categories %}
            <div class="catalog-menu">
                {% for category in categories %}
                    <a href="{{ category.href }}" class="catalog-menu__item{% if category_active == category.id %} active{% endif %}">
                        <div class="catalog-menu__thumb">
                            <img src="{{ category.image }}" alt="{{ category.name }}">
                        </div>
                        <div class="catalog-menu__title">{{ category.name }}</div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        {% if total_products != 0 %}
            <div class="catalog-filter">
                <div class="catalog-sort">
                    <div class="catalog-sort__title">
                        <svg width='13' height='10'>
                            <use xlink:href='/front/dist/images/sprite.svg#catalog-sort-1' />
                        </svg>
                        {{ text_sort_block }}
                    </div>
                    {% if sorts %}
                        <div class="catalog-sort__list" onchange="location = this.value;">
                            {% set counter = 2 %}
                            {% for sorts in sorts %}
                                <a href="{{ sorts.href }}" class="catalog-sort__item{% if sorts.value == '%s-%s'|format(sort, order) %} active{% endif %}">
                                    <svg width='20' height='20'>
                                        <use xlink:href='/front/dist/images/sprite.svg#catalog-sort-{{ counter }}' />
                                    </svg>
                                    <div class="catalog-sort__tip">{{ sorts.text }}</div>
                                </a>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="catalog-sort">
                    <div class="price-range-block">
                        <div class="price-range-title">{{ text_price }}</div>
                        <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                        <div class="price-range-inputs">
                            <div>
                                <div class="price-input">
                                    <input type="number" name="price_min" max="{{ default_max_price }}" value="{{ price_min }}" id="min_price" class="price-range-field" />
                                </div>
                                <div class="currency-range">{{ currency_code }}</div>
                            </div>
                            <div>
                                <div class="price-input">
                                    <input type="number" name="price_max" max="{{ default_max_price }}" value="{{ price_max }}" id="max_price" class="price-range-field" />
                                </div>
                                <div class="currency-range">{{ currency_code }}</div>
                            </div>
                        </div>
                        <a href="{{ current_category_href }}" class="price-range-clear"{% if not active_filter %} style="display:none;"{% endif %} title="{{ text_remove_filter }}">
                            <svg>
                                <use xlink:href='/front/dist/images/sprite.svg#close' />
                            </svg>
                        </a>
                        <button class="price-range-search" id="price-range-submit">{{ text_filter_price }}</button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="catalog-filter__results">
            {% if total_products == 0 %}
                <div class="no-products">{{ text_empty }}</div>
            {% endif %}
            <div class="product-thumb__list row animation-parent" id="all-products">
                {% if products %}
                    {% for product in products %}
                        {% if product.product_id %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-block animation-item">
                                <div class="product-thumb">
                                    {% if product.promos %}
                                        {% for label in product.promos %}
                                            <div class="product-thumb__label">{{ label.promo_text }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="product-thumb__favorite add-to-favorite{% if product.is_wishlist %} active{% endif %}" {% if product.is_wishlist %}onclick="wishlist.remove('{{ product.product_id }}');"{% else %}onclick="wishlist.add('{{ product.product_id }}');"{% endif %} data-id="{{ product.product_id }}">
                                        <span class="title-favorite">{{ add_wishlist }}</span>
                                        <svg class="product-thumb__favorite--icon" width="24" height="21">
                                            <use xlink:href="/front/dist/images/sprite.svg#heart" />
                                        </svg>
                                    </div>
                                    <div class="product-thumb__content">
                                        {% if product.images %}
                                            <a href="{{ product.href }}" class="product-thumb__image">
                                                {% set counter = 1 %}
                                                {% for image in product.images %}
                                                    <img{% if counter == 2 %} class="product-thumb__hover"{% endif %} src="/images/no_photo_white.png" data-src="{{ image.thumb }}" alt="{{ product.name }}" width="" height="">
                                                    {% set counter = counter + 1 %}
                                                {% endfor %}
                                            </a>
                                        {% endif %}
                                        <a href="{{ product.href }}" class="product-thumb__title">{{ product.name }}</a>
                                        {% if product.price %}

                                            {% if not product.special %}
                                                <div class="product-thumb__price">{{ text_vid }}{{ product.mpn }}</div>
                                            {% else %}
                                                <div class="product-thumb__price">
                                                    <div class="product-thumb__price--old">{{ product.price }}</div>
                                                    <div class="product-thumb__price--new">{{ product.special }}</div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-thumb__btn">
                                        <a href="{{ product.href }}" class="btn">{{ text_more }}</a>
                                    </div>
                                </div>
                            </div>
                        {% elseif product.banner_id  %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-block animation-item">
                                <a href="{{ product.link }}" class="advertising" target="_blank">
                                    <img class="advertising__img" src="/images/no_photo_white.png" data-src="{{ product.image }}" alt="{{ product.alt }}" width="100%" height="100%">
                                    <div class="advertising__text">{{ product.title }}</div>
                                </a>
                            </div>


                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% if limit < total_products %}

                <div id="load-more-infinity" data-limit="{{ limit }}" data-page="{{ page }}" data-max="{{ total_products }}"></div>
                {#<div class="news-thumb__btn" id="load-block">
                    <div class="main-section__line main-section__line--black main-section__line--relative"></div>
                    <a href="#" class="btn-link" id="load-more-products" data-limit="{{ limit }}" data-page="{{ page }}" data-max="{{ total_products }}">{{ text_load_more }}
                        <span class="btn-link__icon">
                          <svg width='16' height='16'>
                            <use xlink:href='/front/dist/images/sprite.svg#load' />
                          </svg>
                      </span>
                    </a>
                </div>#}
                {#<div class="pagination-product-list">
                    <ul>
                        {% set pages = (total_products / limit) | round(0, 'ceil') %}
                        {% for i in range(1, pages) %}
                            {% if page - 2 <= i and page + 2 >= i %}
                                {% if i == 1 %}
                                    <li class="{% if i == page %}active{% endif %}"><a href="{{ current_category_href }}">{{ i }}</a></li>
                                {% else %}
                                    <li class="{% if i == page %}active{% endif %}"><a href="{{ current_category_href }}?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>#}
            {% endif %}
        </div>
    </div>
    {% if description and page == 1 %}
        <div class="info-section info-section--full">
            <div class="section">
                <div class="info-section__box">
                    <h2>{{ h1 }}</h2>
                    <!-- .scroll-malihu add if need scroll -->
                    <div class="info-section__text text full-height">
                        {{ description }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{{ content_bottom }}
{% if total_products != 0 %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            if ($(document).scrollTop() >= 300) {
                $('.product-block').removeClass('animation-item');
            }

            $.urlParam = function(name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results==null){
                    return null;
                }
                else{
                    return decodeURI(results[1]) || 0;
                }
            };

            if ($.urlParam('sort')) {
                var sort = $.urlParam('sort');
            } else {
                var sort = 'p.sort_order';
            }

            if ($.urlParam('order')) {
                var order = $.urlParam('order');
            } else {
                var order = 'ASC';
            }

            {#
            $.ajax({
                url: 'index.php?route=product/category/getProductsAjax',
                data: '&price_min=' + $("#min_price").val() + '&price_max=' + $("#max_price").val() + '&sort=' + sort + '&order=' + order + '&filter_category_id={{ session_category }}',
                cache: false,
                success: function (html) {

                    $('#all-products').html(html);

                    if ($('#load-more-products').data('limit') >= $('#load-more-products').data('max')) {
                        $('#load-block').remove();
                    } else {
                        $('#load-block').show();
                    }
                    if ($('.product-block').length == $('#load-more-products').data('max')) {
                        $('#load-block').remove();
                    } else {
                        $('#load-block').show();
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
            #}

            /*$('#load-more-products').on('click', function (event) {
                event.preventDefault();

                $.urlParam = function(name) {
                    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                    if (results==null){
                        return null;
                    }
                    else{
                        return decodeURI(results[1]) || 0;
                    }
                };

                if ($.urlParam('sort')) {
                    var sort = $.urlParam('sort');
                } else {
                    var sort = 'p.sort_order';
                }

                if ($.urlParam('order')) {
                    var order = $.urlParam('order');
                } else {
                    var order = 'ASC';
                }

                var default_limit = {{ limit }};
                var default_page = {{ page }};
                var new_limit = $('#load-more-products').data('limit') + default_limit;
                var new_page = $('#load-more-products').data('page') + default_page;

                $('#load-more-products').data('limit', new_limit);
                $('#load-more-products').data('page', new_page);

                if (new_limit >= $('#load-more-products').data('max')) {
                    $('#load-block').remove();
                } else if ($('#load-more-products').data('limit') >= $('#load-more-products').data('max')) {
                    $('#load-block').remove();
                } else if ($('.product-block').length == $('#load-more-products').data('max')) {
                    $('#load-block').remove();
                }

                $.ajax({
                    url: 'index.php?route=product/category/getProductsAjax',
                    type: 'get',
                    data: '&price_min=' + $("#min_price").val() + '&price_max=' + $("#max_price").val() + '&limit=' + new_limit + '&page=' + new_page + '&sort=' + sort + '&order=' + order + '&filter_category_id={{ session_category }}',
                    success: function (html) {
                        $('#all-products').append(html);
                        $('.animation-parent .animation-item:not(.animations)').each((index, element) => {
                            setTimeout(() => {
                                $(element).addClass('animations')
                            }, 300 * index)
                        })
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            });*/

            /*$(window).on('scroll', function (event) {
                if($("#load-more-infinity").length > 0) {
                    var loadMorePosition = $("#load-more-infinity").offset().top;
                }

                if(loadMorePosition && $(window).scrollTop() + 1000 > loadMorePosition) {
                    event.preventDefault();

                    $.urlParam = function (name) {
                        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                        if (results == null) {
                            return null;
                        } else {
                            return decodeURI(results[1]) || 0;
                        }
                    };

                    if ($.urlParam('sort')) {
                        var sort = $.urlParam('sort');
                    } else {
                        var sort = 'p.sort_order';
                    }

                    if ($.urlParam('order')) {
                        var order = $.urlParam('order');
                    } else {
                        var order = 'ASC';
                    }

                    var default_limit = {{ limit }};
                    var default_page = {{ page }};
                    var new_limit = $('#load-more-infinity').data('limit') + default_limit;
                    var new_page = $('#load-more-infinity').data('page') + default_page;

                    $('#load-more-infinity').data('limit', new_limit);
                    $('#load-more-infinity').data('page', new_page);

                    if (new_limit >= $('#load-more-infinity').data('max')) {
                        $('#load-block').remove();
                    } else if ($('#load-more-infinity').data('limit') >= $('#load-more-infinity').data('max')) {
                        $('#load-block').remove();
                    } else if ($('.product-block').length == $('#load-more-infinity').data('max')) {
                        $('#load-block').remove();
                    }

                    $.ajax({
                        url: 'index.php?route=product/category/getProductsAjax',
                        type: 'get',
                        data: '&price_min=' + $("#min_price").val() + '&price_max=' + $("#max_price").val() + '&limit=' + new_limit + '&page=' + new_page + '&sort=' + sort + '&order=' + order + '&filter_category_id={{ session_category }}',
                        success: function (html) {
                            $('#all-products').append(html);
                            $('.animation-parent .animation-item:not(.animations)').each((index, element) => {
                                setTimeout(() => {
                                    $(element).addClass('animations')
                                }, 300 * index)
                            })
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            });*/

            $('#max_price').on('change paste keyup', function() {
                $('.price-range-clear').removeAttr('style');
            });

            $("#min_price,#max_price").change(function () {

                var min_price_range = parseInt($("#min_price").val());

                var max_price_range = parseInt($("#max_price").val());

                $("#slider-range").slider({
                    values: [min_price_range, max_price_range]
                });

            });


            $("#min_price,#max_price").on("keyup", function () {

                var min_price_range = parseInt($("#min_price").val());

                var max_price_range = parseInt($("#max_price").val());

                $("#slider-range").slider({
                    values: [min_price_range, max_price_range]
                });

            });

            $("#slider-range").slider({
                range: true,
                orientation: "horizontal",
                min: {{ default_min_price }},
                max: {{ default_max_price }},
                values: [{{ price_min }}, {{ price_max }}],
                step: 1,
                slide: function (event, ui) {
                    $("#min_price").val(ui.values[0]);
                    $("#max_price").val(ui.values[1]);
                    $('.price-range-clear').removeAttr('style');
                }
            });

            var onChange = function() {
                $("#slider-range").slider({
                    slide: function (event, ui) {
                        $("#min_price").val(ui.values[0]);
                        $("#max_price").val(ui.values[1]);
                        $('.price-range-clear').removeAttr('style');
                    }
                });
            };

            document.addEventListener('change', onChange) // For IE11
            $("#min_price").val($("#slider-range").slider("values", 0));
            $("#max_price").val($("#slider-range").slider("values", 1));

            $('#price-range-submit').click(function () {

                //let searchParams = new URLSearchParams(window.location.search);
                var current_url = window.location.href;
                if ($.urlParam('sort')) {
                    var price_min = $.urlParam('price_min');
                    var price_max = $.urlParam('price_max');

                    if (price_min && price_max) {

                        var url = new URL(current_url);
                        var query_string = url.search;

                        var search_params = new URLSearchParams(query_string);

                        search_params.set('price_min', $("#min_price").val());
                        search_params.set('price_max', $("#max_price").val());
                        url.search = search_params.toString();

                        var new_url = url.toString();
                        location.href = new_url;
                    } else {
                        location.href = current_url + '&price_min=' + $("#min_price").val() + '&price_max=' + $("#max_price").val();
                    }
                } else {
                    var url = new URL(current_url);
                    current_url = url.origin + url.pathname;
                    location.href = current_url + '?price_min=' + $("#min_price").val() + '&price_max=' + $("#max_price").val();
                }

            });
        });
    </script>
{% endif %}
{{ footer }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>