<div class="section section--a contacts-triggers">
    <div class="heading__wrapper">
        <div class="heading heading--center heading--largemb">{{ text_where_buy }}</div>
    </div>
    <div class="contacts-triggers__list">
        <div class="contacts-triggers__item">
            <div class="contacts-triggers__thumb">
                <svg width='30' height='45'>
                    <use xlink:href='/front/dist/images/sprite.svg#contacts-triggers-1' />
                </svg>
            </div>
            <div class="contacts-triggers__title">{{ text_store }}</div>
            <div class="contacts-triggers__info">
                <address class="contacts-triggers__note">{{ address }}</address>
                <a href="tel:+380501416587" class="contacts-triggers__note">{{ phone }}</a>
                <a href="mailto:info@delavega.ua" class="contacts-triggers__note">{{ email }}</a>
            </div>
        </div>
        <div class="contacts-triggers__item">
            <div class="contacts-triggers__thumb">
                <svg width='25' height='35'>
                    <use xlink:href='/front/dist/images/sprite.svg#contacts-triggers-3' />
                </svg>
            </div>
            <div class="contacts-triggers__title">{{ text_block_sale }}</div>
            <div class="contacts-triggers__info">
                <a href="tel:{{ sale_phone }}" class="contacts-triggers__note">{{ sale_phone }}</a>
                <a href="mailto:{{ sale_email }}" class="contacts-triggers__note">{{ sale_email }}</a>
            </div>
        </div>
        <div class="contacts-triggers__item">
            <div class="contacts-triggers__thumb">
                <svg width='36' height='36'>
                    <use xlink:href='/front/dist/images/sprite.svg#contacts-triggers-new' />
                </svg>
            </div>
            <div class="contacts-triggers__title">{{ text_open }}</div>
            <div class="contacts-triggers__info">
                <a href="tel:{{ quality }}" class="contacts-triggers__note">{{ quality }}</a>
            </div>
        </div>
        <div class="contacts-triggers__item">
            <div class="contacts-triggers__thumb">
                <svg width='40' height='39'>
                    <use xlink:href='/front/dist/images/sprite.svg#contacts-triggers-4' />
                </svg>
            </div>
            <div class="contacts-triggers__title">{{ text_block_marketing }}</div>
            <div class="contacts-triggers__info">
                <a href="tel:{{ marketing_phone }}" class="contacts-triggers__note">{{ marketing_phone }}</a>
                <a href="mailto:{{ marketing_email }}" class="contacts-triggers__note">{{ marketing_email }}</a>
            </div>
        </div>
    </div>
</div>
<div class="contacts section">
    <div class="heading__wrapper">
        <div class="heading heading--center heading--largemb">{{ text_location }}</div>
    </div>
    <div id="map"></div>
    {% if locations %}
        <div class="contacts-map__list">
            {% for location in locations %}
                <div class="contacts-map__item">
                    {% if location.name %}
                        <div class="contacts-map__city">{{ location.name }}:</div>
                    {% endif %}
                    <div class="contacts-map__info">
                        {% if location.address %}
                            <address class="contacts-map__note">{{ location.address }}</address>
                        {% endif %}
                        {% if location.open %}
                            <span class="contacts-map__note">{{ location.open }}</span>
                        {% endif %}
                        {% if location.comment %}
                            <span class="contacts-map__note">{{ location.comment }}</span>
                        {% endif %}
                        {% if location.phone %}
                            <a href="tel:{{ location.phone }}" class="contacts-map__note">{{ location.phone }}</a>
                        {% endif %}
                        {% if location.phone2 %}
                            <a href="tel:{{ location.phone2 }}" class="contacts-map__note">{{ location.phone2 }}</a>
                        {% endif %}
                        {% if location.email %}
                            <a href="mailto:{{ location.email }}" class="contacts-map__note">{{ location.email }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="section section--e">
    <div class="heading__wrapper">
        <div class="heading heading--largemb">{{ text_socials }}</div>
    </div>
    <div class="social-align">
        {% if instagram %}
            <a href="{{ instagram }}" rel="nofollow" target="_blank" class="social-likes__item">
                <svg class="social-likes__icon" width="14" height="14">
                    <use xlink:href="/front/dist/images/sprite.svg#instagram" />
                </svg>
            </a>
        {% endif %}

        {% if facebook %}
            <a href="{{ facebook }}" rel="nofollow" target="_blank" class="social-likes__item">
                <svg class="social-likes__icon" width="6" height="17">
                    <use xlink:href="/front/dist/images/sprite.svg#facebook" />
                </svg>
            </a>
        {% endif %}
        {% if pinterest %}
            <a href="{{ pinterest }}" rel="nofollow" target="_blank" class="social-likes__item">
                <svg class="social-likes__icon" width="11" height="14">
                    <use xlink:href="/front/dist/images/sprite.svg#pinterest" />
                </svg>
            </a>
        {% endif %}
    </div>
</div>
<script>
    const locations = [
        {% for location in locations %}
        ['{{ location.for_maps }}', {{ location.geocode }}],
        {% endfor %}
    ];
</script>
<script>
    const bounds = new google.maps.LatLngBounds();

    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: new google.maps.LatLng(49.216247, 32.245597),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [{
            featureType: "administrative",
            elementType: "labels.text.fill",
            stylers: [{
                color: "#444444"
            }]
        },
            {
                featureType: "landscape",
                elementType: "all",
                stylers: [{
                    color: "#f2f2f2"
                }]
            },
            {
                featureType: "poi",
                elementType: "all",
                stylers: [{
                    visibility: "off"
                }]
            },
            {
                featureType: "road",
                elementType: "all",
                stylers: [{
                    saturation: -100
                },
                    {
                        lightness: 45
                    }
                ]
            },
            {
                featureType: "road.highway",
                elementType: "all",
                stylers: [{
                    visibility: "simplified"
                }]
            },
            {
                featureType: "road.highway",
                elementType: "geometry.fill",
                stylers: [{
                    color: "#ffffff"
                }]
            },
            {
                featureType: "road.arterial",
                elementType: "labels.icon",
                stylers: [{
                    visibility: "off"
                }]
            },
            {
                featureType: "transit",
                elementType: "all",
                stylers: [{
                    visibility: "off"
                }]
            },
            {
                featureType: "water",
                elementType: "all",
                stylers: [{
                    color: "#dde6e8"
                },
                    {
                        visibility: "on"
                    }
                ]
            }
        ]
    });

    const infowindow = new google.maps.InfoWindow();

    let marker, i;

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            icon: {
                url: '/front/dist/images/marker.svg',
                scaledSize: new google.maps.Size(45, 45)
            },
            map
        });

        const loc = new google.maps.LatLng(marker.position.lat(), marker.position.lng());
        bounds.extend(loc);

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));

        map.fitBounds(bounds);
        map.panToBounds(bounds);
    }
</script>