{% if products %}
    {% for product in products %}
        {% if product.product_id %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-block animation-item">
                <div class="product-thumb">
                    {% if product.promos %}
                        {% for label in product.promos %}
                            <div class="product-thumb__label">{{ label.promo_text }}</div>
                        {% endfor %}
                    {% endif %}
                    <div class="product-thumb__favorite add-to-favorite{% if product.is_wishlist %} active{% endif %}" {% if product.is_wishlist %}onclick="wishlist.remove('{{ product.product_id }}');"{% else %}onclick="wishlist.add('{{ product.product_id }}');"{% endif %} data-id="{{ product.product_id }}">
                        <span class="title-favorite">{{ add_wishlist }}</span>
                        <svg class="product-thumb__favorite--icon" width="24" height="21">
                            <use xlink:href="/front/dist/images/sprite.svg#heart" />
                        </svg>
                    </div>
                    <div class="product-thumb__content">
                        {% if product.images %}
                            <a href="{{ product.href }}" class="product-thumb__image">
                                {% set counter = 1 %}
                                {% for image in product.images %}
                                    <img{% if counter == 2 %} class="product-thumb__hover"{% endif %} src="{{ image.thumb }}" alt="{{ product.name }}" width="" height="">
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                            </a>
                        {% endif %}
                        <a href="{{ product.href }}" class="product-thumb__title">{{ product.name }}</a>
                        {% if product.price %}

                            {% if not product.special %}
                                <div class="product-thumb__price">{{ text_vid }}{{ product.mpn }}</div>
                            {% else %}
                                <div class="product-thumb__price">
                                    <div class="product-thumb__price--old">{{ product.price }}</div>
                                    <div class="product-thumb__price--new">{{ product.special }}</div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="product-thumb__btn">
                        <a href="{{ product.href }}" class="btn">{{ text_more }}</a>
                    </div>
                </div>
            </div>
        {% elseif product.banner_id  %}

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-block animation-item">
                <a href="{{ product.link }}" class="advertising" target="_blank">
                    <img class="advertising__img" src="{{ product.image }}" alt="{{ product.alt }}" width="340" height="400">
                    <div class="advertising__text">{{ product.title }}</div>
                </a>
            </div>


        {% endif %}
    {% endfor %}
{% endif %}