<div class="review-section">
<div class="heading heading--center heading--largemb">{{ tab_review }}</div>
{% if reviews %}
  <div class="reviews-slider__align">
    <div class="reviews-slider__wrap">
      <div class="reviews-slider__box">
        <div class="reviews-slider">
          {% for review in reviews %}
            <div class="reviews-slider__item">
                  <div class="reviews-slider__title">{{ review.author }}</div>
                  <div class="reviews-slider__date">{{ review.date_added }}</div>
                  <div class="reviews-slider__text" data-simplebar>{{ review.text }}</div>
                </div>
          {% endfor %}
        </div>
      </div>
      <div class="reviews-slider__nav">
        <div class="reviews-slider__arrow reviews-slider__arrow--prev">
          <svg width='9' height='16'>
            <use xlink:href='/front/dist/images/sprite.svg#review-arrow-prev' />
          </svg>
        </div>
        <div class="reviews-slider__arrow reviews-slider__arrow--next">
          <svg width='9' height='16'>
            <use xlink:href='/front/dist/images/sprite.svg#review-arrow-next' />
          </svg>
        </div>
      </div>
    </div>
    <div class="reviews-slider__dots">
      {% for review in reviews %}
        <div class="reviews-slider__dot"></div>
      {% endfor %}
    </div>
    <div class="reviews-slider__btn">
      <div class="btn-link call-popup-review">Написать отзыв</div>
    </div>
  </div>
{% else %}
<!-- При отсутствии отзывов -->
<div class="review-section__empty">
  <div class="review-section__wrap">
    <div class="review-section__logo">
      <svg>
        <use xlink:href='/front/dist/images/sprite.svg#logo-image' />
      </svg>
    </div>
    <div class="review-section__title">Отзывов о данном товаре пока нет.</div>
    <div class="review-section__btn">
      <button class="form-btn call-popup-review">написать отзыв</button>
    </div>
  </div>
</div>
{% endif %}
</div>