{{ header }}
<div class="top-section top-section--white">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>

  {% if products %}
      <div class="search-page section">
          <div class="search-page__form" id="content">
              <input type="text" name="search" class="search-page__input" placeholder="{{ entry_search }}" value="{{ search }}">
              <button class="search-page__btn" id="button-search">
                  <svg class="search-page__svg">
                      <use xlink:href='/front/dist/images/sprite.svg#search' />
                  </svg>
              </button>
          </div>
          <div class="search-page__title">{{ text_search_found }}</div>

          <div class="product-thumb__list row animation-parent">
              {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animation-item">
                  <div class="product-thumb">
                      <div class="product-thumb__favorite add-to-favorite{% if product.is_wishlist %} active{% endif %}" {% if product.is_wishlist %}onclick="wishlist.remove('{{ product.product_id }}');"{% else %}onclick="wishlist.add('{{ product.product_id }}');"{% endif %} data-id="{{ product.product_id }}">
                          <span class="title-favorite">{{ add_wishlist }}</span>
                          <svg class="product-thumb__favorite--icon" width="24" height="21">
                              <use xlink:href="/front/dist/images/sprite.svg#heart" />
                          </svg>
                      </div>
                      <div class="product-thumb__content">
                          <a href="{{ product.href }}" class="product-thumb__image">
                              <img src="{{ product.thumb }}" alt="{{ product.name }}" width="375" height="220">
                          </a>
                          <a href="{{ product.href }}" class="product-thumb__title">{{ product.name }}</a>
                          {% if product.price %}
                              {% if not product.special %}
                                  <div class="product-thumb__price">{{ text_vid }}{{ product.mpn }}</div>
                              {% else %}
                                  <div class="product-thumb__price">
                                      <div class="product-thumb__price--old">{{ product.price }}</div>
                                      <div class="product-thumb__price--new">{{ product.special }}</div>
                                  </div>
                              {% endif %}
                          {% endif %}
                      </div>
                      <div class="product-thumb__btn">
                          <a href="{{ product.href }}" class="btn">{{ text_more }}</a>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
      {% else %}
          <div class="search-page">
              <div class="search-page__title">{{ no_results }}</div>
              <div class="search-page__form" id="content">
                  <input type="text" name="search" class="search-page__input" placeholder="{{ entry_search }}" value="{{ search }}">
                  <button class="search-page__btn" id="button-search">
                      <svg class="search-page__svg">
                          <use xlink:href='/front/dist/images/sprite.svg#search' />
                      </svg>
                  </button>
              </div>
          </div>
      {% endif %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        $('#button-search').bind('click', function() {
            url = 'index.php?route=product/search';

            var search = $('#content input[name=\'search\']').prop('value');

            if (search) {
                url += '&search=' + encodeURIComponent(search);
            }

            location = url;
        });

        $('#content input[name=\'search\']').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                $('#button-search').trigger('click');
            }
        });
    });
</script>
{{ column_right }}
{{ content_top }}
{{ content_bottom }}
{{ footer }}