@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #be3d20;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 14px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 14px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img.second_img .img-1 {
  position: relative;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img.second_img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  display: block;
  /*@include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
  right: 0;
}
.lib-two-img-over.second_img .img-1 {
  opacity: 0;
  /*transform-style: inherit;
   @include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over.second_img .img-2 {
  opacity: 1;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/************************************************************************************************
 FOOTER DEFFAULT
 *************************************************************************************************/
footer.typefooter-1 {
  background: url(../../images/bg-footer.png) repeat center center;
  position: relative;
}
footer.typefooter-1 .footer-top {
  background: #f5f5f5;
  padding: 30px 0;
  position: relative;
  /*NEWLETTER*/
}
@media (min-width: 1200px) {
  footer.typefooter-1 .footer-top {
    padding: 60px 0;
  }
}
footer.typefooter-1 .footer-top.inactive {
  display: none;
}
footer.typefooter-1 .footer-top .policy-shop {
  clear: both;
}
footer.typefooter-1 .footer-top .policy-shop .row {
  margin: 0 -10px;
}
footer.typefooter-1 .footer-top .policy-shop .row [class*="col-"] {
  padding: 0 10px;
}
footer.typefooter-1 .footer-top .policy-shop .content-policy {
  border: 1px solid #ebeaea;
  background: #fff;
  cursor: pointer;
  padding: 30px 10px 13px;
  padding-right: 100px;
  position: relative;
}
footer.typefooter-1 .footer-top .policy-shop .content-policy:hover {
  border-color: #be3d20;
}
footer.typefooter-1 .footer-top .policy-shop .content-policy:hover h2, footer.typefooter-1 .footer-top .policy-shop .content-policy:hover .fa {
  color: #be3d20;
}
footer.typefooter-1 .footer-top .policy-shop .content-policy .icon {
  margin-bottom: 12px;
  font-size: 46px;
  color: #ccc;
  position: absolute;
  right: 30px;
  margin: 0;
  top: 27px;
}
footer.typefooter-1 .footer-top .policy-shop .content-policy h2 {
  color: #222;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2px;
}
footer.typefooter-1 .footer-top .policy-shop .content-policy p {
  color: #666;
  font-size: 12px;
}
footer.typefooter-1 .footer-top .news-letter {
  padding-top: 65px;
  overflow: hidden;
  text-align: center;
}
footer.typefooter-1 .footer-top .news-letter .page-heading {
  color: #222;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
footer.typefooter-1 .footer-top .news-letter .pre-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}
footer.typefooter-1 .footer-top .news-letter .block_content form .send-mail {
  padding: 2px;
  background: #be3d20;
}
footer.typefooter-1 .footer-top .news-letter .block_content form .form-group {
  margin: 0px;
  overflow: hidden;
}
footer.typefooter-1 .footer-top .news-letter .block_content .show-error {
  display: block;
}
footer.typefooter-1 .footer-top .news-letter .block_content .input-box {
  float: right;
  position: relative;
}
footer.typefooter-1 .footer-top .news-letter .block_content .input-box:before {
  content: "";
  width: 30px;
  height: 30px;
  background: #fff;
  background: url(../../images/icon-image.png) no-repeat -16px -61px;
  position: absolute;
  right: 5px;
  top: 9px;
}
footer.typefooter-1 .footer-top .news-letter .block_content .input-box input {
  padding-right: 44px;
  color: #999;
  height: 48px;
  border: none;
  width: 100%;
  font-size: 14px;
  background: #fff;
  border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
}
footer.typefooter-1 .footer-top .news-letter .block_content .input-box ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
}
footer.typefooter-1 .footer-top .news-letter .block_content .input-box ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}
footer.typefooter-1 .footer-top .news-letter .block_content .input-box :-ms-input-placeholder {
  /* IE 10+ */
  color: #999;
}
footer.typefooter-1 .footer-top .news-letter .block_content .input-box :-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}
footer.typefooter-1 .footer-top .news-letter .block_content .subcribe {
  left: 2px;
  position: absolute;
  border-right: 2px solid #be3d20;
}
footer.typefooter-1 .footer-top .news-letter .block_content .subcribe button {
  height: 48px;
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.3s all ease 0s;
  font-weight: normal;
  background-color: #222;
  color: #fff;
}
@media (min-width: 1200px) {
  footer.typefooter-1 .footer-top .news-letter .block_content .subcribe button {
    padding: 0 20px;
  }
}
footer.typefooter-1 .footer-top .news-letter .block_content .subcribe button:hover {
  background: #be3d20;
}
footer.typefooter-1 .footer-middle {
  padding: 100px 0;
  color: #fff;
  font-size: 12px;
  position: relative;
}
footer.typefooter-1 .footer-middle .footer-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 18px;
}
footer.typefooter-1 .footer-middle .footer-title:before {
  content: "";
  background: #be3d20;
  width: 40px;
  height: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
}
footer.typefooter-1 .footer-middle .contact-footer {
  margin-bottom: 24px;
}
footer.typefooter-1 .footer-middle .contact-footer .fa {
  margin-left: 10px;
}
footer.typefooter-1 .footer-middle .contact-footer a {
  color: #fff;
}
footer.typefooter-1 .footer-middle ul.menu li {
  position: relative;
  padding-right: 10px;
}
footer.typefooter-1 .footer-middle ul.menu li a {
  color: #fff;
}
footer.typefooter-1 .footer-middle ul.menu li:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
footer.typefooter-1 .footer-middle ul.menu li:hover a, footer.typefooter-1 .footer-middle ul.menu li:hover:before {
  color: #be3d20;
}
footer.typefooter-1 .footer-bottom {
  background: rgba(68, 68, 68, .6);
  padding: 15px 0;
  color: #fff;
}
footer.typefooter-1 .footer-bottom .copyright-footer {
  margin-top: 5px;
  font-size: 12px;
}
footer.typefooter-1 .footer-bottom .copyright-footer a {
  color: #be3d20;
  display: inline-block;
}
footer.typefooter-1 .footer-bottom .copyright-footer a:hover {
  color: #fff;
}
footer.typefooter-1 .footer-bottom .socials-wrap {
  float: left;
}
footer.typefooter-1 .footer-bottom .socials-wrap .title-follow {
  display: none;
}
footer.typefooter-1 .footer-bottom .socials-wrap ul {
  display: table-cell;
  padding-top: 5px;
}
footer.typefooter-1 .footer-bottom .socials-wrap ul li {
  float: right;
  position: relative;
}
footer.typefooter-1 .footer-bottom .socials-wrap ul li:first-child:before {
  display: none;
}
footer.typefooter-1 .footer-bottom .socials-wrap ul li:before {
  content: "";
  width: 1px;
  height: 22px;
  background: rgba(255, 255, 255, .1);
  position: absolute;
  right: 0;
  top: 0;
}
footer.typefooter-1 .footer-bottom .socials-wrap ul li a {
  padding: 0 20px;
  color: #ccc;
}
footer.typefooter-1 .footer-bottom .socials-wrap ul li a:hover {
  color: #be3d20;
}
footer.typefooter-1 .footer-bottom .socials-wrap ul li a .name-social {
  display: none;
}
footer.typefooter-1 .back-to-top {
  position: absolute;
  top: -1px;
  height: 50px;
  right: 50%;
  margin-right: -180px;
  width: 0px;
  width: 0px;
  border-right: 180px solid transparent;
  border-left: 180px solid transparent;
  border-top: 30px solid #f5f5f5;
}
footer.typefooter-1 .back-to-top .icon {
  position: relative;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .32);
  margin-right: -35px;
  margin-top: -37px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
}
footer.typefooter-1 .back-to-top .icon:before {
  content: "";
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, .32);
  right: -10px;
  top: -10px;
  position: absolute;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
}
footer.typefooter-1 .back-to-top .fa {
  font-size: 26px;
  color: #fff;
  background: #be3d20;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
