@charset "UTF-8";
/*******************************************
 ***          SO Framework: Sass          ***
 *******************************************/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #be3d20;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 14px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 14px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img.second_img .img-1 {
  position: relative;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img.second_img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  display: block;
  /*@include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
  right: 0;
}
.lib-two-img-over.second_img .img-1 {
  opacity: 0;
  /*transform-style: inherit;
   @include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over.second_img .img-2 {
  opacity: 1;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*   1.Large devices Desktops     ( Devices ≥1200px)
 *   2.Medium devices Desktops    (992px ≥ Devices ≥ 1199px)
 *   3.Small devices Tablets      (991px ≥ Devices ≥ 768px)
 *   4.Extra small devices Phones ( Devices < 767px)
 */
/************************************************************************************************
 BLOCK HEADER  
 ************************************************************************************************ */
/* **********************************************************************************************
 BLOCK HOME PAGE
 *************************************************************************************************/
/*[] LAYOUT 1 []*/
@media (max-width: 480px) {
  /************************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   PAGE BONUSS  
   ************************************************************************************************ */
  .custom-ourblog .modtitle {
    padding-bottom: 30px;
  }
  .custom-ourblog.default-nav .owl2-controls .owl2-dots {
    top: 75px;
  }
  .product-view .content-product-right .box-info-product .cart {
    margin-bottom: 10px;
  }
  .box-sevicer {
    margin-top: 20px;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .product-view .content-product-right .countdown_box .countdown_inner .title {
    display: none;
  }
  .deals_module_wrapper .title-product {
    margin-top: 20px;
  }
  .producttab .tabsslider .nav-tabs li {
    float: none;
  }
  .product-view .content-product-right {
    margin-top: 20px;
  }
  .bottom-product .nav-tabs li a {
    font-size: 14px;
    padding: 12px 4px;
  }
  .bottom-product .nav-tabs li:first-child a::before {
    top: 13px;
  }
  .products-category .product-layout {
    width: 100%;
  }
  .social-share .title-share {
    padding-left: 10px;
  }
  .social-share a {
    margin: 0 3px;
  }
  .our-member .respl-item .w-image-box, .welcome-about-us .image-about-us {
    width: 100%;
    float: none;
    margin: 0;
    text-align: center;
  }
  .our-member .respl-item .info-member, .welcome-about-us .des-about-us {
    margin: 20px 0;
    text-align: justify;
  }
  .happy-about-us .happy-ab .title-happy-about h2 {
    font-size: 16px;
  }
  #sosearchpro .dropdown-menu {
    width: 292px !important;
  }
  .simple_blog-category #content {
    overflow: hidden;
  }
  .simple_blog-category #content .blog-header {
    margin-top: 30px;
  }
}
/************************************************************************************************
 BLOCK HEADER  
 ************************************************************************************************ */
/*[] HEADER DEFAULT []*/
/*[] HEADER 1 []*/
@media (max-width: 767px) {
  /* **********************************************************************************************
   BLOCK HOME PAGE
   *************************************************************************************************/
  /*[] LAYOUT DEFFAULT []*/
  /*[] LAYOUT 1 []*/
  /* ***********************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /*!== Footer 1 ==!*/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   DEFTAULT MENU  
   ************************************************************************************************ */
  /*MEGA MENU*/
  /*MENU STIKY*/
  .typeheader-1 .header-top .logo-content {
    text-align: center;
    margin-bottom: 30px;
  }
  .typeheader-1 .header-top .custom {
    position: absolute;
    top: 36px;
    left: 10px;
    z-index: 9;
  }
  .typeheader-1 .header-top .block-cart .handle {
    background: url(../images/icon-image.png) no-repeat -73px -13px;
  }
  .typeheader-1 .header-top .setting .fa {
    color: #fff;
  }
  .typeheader-1 .header-bottom .horizontal {
    float: left;
    margin-left: 100px;
  }
  .banner-top {
    margin: 0;
    margin-top: 10px;
  }
  .banner-top .banner-left {
    padding: 0;
    margin: 0;
  }
  .banner-top .banner-right {
    margin-right: 0;
  }
  .banner-top .banner-right img {
    width: 100%;
  }
  footer.typefooter-1 .footer-top .news-letter {
    padding-top: 20px;
  }
  .common-home .module {
    margin-bottom: 30px;
  }
  .about-demo-4 {
    padding-top: 10px;
    margin: 0;
  }
  .section-style4 .so-latest-blog {
    padding: 0;
  }
  .banner-middle content {
    text-align: center;
    margin-bottom: 20px;
  }
  .categories .row {
    margin: 0 -5px;
  }
  .categories .row [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
  .categories .col2 {
    clear: both;
  }
  .slider-brand-wrapper .owl2-controls .owl2-nav div.owl2-prev {
    right: 0;
  }
  .slider-brand-wrapper .owl2-controls .owl2-nav div.owl2-next {
    left: 0;
  }
  div.dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .time-item {
    width: 65px;
  }
  .dev-so-deals .so-deals-slick.slick-vertical .ds-items {
    display: none;
  }
  .dev-so-deals .so-deals-slick.slick-vertical .ds-items-detail {
    margin: 0 !important;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .image {
    width: 100% !important;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption {
    width: 100% !important;
    padding: 15px 0;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .time-item {
    width: 70px;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .time-item:before {
    left: -17px;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .num-time {
    font-size: 19px !important;
  }
  footer.typefooter-1 .footer-bottom .socials-wrap {
    float: none;
  }
  footer.typefooter-1 .footer-bottom {
    text-align: center;
  }
  footer.typefooter-1 .footer-bottom .socials-wrap ul {
    display: inline-block;
  }
  footer .module {
    margin-bottom: 30px;
  }
  footer.typefooter-1 .footer-middle {
    padding-bottom: 50px;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .bg-page-404 {
    overflow: hidden;
  }
  .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview {
    display: none;
  }
  #content .filter-horizontal ul {
    display: block;
  }
  #content .filter-horizontal li.so-filter-options {
    width: 100%;
    border: none;
  }
  .zoomContainer {
    display: none;
  }
  .breadcrumbs {
    padding: 40px 0;
  }
  .product-view .content-product-right {
    margin-top: 15px;
  }
  .filters-panel.product-filter-bottom {
    float: none !important;
    text-align: center;
  }
  .filters-panel.product-filter-bottom .box-pagination {
    text-align: center;
    margin-top: 10px;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul li > a .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li > a, .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li, .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .sub-menu .content .categories {
    padding: 0;
  }
  .megamenu-style-dev .container-megamenu.vertical .vertical-wrapper ul li > a:hover {
    color: #be3d20 !important;
  }
  .megamenu-style-dev .container-megamenu.horizontal .title-feature, .megamenu-style-dev .container-megamenu.horizontal ul.megamenu .title-submenu, .megamenu-style-dev .container-megamenu.horizontal ul.megamenu li .sub-menu .content .static-menu a.main-menu, .megamenu-style-dev .container-megamenu.horizontal ul.megamenu .subcategory a.title-submenu {
    padding: 10px 0;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
  }
  .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li > a strong img, .megamenu-style-dev .container-megamenu.vertical:after {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: none !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    left: 0;
  }
  .megamenu-style-dev.responsive #remove-megamenu {
    display: block;
    color: #222;
    cursor: pointer;
  }
  .megamenu-style-dev.responsive .so-megamenu-active #remove-megamenu {
    color: #222;
  }
  .megamenu-style-dev.responsive .megamenu-wrapper {
    border: none;
    border-radius: 0;
  }
  .megamenu-style-dev.responsive div[class^=col-] {
    width: 100%;
  }
  .megamenu-style-dev.responsive ul.megamenu > li {
    display: block;
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 5px 0;
    overflow: hidden;
  }
  .megamenu-style-dev.responsive ul.megamenu > li a {
    line-height: 25px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click::before, .megamenu-style-dev.responsive ul.megamenu > li.hover::before {
    padding: 0 !important;
    font-size: 14px;
    background: #5c5c5c;
    color: #fff;
    border: 1px solid #5c5c5c;
    width: 22px;
    line-height: 20px;
    height: 22px;
    display: inline-block;
    text-align: center;
    top: 10px;
    cursor: pointer;
    left: 0;
    right: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .sub-menu {
    display: block !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active > a {
    color: #fff;
    background: transparent !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    padding: 0;
    width: 22px;
    line-height: 22px;
    background: #5c5c5c;
    height: auto;
    top: 10px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu:before {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
  .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content {
    box-shadow: none;
    border: 1px solid #eee;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    margin: 0;
    color: #fff;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .15), inset 0 1px 0.5px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .15), inset 0 1px 0.5px rgba(255, 255, 255, .2);
    border: solid 1px #000;
    float: right;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #000;
    width: 17px;
    height: 2px;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    background: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    padding: 20px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    color: #222 !important;
    padding: 0;
    font-size: 13px;
    line-height: 29px !important;
    font-family: Open Sans, sans-serif;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover {
    color: #be3d20 !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a strong {
    font-weight: 400;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content .title-submenu {
    padding: 0;
    margin: 0;
    border: none;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column.layout-color a {
    display: inline-block;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column a {
    margin: 0 0 30px;
    display: block;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: block;
    margin: 0;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu {
    position: relative;
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu > li {
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    border-bottom: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper uppercasel.megamenu > li b.fa {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    padding: 10px 11px;
    margin: 0px;
    background: #be3d20;
    border: 1px solid #be3d20;
    border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    float: right;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle i, .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle span {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical #remove-verticalmenu {
    padding: 0;
    padding-bottom: 20px;
    display: block;
    color: #222;
    cursor: pointer;
    font-size: 16px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    background: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    padding: 20px !important;
    width: 280px;
    max-height: 100%;
    top: 0;
    z-index: 99;
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper.so-vertical-active {
    display: block !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu {
    border: 1px solid #ddd;
    padding: 20px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu .content {
    padding: 0px;
    border: none;
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu .content .row:first-child > div:first-child {
    margin-top: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu .content .static-menu .menu ul li a.main-menu {
    font-size: 14px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style3 .content .image-position {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    position: relative;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:before {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li a:hover {
    color: #be3d20;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:hover > a {
    color: #be3d20;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul {
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul li {
    padding: 5px 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style1 .content {
    padding: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li b {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    padding: 3px 0;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    background: transparent !important;
    font-size: 13px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a strong {
    font-weight: normal;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a:hover {
    color: #be3d20 !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.loadmore {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    line-height: inherit;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
    font-size: 14px;
    color: #fff;
    height: 22px;
    line-height: 20px;
    width: 22px;
    background: #5c5c5c;
    text-align: center;
    cursor: pointer;
    border: 1px solid #5c5c5c;
    padding: 0 !important;
    top: 6px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:hover:before {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active {
    background: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
    background: #5c5c5c;
    font-size: 14px;
    top: 6px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu:before {
    color: #fff;
    line-height: 22px;
  }
  header.navbar-compact {
    display: none;
  }
  header .horizontal ul.megamenu > li > .sub-menu {
    border: none;
  }
  #wrapper {
    overflow-x: hidden;
  }
  ul.megamenu li.active .sub-menu .content {
    padding: 0 10px;
  }
  #sosearchpro.search-pro .input-group .autosearch-input {
    padding: 0 20px 0 40px;
  }
  .navbar-toggle {
    margin-right: 15px;
    margin-left: 0;
  }
  .simple_blog-article .product-filter {
    display: none;
  }
}
/************************************************************************************************
 BLOCK HEADER  
 ************************************************************************************************ */
/*!== Header 1 ==!*/
@media (min-width: 768px) and (max-width: 991px) {
  /*!== Footer 1 ==!*/
  /* HOME PAGE */
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   PAGE DETAIL 
   ************************************************************************************************ */
  /************************************************************************************************
   DEFTAULT MENU  
   ************************************************************************************************ */
  /*MEGA MENU*/
  /*MENU STIKY*/
  /************************************************************************************************
   PAGE BONUS  
   *************************************************************************************************/
  .typeheader-1 .header-bottom .horizontal {
    float: right;
  }
  footer.typefooter-1 .footer-bottom .socials-wrap {
    float: none;
  }
  footer.typefooter-1 .footer-bottom {
    text-align: center;
  }
  footer.typefooter-1 .footer-bottom .socials-wrap ul {
    display: inline-block;
  }
  footer .module {
    margin-bottom: 30px;
  }
  footer.typefooter-1 .footer-middle {
    padding-bottom: 50px;
  }
  .banner-top {
    margin: 0;
    margin-top: 10px;
  }
  .banner-top .banner-left {
    padding: 0;
    margin: 0;
    padding-left: 10px;
  }
  .banner-top .banner-right {
    margin-right: 0;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption {
    padding: 20px;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .time-item {
    width: 70px;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .time-item:before {
    left: -17px;
  }
  .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .num-time {
    font-size: 19px !important;
  }
  .slider-brand-wrapper .owl2-controls .owl2-nav div.owl2-prev {
    right: 0;
  }
  .slider-brand-wrapper .owl2-controls .owl2-nav div.owl2-next {
    left: 0;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .short-by-show .form-group {
    float: right;
    margin: 0 5px;
  }
  .so-filter-price .put-min_max .name-curent {
    display: inline-block;
    float: right;
    line-height: 30px;
  }
  .so-filter-price .put-min_max .form-control {
    width: 60px;
    line-height: 30px;
    padding: 0 !important;
    margin: 0 !important;
    height: 30px;
    min-width: 60px;
  }
  .products-list.list .product-layout .product-item-container .left-block .product-image-container .img-1 {
    margin: 0 auto;
    text-align: center;
    opacity: 1 !important;
    transform: rotateY(0deg) !important;
  }
  .products-list.list .product-layout .product-item-container .left-block .product-image-container .img-2.img-responsive {
    display: none;
  }
  .products-list.list .product-layout .product-item-container .right-block .caption {
    padding: 0;
  }
  .module.custom-listingtab .price .price-new, .module.custom-listingtab .price span.price {
    font-size: 18px;
  }
  .breadcrumbs {
    padding: 45px 0;
  }
  .products-list.grid .product-layout .product-item-container .button-group .bts {
    width: 45px;
    height: 40px;
    line-height: 40px;
  }
  .products-list.list-masonry .product-layout .product-item-container .button-group .bts.addToCart:before, .products-list.grid .product-layout .product-item-container .button-group .bts.addToCart:before {
    top: 11px;
    right: 16px;
  }
  .products-list.grid .product-layout .product-item-container .button-group {
    bottom: 0;
  }
  .label-product {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }
  .info-right {
    margin-top: 20px;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul li > a .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li > a, .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li, .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .sub-menu .content .categories {
    padding: 0;
  }
  .megamenu-style-dev .container-megamenu.vertical .vertical-wrapper ul li > a:hover {
    color: #be3d20 !important;
  }
  .megamenu-style-dev .container-megamenu.horizontal .title-feature, .megamenu-style-dev .container-megamenu.horizontal ul.megamenu .title-submenu, .megamenu-style-dev .container-megamenu.horizontal ul.megamenu li .sub-menu .content .static-menu a.main-menu, .megamenu-style-dev .container-megamenu.horizontal ul.megamenu .subcategory a.title-submenu {
    padding: 10px 0;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
  }
  .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li > a strong img, .megamenu-style-dev .container-megamenu.vertical:after {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: none !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    left: 0;
  }
  .megamenu-style-dev.responsive #remove-megamenu {
    display: block;
    color: #222;
    cursor: pointer;
  }
  .megamenu-style-dev.responsive .so-megamenu-active #remove-megamenu {
    color: #222;
  }
  .megamenu-style-dev.responsive .megamenu-wrapper {
    border: none;
    border-radius: 0;
  }
  .megamenu-style-dev.responsive div[class^=col-] {
    width: 100%;
  }
  .megamenu-style-dev.responsive ul.megamenu > li {
    display: block;
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 5px 0;
    overflow: hidden;
  }
  .megamenu-style-dev.responsive ul.megamenu > li a {
    line-height: 25px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click::before, .megamenu-style-dev.responsive ul.megamenu > li.hover::before {
    padding: 0 !important;
    font-size: 14px;
    background: #5c5c5c;
    color: #fff;
    border: 1px solid #5c5c5c;
    width: 22px;
    line-height: 20px;
    height: 22px;
    display: inline-block;
    text-align: center;
    top: 10px;
    cursor: pointer;
    left: 0;
    right: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .sub-menu {
    display: block !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active > a {
    color: #fff;
    background: transparent !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    padding: 0;
    width: 22px;
    line-height: 22px;
    background: #5c5c5c;
    height: auto;
    top: 10px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu:before {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
  .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content {
    box-shadow: none;
    border: 1px solid #eee;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    margin: 0;
    color: #fff;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .15), inset 0 1px 0.5px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .15), inset 0 1px 0.5px rgba(255, 255, 255, .2);
    border: solid 1px #000;
    float: right;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin: 7px 0;
    margin-left: 10px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #000;
    width: 17px;
    height: 2px;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    background: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    padding: 20px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    color: #222 !important;
    padding: 0;
    font-size: 13px;
    line-height: 29px !important;
    font-family: Open Sans, sans-serif;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover {
    color: #be3d20 !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a strong {
    font-weight: 400;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content .title-submenu {
    padding: 0;
    margin: 0;
    border: none;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column.layout-color a {
    display: inline-block;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column a {
    margin: 0 0 30px;
    display: block;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: block;
    margin: 0;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu {
    position: relative;
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu > li {
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    border-bottom: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li b.fa {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    padding: 12px 11px;
    margin: 0px;
    background: #be3d20;
    border: 1px solid #be3d20;
    border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    float: right;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle i {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle span {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical #remove-verticalmenu {
    padding: 0;
    padding-bottom: 20px;
    display: block;
    color: #222;
    cursor: pointer;
    font-size: 16px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    background: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    padding: 20px !important;
    width: 280px;
    max-height: 100%;
    top: 0;
    z-index: 99;
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper.so-vertical-active {
    display: block !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu {
    border: 1px solid #ddd;
    padding: 20px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu .content {
    padding: 0px;
    border: none;
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu .content .row:first-child > div:first-child {
    margin-top: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .sub-menu .content .static-menu .menu ul li a.main-menu {
    font-size: 14px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style3 .content .image-position {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    position: relative;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:before {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li a:hover {
    color: #be3d20;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:hover > a {
    color: #be3d20;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul {
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul li {
    padding: 5px 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style1 .content {
    padding: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li b {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    padding: 3px 0;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    background: transparent !important;
    font-size: 13px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a strong {
    font-weight: normal;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.loadmore {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    line-height: inherit;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
    font-size: 14px;
    color: #fff;
    height: 22px;
    line-height: 20px;
    width: 22px;
    background: #5c5c5c;
    text-align: center;
    cursor: pointer;
    border: 1px solid #5c5c5c;
    padding: 0 !important;
    top: 6px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:hover:before {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active {
    background: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
    background: #5c5c5c;
    font-size: 14px;
    top: 6px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu:before {
    color: #fff;
    line-height: 22px;
  }
  header.navbar-compact {
    display: none;
  }
  header .horizontal ul.megamenu > li > .sub-menu {
    border: none;
  }
  ul.megamenu li.active .sub-menu .content {
    padding: 0 10px;
  }
  #wrapper {
    overflow-x: hidden;
  }
  .zoomContainer {
    display: none;
  }
  .container-megamenu .container {
    width: 100%;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu li .sub-menu {
    left: 0;
    right: inherit !important;
  }
  .simple_blog-article .product-filter.filters-panel {
    display: none;
  }
  header #sosearchpro .dropdown-menu {
    left: 0 !important;
    right: inherit !important;
  }
  .our-member .respl-item .w-image-box {
    float: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .our-member .respl-item .info-member {
    text-align: center;
    margin: 0;
  }
  .our-member .respl-item .info-member li {
    float: none;
    display: inline-block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-megamenu.vertical .vertical-wrapper {
    display: none;
  }
  .container-megamenu.vertical:hover .vertical-wrapper {
    display: block;
  }
  .categories .col5 {
    clear: both;
  }
  .categories .modtitle {
    padding-bottom: 4px;
  }
  .categories p {
    margin-bottom: 0;
    font-size: 10px;
  }
  .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .button-group button {
    width: 50px;
  }
  .breadcrumbs {
    min-height: 250px;
  }
  .banner-top {
    margin: 0;
    margin-top: 10px;
  }
  .banner-top .banner-left {
    padding: 0;
    margin: 0;
    padding-left: 10px;
  }
  .banner-top .banner-right {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .common-home .container-megamenu.vertical .vertical-wrapper {
    display: block;
  }
  .container-megamenu.vertical .vertical-wrapper {
    display: none;
    background: #fff;
  }
  .container-megamenu.vertical:hover .vertical-wrapper {
    display: block;
  }
  .container {
    width: 1200px;
    overflow: visible;
  }
  .horizontal ul.megamenu > li.content-full > .sub-menu {
    max-width: none;
  }
  .horizontal ul.megamenu > li.content-full > .sub-menu .title-submenu {
    display: none;
  }
  .horizontal ul.megamenu > li.content-full > .sub-menu .content {
    padding: 30px 30px 20px;
  }
}
