{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        
        <button type="submit" form="form-feed" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
    <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-feed" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-2">
              <select name="facebookfeedproducts_status" id="input-status" style="width: 100%;">
                {% if facebookfeedproducts_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" >Currency</label>
            <div class="col-sm-2">
              <select name="facebookfeedproducts_currency" style="width: 100%;">
           {% for curr  in currencies %}
            <option value="{{ curr.code }}" {% if curr.code== facebookfeedproducts_currency %} selected="selected" {% endif %}   >{{ curr.title }}</option>
           {% endfor %}
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" >Language</label>
            <div class="col-sm-2">
              <select name="facebookfeedproducts_language" style="width: 100%;">
           {% for lang in languages %}
            <option value="{{ lang.code }}" {% if lang.code== facebookfeedproducts_language %} selected="selected" {% endif %} >{{ lang.name }}</option>
           {% endfor %}
            </select>
            </div>
          </div>
          
		            <div class="form-group">
            <label class="col-sm-2 control-label" >Color</label>
            <div class="col-sm-2">
            <select name="facebookfeedproducts_color" style="width: 100%;">
			<option value="">Select options for Color</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_color %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
		    <div class="form-group">
            <label class="col-sm-2 control-label" >Size</label>
            <div class="col-sm-2">
            <select name="facebookfeedproducts_size" style="width: 100%;">
			<option value="">Select options for Size</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_size %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
		    <div class="form-group">
            <label class="col-sm-2 control-label" >Pattern</label>
            <div class="col-sm-2">
            <select name="facebookfeedproducts_pattern" style="width: 100%;">
			<option value="">Select options for Pattern</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_pattern %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
		            <div class="form-group">
            <label class="col-sm-2 control-label" >Material</label>
            <div class="col-sm-2">
            <select name="facebookfeedproducts_material" style="width: 100%;">
			<option value="">Select options for Material</option>
			 {% for opt in options %}
            <option value="{{opt.name}}" {% if opt.name == facebookfeedproducts_material %} selected="selected" {% endif %} >{{ opt.name}}</option>
           {% endfor %}
            </select>
            </div>
          </div>
        </form>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_google_product_category }}
            <p><a onclick="$('#form_ub').click();" class="button">Update</a></p>
            <input type='submit' name="form_ub" id="form_ub" hidden></label>
            <div class="col-sm-10">
              <td><textarea cols="100" rows="1" name="google_product_category_url"></textarea>
            <p>Example:<i>https://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.txt</i></p>
            </div>
          </div>
        </form>
            {% if googlemaincategorys %}
                {% if categories %}
                    <div style="font-weight:700;width:100%;display:-webkit-inline-box;">
                            <div class="col-sm-2" >
                                {{ entry_product_category }}
                            </div>
                            <div class="col-sm-2">
                                {{ entry_google_main_product_category }}
                            </div>
                            <div class="col-sm-8">
                                {{ entry_google_all_product_category }}
                            </div>
                    </div>
                    {% for category in categories %}
                    {% set cat = '' %}

                            <div style="word-break: break-word;padding: 5px; width:100%;display:-webkit-inline-box;">
                            <div class="col-sm-2" style="padding: 5px;">
                            {{ category.name}}
                            </div>
                            <div class="col-sm-2" style="padding: 5px;">
                                <select name="googlemaincategory_{{ category.category_id }}" data-int="{{ category.category_id }}" style="width: 100%;">
                                    <option value="" >Select...</option>
                                    {% for googlemaincategory in googlemaincategorys %}
                                    <option value="{{ googlemaincategory.google_category_id }}" {% if googlemaincategory.google_category_id == category.google_category_id %} selected="selected" {% set cat = googlemaincategory.google_category_id %} {% endif %}  >{{ googlemaincategory.google_category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-8" style="padding: 5px;">
                                <input type='text'  style="width: 100%;" name="googlecategory_{{ category.category_id }}" data-int="{% if cat %} {{ cat }} {% endif %}" data-category_id="{% if category.category_id %} {{ category.category_id }}{% endif %}" value="{{ category.google_category_name }}" {% if not cat %} disabled {% endif %} >
                            </div>
                            </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
  
  
  
            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-data-feed">{{ entry_data_feed }}</label>
            <div class="col-sm-10">
            <a target="_blank"  class="btn btn-primary disabled_button"  id="download_button" >Download</a>
            </div>
          </div>
  
    </div>
  </div>
</div>
{{ footer }}

<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
.disabled_button, .disabled_button:hover, .disabled_button:focus, .disabled_button:active:focus, .disabled_button:active:hover{
    color: #fff;
    cursor: unset;
    background-color: #a8afb3;
    border-color: #a8afb3;
    outline: 0px auto -webkit-focus-ring-color;
}

</style>
<script>
    var arr = $('select[name^=googlemaincategory]');
    var a = 0;
    for(var i = 0; i < arr.length; i++) {
        let item = arr[i];
        if (item.value){
            a++;
        }
    }

    if (a){
        $('#download_button').attr("href", "{{ data_feed }}" );
        $('#download_button').removeClass( "disabled_button" );
    } else {
        $('#download_button').removeAttr("href", "{{ data_feed }}" );
        $('#download_button').addClass( "disabled_button" );
    }

$('select[name^=googlemaincategory]').change(function() {

    
    var button = $(this);
    var google_main_category_id = $('option:selected',this).val();
    var category_id = button.attr('data-int');
    button.prop('disabled', true);
			$.ajax({ 
			   type: 'GET', 
			   url: 'index.php?route=extension/feed/facebookfeedproducts/savegooglecat&user_token={{ user_token }}&google_main_category_id='+google_main_category_id+'&category_id='+category_id,
			   dataType: 'json', 
		       success: function(){
               },
                complete: function() { 
                button.prop('disabled', false);
                $('input[name=googlecategory_'+category_id+']').val('');
                $('input[name=googlecategory_'+category_id+']').attr('data-int', google_main_category_id);
                $('input[name=googlecategory_'+category_id+']').prop('disabled', false);
                if (google_main_category_id  == "") {
                   $('input[name=googlecategory_'+category_id+']').prop('disabled', true); 
                }
                    arr = $('select[name^=googlemaincategory]');
                    a = 0;
                    for(var i = 0; i < arr.length; i++) {
                        let item = arr[i];
                        if (item.value){
                            a++;
                        }
                    }

                    if (a){
                        $('#download_button').attr("href", "{{ data_feed }}" );
                        $('#download_button').removeClass( "disabled_button" );
                    } else {
                        $('#download_button').removeAttr("href", "{{ data_feed }}" );
                        $('#download_button').addClass( "disabled_button" );
                    }
                }
		     });
    
 
});
var name;
var category_id;
$('input[name^=googlecategory]').autocomplete({
	source: function(request, response) {
        var filter_id = $(this).attr("data-int");
        name = $(this).prop("name");
        category_id = $(this).attr("data-category_id");
		$.ajax({
			url: 'index.php?route=extension/feed/facebookfeedproducts/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request)+'&filter_id='  + filter_id,
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item['google_category_name'],
						value: item['google_category_id']
					}
				}));
			}
		});
	}, 
	select: function(item) {
            $.ajax({ 
			   type: 'GET', 
			   url: 'index.php?route=extension/feed/facebookfeedproducts/savegooglecat&user_token={{ user_token }}&google_category_id='+item['value']+'&category_id='+category_id,
			   dataType: 'json', 
		       success: function(){
               },
               complete: function() {
                   $('input[name='+name+']').prop('value', item['label']);
                   
               }
		     });
        
	
		return false;
	},
	focus: function(item) {
      return false;
   }
});

</script>