.main-sidebar{
    display: none;
}



/* new header styles */

.header__tel-row:first-of-type {
    margin-bottom: 8px;
}

.header {
    width: 100%;
}
.header-top {
    display: none;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pre-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}
.pre-header .main-sidebar__box {
    background: transparent;
    border-top: 0px;
    height: auto;
    font-size: 12px;
    color: #fff;
    position: relative;
}
.pre-header .main-sidebar__box .sidebar-button--currency,
.pre-header .main-sidebar__box .sidebar-button--langs {
    font-size: 12px;
    font-weight: 400;
}
.pre-header .main-sidebar__box .sidebar-button--langs {
    margin-right: 23px;
}


.sidebar-langs {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 9.5rem;
    background-color: rgba(255, 255, 255, .9);
    right: 100%;
    z-index: 1;
    bottom: -13px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(150%, 100%);
    transform: translate(150%, 100%);
    -webkit-transition: opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out,transform .3s ease-in-out;
    transition: opacity .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.sidebar-langs__link {
    color: #000;
}
.sidebar-langs__wrap.active .sidebar-langs {
    opacity: 1;
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    pointer-events: auto;
    z-index: 100;
}
.header__tel-message {
    position: relative;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0%;
    border: 0px solid rgba(196,196,196,.3);
}
.sidebar-currency {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 10.5rem;
    background-color: rgba(255, 255, 255, .9);
    right: 100%;
    z-index: 1;
    bottom: -13px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(150%, 100%);
    transform: translate(150%, 100%);
    -webkit-transition: opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out,transform .3s ease-in-out;
    transition: opacity .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
.sidebar-currency__link {
    color: #000
}
.sidebar-currency__link:hover {
    color: #fff;
    background: #0b0b0b;
}

.sidebar-langs__link:hover {
    color: #fff;
    background: #0b0b0b;
}

.sidebar-currency__wrap.active .sidebar-currency {
    opacity: 1;
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    pointer-events: auto;
    z-index: 100;
}
.left-side {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,.1);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 12rem);
    padding: 8px 0;
    padding-left: 66px;
}
.right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,.1);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 12rem);
    padding: 8px 0;
    padding-right: 66px;
}

.header__left {
    padding-left: 66px;
    flex-basis: calc(50% - 12rem);
}
.header__right {
    padding-right: 66px;
    flex-basis: calc(50% - 12rem);
}
.header__logo {
    max-width: 20rem;
}
.header__logo svg {
    max-width: 100%;
}
.header {
    padding-top: 1rem;
}


.languages_new {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.languages_new:hover .header__social-title {
    left: 50%;
    opacity: 1;
}
.currency_new {
    position: relative;

}
.currency_new:hover .header__social-title {
    left: 50%;
    opacity: 1;
}

/*.languages_new .sidebar-langs {
    display: none;
}*/
.catalog-dowload {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.catalog-dowload a {
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}

.main-sidebar__box--basket svg path,
.main-sidebar__box--account svg path,
.main-sidebar__box--fav svg path {
    fill: #fff;

}
.right-side > a {
    margin-left: 18px;
    text-decoration: none;
    border-bottom: 0;
}
/*.right-side > a:nth-child(2) {
    margin-left: 15px;
}*/
.right-side > a:first-of-type {
    margin-left: 0;
}
.main-sidebar__box--account {
    position: relative;
/*    left: 3px;*/
}

.wrapper__content,
.header__wrapper {
    padding-right: 0;
}
.header__tel-text {
    font-weight: 600;
    font-size: 14px;
}

.sidebar-search__form {
    position: relative;
    background: rgba(242, 242, 242, 0.2);
    max-width: 211px;
    width: 100%;
    height: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
}
.sidebar-search__input {
    font-size: 11px;
    padding-left: 12px;
    padding-right: 10px;
    flex: 1 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
}
.sidebar-search__input::placeholder {
    text-transform: uppercase;
    opacity: 1;
}
.sidebar-search__submit {
    width: 20px;
    height: 20px;
    position: relative;
}
.sidebar-search__submit svg {
    width: 100%;
    height: 100%;
    opacity: .5;
}
.header__logo {
    top: 0;
}

.header__tel-message svg path {
    fill: rgba(255,255,255,.65)
}

#autosearch_search_results ul li a * {
    color: #fff !important;
    line-height: 126%;
    font-size: 12px;
}
#autosearch_search_results li:hover {
    padding-left: 2px;
}
.header-nav__link.header-nav__link--dropdown:nth-child(1) svg {
    display: none;
}

.main-sidebar__box.main-sidebar__box--basket:hover .header__social-title {
    left: 50%;
    opacity: 1;
}
.main-sidebar__box--account:hover .header__social-title {
    left: 50%;
    opacity: 1;
}
.main-sidebar__box--fav:hover .header__social-title {
    left: 50%;
    opacity: 1;
}
.main-sidebar__box.main-sidebar__box--basket.empty_basket {
    pointer-events: auto;
}



@media (min-width: 1200px) {

    .searsh-new {
        min-width: 211px;
    }

    .text_mobile_only,
    .icon-mobile-only {
        display: none;
    }
    .header__wrapper.active {
        height: auto;
    }
    .header__wrapper.active .pre-header .main-sidebar__box,
    .wrapper__content--white .pre-header .main-sidebar__box {
        color: #000;
    }
    .header__wrapper.active .catalog-dowload a,
    .wrapper__content--white .catalog-dowload a{
        color: #000;
    }
    .header__wrapper.active .sidebar-search__input::placeholder,
    .wrapper__content--white .sidebar-search__input::placeholder{
        color: rgba(0,0,0,.8);
    }
    .header__wrapper.active .sidebar-search__input,
    .wrapper__content--white .sidebar-search__input {
        color: #000000;
    }
    .header__wrapper.active .sidebar-search__form,
    .wrapper__content--white .sidebar-search__form{
        background: rgba(242, 242, 242, 1);
    }
    .header__wrapper.active .sidebar-search__submit svg,
    .wrapper__content--white .sidebar-search__submit svg{
        fill: #000
    }
    .header__wrapper.active .right-side svg path,
    .wrapper__content--white .right-side svg path{
        fill: #000
    }
    .header__wrapper.active .sidebar-currency__wrap.active .sidebar-button--currency,
    .wrapper__content--white .sidebar-currency__wrap.active .sidebar-button--currency{
        color: #000;
    }
    .header__wrapper.active .sidebar-langs__wrap.active .sidebar-button--langs,
    .wrapper__content--white .sidebar-langs__wrap.active .sidebar-button--langs{
        color: #000;
    }
    .header__wrapper.active .header__tel-message svg path,
    .wrapper__content--white .header__tel-message svg path{
        fill: rgba(0,0,0,.5)
    }

}


@media (max-width: 1679px) {
    .content--product {
        padding-top: 17rem;
    }
}
@media (max-width: 1680px) {
    .header {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width: 1199px) {
    .sidebar-currency__link,
    .sidebar-langs__link {
        color: #fff;
    }

    .languages_new .header__social-title {
        display: none;
    }
    .currency_new .header__social-title {
        display: none;
    }
    .content--product {
        padding-top: 4rem;
    }
    .wrapper {
        padding-top: 48px;
    }
    .main-sidebar__box.main-sidebar__box--basket svg {
        width: 21px;
        height: 22px;
    }
    .main-sidebar__box.sidebar-logo svg:nth-child(2) {
        width: 139px;
    }
    .header__logo--image {
        width: 29px;
        height: 38px;
        display: none;
    }
    .pre-header .right-side a:nth-child(2) {
         order: 1;
     }
    .pre-header .right-side a:nth-child(3) {
        order: 2;
    }
    .pre-header .right-side a:nth-child(1) {
        order: 3;
        display: none;
    }

    .header__tel-text {
        font-weight: 600;
        font-size: 16px;
    }
    .main-sidebar__top {
        background: #fff;
    }
    .main-sidebar__top .sidebar-logo,
    .main-sidebar__top .sidebar-button,
    .main-sidebar__top .main-sidebar__box--basket {
        background: #fff;
    }
    .pre-header {
        background: #fff;
    }
    .header-nav {
        background: #fff;
    }
    .header__tel-row:first-of-type {
        margin-bottom: 45px;
    }
    .header__tel-message svg {
        width: 23px;
        height: 21px;
    }
    .header__tel-message svg path {
        fill: rgba(0,0,0,.6)
    }
    .icon-mobile-only {
        padding-right: 19px;
    }
    .main-sidebar__box--account .icon-mobile-only {
        position: relative;
        left: -2px;
    }
    .main-sidebar__box.main-sidebar__box--account .text_mobile_only + svg  {
        display: none;
    }
    .header-mobile__box {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .header-mobile__box .mobile-icons {
        display: none;
    }
    .header-mobile {
        top: 48px;
    }
    .sidebar-search__wrap.active .sidebar-search {
        display: block;
        top: 0;
        left: 6rem;
        height: 6rem;
    }
    .sidebar-search__wrap.active .sidebar-search .sidebar-search__form {
        position: relative;
        background: rgba(242, 242, 242, 0.2);
        max-width: 211px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-right: 12px;
        max-width: calc(100% - 6rem);
    }
    .sidebar-search__wrap.active {
        position: static;
    }
    .sidebar-button.sidebar-button--search svg {
        width: 20px;
        height: 20px;
    }
    .sidebar-phones__wrap {
        display: none;
    }
    .phone-animate svg path {
        fill: #000
    }
    .main-sidebar__box--basket svg path, .main-sidebar__box--account svg path, .main-sidebar__box--fav svg path {
        fill: #000;
    }
    .main-sidebar__box.sidebar-logo .sidebar-logo--text {
        /* padding-top: 17px; */
        margin-top: 16px;
        max-width: 139px;
        margin-bottom: 5px;
    }
    .main-sidebar__box.sidebar-logo {
        flex-direction: column;
        height: 100%;
    }
    .main-sidebar__top {
        height: 48px;
        justify-content: flex-end;
    }
    .sidebar-langs,
    .sidebar-currency {
        background-color: transparent;
    }
    .sidebar-currency__wrap.active .sidebar-currency,
    .sidebar-langs__wrap.active .sidebar-langs {
        opacity: 1;
        -webkit-transform: translate(0%, 100%);
        transform: translate(0%, 100%);
        pointer-events: auto;
        left: unset;
        right: 0;
    }
    .sidebar-currency__item {
        background: rgba(0,0,0,.8);
    }
    .sidebar-langs__link {
        background: rgba(0,0,0,.8);
    }
    .sidebar-currency__wrap.active .sidebar-button--currency {
        color: #000;
    }
    .sidebar-langs__wrap.active .sidebar-button--langs {
        color: #000;
    }
    .header {
        border-top: 0;
    }
    .main-sidebar{
        display: block;
    }

    .header__left {
        padding-left: 0px;
        flex-basis: 100%;
    }
    .header__right {
        padding-right: 0;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
    .searsh-new {
        display: none;
    }
    .header__tel-row {
        margin-bottom: 40px;
    }
    .main-sidebar__bottom {
        display: none;
    }
    .header__tel-box {
        padding-top: 49px;
    }

    .pre-header .left-side {
        flex-basis: 100%;
        padding: 8px 0;
        padding-left: 0px;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .pre-header .right-side {
        flex-basis: 100%;
        padding: 0px 0;
        padding-right: 0;

        border-bottom: 0;
    }

    .pre-header .main-sidebar__box,
    .sidebar-button__description{
        color: #000;
    }
    .sidebar-button__description {
        padding-right: 0;
    }
    .pre-header .main-sidebar__box .sidebar-button--langs {
        margin-right: 5px;
    }

    .pre-header .right-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .pre-header .right-side > a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;
        justify-content: flex-start;
        text-transform: uppercase;
        color: #333;
        font-size: 1.8rem;
        font-size: 500px;
        margin-left: 14px;
        width: calc(100% - 14px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        font-size: 16px;
        height: 66px;
        flex: 66px;
        padding-right: 20px;
        padding-left: 0px;
    }
    .pre-header .right-side > a .main-sidebar__number {
        position: static;
        right: 0px;
        top: 0px;
        display: block;
        text-align: center;
        width: auto;
        height: auto;
        color: #000;
        background-color: transparent;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 600;
        line-height: 126%;
    }
    .pre-header .right-side > a .main-sidebar__holder svg {
        display: none;
    }
    .pre-header .main-sidebar__holder {
        margin-left: auto;
    }
    .header {
        padding-top: 0;
    }
    .header-nav__list {
        width: calc(100% - 14px);
        margin-left: 14px;
        border-bottom: 0;
    }
    .header-nav__link {
        height: 66px;
        font-size: 16px;
        font-weight: 400;
        border-bottom: 0px solid transparent;
        padding-left: 0;

    }
    .header__right .header-nav__item {
        margin-right: 0;
        border-bottom: 0px;
        margin-left: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .header__right .header-nav__item:last-of-type {
        border-bottom: 0;
    }
    .header-nav {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .header__right .header-nav {
        border-bottom: 0px solid rgba(0, 0, 0, 0);
    }
    .header-mobile__box {
        background-color: #f5f5f5;
    }
    .header__tel-text {
        text-decoration: underline;
    }

    .pre-header .left-side {
        display: flex;
        flex-wrap: wrap;
    }

    .catalog-dowload {
        width: 100%;
        margin-left: 0;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        height: 66px;
        padding-left: 14px;

    }
    .catalog-dowload a {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .pre-header .left-side .sidebar-button__description {
        position: static;
        font-size: 12px;
        text-transform: uppercase;
    }
    .languages_new {
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .pre-header .currency_new {
        order: -1;
        margin-left: 14px;
        margin-right: 44px;
    }
    .currency_new {
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .pre-header .left-side .main-sidebar__box {
        width: auto;
    }
    .pre-header .sidebar-langs__wrap {

    }
    .pre-header .main-sidebar__box .sidebar-button--currency, .pre-header .main-sidebar__box .sidebar-button--langs {
        font-weight: 600;
        margin-left: 5px;
        padding-right: 15px;
    }
    .sidebar-button__description::after {
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        margin-top: -.4em;
        pointer-events: none;
        position: absolute;
        right: 7px;
        top: 50%;
        -webkit-transform-origin: 66% 66%;
        transform-origin: 66% 66%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        z-index: 1;
    }
    .currency_new  .sidebar-button__description::after {
        right: 1px;
    }
}

@media (max-width: 560px) {
    .header-mobile__box {
        max-width: 100%;

    }
}