<form action="{{ action }}" method="post" id="liqpay-form">
  <input type="hidden" name="operation_xml" value="{{ xml }}">
  <input type="hidden" name="signature" value="{{ signature }}">
  <button type="submit" class="btn btn--gold" id="button-confirm">{{ button_confirm_order }}</button>
</form>
<script type="text/javascript">
    $('#button-confirm').on('click', function(event) {
        event.preventDefault();

        var data = $('input[name=\'firstname\'], input[name=\'telephone\'], input[name=\'email\'], input[name=\'country_id\'], input[name=\'zone_id\'], input[name=\'service_lift\'], input[name=\'accept\'], input[name=\'delivery_address\']');

        $.ajax({
            url: 'index.php?route=extension/payment/liqpay/confirm',
            data: data,
            type: 'post',
            dataType: 'json',
            success: function(json) {

                $('#form_first_step input').removeClass('error');
                $('.form-input').removeClass('error');

                if (json['error']) {
                    if(json.error){
                        event.preventDefault();
                        for (var key in json.error){
                            if (json.error.hasOwnProperty(key)) {
                                $('#form_first_step').find('[name="'+key+'"]').parent().addClass('error');
                            }
                        }
                    }
                }

                if (json['success']) {
                    $('#liqpay-form').submit();
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>