

/* ************************************************************************************************
CMS Pages Styles
************************************************************************************************ */
/*==========================SMART BLOG =======================*/

div.blog-item{
    .itemBlogContent{display: block;   clear: both; margin-top: -1px;border: 1px solid $base-border-color;
        h4.blog-title{font-size: 18px; margin: 0px 0px 8px;
            a{color: $textColor;
                &:hover{color: $linkColor;}
            }
        }

        .blog-header .created{height: auto; background: transparent; color: #999; padding: 0;
            i{margin-#{$right} : 5px;}
        }
        
    }
}
.blog-listitem.list{
    div.blog-item{
        .itemBlogContent{
            border: none;
            margin-top: -8px;
        }
    }
}
.blog-listitem .blog-item .itemBlogContent .article-description{
    display: block!important;
}
.itemBlog-header{margin-bottom: 38px;
    .blog-meta{border: 0;color: #999;
        > span{padding: 0 11px; line-height: 14px;
            &.created{padding-#{$left} : 0;}
        }
    }
}
.blog-listitem.grid{
    .blog-item .itemBlogContent .blog-meta{
        padding-bottom: 0;
    }
}
.simple_blog-category{
    .pagination>li>a, .pagination>li>span{
        min-width: 30px;
        min-height: 30px;
        text-align: center;
        line-height: 30px;
        margin: 0 2px;
        padding: 0;
    }
    .pagination > li {
        display: inline;
    }
}
/*==================Blog category ==================*/
.blog-category{
    h2.box-heading{font-size: 16px; border-bottom: 1px solid #e6e6e6;margin: 0 0 6px;padding: 9px 0; text-transform: uppercase; font-weight: bold; position: relative;

        &:after{content:" "; width: 50%; height: 1px; background: $background1; display: block; position: absolute; bottom: 0;margin-bottom: -1px; }  
    }
    
}
/*=======================BLOG LATEST ===================*/
.simple_blog-article-view{
    .article-image {
        margin-bottom: 30px;
    }
    div.article-info .article-title h1 {
        margin-bottom: 5px;
    }
}
/*======================BLOG COMMENT ==================*/
.blog-listitem.list .itemBlogImg.left-block{
    padding-#{$right}: 30px;
}
/*SO LATSET*/
.so-latest-blog{
    margin-bottom: 35px;

    border: 1px solid #e9e9e9!important;
    padding: side-values(15px 15px 8px);
    border-radius: 0;
    >h3{
        font-size: 18px;
       // border-bottom: 1px solid #f6a873;
        margin: 0 0 15px;
        padding: 5px 0 20px 0;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        color: #121212;
    }
    .cat-wrap{
        display: inline-block;
        width: 100%;
    }
    .blog-external-simple{
        /*display: inline-block;*/
        .media-left{
            display: inline-block;
            float: $left;
            padding-#{$right}: 20px;
        }
        .media-body{
            padding-top: 7px;
            .fa-calendar{
                display: none;
            }
            .media-heading{
                a{
                    font-size: 13px;
                    font-weight: 300;
                    color: #545454;
                    text-transform: capitalize;
                    &:hover{
                        color: $background1;
                    }
                }
            }
            .media-date-added{
                font-size: 12px;
                color: $background1;
            }
        }
    }
}
/*===================PAV PAGINATION =============*/
.filters-panel .pagination{margin: 0px; }

/*---------------------- SIMPLE BLOG --------------------------*/
.blog-header{margin-bottom: 10px;
    h2{font-weight: bold;text-transform: uppercase;margin: 0;}
}
.blog-listitem.list{
    .left-block,
    .right-block{
        padding: 0;
    }
}
/*BLOG LISTING*/
.blog-listitem{
    &.list{
        div.blog-item .itemBlogContent{clear: initial;}
        .itemBlogContent .blog-meta{padding-bottom: 0!important;}
        .blog-bg{
            position: relative;
            padding-top: 15px;
            .blog-date{
                position: absolute;
                top: 0;
                background: #beae59;
                text-align: center;
                padding: 28px 22px 26px;
                z-index: 1;
                #{$left}: 0;
                .date-day{
                    font-size: 22px;
                    line-height: 21px;
                    color: #fff;
                    display: block;
                    font-weight: bold;
                }
                .date-mon{
                    font-size: 11px;
                    text-transform: uppercase;
                    color: #fff;
                    display: block;
                    font-weight: bold;
                }
            }
            a.see-more{
                font-size: 12px;
                color: #fff;
                background: #999999;
                border-radius: 3px;
                display: inline-block;
                padding: 0 17px;
                line-height: 30px;
                margin-top: 10px;
                b{
                    font-weight: normal;
                }
                &:hover{
                    background: $background1;
                }
            }
        }
    }
    &.grid{
        .blog-bg{
            background: #fff;
            
        }
        .blog-item{
            .blog-date{
                display: none;
            }
            .article-title h4 a{
                font-size: 14px;
                color: #1e1e1e;
                &:hover{
                    color: $linkColor;
                }
            }
            .blog-data{
                padding: 15px 20px 20px;
                .blog-meta{
                    font-size: 11px;
                    color: #bbbbbb;
                    margin-#{$right}: 15px;
                }
            }
        }
        .see-more{
            display: none!important;
        }
    }
}
.blog-listitem.grid .itemBlogImg.left-block{
    display: block;
    position: relative;
}
.rtl .blog-category ul li.list-group-item i.fa {
    padding-right: 5px;
    padding-left: 0;
    transform: rotate(180deg);
}
.blog-listitem.list .blog-item .itemBlogImg .article-image{margin:0;}
.blog-listitem{margin: 0 -15px;
    .blog-item{
        margin-bottom: 30px;
        .itemBlogImg{
      .article-image{margin-bottom:0px;position:relative;z-index:1;}
            
           
            img{border: 0; padding: 0; border-radius: 0; width: 100%;}
        }
        .itemBlogContent{
            .article-title h4{margin: 0px 0px 8px;
                a{
                    font-size: 14px;
                    color: #1e1e1e;
                    font-weight: bold;
                    text-transform: uppercase;
                    &:hover{
                        color: $linkColor;
                    }
                }
            }
            .article-sub-title{border: 0; margin-bottom: 0; display:inline;
                .article-date{font-size: 11px; color: #999;
                    i{margin-#{$right}: 5px;}
                    b{font-weight: normal;}
                }
            }
            .article-description{padding: 8px 0;font-size: 12px;    color: #666666}
            
            .blog-meta{
                display:inline-block;
                line-height: 10px;
                padding: 10px 0 20px;
                clear: both;
                i{
                    padding-#{$right}: 5px;
                    color: #bbb;
                }
                > span{
                    
                    line-height: 15px;
                    font-weight: normal;
                    float: $left;
                    font-size: 11px;
                    color: #bbbbbb;
                    margin-#{$right}: 15px;
                    padding-#{$right}: 20px;
                &.comment_count{
                    padding-#{$left} : 0;
                    color: #737373;
                    a{
                        font-size: 11px;
                         color: #bbbbbb;
                        &:hover{
                            color: $linkColor;
                        }
                    }
                }
            }
        }
        }
    }
}

/*BLOG CATRGORIES*/
.blog-category{
    border-radius: 0;
    box-shadow: none;
    border-color: transparent;
    &.module h3.modtitle{
        margin: 0;
    }
    .box-content{
        padding: 10px 25px;
        ul{
            margin-bottom: 0;
        }
    }
    ul li.list-group-item{
        border-radius: 0;
        border: 0;
        margin: 0;
        padding: 0;
        i.fa{
            padding-#{$right}: 5px;
        }
        &:last-child{
            border: none;
            padding-bottom: 0;
        }
        a{
            border-radius: 0;
            border: 0;
            padding: 0;
            background: transparent;
            @include transition(all 0.3s ease-in-out);
            line-height: 34px;
            color: #444;
            &:hover{
                padding-left: 5px;
                color: $linkColor;
            }
        }
    }
}
#blog-search{display: none;}
/*--------------------ARTICLE INFO ------------------*/
div.article-info{
    border: 0;
    .contacts-form{
        .col-md-12{
            fieldset{margin: 0 -15px;}
        }
    }
    .article-title{
        
        h1{
            font-size: 20px;
            text-transform: uppercase;
            color: #1e1e1e;
            font-weight: bold;
            padding-bottom: 1px;
        }
    }
    .article-sub-title{
        float: $left;
        width: 100%;
        border: 0;
        padding-top: 7px;
        margin-bottom: 20px;
        span{
            font-weight: bold;
            display: block;
            float: $left;
            font-size:11px;
            color: #bbb;
            line-height: 11px;
            padding: 0 11px;
            font-weight: normal !important;
            &.bullet{display: none;}
            b{font-weight: normal;}
            &.article-author{padding-#{$left} : 0;
                a{
                    font-size: 11px;
                    color: #bbb;
                    font-weight: normal;}
            }
            &.article-comment{border-#{$right} : 0;}
        }
        .article-share{display: none;}
    }
    .article-image{
        clear: both;
        img{
            border: 0;
            border-radius: 0;
            padding: 0;
            height: auto;
            width: 100%;
        }
    }
    .article-description{font-size: 12px;
    color: #666;}
    
    .related-comment{
        border-radius: 0;
        border: 0;
        border-top: 1px solid #e6e6e6;
        padding-top: 40px;
        box-shadow: none;
        margin-top: 40px;
        background: transparent;
        .article-reply{
            border: none;
            background: #f9f9f9;
            .author{
                font-weight: bold;
                font-size: 16px;
            }
            .article-reply{
                background: #f4f3f3;
            }
        }
        .panel-body{padding: 0; border: 0;
            .form-group #comments{padding: 0; border: 0; overflow: hidden;
                h2#review-title{
                    margin: 0 0 30px;
                    padding: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 18px;
                    color: #121212;
                }
            }
        }
        #button-comment{
            background: $background1;
            border-color: $linkColor;
            text-transform: uppercase;
            @media (min-width:992px){
                padding: 10px 52px;
            }    
            &:hover{
                background: #444;
                border-color: #444;
            }
        }
    }
    #comment-list{
        h5{display: none;}
        a{color: $linkColor;}
    } 
    .itemFullText{text-align: justify;}
}

/*============ARTICLE COMMENTS==================*/
.comments {
  margin-bottom: 30px;
}
.comments.comments-level-1 {
  margin-left: 136px;
}
.comments .pull-left {
  width: 100px;
  height: 100px;
  display: block;
  background-color: #f5f5f5;
  margin-#{$right}: 30px;
  position: relative;
  padding: 0;
}
.comments .pull-left .fa {
  font-size: 46px;
  display: block;
  text-align: center;
  margin: 25px 0;

}
.comments .pull-left img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.comments .pull-left span {
  position: absolute;
  display: inline-block;
  top: 15%;
}
.comments .media-body .media-title {
  color: #1fc0a0;
  padding-bottom: 14px;
}
.comments .media-body .media-title .username {
  font-size: 18px;
  font-style: italic;
  font-family: Georgia, sans-serif;
  display: inline-block;
  margin-right: 14px;
}
.comments .media-body .media-title .time {
  font-size: 16px;
}

.comments .media-body .media-title .time .fa {
  font-size: 20px;
  margin: 0 13px 0 0;
  position: relative;
  top: 3px;
}

.comments .media-body .media-title .link:hover {
  text-decoration: none;
}
.blog-comment-info{
  textarea.form-control,
  input.form-control{border: 1px solid #ddd; background: #fff;}
}