/*===============================================
    [SASS DIRECTORY ]
    
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SOCIAL FOOTER
    
==============================================*/

/*============MODULE DEFAULT ==================*/
.module {margin-bottom: 50px; @include clearfix();
    &.fa-hidden{
        h3.modtitle:before{ display: none;}
    }
    .modtitle{
        font-size: 26px;
        font-weight: 300;
        color: #222;
        text-transform: uppercase;
      line-height: 100%; padding: side-values(0px 0 15px 20px);  margin-bottom: 0;
      position: relative;
      &:before{
        content: "";

        width: 2px ;
        height: 17px;
        background: $background;
        position: absolute;
        #{$left}: 0;
        top: 2px;
      }
        span{ font-size: 26px; text-transform: uppercase; color: #222; font-weight: 600; display: inline-block; }
    }
}

.top-brand.arrow-default .owl2-nav { 
    position: static;
}
.yt-content-slider.arrow-default .owl2-nav{ position: static; }
.module.sohomepage-slider .so-homeslider img{ transform-style: initial; }
.title-margin{ 
    h3.modtitle{margin-bottom: 15px;}
}
.title-underline{
    h3.modtitle{font-size: 16px; text-transform: uppercase; font-weight: bold; position: relative;
        &:after{content:" "; width: 125px; height: 1px; background: $background; display: block; position: absolute; bottom: 0;margin-bottom: -1px; }  
    }
    
}

.bordered_content {
    border-radius:3px;
    border:1px solid #eaeaea;
    background:#ffffff;
}
.yt-content-slider .owl2-controls{margin: 0;}


/*============MODULE NEWLETTER POPUP ==================*/
.main-newsleter-popup{ 
    .so-custom-popup{background-color: $white;background-position: 15px center !important;
        @include breakpoint(sm){width:85% !important;
            &:before{content: "";position: absolute;z-index: 2;background: rgba(255,255,255,0.9);width:100%;height: 100%;top:0;#{$right}: 0;}
        }
         @include breakpoint(xs){
            &:before{content: "";position: absolute;z-index: 2;background: rgba(255,255,255,0.9);width:100%;height: 100%;top:0;#{$right}: 0;}
        }

    }
    
    .modcontent{position: relative;z-index: 9;    
    }
    .so-custom-popup .oca_popup .popup-content{
        padding: 90px 354px 90px 40px;
         text-align: $left;
        @include if-rtl{     
             padding: 90px 40px 90px 354px;
        }
        .popup-title{ 
            font-size: 250%;
            color: #1b1b1b;
         }
        .newsletter_promo {  
           color: #666;
            font-size: 108%;
            margin: 12px 0 30px;
            padding: 0;
            line-height: 22px;
        }
        .email{margin: 0;}
        .input-control{ position: relative; width: 400px; display: inline-block; margin-bottom: 15px; }
        .form-control{
           height: 40px;
            width: 100%;
            border-#{$right}: 0;
            border: 1px solid #cbcbcb;
            color: #b2b2b2;
            font-size: 108%;
            background: transparent;

        }
        .hidden-popup{font-weight: normal;padding: 0;margin-#{$right}: 40px;color: #666;}
        .btn-default{
                padding: 0 20px;
                height: 40px;
                text-transform: uppercase;
                font-weight: bold;
                color: #fff;
                background: #2a2a2a;
                position: absolute;
                margin: 0;
                top: 0;
                #{$right}: 0;
                #{$left}: inherit;
         }
    }
    .form-group{
        padding: 0;
    }
    .socials-popup {
        display: inline-block;
        li{ display: inline-block;
            a{
               display: inline-block;
                line-height: 38px;
                text-align: center;
                margin: 0 10px;
                font-size: 16px;
                color: #898989;
                @include transition(all 0.2s ease-in-out);
                &:hover{ color: $linkColor; }
            }
        }
    }
    
}
.custom-pop .popup-close{
    background: #000;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    opacity: 1;
    top: -15px;
    border: 2px solid #fff;
    #{$right}: -15px;
    #{$left}: auto;
}
    
/************************************************************************************************
    EXTRASLIDER BESTSELER
*************************************************************************************************/
.best-seller-custom.best-seller{position: relative; margin: 0;
    border: 1px solid $border-color;
    .so-extraslider{margin:0;}
    .so-extraslider .extraslider-inner {padding-bottom: 0; border: none;
        .item-wrap-inner{margin: 18px 0 8px;
            @media (min-width: 1200px) {
                padding-#{$left}: 10px;;
            }
        }
        .item .item-wrap.style1 {border-bottom: none; margin-bottom:2px;
            &:last-child{border-bottom: 0; margin-bottom: 0;}
            .media-left{float: $left; width: 100px;
                .item-image{border: 0;
                    .lt-image{
                            @extend .lib-two-img;
                    }
                    &:hover{box-shadow: none; opacity: 0.8;}
                }
            }
            .media-body{
                .item-info{background: transparent; position: static; 
                    a{color: $textColor;}
                    .item-title{padding: 0 ;
                        a{text-transform: capitalize; font-size: 14px; font-weight: normal;
                            &:hover{color: $linkColor;}
                        }  
                    } 
                    .item-content{margin-left: 0;
                        .content_price span{color: $textColor;font-size: 17px;font-weight: bold;
                            &.price-old{font-size: 12px; color: #898989; font-weight: normal;} 
                        }
                    }
                    .rating{padding: 0;}
                }
            }
            &:hover{
                .media-left .item-image .lt-image{
                    @extend .lib-two-img-over;
                }
                .item-title a{
                    color: $linkColor;
                } 
            }
        }
    }
    .so-extraslider .extraslider-inner .item-wrap .item-info .item-content .content_price{ margin-bottom: 0; }
    .so-extraslider .owl2-controls{ margin-bottom: 8px;text-align: $right;position: absolute; top: 4px; vertical-align: middle; #{$right}: 5px;
        .owl2-nav > div{width: 17px; height: 30px;text-align: center;display: inline-block; line-height: 30px; 
            font-size: 0;cursor: pointer;color: #999999; background-color: transparent;margin-top: 0;position: static; float: $left;
            @include if-rtl {
                &.owl2-next{ right: 0; }
                &.owl2-prev{ left: 0; }
            }
            &:hover{color: $linkColor;}
        }
        .owl2-prev:before{ content: "\f104"; font-family: FontAwesome; font-size: 28px;}
        .owl2-next:before{content: "\f105";font-family: FontAwesome;font-size: 28px;}
    }      
}
/*============MODULE BREADCRUMB ==================*/

.breadcrumbs{
    position: relative;
    padding: 100px 0 49px;
    text-align: center;
    text-transform: uppercase;
    background: url("../../images/bg-bread.jpg")  repeat fixed center top ;
    margin-bottom: 40px;
    min-height:155px;
    color: #fff;
    @media (min-width:1200px){
        padding: 150px 0 49px;
        min-height: 300px;
        background-size: cover;
    }
    .title-breadcrumb{
        b{
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 17px;
            display: block;
            @media (min-width:991px){
                font-size: 40px;
            }
            
        }
    }
    .breadcrumb-cate {
        background: none;
        border-radius: 0; display: block;padding: 0;
        li{ 
            display: inline-block;
            position: relative;;
            text-transform: capitalize;
            padding: side-values(0 5px 0 18px);
            &:first-child{
                padding: side-values(0 5px 0 0px);
            }
            a{
                color: #fff;
            }
          
           + li{
              &:before{
                color: #fff;
                content: '\f105';
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                font-synthesis: weight style;
                font-stretch: normal;
                font-size-adjust: none;
                font-language-override: normal;
                font-kerning: auto;
                font-feature-settings: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-align: center;
                font-size: 12px;
                position: absolute;
                top: 5px;
                #{$left}: 0;
              }
              &:hover{
                 a{
                    color: $linkColor;
                 }
                 
              }
           }
        }
    }
}



/*============ MODULE MEGAMENU HORIZOL  ==================*/
.container-megamenu.horizontal{
    .feafute h4.title-feature,
    .title-feature,
    ul.megamenu .title-submenu,
    ul.megamenu li .sub-menu .content .static-menu a.main-menu,
    ul.megamenu .subcategory  a.title-submenu{ 
        font-size: 14px;
        color: #222;
        text-transform: uppercase;
        padding: 15px 0;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .best-sellers-menu{
        margin-top: 20px;
        h4 a{
            color: #222;
            display: inline-block;
            clear: both;
            margin-top: 20px;
            margin-bottom: 0px;
            &:hover{
                color: $background;
            }
        }
    }
    .content-feature li a{
        padding: 5px 0;
        display: inline-block;
        text-transform: capitalize;
        font-size: 13px;
        color: #7d7d7d;
        &:hover{ color: $linkColor; }
    }
    ul.megamenu li .sub-menu .content .html a.subcategory_item{
        display: inline-block;
        padding: 3px 0;
        text-transform: capitalize;
        font-size: 13px;
        color: #7d7d7d;
        &:hover{ color: $linkColor; }
    }
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a,
    ul.megamenu .sub-menu .content .hover-menu .menu ul a.main-menu{
        padding: 9px 0;
        text-transform: capitalize;
        font-size: 13px;
        color: #7d7d7d;
        &:hover{ color: $linkColor; }
    }
    ul.megamenu > li > a strong img{ position: absolute; top: -15px; #{$right}: 30px; }
}
/*============ MODULE MEGAMENU VERTICAL  ==================*/
.container-megamenu.vertical {
    a{@include linkGray(); font-size: 13px;display: block;}
    #menuHeading{margin-top: 0;height: 58px;cursor: pointer;
        .megamenuToogle-wrapper{background-color: $background; height: 58px; cursor: pointer; @include transition(0.3s all ease 0s); border-radius: 0;
            .container{ font-size: 13px; text-transform: uppercase; font-weight: bold; padding: side-values(0 0 0 15px)!important; line-height: 58px; background: #2d2d2d;
                &:before {
                    width: 19px;
                    height: 14px;
                    display: inline-block;
                    background: url("#{$imgPath}icon/icon_general.png") no-repeat -20px -1379px;
                    margin-#{$right}: 10px;
                }   
                > div{
                    margin:side-values(3px 9px 0 0);
                    float: $left!important;
                    display: none;
                }
            }
        }
    }
    &:after{content: "\f0d7";font-family: fontawesome;font-size: 12px; position: absolute;top: 22px;  z-index: 10; color: #fff; line-height: 13px; text-align: center; width: 15px;  border-radius: 100%;border: 1px solid #fff; #{$right}: 13px; }
    .vertical-wrapper{ 
       // width: 100%;
         background: white; position: relative; border-top: 0; 
        ul li{ border-top: 0; min-height: 37px;
            > a{color: #222222; padding: 0 18px;; line-height: 38px; border-bottom: 0;font-size: 12px;
                &:hover{color: $linkColor;}
                strong{font-weight: normal;}
            }
        }
        ul.megamenu{  border: 1px solid #efefef; border-top: none; background: #fff;}
        ul.megamenu .sub-menu .content .img-banner img{ width: 100%; }
        ul.megamenu .sub-menu .content .img-banner { padding-#{$right}: 15px; }
        ul.megamenu > li .sub-menu .content .banner {
            margin-top: -21px;
            margin-bottom: -22px;
            margin-right: -21px;
        }
        ul.megamenu > li > a img{height: auto; margin: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); #{$left}: 2px;
        }
        ul.megamenu > li{ padding: 0 15px; background: none; border: 0; position: relative; z-index: 1; cursor: pointer;
            b.fa{
                float: $right;
               line-height: 38px;
                color: #adadad;
                @include if-rtl {
                    &:before {
                        content: "\f104";
                    }
                }
            }
            > a{
                padding: 0; font-size: 14px; color: #222; border-bottom: 1px solid #e1e1e1 ; 
                strong i{font-size: 9px;padding-#{$right}: 5px;color: #222;}
            }
            &.active,
            &:hover{
                > a{
                    background: transparent!important;
                    color: $linkColor !important;
                    i{color: $linkColor;}
                }
            }
        }
        ul.megamenu {
            .title-submenu{color: #444;}
            .fa-caret-right{float: $right;margin-top: 5px;color: #999;padding: 0;}
            .item-vertical.vertical-style1{
                
                .content{
                    padding:side-values(20px 0 0 20px);
                    overflow: hidden;
                    .col-sm-4{padding: 0;
                        img{
                            margin-top: 45px;
                        }
                    }
                    > .border{border: none;padding: 0;}
                    .row:nth-child(3){
                        padding: 12px 0px;
                        background: #eee;
                        margin: 0 -20px;
                    }
                }
            }
           
            .item-vertical.vertical-style2{
                .content{
                    padding-#{$right}: 0;
                    padding-bottom: 0;
                    padding-top: 0;
                    .static-menu .menu ul li{
                        padding: 0;
                        line-height: 26px;
                        a.main-menu{margin: 0 0 10px;}
                    }
                    .static-menu .menu > ul{
                        margin-top: 20px;
                        ul li{padding: 1px 0; }
                        > li{margin: 0 0 20px;
                            &:last-child{margin: 0 ;}
                        }
                    }
                }
            }
            .item-vertical.vertical-style3{
                .content{
                    
                    > .border{border: none;padding: 0;}
                    .image-position{
                        position: absolute;
                        bottom: 30%;
                        #{$right}: -20px;
                    }
                }
            }
            .item-vertical.css-menu{
                .content{
                    padding: 0;
                    .menu > ul{
                        padding: 0;
                        >li{
                            padding: 0 15px;
                            position: relative;
                            border-bottom: 1px solid $base-border-color;
                            line-height: 26px;
                            &:last-child{border: none;}
                            > a{ line-height: 37px; }
                            b{
                                line-height: 37px;
                                font-size: 16px;
                                margin: 0 ;
                                
                            }
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                padding: 0;
                                top: -4px;
                                margin: 0;
                                box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
                                border: 1px solid #e6e6e6;
                                &:before, &:after{display: none;}
                                #{$left}: 100%;
                                li{
                                    line-height: 22px;
                                    padding: 0 15px;
                                    border-bottom: 1px solid #ddd;
                                    &:last-child{border: none;}
                                    > a{
                                        font-weight: normal;
                                        line-height: 37px;
                                        font-size: 13px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
            .item-vertical.style1{
                .sub-menu .content{
                     padding: 0;
                     .categories {
                        padding: 20px;
                     }
                 }

            }
            // li .sub-menu{
            //     @include if-rtl {
            //         left: auto;
            //         right: 100% !important;
            //     }
            // }
            li .sub-menu .content{
                border: 1px solid #e6e6e6;
                padding: 20px;
                @include if-ltr {box-shadow: 3px 1px 4px 0 rgba(0, 0, 0, 0.1);}
                @include if-rtl {box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.1);}
                .hover-menu a{
                    &:before{display: none;}
                    &:hover{
                        &:before{color: $linkColor;}
                    }
                }
                .static-menu .menu {
                    ul{
                        li a.main-menu{
                            margin: 0 0 10px;
                            border-bottom: 1px solid #eaeaea;
                            padding: 0 0 10px;
                            font-size: 16px;
                            color: #222;
                            text-transform: uppercase;
                        }
                        ul{
                            padding: 0;
                            li{padding:  0;
                                a{
                                    padding: 0;
                                    line-height: 38px;
                                    display: block;
                                    font-size: 13px;
                                    color: #7d7d7d;
                                }
                                &:before{
                                    display: none;
                                }
                                &:hover{
                                   a{ color: $linkColor; } 
                                }
                            }
                        }
                    }
                }
            }
            .loadmore{text-align: $left;  background-position: top $left;  padding: 12px 18px;
                i.fa{
                    padding: 0;
                    font-size: 10px;
                    border: 1px solid #999;
                    width: 15px;
                    color: #999;
                    height: 15px;
                    line-height: 13px;
                    text-align: center;
                    border-radius: 100%;
                    position: relative;
                    top: -1px;
                }
                span.more-view{  color: #222;   &:hover{  color: $linkColor; } 
                }
                
            }
        } 
       
    }
}

/*============CATEGORY SIMPLE BLOG==================*/
.blog-category{ border-radius: 0; border: 0; box-shadow: none; margin: 0;
    .blog-cate{ border: 1px solid $border-color; }
    .box-content{margin-bottom: 30px;
        ul{margin-bottom: 0;}
    }
    #blog-search input{ border-radius: 0; }
    ul.list-group{  padding:0 ; margin: 0; }
    ul li.list-group-item{ border-radius: 0; border: 0; border-bottom: 1px solid $border-color; margin: 0; padding: 10px 0;
        a{ color: #7d7d7d; padding: 0 20px;
            &:hover, &.active, &.active:hover{color: $linkColor;}
        }
        &:last-child{ border: none; }
    }
}
ul.megamenu {
    .best-sellers-menu{padding: 0;
        .image{overflow: hidden;}
        .caption {
            overflow: hidden;
            h4 a{
                font-size: 14px;
                font-weight: normal;
            }
            p{display: none;}
            .price{display: inline-block;
                .price-old,
                .price-tax{ display: none; }
            }
        }
    }
    li.buy_color{
        a strong{ color: $linkColor; }
    }
    .layout-color .content-feature{
        li a{ position: relative; }
        li a:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            background-color: #e1e1e1;
            vertical-align: middle;
            #{$left}: 0;
            margin-#{$right}: 10px;
        }
        li.red{ 
            a:before{ background: #ea3a3c; }
        }
        li.orange{ 
            a:before{ background: #F4A137; }
        }
        li.green{ 
            a:before{ background: #20bc5a; }
        }
        li.cyan{ 
            a:before{ background: #009688; }
        }
        li.blue{ 
            a:before{ background: #5f87d1; }
        }
    }
}
/*============MODULE FILTER ==================*/
.module.so_filter_wrap{
    border: none;
    .modcontent{
        border: 1px solid $base-border-color;
        margin-top: -2px;
        background: #fff;
        .so-filter-heading{padding: 0;.so-filter-heading-text{text-transform: uppercase;}}
        .so-filter-heading .so-filter-heading-text{
            float: $left;
            padding: 15px 0 0px;
            color: #444;
            font-weight: 700;
        }
        .so-filter-content-opts-container{
            padding-top: 5px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 15px;
            span.fa.fa-square-o{display:none;}
            .so-filter-option label{
                font-size: 12px;
            }
            .option-count.opt_close{background: $background;}
            .opt-select{
                border: none;
            }
            .so-filter-option:hover{
                .option-input:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
            }
            .so-filter-option .option-input{
                &:before {
                    margin-top: -7px!important;
                }
                .fa-check-square-o{
                    display: none;
                }
            }
             .put-min_max{
                display: inline-block;
                background: #fff;
                border: 1px solid #ddd;
                width: 49%;
                padding: 0 5px;
                float: $left;
                &.put-min{ margin-#{$right}: 2%; }
                input{ background: transparent; }
            }
            .so-filter-option.opt_active{
                .option-input,
                .so-filter-option-sub{
                    &:before {
                        background-color: transparent;
                        border: 2px solid #999;
                    }
                }
            }
            .so-filter-option .option-input,
            .so-filter-option-sub{
                position: relative;
                padding-#{$left}: 14px;
                &:before {
                    display: inline-block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                    #{$left}: 0;
                    background-color: #999;
                    @include transition(all 0.2s ease-in-out);
                }
                &:hover:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
                .fa-check-square-o{
                    display: none;
                }
            }
        }
        #btn_resetAll{
            padding: 10px 20px!important;
            border-radius: 0;
            background: $background!important;
            color: #fff!important;;
            @include transition(all 0.2s ease-in-out);
            &:hover{
                background: rgba($background, .8)!important;;
            }
        }
        li.so-filter-options{
            margin-left: 20px;
            margin-right: 20px;
            border-bottom: #ddd 1px dotted;
            margin-bottom: 7px;
        }
        .so-filter-option.so-filter-price{
            text-align: $left;
            padding: 0;
        }
        .so-filter-content-opts-container ul li{
            float: $left;
        }
        .noUi-horizontal .noUi-handle{
            &.noUi-handle-lower{left:0;}
            &.noUi-handle-upper{right:14px;left:initial;}
        }
        .so-filter-option.so-filter-price  .content_scroll{margin: 20px 0;}
        .so-filter-option.so-filter-price .content_min_max{
            display: block;
            .txt-price-shopby{
                min-width: 60px;
                width: 49%;
                overflow: hidden;
                padding: 0 5px;
                display: inline-block;
                float: $left;
                border: 1px solid #ddd;
                display: inline-block;
                &.txt-price-shopby-fisrt{
                    margin-#{$right}: 2%;
                }
                span{
                    display: table-cell;
                    vertical-align: middle;
                    &.text-current{
                        position: relative;
                        top: 1px;
                    }
                }

            }
            .input_max,
            .input_min{
                border: none;
                box-shadow: none;
                padding: 0;
                margin: 0;
                background: #fff;
            }
        }
        
        .noUi-handle{
            background: darken($background,10%);
            box-shadow: none;
            border: none;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            &:before,
            &:after{display:none;}
        }
        .noUi-connect{
            box-shadow: none;
            height: 4px;
            background: $background1;
        }
        .noUi-background {
            background: #dddddd;
            box-shadow:none;
            height: 4px;
        }
        .noUi-horizontal .noUi-handle-upper{
            right: 14px;
        }
        .noUi-target{
            border: none;
        }
        .noUi-background{
            background: #dddddd;
        }
        #btn_resetAll {
            padding: 20px 20px 25px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #444;
            .fa.fa-times{
                color: $linkColor;
            }
        }
    }
}

.so-filter-content-opts-container .option-count{background:  transparent; min-width: 24px;text-align: center;
    &:not(.opt_close):after{    border-right-color: $input-color-placeholder; display: none;}
}
.so_filter_wrap  .modcontent {
    .so-filter-heading .so-filter-heading-text{float:$left;font-size: 13px;color: #222;}
    .so-filter-heading i{float: $right;padding-top: 18px;}
    .so-filter-content-opts-container label{font-weight: normal; color: #545454; font-size: 13px; margin: 0; }
    .so-filter-content-opts-container .option-count{float: $right;
        @include if-rtl {
            &:not(.opt_close):after{
                left:100%;
                right: auto;
                border-right-color: transparent;
                border-left-color: $input-color-placeholder;
                
            }
        }
    }
}

#content .filter-horizontal{
    .so-filter-heading{padding: 0 15px;}
    .so-filter-content-opts-container{padding: 15px;}
    ul{ @include display(flex);}
    li.so-filter-options{@include flex(1);
        border:none;
        border-#{$right}: 1px solid #eaeaea;
        margin: 0;
        &:last-child{border-right: none;}
    }
    .clear_filter{
        border-top: 1px solid #eaeaea;
    }
}
/*============MODULE CATEGORY ==================*/
.category-style{
    border: 1px solid $border-color;
}
.box-category ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.box-category > ul  > li {
    padding: 0px;
    position: relative;
    margin: 0;
    box-shadow: none;
    background: transparent;
    border-bottom:1px solid $border-color;
    &:last-child{ border: none; }
}
    
.box-category ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: normal;
}
.box-category ul li a.active{color: $linkColor;}       
.box-category ul li .head a:before {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 $FontAwesome;
}
.box-category ul li .head .collapsed{
    &:before {content: "\f105";}
    @include if-rtl{ &:before{ content:"\f104"; } }
}

.box-category ul li .head {
    display: block;
    position: absolute;
    top: 5px;
    line-height: 20px;
    #{$right}: 10px;
    text-align: center;
    
}
.box-category ul li .head a {
  
    @include buttonGraylight();
    width:20px;height: 20px;padding: 0;
    border-radius: 3px;margin-top: 6px;
}

.box-category ul li ul li {
    padding: side-values(0px 0px 0px 15px);
}
.box-category ul ul{margin-bottom: 20px;}
.box-category ul ul li a{padding:  3px 0;}

.box-category ul li ul li a:before{
    font-family: $FontAwesome;
    transition: all 0.3s ease;
    @include if-ltr {
        content: "\f105";
        margin: 0 5px 0 ;
    }
    @include if-rtl {
        content: "\f104";
        margin: 0 0 0 5px;
        float: right;
    }
}
.box-category ul li ul li a:hover:before{
    margin-right: 10px;
}

/*---[MODULE BASIC LISTING]---*/
.module.custom-basic-listing{
    margin-bottom: 30px;
    .item-element{margin-top: 20px;}
    .item-inner:hover{
        .image img{
            border-color: $background;
        }
    }
    .product-thumb .image{
        padding: 0;float: $left;margin-#{$right}: 20px;
        img{border: 1px solid #ddd;@include transition(all 0.3s ease-in-out);}
    }
    .product-thumb .caption{
        padding: 0;
        h4{margin-top: 0;margin-bottom: 5px;}
        h4 a {
            font-size: 14px;
            color: #444;
            font-weight: bold;
            line-height: 20px;
            position: relative;
            text-transform: uppercase;
            top: -1px;
            &:hover{color: $linkColor;}
        }
    }
}

//---- MODULE BASIC PRODUCT -----------
.basic-product-list{
    .item-element {margin-bottom:20px;
        &:hover{
            .image{border-color: $background;}
        }
    }
    .image{
        float: $left;
        border: 1px solid $base-border-color;
        padding: 0;
        margin-#{$right}: 20px;

    }
    .caption{overflow: hidden;}
    h4{font-size: 15px;margin: 0 0 5px;
        a{@include linkGray();}
    }
}

//---- MODULE POPUPLAR TAG -------
.tag-button{
    a{
        @include buttonGraylighter();
        padding: 6px 10px;
        display: inline-block;margin: 0 4px 4px 0;
    }
}

//---- MODULE Extra Slider -------
div.so-extraslider.grid{border-#{$left}: 1px solid $base-border-color;
    @extend .releate-products;
    .extraslider-inner{border: none;padding: 0;}
    .owl2-dots .owl2-dot.active{background: $background;}
    div.owl2-controls{#{$right}:10px;
        .owl2-nav .owl2-next,
        .owl2-nav .owl2-prev{background:$white; border: 1px solid #a0a0a0; opacity: 1;}
    }
    
}
.so-extraslider{
    margin: 0 -15px;
     .extraslider-inner{
        border: none;
        margin-bottom: 50px;
    }
    .wishlist,.compare{
        margin: 0;
    }
}

//====== 7.5. SO CATEGORY SLIDER =======
div.style-dev-so-listing-tabs{ position: relative;z-index: 2;
    h3.modtitle{ margin: 0;}
    .so-listing-tabs{margin: 0;
        .ltabs-tabs-container{margin: 0;}
        .wap-listing-tabs{border: none;}
        .product-layout .product-item-container{border: 1px solid $base-border-color;margin-left: -1px;
            .button-group{margin-bottom: 12px;}
        }
    }
   
    .owl2-controls{
        @include owl2-controls();
    }
    
    .list-sub-cat{
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: #ddd;
        margin: 0 0 30px;
        li.item-cate{
            width: 10%;
            float: $left;
            border-width:  0 1px 0 0;
            border-color: $base-border-color;
            border-style: solid;
            text-align: center;
            padding: 10px 0;
            margin: 0;
            .ltabs-tab-img{
                margin: 0;
                float: none;
                height: auto;
                img{
                margin: 10px auto;
                background: none !important;
                }
            }
            
             .title-sub-cate{
                font-size: 13px;
                font-weight: bold;
                text-transform: capitalize;
                color: $gray;
            }
            &.tab-sel,&:hover{
                background: #eee;
                .title-sub-cate{color: $linkColor;}
            }
        }
    }
    
}
.rtl .block-popup-login .fa-times-circle:before{ display: none; }
.shopping_cart .dropdown-menu .content-item{
    max-height: 320px;
    overflow: auto;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .so-search#sosearchpro .select_category select{ padding-right: 0!important; }
    .so-search#sosearchpro .select_category::after{ display: none; }
}

div.dev-so-deals{
    .slick-list{
        padding-top: 1px;
    }
    .so-deals-slick.slick-vertical .ds-items .ds-image-thumb img{
        border: 2px solid #fff;
    }.so-deals-slick.slick-vertical .ds-items .ds-item:hover .ds-image-thumb img,
    .so-deals-slick.slick-vertical .ds-items .slick-current .ds-image-thumb img{
        border-color: $background;
    }
     .so-deals-slick.slick-vertical .ds-item.slick-slide{
        position: relative;
        outline: none;
        &:hover:before, 
         &.slick-current:before{
             bottom: 45%;
            position: absolute;
            #{$right}: 0;
            #{$left}: inherit;
            margin-#{$right}: -6px;
           
            background: #f5f5f5 !important;
            width: 12px;
            height: 12px;
            content: "";
            display: inline-block;
            border-bottom: 2px solid $background;
            border-right: 2px solid $background;
            @include if-ltr{
                 -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
             @include if-rtl{
                 -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

        }
    }
    .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .button-group{
        background: transparent;
    }
   
    h3.modtitle{
        display: none;
    }
  
    .so-deals-slick.slick-vertical .ds-items{
        padding: 0px 0px 0px 0;
        width: 118px;
         .ds-image-thumb img{
            @include border-radius(0);
            padding: 0;
         }
         @include if-rtl{
            float: right;
         }
    }
    .slick-vertical .slick-slide{
        border: none;
        margin-bottom: 20px;
        float: $left;
    }
    .so-deals-slick.slick-vertical .ds-item{
        //padding-#{$right}: 20px;
        width: 98px !important;
    }
    .so-deals-slick.slick-vertical .ds-items-detail{
        margin-#{$left}: 120px;
         margin-#{$right}: 0px;
    }
    .so-deals-slick .deals-content{
          border: none;
         @include border-radius(0);
         .ds-items-detail .product-thumb .caption .item-time{
            background: none;
            border: none;
            @include border-radius(0);
            margin-bottom: 30px;
            padding: 0;
            .item-timer{
                background: none;
                text-align: $left;
                


                .time-item{
                    background: transparent;
                    text-align: $left;
                     position: relative;
                     border: none;
                     width: 100px;
                      &:after{
                        display: none;
                      }
                    &:before{
                        content: ":";
                        width: 10px;
                        height: 20px;
                        position: absolute;
                        top: 15px;
                        #{$left}: -32px;
                        color: #000000;
                        font-size: 20px;

                    }
                    &:first-child{
                        &:before{
                            display: none;
                        }
                    }
                    .num-time{
                        font-size: 26px;
                        font-weight: bold;
                        color: $linkColor;
                    }
                    .name-time{
                        font-size: 14px;
                        color: #666;
                    }
                }
            }
         }
         .caption{
            p{
                margin-bottom: 30px;
                font-size: 14px;
            }
         }
         .button-group{
            button{
                height: 50px;
                @include border-radius(2px !important);
                border: 1px solid $background !important;
                background: $background !important;
                float: left;
                text-transform: uppercase;
                font-weight: 600;
                span{
                    margin-#{$left}: 5px;
                }
            }
             button + button, 
             button + button + button{
                height: 50px;
                line-height: 50px;
                @include border-radius(2px !important);
                border: 1px solid $base-border-color !important;
                color: #999 !important;
                background: transparent !important; 
                &:hover{
                    background: $background !important;
                    border: 1px solid $background !important;
                    color: #fff !important;
                }
             }
         }
     }
    .deals-nav{
        border: none;
        position: absolute;
        #{$left}: 44%;
        top: 30px;
        z-index: 99;
         .slick-prev{
            border-#{$right}: none;
        }
        .slick-prev,.slick-next{
            padding: 0;
            font-size: 25px;
            border: none;
        }
    }
    .so-deals-slick .deals-content .ds-items-detail .product-thumb .image{
        margin-top: 0;
        position: relative;
        width: 43%;
        .content{
            position: absolute;
            bottom: 0;
            #{$left}: 20px;
            h4{
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 5px;
                a{
                    color: #222;
                    &:hover{
                        color: $linkColor;
                    }
                }
            }
        }
        @include if-rtl{
            float: right;
        }
    }
    .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption{
        width: 57%;
    }
    @include if-rtl{
       .product-thumb .image .box-label{
            right: 80px !important;
       }
    }
}

/*[ MODULE CUSTOM TAG ]*/
.module.custom-tag{
    .so-popular-tag{
        padding: 0;border: none;background: transparent;margin-top: 20px;
        a{
            background: #fff;padding: 4px 10px; color: #444;float: $left;margin: 2px; border-radius: 3px;
            border: 1px solid $base-border-color;
            &:hover{background: $background;color: #fff;border: 1px solid $background;}
        }
    }
}