/*===============================================
	[SASS DIRECTORY ]
	
   [1] PAGE ACCOUNT
   [2] PAGE INFORMATION
   [3] PAGE CHECKOUT
   [4] LANGUAGE CURENTY 
	[5] CSS FEAFURE MENU DEMO
==============================================*/

/*============PAGE ACCOUNT ==================*/
.account-login,
.affiliate-login{
   .well {min-height:395px; background: #fff;}
}

.account-account,
.affiliate-account{
   #content > h2{@include rem(font-size, 16px);}
   #content .list-unstyled{margin-bottom: 30px;}
}

.account-address{
   #content .table-responsive{
      .table>tbody>tr>td{ line-height: 24px;padding: 10px;}
   }
}
.custom-border{
    border: 1px solid #eee;
    padding: 10px 20px;
}
/* @group List Box */
.list-box {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.rtl .wrapper-full{ overflow-x: hidden;}
.btn-link:focus, .btn-link:hover{
    text-decoration: none;
}
.dropdown-menu > li > button{
    padding: 5px 15px;
}
.list-box li{border-bottom: 1px solid #ececec;}
.list-box li:last-child{border-bottom: 0;}
.list-box li a{
    display: inline-block;
    word-wrap: break-word;
    padding: 8px 0;
    margin-right: 5px;
	 @include linkGray();
}
/* @end */
/*============PAGE INFORMATION ==================*/
.simple-list {
	margin:0;
	padding:0;
	list-style-type:none
}
.bold-list>li>a {
	font-weight:700;
	text-transform:uppercase;
	@include linkGray();
}
.simple-list ul {
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	bottom:-.8em
}
.simple-list li {
	margin:0;
	padding:0 0 12px
}
.simple-list  ul a{@include linkGray();}
.simple-list .checkbox{padding-left:0}
.simple-list .checkbox input[type=checkbox]{margin-#{$right} :10px}
.simple-list .icon {
	margin-right:9px
}
.arrow-list li {
	padding-#{$left} :12px;
	position:relative
}
.arrow-list li:before {
	margin-#{$right}:10px;
        font-size: 14px;
        font-family: $FontAwesome;
        display: inline-block;
        content: if-ltr('\f105', '\f104');;
}


/*============PAGE CHECKOUT ==================*/
.checkout-cart, .checkout-checkout{
    .panel-group .panel{border-radius: 0;}
}
.table-responsive{
    .table{
        thead > *{ background-color: rgba(51,51,51,0.1); font-weight: bold;}
        tbody td.text-left{
            a{font-weight: bold; color: $textBody;}
            &:hover a{color: $linkColor;}
        }
    }
   
}


/*============LANGUAGE CURENTY ==================*/

.btn-group .btn-link{
	text-align: $left;
	background: transparent ;
	text-decoration: none;
	padding: 0px 10px;
	position: relative;z-index: 1;
    font-weight: normal;
    color: #999999;
    font-size: 93%;
    &:hover{
        color: #fff;
    }
}
.dropdown-menu{ 
	.btn-block{
		border: none;
		background: transparent;
		text-align: $left;
	}
}

/*============ CSS FEAFURE MENU DEMO ==================*/
.feature-layout{
   .image-link{
		@include linkGray();
		.thumbnail{position: relative; overflow: hidden; border-radius: 0;background: #333;padding: 0;}
		
		.btn {position: absolute; top:-100px;left: calc(50% - 50px); @include buttonColor(); @include transition(all 0.3s ease-in-out 0s);border-radius: 2px;}
		&:hover { 
			.thumbnail{border: 1px solid #ccc;
				img{opacity: 0.7;}
			}
			.btn{top:calc(50% - 25px);}
		}
		.figcaption{font-size: 13px; text-align: center;font-weight: 600; text-transform: uppercase; }
	}
}

.with-sub-menu{
    .feafure-dr{
        text-align: $left;
        h3.title-feature{
            display: block;
            font-weight: 700;
            font-size: 14px;
            line-height: 1em;
            text-transform: uppercase; 
            color: #444;
            margin-bottom: 15px
        }
		  ul.row-list{list-style: none;padding: 0;}
        li{
            line-height: 30px;
            a{
                font-size: 14px;
                position: relative;
                color: $textBody ;
              
                &:hover{
                    color: $linkColor;
                }
            }            
        }
        .layout-color{
            li a{
                text-transform: capitalize;
               
                &:before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    background-color: #e1e1e1;
                    margin-#{$right}: 10px;
                    vertical-align: middle;
                    left: 0;
                }
            }
            li.orange a:before{background: #fe5621;}
            li.blue a:before{ background: #02a8f3;}  
            li.brown a:before{background: #beae59;}
            li.green a:before{ background: #8ac249;}   
            li.red a:before{background: #df1f26;}
            li.pink a:before{background: #e81d62;}    
        }
    }
}