/*===============================================
    [SASS DIRECTORY ]
    
    [1] BOX SALE,NEW
    [2] RATE
    [3] TODAY'S DEALS 
    [4] PRODUCT CATEGORY
    [5] TOOLBAR
    [6] PRODUCT LIST SIMPLE
    [7] QUICKVIEW
==============================================*/

/*============ BOX SALE,NEW ==============*/
 .label-product.label-sale {
    background: url('../../images/bg_sale.png') no-repeat center center !important;
    &:after{
        display: none;
    }
}
 .label-product.label-new {
    min-width: 59px !important;
    transform: rotate(90deg);
    line-height: 28px !important;
    z-index: 99;
     background: url('../../images/bg_new.png') no-repeat center center !important;
    @include if-rtl{
         transform: rotate(90deg);
    }
   
}   
.label-product {
   padding-left: 9px;
    padding: 0px !important;
    border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    margin-bottom: 24px;
    color: #fff;
    height: 25px !important;
    position: relative;
    transform: rotate(90deg);
    font-size: 12px;
    width: 59px !important;
    min-width: 59px !important;
    display: block;
    line-height: 29px !important;
    z-index: 1;
    top: 10px !important;
    z-index: 9;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    // @include if-rtl{
    //      transform: rotate(-90deg);
    // }
   
}
 .box-label{  
    position: absolute;
    top: 0;
    #{$left}: 0px;
    #{$right}: inherit;

}
 
.label-percent{padding: 2px 5px; background: $background; font-size: 13px; font-weight: normal;}
.product-options{
    label{padding:0;color: #666;}
    .label{font-weight: normal;font-size: 11px;}
    .radio{position: relative;z-index: 2;  text-transform: capitalize; cursor: pointer;
    .fa{display: none;}
    }
   
    .active .fa{display: block;}
    .fa{position: absolute;top: 0;z-index: 2;width: 22px;height: 22px; color: white;line-height: 22px;text-align: center; #{$left} : 0; }
}

/*============ BOX RATE ==============*/
.rating,
.ratings{font-size: 13px;margin-bottom: 5px;
    span.fa-stack{
        .fa-star-o:before{content: "\f005"; color: #faa600;}
        .fa-star.fa-stack-1x{ z-index: 1;
            &:before{content: "\f005";color: #faa600;}
        }
    }
}
span.fa-stack{width: 14px; height: 14px; line-height: 14px;
    .fa-star-o:before{content: "\f005"; color: #faa600;}
    .fa-stack-2x{font-size: 1em;}
    .fa-star.fa-stack-2x{position: relative; z-index: 1;
    &:before{content: "\f005";color: #faa600;}
    }
    
}
.price{
    margin: 0 0 10px 0;
    line-height: normal;
    color: $linkColor;
    font-size: 14px;
    font-weight: 700;
    .price-old{
        line-height: normal;
        padding: 0 1px;
        display: inline-block;
        text-decoration: line-through;
        color: #898989;
        font-size: 12px;
        font-weight: normal;
    }
    .price-new, span.price{
        color: $linkColor;
        font-size: 14px;
        font-weight: bold;
    }
}


/*====================TODAY'S DEALS ====================*/
.countdown_box{ 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    transition: 0.3s all ease 0s;
    transform: scale(1);
    .countdown_inner{
        display: table; 
        background: #666; 
        margin: 0 auto; 
    }
    .title {display: none;}
    .time-item{
        padding-top: 5px;
        display:table-cell;  
        color: #fff;
        font-size: 12px;
        border-#{$right}: 1px solid #999;
    .num-time{font-size: 14px;font-weight: 700;}
    .num-time,.name-time{padding: 1px  10px;}
    &:last-child{border: none;}
    }
}

.today_deals .title-category{ padding: 0; padding-bottom: 20px; }
.today_deals{
    .product-item-container .left-block{ text-align: center;
        .product-image-container{ display: inline-block; }
    }
}
.deals_module_wrapper {
    .product-item-container{border: 1px solid #e6e6e6;padding: 20px ;overflow: hidden;
          .left-block{position: relative;z-index: 2;}
    }
    // button.btn-default{
    //     border: 1px solid $background;
    //     height: 32px;
    //     line-height: 30px;
    //     color: $linkColor;
    //     background: #fff;
    //     border-radius: 0;
    //     min-width: 32px;
    //     padding: 0;
    //     border-radius: 50%;
    //     &:hover{
    //         background: $background;
    //         color: #fff;
    //     }
    //     &.addToCart{
    //         padding: 0 10px; background: $background; color: #fff; border-radius: 18px;
    //     }
       
    // }

       
     .btn.btn-default{
        height: 40px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        background: #666;
        color: #fff;
        border-color: #666;
        border-radius: 0;
        font-size: 12px;
        text-transform: uppercase;
        @include transition(all 0.3s ease-in-out);
        &:hover{
            background: $background1;
            border-color:  $background1;
        }
    }
    
    .price .price-new{font-size: 18px;}
    
    .product-box-desc{margin-top:5px;
        span{min-width: 100px;display: inline-block;  }
        .status-stock{  color: #5dbe45;}
    }
    .title-product{font-size: 18px;margin-bottom: 10px;}
    .title-product a{@include linkGray();}
    .short_description {margin: 10px 0;}
    .countdown_box{
        position: static;
        @include transform(scale(1) translateX(0));
        margin: -50px auto 0;
        width:210px;
    }
    
    .owl2-controls{position: absolute;z-index: 1;#{$right}: 0;top: -35px;
        .owl2-prev,.owl2-next{vertical-align: top;margin: 0 3px;
            @include buttonGraylight();
            float: left;
            border-radius: 0;
            padding: 3px 10px;
            line-height: 20px;
            font-size: 18px;
        }
    }
}

/*====================PRODUCT CATEGORY ====================*/
.title-category{ color: $textColor; text-transform: uppercase; font-size: 18px; margin: 0;font-weight: bold; padding-bottom: 30px; }
.products-category{
    .form-group.clearfix{ margin: 0; }
    .filter_group{width: 25%;display: inline-block;vertical-align: top;}
    .category-info img{ margin-bottom: 18px; }
}
.refine-search{
    .thumbnail{margin-bottom: 10px;}
    a{@include linkGray(); display: block;}
}


/*SIDEBAR LISTING - RESPONSIVE*/
.open-sidebar {
    line-height: 25px;
    display: inline-block;
    border: 2px solid #999;
    margin-bottom: 20px;
    padding: 0px 15px;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
}

@media only screen and (max-width: 992px){
    body.open-sboff {
        height: 100%;
        overflow: hidden;
    }
    .open-sidebar i.fa{ margin-right: 5px;  }
    .product-detail .sidebar-overlay,
    .page-category .sidebar-overlay {
        background: rgba(0,0,0,0.5);
        display: none;
        height: 100%;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 9998;
    }
    .product-detail .sidebar-offcanvas,
    .page-category .sidebar-offcanvas {
        background: #fff;
        width: 300px;
        position: fixed;
        top: 0px;
        bottom: 0px;
        z-index: 9999;
        height: 100%;
        overflow-x: scroll;
        box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        transition: all 300ms ease-in-out;
        padding-top: 30px;
        margin: 0px;
        #{$left}: -100%;
        padding-#{$left}: 15px !important;
        padding-#{$right}: 10px !important;
        &.active {
            #{$left}: 0;
            #remove-sidebar{
                display: block;
                margin-bottom: 15px;
                text-align: $right;
            }
         }
    }
}
/*TOOLBAR LISTING BOTTOM*/
.product-filter-bottom.filters-panel{
    color: #404040;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border: 1px solid $base-border-color;
    padding: 5px;
    .short-by-show{margin-top: 3px;}
}
/*TOOLBAR LISTING TOP*/
.filters-panel{
    color: #404040;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid $base-border-color;
    padding: 5px;
    .list-view{
        text-align: $left;
    button.btn.grid{
        margin-#{$right}: -3px; 
    }
    button.btn{
        border-radius: 0;
        padding: 4px 8px 3px;
        background: #666666;
        border: #666666;
        color: #fff;
        height: 30px;
        width: 30px;
        &.active{background: $background1; color: #fff; border-color: $linkColor; box-shadow: none;
        &:hover{background: $background1; color: #fff;}
        }
        &:hover{color: #fff; background: $background1; border-color: $linkColor;}
        &:focus{border-radius: 0; border-color: $linkColor; outline: none;}
    }
    .fa{font-size: 14px;margin: 0;}
    }
    &.product-filter-bottom{margin-top: 15px;}
    .box-pagination ul{height: 28px;line-height: 28px;margin: 0;}
}

/*TOOLBAR LISTING TOP*/
.filters-panel select{border-radius: 0; }
.box-pagination{
    .pagination > li span, .pagination > li a{padding: 0; width: 27px; height: 28px; line-height: 28px; text-align: center;}
    .pagination{
        display: block;
    }
}
.product-compare a{color: #444;padding: 0;font-size: 12px;background: none;
&:hover{background: none;color: $linkColor;}
}
.form-inline .control-label{font-weight: normal;}

.short-by-show .form-group{
    .form-control{
        height: 28px;
        line-height: 28px;
        padding: 0 12px;
        border: 1px solid #efefef;
        background: #fff;
        padding-#{$right}: 0;
        box-shadow: none;

    }
    margin-#{$right} : 10px;
    &.shortby select{
        width: 100px;
    }
    &.short-by{
        float: $left;
        padding-#{$right}: 10px;
    }
}


#content.col-sm-6 .product-compare{display: none;}
// .filters-panel{
//     margin-bottom: 25px;
//     @include clearfix();
//     &.product-filter-bottom{margin: 25px 0 0;
//         .short-by-show{ line-height: 40px; }
//     }
//     .pagination{margin: 0;}
//     .list-view{
           
//         button.btn{border-radius: 0; padding: 9px; color: #fff;    border: none; background: #252525; width: 40px; height: 40px; font-size: 14px;
//             &.grid{ margin-#{right}: -3px;; }
//             &.active{background: $background; color: #fff; box-shadow: none;
//             &:hover{background: $background; color: #fff;}
//             }
//             &:hover{color: #fff; background: $background;}
//             &:focus{border-radius: 0; border-color: $linkColor; outline: none;}
//         }
//         .fa{margin: 0;}
//     }
//     label{font-weight: normal; line-height: 40px;}
//     .btn-default{@include buttonGraylighter(); font-size: 13px;}
//     .form-control,.btn{ color: #6b6b6b; height: 38px;padding: 9px 15px; border: 1px solid $border-color; background: transparent; border-radius: 0;}
//     @include breakpoint(lg){
//         .form-inline .form-group{ margin-#{$left}: 20px; }
//     }
// }

.box-pagination{
    .pagination > li span, .pagination > li a{padding: 0; width: 27px; height: 28px; line-height: 28px; text-align: center;}
    .pagination{
        display: block;
    }
}

/*================ PRODUCT LIST ===================*/
//Fixed second_img Product grid Columns (1,2) 
.product-layout {
    .second_img .img_0{
        right: 50%; top:0;
          transform: translate(50%, 0);
          }
}

.products-list {
    .product-layout {overflow: hidden;padding: 0 15px;
        .product-item-container{
            .left-block{
                // .countdown_box .countdown_inner{ background: transparent; box-shadow: none;
                //     .time-item {padding: 1px 0;background: #444;border: none;margin-right: 2px; width: 23.5%;
                //         .num-time {font-size: 14px;color: #fff;margin: 0;border: none;height: 18px;line-height: 20px; font-weight: bold;}
                //         .name-time {font-size: 10px;color: #fff; margin: 0; height: 20px;line-height: 20px; text-transform: uppercase;}
                //     }
                // }
                .quickview{
                    height: 32px; width: 32px; text-align: center; line-height: 32px; background: $background; color: #fff; cursor: pointer; z-index: 99;
                    &:hover{ background-color: darken($background, 10%); color: #fff;}
                }
                .product-image-container{
                    @extend .lib-two-img;
                } 
                .quickview:before{
                    background: transparent !important;
                }  
            } 
            &:hover{
                .left-block{
                    .product-image-container{
                       @extend .lib-two-img-over;
                    }
                }
                .countdown_box{ 
                    @include transform(scale(0));
                }
            }       
        }
    }
    /*------------------PRODUCT GRID ====================*/ 
    &.list-masonry .product-layout,
    &.grid .product-layout{
        .product-item-container{margin: 15px 0; position: relative; overflow: hidden;
            iframe{width: 100%}
            .left-block{ position: relative; width: 100%; text-align: center;
                // .countdown_box .countdown_inner{ 
                //     .time-item {
                //         background: rgba(0,0,0, 0.7)
                //     }
                // }
                .product-image-container a{
                    &:before {
                        transform: scale(0);
                        -webkit-transform: scale(0);
                        -ms-transform: scale(0);
                        -o-transform: scale(0);
                        display: inline-block;
                        content: '';
                        background: rgba(0, 0, 0, 0.6);
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                        @include transition(all 0.2s ease-in-out);
                    }
                }    
            } 
            .right-block{margin-top: 20px; width: 100%; text-align: left; clear: both;
                .caption{padding: 0;text-align:$left;
                    @include transition(all 0.3s ease-in-out);
                    h4{ margin-bottom: 15px;
                        a{ font-size: 14px; color: #222222; font-weight: 600; text-transform: capitalize; 
                            &:hover{ color: $linkColor; }
                        }
                    } 

                }
                .addToCart{ 

                    position: relative;
                    background: none;
                    border: none;
                    font-size: 100%;
                    color: #545454;
                    float: $right;
                    margin-top: -33px;
                    margin-bottom: 0;
                   // text-transform: uppercase;
                    border: none;
                    font-size: 0;
                    height: 20px;
                    &:hover{
                        color: $linkColor;
                    }
                    i{
                        font-size: 14px;
                    }
                }
            }
            .button-group{
                position: absolute;
                bottom: 10px;
                #{$right}: 10px;
                z-index: 2;
                 transform: scale(0);
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                  @include transition(all 0.2s ease-in-out);
                .button-inner{
                    display: table;
                    margin: 0 auto;
                }
                .btn-button{ 
                    position: relative; 
                    border: none; 
                    height: 30px; 
                    width: 30px; 
                    line-height: 31px;  
                    color: #999999; 
                    background: #fff;
                    text-align: center; 
                    display: block;
                    font-size: 14px;
                    opacity: 0;
                    visibility: hidden;
                    padding: 0;
                    margin-bottom: 5px;
                    @include border-radius(3px);
                    &.wishlist {  @include transition(opacity 0.3s ease-in-out); } 
                    &.compare  {  @include transition(opacity 0.45s ease-in-out);  }
                    &.quickview {   @include transition(opacity 0.6s ease-in-out); }
                    &:before{background: transparent;}
                    &:hover{ color: #fff;background: $background; }
                }
            }
            &:hover{
                .button-group{
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                }
                .btn-button{
                    opacity: 1;
                    visibility: visible;
                   
                }
                .right-block .addToCart{
                    color: $linkColor;
                }
                 .left-block .product-image-container a{
                    &:before {
                         transform: scale(1);
                        -webkit-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                    }
                }
            }
        }
    }
    /*----------------PRODUCT LIST ------------------*/

      &.list{
        .product-layout .second_img .img_0 {
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
        }
       .product-layout .product-item-container{
            float: $left;
            width: 100%;
            margin: 15px 0;
            overflow: hidden;
            border: 1px solid $base-border-color;
            background: #fff;
            .left-block{
                padding: 0;
                .quickview{
                    top: 10%; 
                    opacity: 0;
                    display: none;
                    text-align: center;
                    position: absolute;
                    line-height: 40px;
                    width: 40px;
                    height: 40px;
                    font-size: 14px;
                    border: 1px solid $base-border-color;
                    margin-#{$left}: -20px;
                    #{$left}: 50%;
                    z-index:99;
                    &:hover{
                        border-color: $linkColor;
                        background: $background1;
                        color: #fff;
                    }
                }
                .countdown_box{
                    padding: 10px;
                }
            }
            .right-block{
                color: #444;
                padding-top: 25px;
                .caption h4{
                    margin-top: 0;
                    margin-bottom: 6px;
                    a{  
                        color: #444;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    &:hover{
                        a{
                            color: $background1;
                        }
                    }
                }
                .ratings{margin-top: 10px;}
                .price{
                    margin-bottom: 15px;
                }
                .description  {
                    color: #666;
                    margin: 5px 0  10px;

                }
            } 
            .button-group{
                padding-#{$left}: 0;
                padding-bottom: 30px;
                .addToCart{
                    height: 45px;
                    line-height: 45px;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: #fff;
                    background: $background;
                    border: none;
                    padding: side-values(0 29px);
                    font-weight: bold;
                    position: relative;
                    vertical-align: top;
                    @include transition(all 0.3s ease-in-out);
                    margin-#{$left}: 0!important;
                    &:hover{
                        background: rgba($background, .5);
                        color: #fff!important;
                    }
                }
                .btn-button{
                    height: 45px;
                    width: 47px;
                    line-height: 45px;
                    text-align: center;
                    border: 1px solid $base-border-color;
                    color: #999;
                    font-size: 13px;
                    background: transparent;
                    @include transition(all 0.3s ease-in-out);
                    margin-#{$left}: 5px;
                    &:hover{
                        background: $background;
                        color: #fff;
                        border-color: $background;
                    }
                }
            }
            
            &:hover{
                .left-block{
                    cursor: pointer;
                    
                    .quickview{
                        top: 40%;
                        opacity: 1;
                        @include transition(all 0.3s ease-in-out 0s);
                        background: #fff;
                        color: #545454;
                        border-color: #fff;
                        &:hover{
                            background: $background; border-color: $linkColor;color: #fff;
                        }
                    }
                    .countdown_box{
                        transform: scale(0);
                    }
                    .product-image-container{
                        &.second_img .img_0{
                            top: 0;
                            opacity: 1;
                            z-index: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }
                }
            }       
        }
    } 
}

/*============ QUICKVIEW ==============*/
#product-quick{
     .product-view .content-product-right .product-box-desc{
          padding: 15px;     border: 1px dotted #eee;     margin: -25px 0 0px; font-style: italic; color:#999;
               span{font-weight: normal;}
     }
}
.right_column,
.left_column{
    .module h3.modtitle{
        font-size: 20px;
        background: #444;
        margin: 0 0 0px;
        padding: 15px 20px 13px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        color: #fff;
        &:before{
            display: none;
        }
        span{
            font-size: 20px;
            color: #fff;
            font-weight: bold;
        }
    }
}