/*===============================================
	[SASS DIRECTORY ]
	
    [1] BACK TO TOP
    [2] SOCIAL ACCOUNTS
    [3] TOP PANEL
    [4] LARY LOADER
    [5] NO RESPONSIVE BOOTSTRAP
	[6] PRELOADING SCREEN
==============================================*/
/*============BACK TO TOP ==================*/
// .back-to-top {
//     position: fixed;
//     bottom: 20px;
//     cursor: pointer;
//     background-color: #666;
//     border: 4px solid #ddd;
//     color: #ddd;
//     display: inline-block;
//     line-height: 44px;
//     text-align: center;
//     width: 48px;
//     height: 48px;
//     z-index: 30;
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     opacity:1;
//     #{$right}: 20px;
//     @include transition(all 0.3s ease-in-out 0s);
//     @include transform(scale(1) );
 
//     &.hidden-top {bottom: -100px;opacity:0;  @include transform(scale(0) );}
//     &:hover{background-color:#444;}
//     i{font-size: 20px;margin: 1px 0 0 0 !important; color: #ddd; display: inline-block;
//       &:before{
//         content:'\f062';
//       }
//     }
// }

/*============SOCIAL ACCOUNTS ==================*/
.social-widgets {
    position:fixed;
    z-index:999;
    top:50%;
    height:0;
    width:0;
    #{$right} :0
}
.checkout-cart .content_404 .erro-image{ display:none; }
.account-register .buttons{
  input[type=checkbox]{ position: relative; top: 3px; }
}
.social-widgets .item, .social-widgets .items {
    margin:0;
    padding:0;
    list-style-type:none
}

.social-widgets .items {
    top:-100px;
    position:relative
}
.social-widgets .item {
    position:absolute;
    top:0;
    #{$left} : 120px
}
.social-widgets .active {
    z-index:100;
    #{$left} :-310px
}
.social-widgets .item-01, .social-widgets .item-02, .social-widgets .item-03, .social-widgets .item-04, .social-widgets .item-05, .social-widgets .item-06, .social-widgets .item-07, .social-widgets .item-08, .social-widgets .item-09 {
    #{$left} :0;
}
.social-widgets .item-01 {
    top:0;
    z-index:99
}
.social-widgets .item-02 {
    top:45px;
    z-index:98
}
.social-widgets .item-03 {
    top:90px;
    z-index:97
}
.social-widgets .item-04 {
    top:150px;
    z-index:96
}
.social-widgets .item-05 {
    top:200px;
    z-index:95
}

.social-widgets .tab-icon .fa{font-size:18px;line-height:45px;}
.social-widgets .tab-icon {
    position:absolute;
    top:0;
    #{$left} :-45px;
    display:block;
    width:45px;
    height:45px;
    background:#fff;
    text-align:center;
    font-size:1.54em;
    
}
.social-widgets .tab-icon:hover {
    text-decoration:none
}
.social-widgets .active .tab-icon {
    border-color:#E9E9E9;
    background:#fff
}
.social-widgets .facebook .tab-icon{
    background: #3b5998;
    background-clip: content-box;
    color: white;
}
.social-widgets .twitter .tab-icon{
    background: #07779a;
    background-clip: content-box;
    color: white;
}
.social-widgets .youtube .tab-icon{
    background: #DA2723;
    background-clip: content-box;
    color: white;
}
.social-widgets .tab-content {
    background:#fff;
    width:310px;
    padding:10px ;
}
.social-widgets .active .tab-content {
    box-shadow:0 0 4px rgba(0, 0, 0, .15)
}
.social-widgets .title {
    margin: side-values(-10px -10px 10px);
    padding: 0px 10px;
    background-color: #ccc;
    text-transform: uppercase;
    line-height: 45px;
    color: #000;
    font-weight: bold;
    h5{
        line-height: 45px;margin: 0;
    }
}
.social-widgets .facebook.active {
    #{$left} :-260px
}
.social-widgets .facebook .tab-content {
    width:260px
}
.social-widgets .twitter.active {
    #{$left} :-300px
}
.social-widgets .twitter .tab-content {
    width:300px
}
.social-widgets .twitter-widget {
    padding-top:10px
}
.social-widgets .youtube.active {
    #{$left} :-450px
}
.social-widgets .youtube .tab-content {
    width:450px;
}
.social-widgets .youtube .tab-content iframe{width:100%;}
.social-widgets .loading {
    min-height:200px;
    position:relative;
    z-index: 100;
}
.social-widgets .loading img.ajaxloader {
    position:absolute;
    top:45%;
    #{$left} :45%;
    width:32px;
    height:32px
}


/*============TOP PANEL ==================*/
.wrapper-boxed,
.wrapper-iframed,
.wrapper-rounded{
    header.navbar-compact {width: auto;}
}
header.navbar-compact {
	.compact-hidden{display:none;}
}
.navbar-compact .header-center{padding: 20px 0;}
.navbar-compact .header-bottom{margin:0 0 10px;}

.navbar-switcher {
    text-align: center;
    float: $right;
    display: none;
    width: 45px;
    height: 45px;
    margin-bottom: -47px;
    background: $background1!important;
    padding: 6px 7px;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    color: #fff;
}

.navbar-switcher.active {background:#333!important}
.navbar-switcher .i-active, .navbar-switcher.active .i-inactive {display:none}
.navbar-switcher.active .i-active ,
.navbar-switcher .fa-caret-down{display:inline;font-size:1.8em;line-height:1.5em}



/*============LARY LOADER ==================*/
.lazy {display: block;  overflow: hidden; background: transparent url(../../images/lazy-loader.gif) no-repeat center center;}
@media (min-width: 1200px) {
	
	.lazy.lazy-loaded {background: none;height:auto;}
	.lazy img {transition: 1s all ease;opacity: 0;-webkit-backface-visibility: hidden;display:inline-block;}
	.lazy.lazy-loaded img { opacity: 1; }
}

/*============NONE RESPONSIVE BOOTSTRAP ==================*/
@media  (max-width: 1024px) {.no-res{width: 1190px; }}
.wrapper-boxed,.wrapper-iframed,.wrapper-rounded  {max-width: 1200px;margin: 0 auto;background: #fff;box-shadow: 0 0 10px rgba(0,0,0,.2);}
.wrapper-iframed{margin: 20px auto;}
.wrapper-rounded{margin: 20px auto; border-radius:10px;overflow:hidden;}


/*============Preloading Screen==================*/
/*============Preloading Screen==================*/
.loader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1000111;
  background-color: #ffffff;
  opacity: 1;
  transition:  all 500ms linear 0s;
}
.loader-content.loader-off,
body.loaded .loader-content {
  opacity: 0;
  visibility: hidden;
  transition:  all 500ms linear 0s;
}
/* The loader container */
/*#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  perspective: 400px;
  transform-type: preserve-3d;
}*/
/* The dot */
/* Preloader Css */
.loader-content{
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  z-index: 99999999;
}
#loader{
 height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100px;
}
.cssload-thecube {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $linkColor;
  animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}


@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}



/*============@group Banners hover effect ==================*/
.banners-effect-1 .banners > div {
	img { @include transition(all 0.2s ease-in);
		&:hover{opacity: 0.8;}
	}
	
}

.banners-effect-2 .banners > div a{display: block;position: relative;overflow: hidden;
	&:hover{
		&:before,&:after{left: 0;opacity: 1;}
	}	
	&:before,&:after{
		background-color: rgba(255, 255, 255, 0.4);
		display: block;
		width: 100%;
		height: 100%;
		left: -100%;
		opacity: 0;
		filter: alpha(opacity=0);
		position: absolute;
		top: 0;
		@include transition(all 0.3s ease-in);
		content: "";
		z-index: 1;
	}
	
}

.banners-effect-3 .banners > div a {display: block;position: relative;overflow: hidden;
	&:hover{
		&:before,&:after{border: 0 solid rgba(0, 0, 0, 0.7);opacity: 0;filter: alpha(opacity=0);}
	}	
	&:before,&:after{
		border: 50px solid transparent;
		border-top-right-radius: 50px;
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		top: 0;
		content: "";
		opacity: 1;
		filter: alpha(opacity=100);
		width: 100px;
		height: 100px;
		@include transform(scale(7));
		@include transition(all 0.4s ease-in-out);
		
		visibility: visible;
		z-index: 1;
	}
}

.banners-effect-4 .banners > div a {display: block;position: relative;overflow: hidden;
	&:hover{
		&:before,&:after{
			opacity: 1;
			
			@include transform(rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1));
		}
	}	
	&:before,&:after{
		 border-bottom: 50px solid rgba(0, 0, 0, 0.2);
		border-top: 50px solid rgba(0, 0, 0, 0.2);
		content: "";
		height: 100%;
		left: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		position: absolute;
		top: 0;
		
		transform-origin: 50% 50% 0;
		width: 100%;
		@include transform(rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1));
		@include transition(opacity 0.4s ease 0s, transform 0.35s ease 0s);
		
		visibility: visible;
		z-index: 1;
	}
}

.banners-effect-5 .banners > div a {display: block;position: relative;overflow: hidden;
	 &:before{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        border: 70px solid rgba(255,255,255, 0);
        top: 0;
        #{$left}: 0;
        transition: all 0.5s ease-in-out;
       
    }
    &:after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.5;
        border: 30px solid #fff;
        top: 0;
        #{$left}: 0;
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transition: all 0.5s ease-in-out;
    }
   
    &:hover{
        &:before{
            border: 0 solid rgba(255,255,255, 0.7);
           
        }
        &:after{
            transform: scale(0.8);
            -moz-transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            opacity: 0;
            transition-delay: 0.1s;
        }
        
    }
}


.banners-effect-6 .banners > div a {
     display: inline-block;
     position: relative;
     overflow: hidden;
     background: #000;
	 vertical-align: top;
}

    
     .banners-effect-6 .banners > div a img {
          backface-visibility: hidden;
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: opacity 1s ease 0s, transform 1s ease 0s;
          -o-transition: opacity 1s ease 0s, transform 1s ease 0s;
          transition: opacity 1s ease 0s, transform 1s ease 0s;
     }
     
          
          .banners-effect-6 .banners > div a:hover img {
               opacity: 0.8;
               filter: alpha(opacity=80);
               transform: scale3d(1.1, 1.1, 1);
          }
          

.banners-effect-7 .banners > div a {
     display: block;
     position: relative;
     overflow: hidden;
}

     
     .banners-effect-7 .banners > div a:before {
          position: absolute;
          background: rgba(0, 0, 0, 0.3);
          width: 0;
          top: 0;
          left: 50%;
          content: "";
          transition: all 0.3s ease-in-out 0s;
     }
     
          
          .banners-effect-7 .banners > div a:hover:before {
               width: 100%;
               left: 0;
               top: 0;
               height: 100%;
          }
          

.banners-effect-8 .banners > div a {
     display: inline-block;
     position: relative;
     overflow: hidden;
     background: #000;
	 vertical-align: top;
}
     
     .banners-effect-8 .banners > div a:before,
     .banners-effect-8 .banners > div a:after {
          bottom: 20px;
          content: "";
          left: 20px;
          opacity: 0;
          position: absolute;
          right: 20px;
          top: 20px;
          -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          z-index: 1;
     }
     
          .banners-effect-8 .banners > div a:before {
               border-bottom: 1px solid #ffffff;
               border-top: 1px solid #ffffff;
               -webkit-transform: scale(0, 1);
               -ms-transform: scale(0, 1);
               -o-transform: scale(0, 1);
               transform: scale(0, 1);
          }
          
          .banners-effect-8 .banners > div a:after {
               border-left: 1px solid #ffffff;
               border-right: 1px solid #ffffff;
               -webkit-transform: scale(1, 0);
               -ms-transform: scale(1, 0);
               -o-transform: scale(1, 0);
               transform: scale(1, 0);
          }
     
          .banners-effect-8 .banners > div img {
               opacity: 1;
               filter: alpha(opacity=100);
               -webkit-transition: opacity 0.35s ease 0s;
               -o-transition: opacity 0.35s ease 0s;
               transition: opacity 0.35s ease 0s;
          }
          
               .banners-effect-8 .banners > div a:hover:before,
               .banners-effect-8 .banners > div a:hover:after {
                    opacity: 1;
                    filter: alpha(opacity=100);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
               }
               
               .banners-effect-8 .banners > div a:hover img {
                    opacity: 0.5;
                    filter: alpha(opacity=50);
               }


.banners-effect-9 .banners > div a {
     display: block;
     position: relative;
     z-index: 10;
}
     

     .banners-effect-9 .banners > div a:before {
     	position: absolute;
     	top: 0;
     	left: 0;
     	z-index: 0;
     	width: 100%;
     	height: 100%;
     	background: #000;
     	content: '';
     	-webkit-transition: opacity 0.35s;
     	transition: opacity 0.35s;
     	box-shadow: 0 3px 30px rgba(0,0,0,0.2);
     	opacity: 0;
     }
     
          .banners-effect-9 .banners > div a:hover:before {
               opacity: 1;
          }

     .banners-effect-9 .banners > div a img {
          opacity: 1;
          -webkit-transition: -webkit-transform 0.35s;
          transition: transform 0.35s;
          -webkit-transform: perspective(1000px) translate3d(0,0,0);
          transform: perspective(1000px) translate3d(0,0,0);
     }
     
          .banners-effect-9 .banners > div a:hover img {
               -webkit-transform: perspective(1000px) translate3d(0,0,21px);
               transform: perspective(1000px) translate3d(0,0,21px);
          }
          
.banners-effect-10 .banners > div a {
     display: block;
     position: relative;
     overflow: hidden;
}
     
     .banners-effect-10 .banners > div a:before {
     	position: absolute;
     	top: 0;
     	left: 0;
     	width: 100%;
     	height: 100%;
     	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
     	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
     	content: '';
     	opacity: 0;
     	-webkit-transform: translate3d(0,50%,0);
     	transform: translate3d(0,50%,0);
     	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
     	transition: opacity 0.35s, transform 0.35s;
     }
     
          .banners-effect-10 .banners > div a:hover:before {
               opacity: 1;
               -webkit-transform: translate3d(0,0,0);
               transform: translate3d(0,0,0);
          }


.banners-effect-11 .banners > div a {display: block;position: relative;overflow: hidden;
	&:hover{
		&:before,&:after{
			width:100%;height: 100%;
		}
	}
	
	&:before,&:after{
		 background-color: rgba(0, 0, 0, 0.15);
		content: "";
		height: 0;
		left: 0;
		margin: auto;
		position: absolute;
		
		width: 0;
		@include transition(all 0.3s ease-out 0s);
	}
	&:after{left: auto;right: 0; bottom: 0;}
}

.banners-effect-12 .banners > div {
	img { @include transition(all 0.3s ease-in);
		&:hover{@include filter(grayscale(100%));}
	}
	
}

//one page check out
.so-onepagecheckout .secondary-title{background: $background;}
.so-onepagecheckout .col-left .checkout-login label,
 .so-onepagecheckout .col-left .checkout-register label,
 .so-onepagecheckout section.section-left .form-horizontal .form-group label,
  .so-onepagecheckout .form-horizontal .form-group label{
    font-size: 13px;
    font-weight: normal;
  }
  .so-onepagecheckout .coupon-voucher .input-group-btn input{
    margin-bottom: 10px;
  }
@media (max-width: 767px){
  .so-onepagecheckout .coupon-voucher .panel-body .input-group-btn{
       padding-top: 0px; 
  }
}
@media (min-width: 1024px){
  .so-onepagecheckout .col-left .checkout-login label+input,
   .so-onepagecheckout .col-left .checkout-register label+input,
    .so-onepagecheckout section.section-left .form-horizontal .form-group label + input,
     .so-onepagecheckout .form-horizontal .form-group label + div {
      width: 60%;
  }
}
@media (min-width: 479px){
.so-onepagecheckout .coupon-voucher input[type='text']{
        display: block;
    width: 100%;
    float: none;
    margin-bottom: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
 .so-onepagecheckout .col-left .checkout-content label{
    display: block;
    float: none;
   width: 100%;
  }
  .so-onepagecheckout .col-left .checkout-login label + input,
   .so-onepagecheckout .col-left .checkout-register label + input,
   .so-onepagecheckout section.section-left .form-horizontal .form-group label + input,
    .so-onepagecheckout .form-horizontal .form-group label + div{
     display: block;
      float: none;
     width: 100%;
  }
}