 @include breakpoint(md){

   //  /************************************************************************************************
   //      BLOCK HOME PAGE  
   //  *************************************************************************************************/
    
  .container-megamenu.vertical .vertical-wrapper{display: none;}
  .container-megamenu.vertical:hover{
      .vertical-wrapper{
          display: block;
      }   
  }
   .categories .col5{
      clear: both;
   }
   .categories{
    .modtitle{
        padding-bottom: 4px;
    }
      p{
      margin-bottom: 0;
      font-size: 10px;
     }
   }
   .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .button-group button{
    width: 50px;
   }
   .breadcrumbs{
    min-height: 250px;
  }
  .banner-top{
    margin: 0;
    margin-top: 10px;
    .banner-left{
      padding: 0;
      margin: 0;
      padding-#{$right}: 10px;

    }
     .banner-right{
      margin-#{$left}: 0;
     }
  }
}

