@include breakpoint(lg){

	.common-home .container-megamenu.vertical .vertical-wrapper{display: block;}
	.container-megamenu.vertical .vertical-wrapper{display: none;background: #fff;}
	.container-megamenu.vertical:hover{
	    .vertical-wrapper{
	        display: block;
	    }   
	}
	
	// .wrapper-boxed{
	// 	.container{width:1200px;}
	// }
	// .banner-top .content .inner-content{
	// 	padding: 230px 20px;
	// }
	.container{width:1200px;overflow: visible;}
	
	.horizontal ul.megamenu > li.content-full > .sub-menu{
		//width: 800px !important;
		max-width: none;
		.title-submenu{
			display: none;
		}
		.content{ padding: 30px 30px 20px; }
	}
}