@include breakpoint(xs){
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */
 
    /*[] HEADER DEFAULT []*/
    /*[] HEADER 1 []*/
    .typeheader-1{
         .header-top .logo-content{
            text-align: center;
            margin-bottom: 30px;
        }
       
        .header-top .custom{
            position: absolute;
            top: 36px;
            #{$right}: 10px;
            z-index: 9;
        }
        .header-top .block-cart .handle{
            background: url(../images/icon-image.png) no-repeat -73px -13px;
        }
         .header-top .setting .fa{
            color: #fff;
        }
        .header-bottom .horizontal{
         float: $right;
         margin-#{$right}: 100px;
        }
    }

    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    .banner-top{
        margin: 0;
        margin-top: 10px;
        .banner-left{
          padding: 0;
          margin: 0;

        }
         .banner-right{
          margin-#{$left}: 0;
          img{
            width: 100%;
          }
         }
      }

    /*[] LAYOUT DEFFAULT []*/
    footer.typefooter-1 .footer-top .news-letter{ padding-top: 20px;}
    .common-home .module{ margin-bottom: 30px;}
    .about-demo-4{
        padding-top: 10px;
        margin: 0;
    }
    .section-style4 .so-latest-blog{ padding: 0;padding-top: 20px;}

    /*[] LAYOUT 1 []*/
   .banner-middle content{
     text-align: center;
     margin-bottom: 20px;
   }
   .categories{
    .row{
        margin: 0 -5px;
    }
    .row [class*="col-"] {
        padding-#{$left}: 5px;
        padding-#{$right}: 5px;
    } 
    .col2{
        clear: both;
    }
   }

    .slider-brand-wrapper .owl2-controls .owl2-nav div.owl2-prev{
        #{$left}: 0;
    }
    .slider-brand-wrapper .owl2-controls .owl2-nav div.owl2-next{
        #{$right}: 0;
    }
    div.dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer .time-item{ width:65px;}   
    .dev-so-deals .so-deals-slick.slick-vertical .ds-items{
     display: none;
    }
    .dev-so-deals .so-deals-slick.slick-vertical .ds-items-detail{
        margin: 0 !important;
    }
    .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .image{
        width: 100% !important;
    }
    .dev-so-deals .so-deals-slick .deals-content .ds-items-detail .product-thumb .caption{
        width: 100% !important;
        padding: 15px 0;
    }
     .dev-so-deals .so-deals-slick{
         .deals-content .ds-items-detail .product-thumb .caption .item-time .item-timer{
            .time-item{
                width: 70px;
                &:before{
                    left: -17px;
                }
            }
             .num-time{font-size: 19px !important;}
         }

   }

    /* ***********************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*!== Footer 1 ==!*/   
    footer.typefooter-1{
         .footer-bottom .socials-wrap{
            float: none;
        }
        .footer-bottom{
            text-align: center;
        }
         .footer-bottom .socials-wrap ul{
            display: inline-block;
         }
    }
    footer .module{
        margin-bottom: 30px;
    }
    footer.typefooter-1 .footer-middle{
        padding-bottom: 50px;
    }
 

    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    .thumb-vertical-outer { padding: 20px 0;}
    .bg-page-404{ overflow: hidden; }
    .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview{ display: none; }
    #content .filter-horizontal ul{ display: block; }
    #content .filter-horizontal li.so-filter-options{ width: 100%; border: none; }
    .zoomContainer{ display: none; }
    .breadcrumbs{ padding: 40px 0; }
    .product-view .content-product-right{ margin-top: 15px; }
    .filters-panel.product-filter-bottom{ float: none!important; text-align: center; 
        .box-pagination{ text-align: center; margin-top: 10px; }
    }

    /************************************************************************************************
        DEFTAULT MENU  
    ************************************************************************************************ */
    /*MEGA MENU*/
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul li > a
     .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li > a,
     .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li,
     .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .sub-menu .content .categories{ padding: 0;}
    .megamenu-style-dev{
        .container-megamenu.vertical .vertical-wrapper ul li > a:hover{ color: $linkColor!important;}
        .container-megamenu.horizontal .title-feature, 
        .container-megamenu.horizontal ul.megamenu .title-submenu, 
        .container-megamenu.horizontal ul.megamenu li .sub-menu .content .static-menu a.main-menu, 
        .container-megamenu.horizontal ul.megamenu .subcategory a.title-submenu{ padding: 10px 0; font-size: 14px; font-family: Open Sans, sans-serif;}
        .container-megamenu.horizontal ul.megamenu > li > a strong img,
        .container-megamenu.vertical:after{ display: none; }
        .navbar-default .vertical #menuHeading{ display: none!important; }
        &.responsive {
            ul.megamenu > li.active .close-menu{
                #{$right}: 0;
            }
            #remove-megamenu{ display: block; color: #222; cursor: pointer; }
            .so-megamenu-active #remove-megamenu{ color: #222; }
            .megamenu-wrapper{ border: none; border-radius: 0; }
            div[class^=col-]{  width: 100%; }
            ul.megamenu > li{
                display: block;
                border-bottom: 1px solid #ddd;
                border-top: none;
                padding: 5px 0;
                overflow: hidden;
                a{ line-height: 25px; }
            }
            ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
                padding: 0 !important;
                font-size: 14px;
                background: #5c5c5c;
                color: #fff;
                border: 1px solid #5c5c5c;
                width: 22px;
                line-height: 20px;
                height: 22px;
                display: inline-block;
                text-align: center;
                top: 10px;
                cursor: pointer;
                #{$right}: 0;
                #{$left}: auto;
            }
            ul.megamenu > li.active {
                .sub-menu{ display: block!important; }
                > a{ color: #fff; background: transparent!important; }
                .close-menu{
                   padding: 0;width: 22px; line-height: 22px; background: #5c5c5c; height: auto; top: 10px;
                    &:before{
                        color: #fff;
                        font-size: 14px;
                        line-height: 18px;;
                    }
                }
            }
           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
        }
        .navbar-default .horizontal{
            .navbar-toggle{
                margin: 0 ;
                color: #fff;
                border-radius: 0;
                background: #fff;
                -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                -moz-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                border: solid 1px #000;
                float: $left;
                cursor: pointer;
                padding: 10px;
                border-radius: 4px;
                margin: 5px 0;
                .icon-bar{
                    background: #000;
                    width: 17px;
                    height: 2px;        
                }
            }
            .megamenu-wrapper{
                background: #fff;
                box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
                padding: 20px!important;
                ul.megamenu > li{
                        > a{
                        color: #222!important;
                        padding:  0;
                        font-size: 13px;
                        line-height: 29px !important;
                        font-family: Open Sans, sans-serif;
                        &:hover{ color: $linkColor!important; }
                    }
                }
                ul.megamenu > li > a strong { font-weight: 400; }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
            .features-menu{
                .column{
                    &.layout-color a{display: inline-block;}
                    a{margin: 0 0 30px;display: block}
                }
            }
        }
        .navbar-default{
            .vertical {
                #menuHeading{
                    display: block;
                    margin: 0;
                }
                ul.megamenu{ position: relative; background: transparent;
                    > li{ background: transparent; }
                }
                .vertical-wrapper ul.megamenu > li > a{ border-bottom: none; }
                .vertical-wrapper uppercasel.megamenu > li b.fa{ display: none; }
                .vertical-wrapper ul.megamenu{ border: none; }
                .navbar-header{
                    .navbar-toggle{
                        padding: 10px 11px;
                        margin: 0px;
                        background: $background;
                        border: 1px solid $background;
                        @include border-radius(0 !important);
                        float: $left;
                        i,span{
                            color: #fff;
                        }
                    }
                }
                #remove-verticalmenu{ padding:0; padding-bottom: 20px;
                 display: block; color: #222; cursor: pointer; font-size: 16px; }
                .vertical-wrapper{
                    position: fixed;
                    background: #fff;
                    box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
                    padding: 20px!important;
                    width: 280px;
                    max-height: 100%;
                    top: 0;
                    z-index: 99;
                    border: none;
                    &.so-vertical-active{ display: block!important; }
                    ul.megamenu > li.active .sub-menu{ border: 1px solid #ddd; padding: 20px; 
                        .content{ padding:0px; border: none; box-shadow: none; 
                            .row:first-child > div:first-child{ margin-top: 0; }
                            .static-menu .menu ul li a.main-menu{ font-size: 14px; }
                        }
                    }

                    ul.megamenu{
                        .item-vertical.vertical-style3 .content .image-position{
                            transform: scale(0.8);
                            -moz-transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            -ms-transform: scale(0.8);
                            position: relative;
                        }
                        .item-vertical.css-menu .sub-menu .content .categories .menu > ul li{
                            &:before{
                                display: none;
                            }
                            .main-menu{text-transform: uppercase;margin: 0 0 10px;}
                            a:hover{color: $linkColor;}
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                box-shadow: none;
                                li{
                                    padding: 5px 0;
                                }
                            }
                        }
                        
                    }
                    ul.megamenu .item-vertical.vertical-style1 .content{ padding: 15px; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul{ border: none; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li b{ display: none; }
                    ul.megamenu > li{
                        border-bottom: 1px solid #ddd;
                        border-top: none;
                        padding: 0;
                        > a {     
                            padding: 3px 0;
                            font-family: Open Sans, sans-serif;
                            text-transform: uppercase;
                            background: transparent!important;
                            font-size: 13px;
                            strong{ font-weight: normal;}
                            &:hover{ color: $linkColor!important;}
                        }
                        &.loadmore{ border: none; }
                        a{ line-height: inherit; }
                        &.hover{
                            &:before{
                                font-size: 14px;
                                color: #fff;
                                height: 22px;
                                line-height: 20px;
                                width: 22px;
                                background: #5c5c5c;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #5c5c5c;
                                padding: 0 !important;
                                top: 6px;
                            }
                            &:hover{
                                &:before{
                                    color: #fff;
                                }
                                
                            }
                        }
                        &.active {
                            background: none;
                            .close-menu{
                                background: #5c5c5c;
                                font-size: 14px;
                                top: 6px;
                                &:before{color: #fff; line-height: 22px;}
                            }
                        }
                    }
                }
            }
        }
    }

    /*MENU STIKY*/
    header.navbar-compact{ display: none; }
    header .horizontal ul.megamenu > li > .sub-menu{ border: none; }
    #wrapper{ overflow-x: hidden; }
    ul.megamenu li.active .sub-menu .content{ padding: 0 10px; }
    #sosearchpro.search-pro .input-group .autosearch-input{ padding: side-values(0 40px 0 20px); }
    .navbar-toggle{ margin-#{$left}: 15px; margin-#{$right}: 0;; }
   
    .simple_blog-article .product-filter{ display: none; }
}
