@include breakpoint(xxxs){
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */


    // /*[] HEADER 1 []*/
   

    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/

    /*[] LAYOUT 1 []*/ 
    .custom-ourblog .modtitle{
        padding-bottom: 30px;
    }
    .custom-ourblog.default-nav .owl2-controls .owl2-dots{
        top: 75px;
    }
    .product-view .content-product-right .box-info-product .cart{
        margin-bottom: 10px;
    }
   
    /************************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/
    .box-sevicer{ margin-top: 20px;}

   


    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    .thumb-vertical-outer { padding: 20px 0;}
    .product-view .content-product-right .countdown_box .countdown_inner .title{ display: none; }
    .deals_module_wrapper .title-product{ margin-top: 20px; }
    .producttab .tabsslider .nav-tabs li{ float: none; }
    .product-view .content-product-right{ margin-top: 20px; }
    .bottom-product .nav-tabs li a {
        font-size: 14px;
        padding: 12px 4px;
    }
    .bottom-product .nav-tabs li:first-child a::before{ top: 13px; }
    .products-category .product-layout{ width: 100%; }
    .social-share .title-share{ padding-#{$right}: 10px; }
    .social-share a{ margin: 0 3px; }
    /************************************************************************************************
        PAGE BONUSS  
    ************************************************************************************************ */
    .our-member .respl-item .w-image-box,
    .welcome-about-us .image-about-us{ width: 100%; float: none; margin: 0; text-align: center;}
    .our-member .respl-item .info-member,
    .welcome-about-us .des-about-us{ margin: 20px 0; text-align: justify; }
    .happy-about-us .happy-ab .title-happy-about h2{ font-size: 16px; }
    #sosearchpro .dropdown-menu {  width: 292px!important; }
    .simple_blog-category #content{ overflow: hidden;
        .blog-header{ margin-top: 30px; }
    }

}