{{ header }}
<div class="top-section top-section--white top-section--mobile top-section--article">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>
{{ content_top }}
<div class="news-section section">
    <div class="news-section__content">
        <div class="article__thumb">
            {% if blog_image %}
                <img src="{{ blog_image }}" alt="{{ heading_title }}">
            {% endif %}
            <time class="news-thumb__date" datetime="{{ date_added }}">{{ date_added }}</time>
        </div>
        {% if description %}
            <div class="article__content text">
                    {{ description }}
            </div>
        {% endif %}
        <div class="social-likes__wrap">
            <div class="social-likes__title">{{ text_share }}</div>
            <div class="social-likes">
                <div class="social-likes__item facebook">
                    <span class="social-likes__icon social-likes__icon--facebook"></span>
                </div>
                <div class="social-likes__item twitter">
                    <span class="social-likes__icon social-likes__icon--twitter"></span>
                </div>
                <div class="social-likes__item pinterest">
                    <span class="social-likes__icon social-likes__icon--pinterest"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="news-section__sidebar">
        {{ column_right }}
        {% if products %}
            <div class="news-section__row">
                {% for product in products %}
                    <div class="product-thumb">
                        {% if product.promos %}
                            {% for label in product.promos %}
                                <div class="product-thumb__label">{{ label.promo_text }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="product-thumb__favorite add-to-favorite{% if product.is_wishlist %} active{% endif %}" {% if product.is_wishlist %}onclick="wishlist.remove('{{ product.product_id }}');"{% else %}onclick="wishlist.add('{{ product.product_id }}');"{% endif %} data-id="{{ product.product_id }}">
                            <svg class="product-thumb__favorite--icon" width="24" height="21">
                                <use xlink:href="/images/sprite.svg#heart" />
                            </svg>
                        </div>
                        <div class="product-thumb__content">
                            {% if product.images %}
                                <a href="{{ product.href }}" class="product-thumb__image">
                                    {% set counter = 1 %}
                                    {% for image in product.images %}
                                        <img{% if counter == 2 %} class="product-thumb__hover"{% endif %} src="{{ image.thumb }}" alt="{{ product.name }}" width="375" height="220">
                                        {% set counter = counter + 1 %}
                                    {% endfor %}
                                </a>
                            {% endif %}
                            <a href="{{ product.href }}" class="product-thumb__title">{{ product.name }}</a>
                            {% if product.price %}
                                {% if not product.special %}
                                    <div class="product-thumb__price">{{ text_vid }} {{ product.mpn }}</div>
                                {% else %}
                                    <div class="product-thumb__price">
                                        <div class="product-thumb__price--old">{{ product.price }}</div>
                                        <div class="product-thumb__price--new">{{ product.special }}</div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="product-thumb__btn">
                            <a href="{{ product.href }}" class="btn">{{ text_more }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{{ content_bottom }}
{{ footer }}
