{{ header }}
<div class="top-section top-section--white top-section--mobile top-section--article">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>
<div class="news-section section">
    <div class="news-section__content">
        {% if tltblogs %}
            {% for article in tltblogs %}
                {% if article.bottom %}
                    <div class="article__thumb">
                        <a href="{{ article.href }}">
                            <img src="{{  article.thumb_big }}" alt="{{ article.title }}">
                            <time class="news-thumb__date" datetime="{{ article.date }}">{{ article.date }}</time>
                        </a>
                        <div class="article-insert">
                            <time class="article-insert__date" datetime="{{ article.date }}">{{ article.date }}</time>
                            <a href="{{ article.href }}" class="article-insert__title">{{ article.title }}</a>
                            {% if (article.show_description) %}
                                <div class="article-insert__text">{{ article.intro }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if tltblogs %}
            <div class="product-thumb__list row">
                {% for article in tltblogs %}
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="news-thumb">
                        <a href="{{ article.href }}" class="news-thumb__image">
                            {% if article.thumb %}
                                <img src="{{ article.thumb }}" alt="{{ article.title }}" width="372" height="290">
                            {% endif %}
                            <time class="news-thumb__date" datetime="{{ article.date }}">{{ article.date }}</time>
                        </a>
                        <a href="{{ article.href }}" class="news-thumb__title">{{ article.title }}</a>
                        {% if (article.show_description) %}
                            <div class="news-thumb__text">{{ article.intro }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if (pagination_enabled) %}
            {{ pagination }}
        {% endif %}
    </div>
    <div class="news-section__sidebar">
        {{ column_right }}
    </div>
</div>
{{ content_bottom }}
{{ footer }}
