
/*============ HEADER  ==================*/
.horizontal{
    ul.megamenu > li > .sub-menu{
        border: 1px solid #e1e1e1;
        box-shadow: none;
        #{$left}: 0;
        #{$right}: inherit;
    }
    ul.megamenu > li > a{
        padding: 3px 22px 3px 0; text-transform: uppercase;
        font-weight: bold;
        color: #1c1c1c;
        strong{
             font-weight: bold;
        }
        .caret{
            display: none;
        }
        .fa{padding-#{$right}: 10px;}
        
    }
    ul.megamenu > li{margin-#{$right}: 1px;float: $left;}
    ul.megamenu li .sub-menu .content{
        //border: 1px solid $base-border-color;
        box-shadow: none;
     .fa{margin: 0 10px;
            @include if-rtl {
                &.fa-angle-right:before{content: "\f104";}
            }
        }
    }
    ul.megamenu > li.active > a, ul.megamenu > li.home > a, ul.megamenu > li:hover > a{
        background: transparent;
        color: $linkColor;
    }
    .subcategory li a{@include linkGray();}
    
     ul.megamenu > li.style-page > .sub-menu{
        #{$left}: inherit;
     }
    
}
.header-top .header-top-left .welcome-msg .owl2-carousel .owl2-stage-outer{ direction: ltr; }
.mega-horizontal .navbar-default{border: none;background: transparent;}
@media (max-width: 991px){
    .responsive ul.megamenu > li.click:before,
    .responsive ul.megamenu > li.hover:before {
        #{$right}: 0;
        #{$left}: auto;
    }
    .responsive ul.megamenu > li.active .close-menu{
        #{$right}: 0;
        #{$left}: auto;
    }
}

 ul.megamenu li .product .image img{
    border: none;
 } 

.megamenu-style-dev{position: relative;
    .navbar-default{
        background: none;
        border-color: none;
    }
    .vertical{
        ul.megamenu{position: absolute; width: 100%; background: #222; z-index: 999;
            > li > a{font-size: 11px;}
        } 
        .vertical ul.megamenu > li{margin: 0; border-right: 0; background: #222;
            strong i{display: none;}
                    >a {padding-left: 15px;padding-right: 12px; color: #fff;
                                    &:hover{color: #fff;}
            }
            &.css-menu{
                .sub-menu .content{padding: 0;}
                .hover-menu .menu >ul{padding: 0; margin: 0;
                    li{
                        border-bottom: 1px solid #eee;
                        &:hover{background: #eee;
                            > a{color: $linkColor;}
                        }
                        a{line-height: 37px;
                            b{line-height: 37px; font-size: 16px;margin: 0 20px;}
                        }
                        &:last-child{border: none;}
                    }
                    ul{padding: 0; left: 100%;margin: 0;box-shadow: none;border: 1px solid #eee;min-width: 200px;
                        &:before, &:after{display: none;}
                    }
                } 
            }
            &.item-style3{
                        .sub-menu .content{padding-right: 0;}
            }
            &.with-sub-menu{
                > a:after{content: "\f105";color: #fff;font-family: Fontawesome; font-size: 13px; float: right; margin: 0;}
                
                &:hover > a:after{position: static; border-color: transparent;}
                
            }
            &:hover{background-color: #444;
                >a{color: #fff;}
            }
            &.active > a{background: transparent !important;}
            
            &.style1 .content:after{
            }       
            .sub-menu .content{border-top: 1px solid #ddd;
                .banner{margin-top: -21px; margin-bottom: -22px; margin-right: -1px;}
                .static-menu .menu ul a.main-menu{padding: 0;}
            }
        }
        ul.megamenu .sub-menu .content .static-menu .menu ul {padding-bottom: 0;
            li >a{line-height: inherit; padding-bottom: 0; border-bottom: none; min-height: auto;
                 &:hover{color: $linkColor;}
            }
            ul a{padding: 0;
                 &:hover{color: $linkColor;} 
            }
        }
    }
}
.typeheader-1 .header-bottom .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container{
    background: $background !important;
}
.typeheader-1 .header-bottom .socials-wrap ul li a:hover,
.typeheader-1 .header-bottom .horizontal ul.megamenu > li > a:active,
 .typeheader-1 .header-bottom .horizontal ul.megamenu > li > a:hover,
.typeheader-1 .header-top .block-cart .total-shopping-cart{
    color: $linkColor !important;
}
