/*============HEADER V1 ==================*/


//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
	[SASS DIRECTORY ]
	
    [1] BLOCK HEADER
    [2] BLOCK FOOTER
	
==============================================*/

.typeheader-1{
    .header-top {
        padding: 31px 0;
        .logo-content{
            margin-bottom: 0;
        }
        .so-search{
            .autosearch-input{
                height: 40px;
                border: 1px solid #ebeaea;
                background: none;
            }
            .button-search{
                height: 40px;
                padding: 9px 16px 11px;
                i{
                    display: none;
                }
            }
        }
        .setting{
            float: $right;
            position: relative;
            padding-#{$right}: 15px;
            .fa{
                font-size: 26px;
                color: #222;
                margin: 6px 0;
                cursor: pointer;
            }
            &:hover{
                .dropdown-menu{
                    opacity: 1;
                    visibility: visible;
                    margin: 0;
                }
            }
            .account,
            .box-lang-cunrent{
                .dropdown-menu{
                    display: bllock;
                    opacity: 1;
                    visibility: visible;
                }
            }
             .dropdown-menu{
                padding: 10px;
             }
            .dropdown-toggle{
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0px;
                color: #222;
                padding: 0;
                .btn-group .btn-link:hover{
                    color: #222;
                }
            }
            ul.dropdown{
                padding-#{$left}: 15px;
                margin-bottom: 10px;
            }
        }
        .block-cart{
            float: $right;
            position: relative;
            padding-#{$left}: 15px;
            &:before{
                content: "";
                width: 1px;
                height: 20px;
                background: #ddd;
                position: absolute;
                #{$left}: 0;
                top: 9px;

            }
            .title{
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                color: #222222;
            }
            .handle{
                background: url(../../images/icon-image.png) no-repeat -13px -13px;
                width: 36px;
                height: 34px;
            }
            .total-shopping-cart{
                font-size: 12px;
                color: $linkColor;
                margin-bottom: 0;
                margin-top: -9px;
            }
            .shoppingcart-box{
                min-width: 300px;
                //padding: 15px;
                top: 110%!important;
                position: absolute;
                background-color: #fff;
                border: none;
                border-radius: 0;
                box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.255);
                -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.255);
                 &:before {
                    content: "";
                    display: block;
                    background: transparent;
                    height: 25px;
                    position: absolute;
                    top: -25px;
                    width: 100%;
                }
                &:after{
                    content: '';
                    position: absolute;
                    top: -8px;
                    border-#{$left}: 7px solid transparent;
                    border-#{$right}: 7px solid transparent;
                    border-bottom: 8px solid #666666;
                    #{$left}: 85%;
                }
                p.empty{
                    padding-top: 15px;
                }
                 .minicart-title{
                    background: #666666;
                    padding: 0 25px;
                    span {
                        font-size: 12px;
                        color: #fff;
                        line-height: 41px;
                    }
                    span.price-title {
                        float: $right;
                    }
                }
                li.content-item{
                    background: #f2f2f2;
                    margin-bottom: 15px;
                    padding: 0 15px;
                    
                     table{
                        margin-bottom: 0;
                    }
                    
                    .table-striped>tbody>tr:nth-of-type(odd){
                        background: none;
                    }
                }
                .checkout{
                    padding: 0 15px;
                    margin-bottom: 15px;
                }
                .table>tbody>tr>td,
                 .table>tbody>tr>th, 
                 .table>tfoot>tr>td,
                  .table>tfoot>tr>th,
                   .table>thead>tr>td,
                    .table>thead>tr>th{
                        border: none;
                    }

            }
        }
    }
    
    .header-bottom{
        background: #222222;
        .horizontal{
            float: $left;
             ul.megamenu > li > a{
                color: #fff;
                font-weight: normal;
                padding:side-values(13px 22px 13px 0);
                @include breakpoint(lg){
                    padding:side-values(13px 32px 13px 0);
                }                    
                &:active,
                &:hover{
                    color: $linkColor;
                }
                strong{
                    font-weight: normal;
                }
            }
        }
       
        .container-megamenu.vertical{
             #menuHeading{
                height: 51px;
                 .megamenuToogle-wrapper{
                      height: 51px;
                      .container{
                        line-height: 51px;
                        background: $background;
                    }
                }
            }
            .vertical-wrapper ul.megamenu{
                border: 1px soli $base-border-color;
            }
            &:after{
                display: none;
            }
        }
        .header-block1{
            float: $right;
            .module{
                margin-bottom: 0;
            }
        }
        .socials-wrap {
            float: $right;
            padding: 10px;
            background: rgba(255,255,255,.1);
           
            ul {
              display: table-cell;
              padding-top: 5px;
              li {
                  float: $left;
                  position: relative;
                 
                
                  a {
                    padding: 0 5px;
                    color: #c4c4c4; 
                      &:hover {
                          color: $linkColor;
                      }
                      .name-social {
                        display: none;
                      }

                  }
              }
          }
      }
    }
}


@media (max-width: 991px){
    .typeheader-1 .header-top .block-cart .total-shopping-cart,
    .typeheader-1 .header-top .block-cart .title{
        display: none;
    }
}

