{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-layout" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-layout" class="form-horizontal">
					<table class="table table-striped table-bordered table-hover">
					 	<tr>
							<td class="text-left">
								{% for language in languages %}
									<div class="input-group required">
										<span class="input-group-addon">
											<img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
										</span>
										<input type="text" name="shipping_cs_group_shipping[{{ language.language_id }}][shipping_name]" value="{{ shipping_cs_group_shipping[language.language_id]['shipping_name'] }}" placeholder="{{ entry_shipping_title }}" class="form-control" />
									</div>
									{% if error_name[language.language_id] %} 
										<div class="text-danger">{{ error_name[language.language_id] }}</div>
									{% endif %} 
								{% endfor %}
							</td>
							<td colspan="4" style="min-width: 170px;">
									<select name="shipping_cs_status" id="input-status" class="form-control">
										{% if shipping_cs_status %} 
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}   
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}  
									</select>
							</td>
							<td class="text-right" style="min-width: 170px;">
								<input type="text" name="shipping_cs_sort_order" value="{{ shipping_cs_sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" />
							</td>
						</tr>	
					</table>
					<table id="shiping" class="table table-striped table-bordered table-hover">
						<thead>
							<td class="required">{{ entry_name }}</td>
							<td>{{ entry_cost }}</td>
							<td>{{ entry_allcost }}</td>
							<td>{{ entry_newcost }}</td>
							<td>{{ entry_tax_class }}</td>
							<td>{{ entry_geo_zone }}</td>
						</thead>
						<tbody>
							{% set shipping_row = 0 %}
							{% if multiple_shippings.shipping_cs %} 
								{% for multiple_shipping in multiple_shippings.shipping_cs %}
								<tr id="shipping-row{{ shipping_row }}">
									<td class="text-left">
										{% for language in languages %}
											<div class="input-group required">
												<span class="input-group-addon">
													<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
												</span>
												<input type="text" name="shipping_cs[{{ shipping_row }}][shipping_description][{{ language.language_id }}][name]" value="{{ multiple_shipping['shipping_description'][language.language_id]['name'] }}" placeholder="{{ entry_name }}" class="form-control" />
											</div>
											{% if error_shipping_option['shipping_row'][language.language_id] %} 
												<div class="text-danger">{{ error_shipping_option['shipping_row'][language.language_id] }}</div>
											{% endif %} 
										{% endfor %}
									</td>
									<td class="text-right" style="min-width: 120px;">
										<input type="text" name="shipping_cs[{{ shipping_row }}][cost]" value="{{ multiple_shipping.cost }}" placeholder="{{ entry_cost }}" class="form-control" />
									</td>
									<td class="text-right" style="min-width: 120px;">
										<input type="text" name="shipping_cs[{{ shipping_row }}][allcost]" value="{{ multiple_shipping.allcost }}" placeholder="{{ entry_allcost }}" class="form-control" />
									</td>
									<td class="text-right" style="min-width: 120px;">
										<input type="text" name="shipping_cs[{{ shipping_row }}][newcost]" value="{{ multiple_shipping.newcost }}" placeholder="{{ entry_newcost }}" class="form-control" />
									</td>
									<td class="text-right" style="min-width: 170px;">
										<select name="shipping_cs[{{ shipping_row }}][shipping_cs_tax_class_id]" id="input-tax-class" class="form-control">
											<option value="0">{{ text_none }}</option>
											{% for tax_class in tax_classes %} 
											{% if tax_class.tax_class_id  ==  multiple_shipping.shipping_cs_tax_class_id %} 
											<option value="{{ tax_class.tax_class_id }}" selected="selected">{{ tax_class.title }}</option>
											{% else %}   
											<option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
											{% endif %} 
											{% endfor %} 
										</select>
									</td>
									<td class="text-right" style="min-width: 170px;">
										<select name="shipping_cs[{{ shipping_row }}][shipping_cs_geo_zone_id]" id="input-geo-zone" class="form-control">
											<option value="0">{{ text_all_zones }}</option>
											{% for geo_zone in geo_zones %} 
											{% if geo_zone.geo_zone_id  == multiple_shipping.shipping_cs_geo_zone_id %} 
											<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
											{% else %}   
											<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
											{% endif %} 
											{% endfor %}
										</select>
									</td>
									<td class="text-left">
										<button type="button" onclick="$('#shipping-row{{ shipping_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
									</td>
								</tr>
								{% set shipping_row = shipping_row + 1 %} 
							{% endfor %}  
						{% endif %} 
					 </tbody>
						<tfoot>
							<tr>
								<td colspan="6"></td>
								<td class="text-left">
									<button type="button" onclick="addShipping();" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>

<script type="text/javascript"><!--
var shipping_row = {{ shipping_row }};

function addShipping() {
	html  = '<tr id="shipping-row' + shipping_row + '">';
	html += '<td class="text-left">';
	{% for language in languages %}
	html += '<div class="input-group required"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '  <input type="text" name="shipping_cs[' + shipping_row + '][shipping_description][{{ language.language_id }}][name]" value="" placeholder="{{ entry_name }}" class="form-control" /></div>';
	{% endfor %} 
	html += '</td>';
	html += '  <td class="text-left"><input type="text" name="shipping_cs[' + shipping_row + '][cost]" value="" placeholder="{{ entry_cost }}" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="shipping_cs[' + shipping_row + '][allcost]" value="999999999999" placeholder="{{ entry_allcost }}" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="shipping_cs[' + shipping_row + '][newcost]" value="" placeholder="{{ entry_newcost }}" class="form-control" /></td>';
	html += '  <td class="text-left"><select name="shipping_cs[' + shipping_row + '][shipping_cs_tax_class_id]" id="input-tax-class" class="form-control">';
		html += '  <option value="0">{{ text_none }}</option>';
		{% for tax_class in tax_classes %} 
		html += '  <option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>';
		{% endfor %} 
		html += '  </select>';
	html += '  </td>';
	html += '  <td class="text-left"><select name="shipping_cs[' + shipping_row + '][shipping_cs_geo_zone_id]" id="input-geo-zone" class="form-control">';
		html += '  <option value="0">{{ text_none }}</option>';
		{% for geo_zone in geo_zones %} 
		html += '  <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>';
		{% endfor %} 
		html += '  </select>';
	html += '  </td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#shipping-row' + shipping_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#shiping tbody').append(html);
	
	shipping_row++;
}
//--></script>
</div>
{{ footer }}