<nav id="column-left">
  <div id="navigation"><span class="fa fa-bars"></span> {{ text_navigation }}</div>
  <ul id="menu">
    {% set i = 0 %}
    {% for menu in menus %}
    <li id="{{ menu.id }}">{% if menu.href %}<a href="{{ menu.href }}"><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed"><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% endif %}
      {% if menu.children %}
      <ul id="collapse{{ i }}" class="collapse">
        {% for children_1 in menu.children %}
        <li>{% if children_1.href %}<a href="{{ children_1.href }}">{{ children_1.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed">{{ children_1.name }}</a>{% endif %}
          {% if children_1.children %}
          <ul id="collapse{{ i }}" class="collapse">
            {% for children_2 in children_1.children %}
            <li>{% if children_2.href %}<a href="{{ children_2.href }}">{{ children_2.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed">{{ children_2.name }}</a>{% endif %}
              {% if children_2.children %}
              <ul id="collapse{{ i }}" class="collapse">
                {% for children_3 in children_2.children %}
                <li><a href="{{ children_3.href }}">{{ children_3.name }}</a></li>
                {% endfor %}
              </ul>
              {% endif %} </li>
            {% set i = i + 1 %}
            
            {% endfor %}
          </ul>
          {% endif %}</li>
        {% set i = i + 1 %}
        {% endfor %}
      </ul>
      {% endif %}</li>
    {% set i = i + 1 %}
    {% endfor %}
  </ul>
</nav>
