{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-category" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
			<li class="hidden"><a href="#tab-kcf" data-toggle="tab">{{ tab_kcf }}</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
            <li class="hidden"><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
            <li><a href="#tab-banner" data-toggle="tab">{{ tab_banner }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="category_description[{{ language.language_id }}][name]" value="{{ category_description[language.language_id] ? category_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
                      <div class="text-danger">{{ error_name[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-h1{{ language.language_id }}">{{ entry_h1 }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="category_description[{{ language.language_id }}][h1]" value="{{ category_description[language.language_id] ? category_description[language.language_id].h1 }}" placeholder="{{ entry_h1 }}" id="input-h1{{ language.language_id }}" class="form-control" />
                    </div>
                  </div>					
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="category_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ category_description[language.language_id] ? category_description[language.language_id].description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="category_description[{{ language.language_id }}][meta_title]" value="{{ category_description[language.language_id] ? category_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                      {% if error_meta_title[language.language_id] %}
                      <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="category_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ category_description[language.language_id] ? category_description[language.language_id].meta_description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="category_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ category_description[language.language_id] ? category_description[language.language_id].meta_keyword }}</textarea>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="tab-data">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-parent">{{ entry_parent }}</label>
                <div class="col-sm-10">
                  <input type="text" name="path" value="{{ path }}" placeholder="{{ entry_parent }}" id="input-parent" class="form-control" />
                  <input type="hidden" name="parent_id" value="{{ parent_id }}" />
                  {% if error_parent %}
                  <div class="text-danger">{{ error_parent }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group hidden">
                <label class="col-sm-2 control-label" for="input-filter"><span data-toggle="tooltip" title="{{ help_filter }}">{{ entry_filter }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="filter" value="" placeholder="{{ entry_filter }}" id="input-filter" class="form-control" />
                  <div id="category-filter" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for category_filter in category_filters %}
                    <div id="category-filter{{ category_filter.filter_id }}"><i class="fa fa-minus-circle"></i> {{ category_filter.name }}
                      <input type="hidden" name="category_filter[]" value="{{ category_filter.filter_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form- hidden">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for store in stores %}
                    <div class="checkbox">
                      <label>
                        {% if store.store_id in category_store %}
                        <input type="checkbox" name="category_store[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="category_store[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_image }}</label>
                <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_image }} (Меню)</label>
                <div class="col-sm-10"><a href="" id="thumb-image-menu" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_menu }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image_menu" value="{{ image_menu }}" id="input-image-menu" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_image }} (Фон)</label>
                <div class="col-sm-10"><a href="" id="thumb-image-bg" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_bg }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image_bg" value="{{ image_bg }}" id="input-image-bg" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-top"><span data-toggle="tooltip" title="{{ help_top }}">{{ entry_top }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      {% if top %}
                      <input type="checkbox" name="top" value="1" checked="checked" id="input-top" />
                      {% else %}
                      <input type="checkbox" name="top" value="1" id="input-top" />
                      {% endif %}
                      &nbsp; </label>
                  </div>
                </div>
              </div>
              <div class="form-group hidden">
                <label class="col-sm-2 control-label" for="input-column"><span data-toggle="tooltip" title="{{ help_column }}">{{ entry_column }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="column" value="{{ column }}" placeholder="{{ entry_column }}" id="input-column" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
			<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
			<!-- ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------- -->	  
			<div class="tab-pane hidden" id="tab-kcf">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ napominalka }}">{{ entry_kcf_typres }}</span></label>
					<div class="col-sm-10">
						<select name="kcftypes" id="kcftypes" class="form-control">
							<option value="0" >{{ text_none }}</option>
							{% for kcf_type in kcf_types %}
								{% if kcftypes_now == kcf_type.kcf_id %}
									<option value="{{ kcf_type.kcf_id }}" selected="selected">{{ kcf_type.name }}</option>
								{% else %}
									<option value="{{ kcf_type.kcf_id }}">{{ kcf_type.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<ul class="nav nav-tabs" id="language_kcf">
					{% for language in languages %}
						<li><a href="#language_kcf{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
					{% endfor %}
				</ul>			
				<div class="tab-content" id="content_kcf">
					{% for language in languages %}
					<div class="tab-pane" id="language_kcf{{ language.language_id }}">	
						{% for feeld in kcf_feelds[language.language_id] %}
							{% if feeld.type == 1 %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}"><span data-toggle="tooltip" title="{{ feeld.title }}">{{ feeld.name }}</span></label>
									<div class="col-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><img src="{{ feeld.kcfv_lang_img }}" title="{{ feeld.kcfv_lang_title }}"></span>
											<input name="kfc_feeld[{{ language.language_id }}][{{ feeld.kcfv_feeld_id }}]" value="{{ feeld.kcfv_value ? feeld.kcfv_value : '' }}" class="form-control" type="text">
										</div>				
									</div>
								</div>
							{% elseif feeld.type == 2 %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}"><span data-toggle="tooltip" title="{{ feeld.title }}">{{ feeld.name }}</span></label>
									<div class="col-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><img src="{{ feeld.kcfv_lang_img }}" title="{{ feeld.kcfv_lang_title }}"></span>
											<textarea name="kfc_feeld[{{ language.language_id }}][{{ feeld.kcfv_feeld_id }}]" rows="5" class="form-control">{{ feeld.kcfv_value ? feeld.kcfv_value : '' }}</textarea>
										</div>
									</div>
								</div>
							{% elseif feeld.type == 3 %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}"><span data-toggle="tooltip" title="{{ feeld.title }}">{{ feeld.name }}</span></label>
									<div class="col-sm-10">	
										<div class="input-group">
											<span class="input-group-addon"><img src="{{ feeld.kcfv_lang_img }}" title="{{ feeld.kcfv_lang_title }}"></span>
											<a href="" id="thumb-image-{{ feeld.kcfv_feeld_id }}-{{ language.language_id }}" data-toggle="image" class="img-thumbnail">
												{% if feeld.kcfv_value %}
													<img src="{{ img_start }}{{ feeld.kcfv_value }}" alt="" title="" data-placeholder="{{ placeholder }}" height="100px" />
												{% else %}
													<img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" height="100px" />
												{% endif %}
											</a>
											<input type="hidden" name="kfc_feeld[{{ language.language_id }}][{{ feeld.kcfv_feeld_id }}]" value="{{ feeld.kcfv_value }}" id="input-image-{{ feeld.kcfv_feeld_id }}-{{ language.language_id }}" />
										</div>
									</div>
								</div>			
							{% endif %}	
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>					
			<script type="text/javascript"><!--	
				$('#language_kcf a:first').tab('show');	
				$(document).on('change', 'select[name=\'kcftypes\']', function() {
					var kcfid = $("#kcftypes option:selected").val();
					var category_id = "{{ category_id }}";
					$.ajax({
						url: 'index.php?route=catalog/kcf/setkcf&user_token={{ user_token }}',
						type: 'post',
						data: 'kcfid=' + kcfid + '&typepage=1&kcfv_page_id=' + category_id,
						dataType: 'json',
						success: function(json) {
							$('#content_kcf').html(json.html);
							$('#content_kcf div:first-child').addClass('active');	
						}
					});
				});	
			//--></script>
			<!-- ----- END KCF ------ END KCF ------ END KCF ------ END KCF ------ END KCF ------ END KCF ------ -->		
			<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->		
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="category_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if category_seo_url[store.store_id][language.language_id] %}{{ category_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %}
                      {% endfor %}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  
                </table>
              </div>
            </div>            
            <div class="tab-pane hidden" id="tab-design">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_layout }}</td>
                    </tr>
                  </thead>
                  <tbody>

                    {% for store in stores %}
                    <tr>
                      <td class="text-left">{{ store.name }}</td>
                      <td class="text-left"><select name="category_layout[{{ store.store_id }}]" class="form-control">
                          <option value=""></option>
                          {% for layout in layouts %}
                          {% if category_layout[store.store_id] and category_layout[store.store_id] == layout.layout_id %}
                          <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                          {% else %}
                          <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-banner">
              <div class="form-group ">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name_banner }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name_banner }}" id="input-name" class="form-control" />
                  <input type="hidden" name="banner_id" value="{{ banner_id }}" />
                </div>

              </div>              <ul class="nav nav-tabs" id="b_language">
                  {% for language in languages %}
                    <li><a href="#b_language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                  {% endfor %}
              </ul>
              <div class="tab-content">
                  {% set image_row = 0 %}
                  {% for language in languages %}
                    <div class="tab-pane" id="b_language{{ language.language_id }}">
                      <table id="images{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                          <td class="text-left">{{ entry_title_banner }}</td>
                          <td class="text-left">{{ entry_description_banner }}</td>
                          <td class="text-left">{{ entry_link_banner }}</td>
                          <td class="text-center">{{ entry_image_banner }}</td>
                          <td class="text-right">{{ entry_sort_order_banner }}</td>
                          <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if banner_images[language.language_id] %}
                            {% for banner_image in banner_images[language.language_id] %}
                              <tr id="image-row{{ image_row }}">
                                <td class="text-left">
                                  <textarea name="banner_image[{{ language.language_id }}][{{ image_row }}][title]" data-toggle="summernote" placeholder="{{ entry_title }}" class="form-control" />{{ banner_image.title }}</textarea>
                                    {% if error_banner_image[language.language_id][image_row] %}
                                      <div class="text-danger">{{ error_banner_image[language.language_id][image_row] }}</div>
                                    {% endif %}</td>
                                <td class="text-left" hidden>
                                  <textarea name="banner_image[{{ language.language_id }}][{{ image_row }}][description]" placeholder="{{ entry_description }}" class="form-control" data-toggle="summernote">{{ banner_image.description }}</textarea>
                                </td>
                                <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link]" value="{{ banner_image.link }}" placeholder="{{ entry_link }}" class="form-control" /></td>
                                <td class="text-center"><a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ banner_image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                                  <input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][image]" value="{{ banner_image.image }}" id="input-image{{ image_row }}" /><br>
                                  <input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][alt]" value="{{ banner_image.alt }}" placeholder="Alt" class="form-control" />
                                </td>
                                <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][sort_order]" value="{{ banner_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" /></td>
                                <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}, .tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                              </tr>
                                {% set image_row = image_row + 1 %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                          <td colspan="5"></td>
                          <td class="text-left"><button type="button" onclick="addImage('{{ language.language_id }}');" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                  {% endfor %}
              </div>



            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
      var image_row = {{ image_row }};

      function addImage(language_id) {
          html  = '<tr id="image-row' + image_row + '">';
          html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';
          html += '  <td class="text-left"><textarea name="banner_image[' + language_id + '][' + image_row + '][description]" placeholder="{{ entry_description }}" class="form-control"></textarea></td>';
          html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';
          html += '  <td class="text-center"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="banner_image[' + language_id + '][' + image_row + '][image]" value="" id="input-image' + image_row + '" /><br><input type="text" name="banner_image[' + language_id + '][' + image_row + '][alt]" value="" placeholder="Alt" class="form-control" /></td>';
          html += '  <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
          html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
          html += '</tr>';

          $('#images' + language_id + ' tbody').append(html);

          image_row++;
      }
      //--></script>
  <script type="text/javascript"><!--
$('input[name=\'path\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					category_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'path\']').val(item['label']);
		$('input[name=\'parent_id\']').val(item['value']);
	}
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/filter/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['filter_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter\']').val('');

		$('#category-filter' + item['value']).remove();

		$('#category-filter').append('<div id="category-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="category_filter[]" value="' + item['value'] + '" /></div>');
	}
});

$('#category-filter').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
  <script type="text/javascript"><!--
      $('#b_language a:first').tab('show');
      //--></script>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div>
{{ footer }}