{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-information" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-information" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
			<li><a href="#tab-kcf" data-toggle="tab">{{ tab_kcf }}</a></li>	
			<li><a href="#tab-cover" data-toggle="tab">Галерея</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
            <li><a href="#tab-triggers" data-toggle="tab">{{ tab_triggers }}</a></li>
            <li><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">{% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="information_description[{{ language.language_id }}][title]" value="{{ information_description[language.language_id] ? information_description[language.language_id].title }}" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" class="form-control" />
                      {% if error_title[language.language_id] %}
                      <div class="text-danger">{{ error_title[language.language_id] }}</div>
                      {% endif %} </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-h1{{ language.language_id }}">{{ entry_h1 }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="information_description[{{ language.language_id }}][h1]" value="{{ information_description[language.language_id] ? information_description[language.language_id].h1 }}" placeholder="{{ entry_h1 }}" id="input-h1{{ language.language_id }}" class="form-control" />
					</div>
				  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="information_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].description }}</textarea>
                      {% if error_description[language.language_id] %}
                      <div class="text-danger">{{ error_description[language.language_id] }}</div>
                      {% endif %} </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="information_description[{{ language.language_id }}][meta_title]" value="{{ information_description[language.language_id] ? information_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                      {% if error_meta_title[language.language_id] %}
                      <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                      {% endif %} </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="information_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].meta_description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="information_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].meta_keyword }}</textarea>
                    </div>
                  </div>
                </div>
                {% endfor %}</div>
            </div>
            <div class="tab-pane" id="tab-data">
				
				
              <div class="form-group">
                <label class="col-sm-2 control-label">Изображение</label>
                <div class="col-sm-10">
                  <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail">
                    <img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                  </a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>  				
				
				
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for store in stores %}
                    <div class="checkbox">
                      <label> {% if store.store_id in information_store %}
                        <input type="checkbox" name="information_store[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="information_store[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}</label>
                    </div>
                    {% endfor %}</div>
                </div>
              </div>
				
			<input type="hidden" name="bottom" value="1" />
			<!--				
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bottom"><span data-toggle="tooltip" title="{{ help_bottom }}">{{ entry_bottom }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>{% if bottom %}
                      <input type="checkbox" name="bottom" value="1" checked="checked" id="input-bottom" />
                      {% else %}
                      <input type="checkbox" name="bottom" value="1" id="input-bottom" />
                      {% endif %}
                      &nbsp;</label>
                  </div>
                </div>
              </div>
			-->
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
            </div>
			<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
			<!-- ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------ KCF ------- -->	  
			<div class="tab-pane" id="tab-kcf">	  
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ napominalka }}">{{ entry_kcf_typres }}</span></label>
					<div class="col-sm-10">
						<select name="kcftypes" id="kcftypes" class="form-control">
							<option value="0" >{{ text_none }}</option>
							{% for kcf_type in kcf_types %}
								{% if kcftypes_now == kcf_type.kcf_id %}
									<option value="{{ kcf_type.kcf_id }}" selected="selected">{{ kcf_type.name }}</option>
								{% else %}
									<option value="{{ kcf_type.kcf_id }}">{{ kcf_type.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<ul class="nav nav-tabs" id="language_kcf">
					{% for language in languages %}
						<li><a href="#language_kcf{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
					{% endfor %}
				</ul>			
				<div class="tab-content" id="content_kcf">
					{% for language in languages %}
					<div class="tab-pane" id="language_kcf{{ language.language_id }}">	
						{% for feeld in kcf_feelds[language.language_id] %}
							{% if feeld.type == 1 %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}"><span data-toggle="tooltip" title="{{ feeld.title }}">{{ feeld.name }}</span></label>
									<div class="col-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><img src="{{ feeld.kcfv_lang_img }}" title="{{ feeld.kcfv_lang_title }}"></span>
											<input name="kfc_feeld[{{ language.language_id }}][{{ feeld.kcfv_feeld_id }}]" value="{{ feeld.kcfv_value ? feeld.kcfv_value : '' }}" class="form-control" type="text">
										</div>				
									</div>
								</div>
							{% elseif feeld.type == 2 %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}"><span data-toggle="tooltip" title="{{ feeld.title }}">{{ feeld.name }}</span></label>
									<div class="col-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><img src="{{ feeld.kcfv_lang_img }}" title="{{ feeld.kcfv_lang_title }}"></span>
											<textarea name="kfc_feeld[{{ language.language_id }}][{{ feeld.kcfv_feeld_id }}]" rows="5" class="form-control">{{ feeld.kcfv_value ? feeld.kcfv_value : '' }}</textarea>
										</div>
									</div>
								</div>
							{% elseif feeld.type == 3 %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}"><span data-toggle="tooltip" title="{{ feeld.title }}">{{ feeld.name }}</span></label>
									<div class="col-sm-10">	
										<div class="input-group">
											<span class="input-group-addon"><img src="{{ feeld.kcfv_lang_img }}" title="{{ feeld.kcfv_lang_title }}"></span>
											<a href="" id="thumb-image-{{ feeld.kcfv_feeld_id }}-{{ language.language_id }}" data-toggle="image" class="img-thumbnail">
												{% if feeld.kcfv_value %}
													<img src="{{ img_start }}{{ feeld.kcfv_value }}" alt="" title="" data-placeholder="{{ placeholder }}" height="100px" />
												{% else %}
													<img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" height="100px" />
												{% endif %}
											</a>
											<input type="hidden" name="kfc_feeld[{{ language.language_id }}][{{ feeld.kcfv_feeld_id }}]" value="{{ feeld.kcfv_value }}" id="input-image-{{ feeld.kcfv_feeld_id }}-{{ language.language_id }}" />
										</div>
									</div>
								</div>			
							{% endif %}	
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>					
			<script type="text/javascript"><!--	
				$('#language_kcf a:first').tab('show');	
				$(document).on('change', 'select[name=\'kcftypes\']', function() {
					var kcfid = $("#kcftypes option:selected").val();
					var information_id = "{{ information_id }}";
					$.ajax({
						url: 'index.php?route=catalog/kcf/setkcf&user_token={{ user_token }}',
						type: 'post',
						data: 'kcfid=' + kcfid + '&typepage=3&kcfv_page_id=' + information_id,
						dataType: 'json',
						success: function(json) {
							$('#content_kcf').html(json.html);
							$('#content_kcf div:first-child').addClass('active');	
						}
					});
				});	
			//--></script>
			<!-- ----- END KCF ------ END KCF ------ END KCF ------ END KCF ------ END KCF ------ END KCF ------ -->		
			<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->	
			
			
            <div class="tab-pane" id="tab-cover">
                <div class="table-responsive">
                <table id="images-cover" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">Изображение</td>
                      <td class="text-left">Заголовок</td>
                      <td class="text-right">Сортировка</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    {{ image_row }}
					{% set image_row = 0 %}
					{% for image in cover_image %}
						<tr id="image-row-cover{{ image_row }}">
						  <td class="text-left"><a href="" id="thumb-image-cover{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
							  <input type="hidden" name="cover_image[{{ image_row }}][image]" value="{{ image.image }}" id="input-image-cover{{ image_row }}" /></td>
						  <td class="text-left"><input type="text" name="cover_image[{{ image_row }}][title]" value="{{ image.title }}" placeholder="Название" class="form-control" /></td>
						  <td class="text-right"><input type="text" name="cover_image[{{ image_row }}][sort_order]" value="{{ image.sort_order }}" placeholder="Порядок сортировки" class="form-control" /></td>
						  <td class="text-left"><button type="button" onclick="$('#image-row-cover{{ image_row }}').remove();" data-toggle="tooltip" title="Удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
						</tr>
                    {% set image_row = image_row + 1 %}
                    {% endfor %}	
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3"></td>
                      <td class="text-left"><button type="button" onclick="addImageCover();" data-toggle="tooltip" title="Добавить изображение" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>  			
			
			
			
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="information_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if information_seo_url[store.store_id][language.language_id] %}{{ information_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %} 
                      {% endfor %}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
              <div class="tab-pane" id="tab-triggers">
                  <ul class="nav nav-tabs" id="language_triggers">
                      {% for language in languages %}
                          <li><a href="#language_triggers{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                      {% endfor %}
                  </ul>
                  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_triggers }}</div>
                      <div class="tab-content">
                          {% for language in languages %}
                              <div class="tab-pane" id="language_triggers{{ language.language_id }}">
                                  <div class="page-header clearfix">
                                      <div class="pull-right">
                                          <button type="button" id="add-triggers-{{ language.language_id }}" data-count="{% if information_triggers[language.language_id] %}{{ information_triggers[language.language_id]|length }}{% else %}0{% endif %}" data-language="{{ language.language_id }}" data-toggle="tooltip" title="{{ text_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                                      </div>
                                  </div>
                                  {% set count = 1 %}
                                  {% for language_id, information_trigger in information_triggers %}
                                    {% for trigger in information_trigger %}
                                        {% if language_id == language.language_id %}
                                              <div id="trigger_block_{{ count }}_{{ language_id }}">
                                                  <div class="row">
                                                      <div class="col-sm-11">
                                                          <div class="form-group">
                                                              <label class="col-sm-2 control-label" for="input-trigger-title">{{ text_title }}</label>
                                                              <div class="col-sm-10">
                                                                  <input type="text" name="information_triggers[{{ language_id }}][{{ count }}][title]" value="{{ trigger['title'] }}" placeholder="{{ text_title }}" class="form-control"/>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-2 control-label" for="input-trigger-order">Порядок сортировки</label>
                                                              <div class="col-sm-10">
                                                                  <input type="text" name="information_triggers[{{ language_id }}][{{ count }}][sort_order]" value="{{ trigger['sort_order'] }}" placeholder="Порядок сортировки" class="form-control"/>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-2 control-label" for="input-trigger-year">Год</label>
                                                              <div class="col-sm-10">
                                                                  <input type="text" name="information_triggers[{{ language_id }}][{{ count }}][year]" value="{{ trigger['year'] }}" placeholder="Год" class="form-control"/>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-2 control-label" for="input-trigger-image">{{ text_image }}</label>
                                                              <div class="col-sm-10">
                                                                  <a href="" id="thumb-trigger-image-{{ language_id }}-{{ count }}" data-toggle="image" class="img-thumbnail">
                                                                      <img src="{{ trigger['thumb'] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                                                                  <input type="hidden" name="information_triggers[{{ language_id }}][{{ count }}][image]" value="{{ trigger['image'] }}" id="input-trigger-image-{{ language_id }}-{{ count }}" />
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-2 control-label" for="input-trigger-width-height">{{ text_width_height }}</label>
                                                              <div class="col-sm-10">
                                                                  <div class="col-sm-3"><input type="text" name="information_triggers[{{ language_id }}][{{ count }}][image_width]" value="{{ trigger['image_width'] }}" placeholder="{{ text_width }}" class="form-control"/></div>
                                                                  <div class="col-sm-3"><input type="text" name="information_triggers[{{ language_id }}][{{ count }}][image_height]" value="{{ trigger['image_height'] }}" placeholder="{{ text_height }}" class="form-control"/></div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-2 control-label" for="input-trigger-description{{ language_id }}">{{ text_description }}</label>
                                                              <div class="col-sm-10">
                                                                  <textarea name="information_triggers[{{ language_id }}][{{ count }}][description]" class="form-control summernote" placeholder="{{ text_description }}" data-toggle="summernote" data-lang="{{ summernote }}">{{ trigger['description'] }}</textarea>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-sm-1 text-right">
                                                          <button type="button" onclick="$('#trigger_block_{{ count }}_{{ language_id }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                                                      </div>
                                                  </div>
                                              </div>
                                              <hr>
                                            {% set count = count + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                  {% endfor %}
                                  <div id="trigger-block-{{ language.language_id }}"></div>
                              </div>
                          {% endfor %}
                      </div>
                  </div>
            <div class="tab-pane" id="tab-design">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_layout }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left"><select name="information_layout[{{ store.store_id }}]" class="form-control">
                        <option value=""></option>
                        {% for layout in layouts %}
                        {% if information_layout[store.store_id] and information_layout[store.store_id] == layout.layout_id %}
                        <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                        {% else %}
                        <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                        {% endif %}
                        {% endfor %}
                      </select></td>
                  </tr>
                  {% endfor %}
                    </tbody>
                  
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
$('#language_triggers a:first').tab('show');
    
var image_row = {{ image_row }};

function addImageCover() {
		html  = '<tr id="image-row-cover' + image_row + '">';
		html += '  <td class="text-left"><a href="" id="thumb-image-cover' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /><input type="hidden" name="cover_image[' + image_row + '][image]" value="" id="input-image-cover' + image_row + '" /></td>';
		html += '  <td class="text-left"><input type="text" name="cover_image[' + image_row + '][title]" value="" placeholder="Название" class="form-control" /></td>';
		html += '  <td class="text-right"><input type="text" name="cover_image[' + image_row + '][sort_order]" value="" placeholder="Порядок сортировки" class="form-control" /></td>';
		html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row-cover' + image_row  + '\').remove();" data-toggle="tooltip" title="Удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
		html += '</tr>';

		$('#images-cover tbody').append(html);

		image_row++;
}
//--></script>
<script>
    {% for language in languages %}
        $(document).on('click', '#add-triggers-{{ language.language_id }}', function(){
            var language  = $(this).attr('data-language');
            var count     = $(this).attr('data-count');
            addTrigger(count,language);
        });
    {% endfor %}

    function addTrigger(count,language) {

        if (!count) {
            count = 1;
        } else {
            count++;
            $('#add-triggers-' + language).attr('data-count', count);
        }

        html = '';
        html += '<div id="trigger_block_'+ count +'_'+ language +'"';
        html += '<div class="row">';
        html += '<div class="col-sm-11">';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">{{ text_title }}</label>';
        html += '<div class="col-sm-10">';
        html += '<input type="text" name="information_triggers[' + language + '][' + count + '][title]" placeholder="{{ text_title }}" class="form-control"/>';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">Год</label>';
        html += '<div class="col-sm-10">';
        html += '<input type="text" name="information_triggers[' + language + '][' + count + '][year]" placeholder="Год" class="form-control"/>';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">Порядок сортировки</label>';
        html += '<div class="col-sm-10">';
        html += '<input type="text" name="information_triggers[' + language + '][' + count + '][sort_order]" placeholder="Порядок сортировки" class="form-control"/>';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label" for="input-trigger-image">{{ text_image }}</label>';
        html += '<div class="col-sm-10">';
        html += '<a href="" id="thumb-trigger-image-'+language+'-'+count+'" data-toggle="image" class="img-thumbnail">';
        html += '<img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>';
        html += '<input type="hidden" name="information_triggers[' + language + '][' + count + '][image]" value="" id="input-trigger-image-'+language+'-'+count+'" />';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">{{ text_width_height }}</label>';
        html += '<div class="col-sm-10">';
        html += '<div class="col-sm-3"><input type="text" name="information_triggers[' + language + '][' + count + '][image_width]" placeholder="{{ text_width }}" class="form-control"/></div><div class="col-sm-3"><input type="text" name="information_triggers[' + language + '][' + count + '][image_height]" placeholder="{{ text_height }}" class="form-control"/></div>';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">{{ text_description }}</label>';
        html += '<div class="col-sm-10">';
        html += '<textarea name="information_triggers[' + language + '][' + count + '][description]" class="form-control summernote" placeholder="{{ text_description }}"></textarea>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '<div class="col-sm-1">';
        html += '<button type="button" onclick="$(\'#trigger_block_' + count +'_'+ language + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '<hr>';

        $('#trigger-block-'+ language).append(html);
        $('.summernote').summernote({height: 150});
        return true;
    }
</script>
</div>
{{ footer }}