{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-option" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> 
	{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-option" class="form-horizontal">
          <fieldset>
            <legend>{{ heading_title }}</legend>
            <div class="form-group required">
              <label class="col-sm-2 control-label">{{ column_name }}</label>
              <div class="col-sm-10"> 
				{% for language in languages %} 
					<div class="input-group">
						<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
						<input type="text" name="kfc_description[{{ language.language_id }}][name]" value="{{ kcf_info.description[language.language_id].name ? kcf_info.description[language.language_id].name }}" placeholder="{{ entry_name }}" class="form-control" />
					</div>
					{% if error_name[language.language_id] %}
						<div class="text-danger">{{ error_name[language.language_id] }}</div>
					{% endif %}
                {% endfor %}</div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label">{{ column_description }}</label>
              <div class="col-sm-10"> 
				{% for language in languages %}
                <div class="input-group">
					<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
					<textarea name="kfc_description[{{ language.language_id }}][description]"  id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ kcf_info.description[language.language_id].description ? kcf_info.description[language.language_id].description }}</textarea>
                </div>
                {% endfor %}
			  </div>
            </div>		
			<div class="form-group required">
              <label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
              <div class="col-sm-10">
                <select name="kcf_type"  class="form-control">
					<optgroup label="{{ text_choose }}">
						{% if kcf_types is defined %}
							{% for kcf_type in kcf_types %}
								{% if kcf_info.type == kcf_type.kcftype_id %}
									<option value="{{ kcf_type.kcftype_id }}" selected>{{ kcf_type.description }}</option>
								{% else %}
									<option value="{{ kcf_type.kcftype_id }}">{{ kcf_type.description }}</option>
								{% endif %}								
							{% endfor %}	
						{% endif %}
					</optgroup>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ text_value }}</legend>
            <table id="option-value" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">{{ entry_type_kcf_feeld }}</td>
                  <td class="text-center">{{ entry_name_kcf_feeld }}</td>
                  <td class="text-right">{{ entry_sort_order }}</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
				{% set kcf_feeld_row = 0 %}
				{% for feelds in kcf_info.kcf_feelds %} 
					<tr id="kcf-feeld-row{{ kcf_feeld_row }}">
						<td class="text-left">		
							<select name="kcf_feeld[{{ kcf_feeld_row }}][type]" class="form-control">			
								<optgroup label="Выберите из списка">		
									{% for kcftypefeeld in kcffeeld_types %}
										{% if feelds.type == kcftypefeeld.kcftypefeeld_id %} 
											<option value="{{ kcftypefeeld.kcftypefeeld_id }}" selected>{{ kcftypefeeld.name }}</option>
										{% else %}
											<option value="{{ kcftypefeeld.kcftypefeeld_id }}">{{ kcftypefeeld.name }}</option>
										{% endif %}											
									{% endfor %}
								</optgroup>
							</select>
						</td>		
						<td class="text-left">    
							{% for language in languages %}
								<div class="input-group">    
									<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>      
									<input name="kcf_feeld[{{ kcf_feeld_row }}][kcf_feeld_description][{{ language.language_id }}][name]" value="{{ feelds.feeld_desc[language.language_id].name }}" class="form-control" type="text">
								</div>    
							{% endfor %}
						</td>						
						<td class="text-left">    
							{% for language in languages %}
								<div class="input-group">      
									<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>      
									<textarea name="kcf_feeld[{{ kcf_feeld_row }}][kcf_feeld_description][{{ language.language_id }}][title]" style="width:100%">{{ feelds.feeld_desc[language.language_id].title }}</textarea>    
								</div>    
							{% endfor %}
						</td>						
						<td class="text-right">
							<button type="button" onclick="$('#kcf-feeld-row{{ kcf_feeld_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
						</td>
					</tr>
					{% set kcf_feeld_row = kcf_feeld_row + 1 %}
				{% endfor %}
			  </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-right"><button type="button" onclick="addOptionValue();" data-toggle="tooltip" title="{{ button_option_value_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('select[name=\'type\']').trigger('change');

var kcf_feeld_row = {{ kcf_feeld_row }};

function addOptionValue() {
	html  = '<tr id="kcf-feeld-row' + kcf_feeld_row + '">';
	
	
	html += '  <td class="text-left">';
	html += '		<select name="kcf_feeld[' + kcf_feeld_row + '][type]"  class="form-control">';
	html += '			<optgroup label="{{ text_choose }}">';
						{% if kcffeeld_types is defined %}
							{% for kcffeeld_type in kcffeeld_types %}
	html += '					<option value="{{ kcffeeld_type.kcftypefeeld_id }}">{{ kcffeeld_type.name }}</option>';
							{% endfor %}	
						{% endif %}
	html += '			</optgroup>';
    html += '       </select>';
	html += '  </td>';
	html += '  <input type="hidden" name="kcf_feeld[' + kcf_feeld_row + '][kcffeeld_id]" value="" />';
    html += '  <td class="text-left">';
	{% for language in languages %}
	html += '    <div class="input-group">';
	html += '      <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '      <input type="text" name="kcf_feeld[' + kcf_feeld_row + '][kcf_feeld_description][{{ language.language_id }}][name]" value="" class="form-control" />';
    html += '    </div>';
	{% endfor %}
	html += '  </td>';
    html += '  <td class="text-left">';
	{% for language in languages %}
	html += '    <div class="input-group">';
	html += '      <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '      <textarea name="kcf_feeld[' + kcf_feeld_row + '][kcf_feeld_description][{{ language.language_id }}][title]" style="width:100%"></textarea>';
    html += '    </div>';
	{% endfor %}
	html += '  </td>';
	html += '  <td class="text-right"><button type="button" onclick="$(\'#kcf-feeld-row' + kcf_feeld_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	$('#option-value tbody').append(html);
	kcf_feeld_row++;
}
//--></script></div>
{{ footer }}