{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-menu" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-menu" class="form-horizontal">
                    <div class="tab-content">
                     <ul class="nav nav-tabs" id="language">
						{% for language in languages %}
                        <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                        {% endfor %}
                     </ul>
                        <div class="tab-content">
                           {% for language in languages %}
                           <div class="tab-pane" id="language{{ language.language_id }}">
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                                    <div class="col-sm-10">
                                      <input type="text" name="menu_description[{{ language.language_id }}][name]" value="{{ menu_description[language.language_id] ? menu_description[language.language_id].name : '' }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
									  {% if error_name[language.language_id] is defined %}
										<div class="text-danger">{{ error_name[language.language_id] }}</div>
                                      {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-href{{ language.language_id }}">{{ entry_keyword }}</label>
                                    <div class="col-sm-10">
                                      <input type="text" name="menu_description[{{ language.language_id }}][href]" value="{{ menu_description[language.language_id] ? menu_description[language.language_id].href : '' }}" placeholder="{{ entry_keyword }}" id="input-href{{ language.language_id }}" class="form-control" />
                                    </div>
                                </div>
                           </div>
                           {% endfor %}
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-parent">{{ entry_parent }}</label>
								<div class="col-sm-10">
								  <input type="text" name="name_path" value="{{ name_path }}" placeholder="{{ entry_parent }}" id="input-parent" class="form-control" />
								  <input type="hidden" name="parent_id" value="{{ parent_id }}" />
								</div>
							</div>
                          <div class="form-group" hidden>
                            <label class="col-sm-2 control-label">{{ entry_image }}</label>
                            <div class="col-sm-10">
                              <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail">
                                <img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                              </a>
                              <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                            </div>
                          </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                            <div class="col-sm-10">
                              <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                            </div>
                          </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-target">{{ entry_target }}</label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
											{% if target_blank %}
                                                <input type="checkbox" name="target_blank" value="1" checked="checked" id="input-target" />
                                            {% else %}
                                                <input type="checkbox" name="target_blank" value="1" id="input-target" />
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                           <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                            <div class="col-sm-10">
                              <select name="status" id="input-status" class="form-control">
								{% if status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                              </select>
                            </div>
                          </div>
                        </div>    
                    </div>   
                </form>
            </div>    
        </div>     
    </div>   
</div>


  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
  
<script type="text/javascript">
    $('input[name=\'name_path\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/menu/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    json.unshift({
                        menu_id: 0,
                        name: '{{ text_none }}'
                    });

                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['menu_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'name_path\']').val(item['label']);
            $('input[name=\'parent_id\']').val(item['value']);
        }
    });
</script>
{{ footer }}