{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-project-page" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-project-page" class="form-horizontal">
                    <div class="tab-content">
                        <ul class="nav nav-tabs" id="language">
                            {% for language in languages %}
                                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for language in languages %}
                                <div class="tab-pane" id="language{{ language.language_id }}">
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="project_page_description[{{ language.language_id }}][meta_title]" value="{{ project_page_description[language.language_id] ? project_page_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                                            {% if error_meta_title[language.language_id] %}
                                                <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                                        <div class="col-sm-10">
                                            <textarea name="project_page_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ project_page_description[language.language_id] ? project_page_description[language.language_id].meta_description }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                                        <div class="col-sm-10">
                                            <textarea name="project_page_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ project_page_description[language.language_id] ? project_page_description[language.language_id].meta_keyword }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {#<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />#}
    {#<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />#}
    {#<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>#}
    {#<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>#}
    {#<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>#}
    {#<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>#}
    {#<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />#}
    {#<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>#}
    {#<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>#}

    <script type="text/javascript"><!--
        $('#language a:first').tab('show');
    //--></script>
</div>
{{ footer }}