{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-project" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">{% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-project" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-cover" data-toggle="tab">Изображения</a></li>
                        <li><a href="#tab-models" data-toggle="tab">Используемые модели</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <ul class="nav nav-tabs" id="language">
                                {% for language in languages %}
                                    <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">{% for language in languages %}
                                    <div class="tab-pane" id="language{{ language.language_id }}">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="project_description[{{ language.language_id }}][title]" value="{{ project_description[language.language_id] ? project_description[language.language_id].title }}" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" class="form-control" />
                                                {% if error_title[language.language_id] %}
                                                    <div class="text-danger">{{ error_title[language.language_id] }}</div>
                                                {% endif %} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-designer{{ language.language_id }}">{{ entry_designer }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="project_description[{{ language.language_id }}][designer]" value="{{ project_description[language.language_id] ? project_description[language.language_id].designer }}" placeholder="{{ entry_designer }}" id="input-designer{{ language.language_id }}" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="tab-content">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                    <div class="col-sm-10">
                                        <select name="status" id="input-status" class="form-control">
                                            {% if status %}
                                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                                <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                                <option value="1">{{ text_enabled }}</option>
                                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-cover">
                            <div class="table-responsive">
                                <table id="images-cover" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td class="text-left">Изображение</td>
                                        <td class="text-left">Заголовок</td>
                                        <td class="text-right">Сортировка</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{ image_row }}
                                    {% set image_row = 0 %}
                                    {% for image in cover_image %}
                                        <tr id="image-row-cover{{ image_row }}">
                                            <td class="text-left"><a href="" id="thumb-image-cover{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                                                <input type="hidden" name="cover_image[{{ image_row }}][image]" value="{{ image.image }}" id="input-image-cover{{ image_row }}" /></td>
                                            <td class="text-left"><input type="text" name="cover_image[{{ image_row }}][title]" value="{{ image.title }}" placeholder="Название" class="form-control" /></td>
                                            <td class="text-right"><input type="text" name="cover_image[{{ image_row }}][sort_order]" value="{{ image.sort_order }}" placeholder="Порядок сортировки" class="form-control" /></td>
                                            <td class="text-left"><button type="button" onclick="$('#image-row-cover{{ image_row }}').remove();" data-toggle="tooltip" title="Удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                                        </tr>
                                        {% set image_row = image_row + 1 %}
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="text-left"><button type="button" onclick="addImageCover();" data-toggle="tooltip" title="Добавить изображение" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-models">
                            <div class="tab-content">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-related">{{ entry_related }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="related" value="" placeholder="{{ entry_related }}" id="input-related" class="form-control" />
                                        <div id="product-related" class="well well-sm" style="height: 150px; overflow: auto;"> {% for product_related in product_relateds %}
                                                <div id="product-related{{ product_related.product_id }}"><i class="fa fa-minus-circle"></i> {{ product_related.name }}
                                                    <input type="hidden" name="product_related[]" value="{{ product_related.product_id }}" />
                                                </div>
                                            {% endfor %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
    <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
    <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
    <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
    <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
    <script type="text/javascript"><!--
        $('#language a:first').tab('show');

        var image_row = {{ image_row }};

        function addImageCover() {
            html  = '<tr id="image-row-cover' + image_row + '">';
            html += '  <td class="text-left"><a href="" id="thumb-image-cover' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /><input type="hidden" name="cover_image[' + image_row + '][image]" value="" id="input-image-cover' + image_row + '" /></td>';
            html += '  <td class="text-left"><input type="text" name="cover_image[' + image_row + '][title]" value="" placeholder="Название" class="form-control" /></td>';
            html += '  <td class="text-right"><input type="text" name="cover_image[' + image_row + '][sort_order]" value="" placeholder="Порядок сортировки" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row-cover' + image_row  + '\').remove();" data-toggle="tooltip" title="Удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images-cover tbody').append(html);

            image_row++;
        }
        //--></script>
    <script>
        // Related
        $('input[name=\'related\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                label: item['name'],
                                value: item['product_id']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                $('input[name=\'related\']').val('');

                $('#product-related' + item['value']).remove();

                $('#product-related').append('<div id="product-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_related[]" value="' + item['value'] + '" /></div>');
            }
        });

        $('#product-related').delegate('.fa-minus-circle', 'click', function() {
            $(this).parent().remove();
        });
    </script>
</div>
{{ footer }}