{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
  </div>
  <div class="container-fluid">
  {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
  {% endif %}
  {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
    </div>
    <div class="panel-body">
      <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
            <td class="left">{% if sort == 'pt.promo_text' %}
                <a href="{{ sort_promo_text }}" class="{{ order|lower }}">{{ column_promo_text }}</a>
              {% else %}
                <a href="{{ sort_promo_text }}">{{ column_promo_text }}</a>
              {% endif %}</td>

            <td class="left">{% if sort == 'pt.sort_order' %}
                <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
              {% else %}
                <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
              {% endif %}</td>
            <td class="right">{{ column_action }}</td>
          </tr>
          </thead>
          <tbody>
          {% if promotags %}
            {% for promotag in promotags %}
              <tr>
                <td style="text-align: center;">
                    {% if promotag.selected %}
                    <input type="checkbox" name="selected[]" value="{{ promotag.promo_tags_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ promotag.promo_tags_id }}" />
                    {% endif %}
                </td>
                <td class="left">{{ promotag.promo_text }}</td>
                <td class="left">{{ promotag.sort_order }}</td>
                <td class="right">
                  <a href="{{ promotag.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="center" colspan="6">{{ text_no_results }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </form>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    </div>
  </div>
</div>
{{ footer }}


<script type="text/javascript"><!--
function filter() {
	url = 'index.php?route=catalog/product&user_token={{ user_token  }}';
	
	var filter_name = $('input[name=\'filter_name\']').attr('value');
	
	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
	
	var filter_model = $('input[name=\'filter_model\']').attr('value');
	
	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}
	
	var filter_price = $('input[name=\'filter_price\']').attr('value');
	
	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}
	
	var filter_quantity = $('input[name=\'filter_quantity\']').attr('value');
	
	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}
	
	var filter_status = $('select[name=\'filter_status\']').attr('value');
	
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}	

	location = url;
}
//--></script> 
<script type="text/javascript"><!--
$('#form input').keydown(function(e) {
	if (e.keyCode == 13) {
		filter();
	}
});
//--></script>