{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-promotags" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-promotags">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <td><span class="required">*</span> {{ entry_promo_text }}</td>
                            <td>
                                {% for language in languages %}
                                    <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                        <input name="promo_text[{{ language.language_id }}]"  class="form-control" value="{{ promo_text[language.language_id] ? promo_text[language.language_id] : '' }}"/>
                                        {% if error_promo_text[language.language_id] %}
                                            <div class="text-danger">{{ error_promo_text[language.language_id] }}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="hidden">
                            <td>CSS class</td>
                            <td><input class="form-control" name="class" value="{{ class }}" type="text"/></td>
                        </tr>
                        <tr>
                            <td>{{ entry_sort_order }}</td>
                            <td><input class="form-control" type="text" name="sort_order" value="{{ sort_order }}" size="1" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{{ footer }}