{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-attribute" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-attribute" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                <input type="text" name="storestock_description[{{ language.language_id }}][store_name]" value="{{ storestock_description[language.language_id] ? storestock_description[language.language_id].store_name }}" placeholder="{{ entry_name }}" class="form-control" />
              </div>
              {% if error_name[language.language_id] %}
              <div class="text-danger">{{ error_name[language.language_id] }}</div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_addr }}</label>
			<div class="col-sm-10">
              {% for language in languages %}
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
				<textarea name="storestock_description[{{ language.language_id }}][store_addr]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ storestock_description[language.language_id] ? storestock_description[language.language_id].store_addr }}</textarea>				
              </div>
              {% endfor %}				
			</div>
		  </div>			
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-attribute-group">{{ entry_attribute_group }}</label>
            <div class="col-sm-10">
              <select name="sscity_id" id="input-attribute-group" class="form-control">
                <option value="0"></option>
                {% for city in cities %}
                {% if city.sscity_id == sscity_id %}
                <option value="{{ city.sscity_id }}" selected="selected">{{ city.name }}</option>
                {% else %}
                <option value="{{ city.sscity_id }}">{{ city.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">{{ column_yes_shipping }}</label>
		    <div class="col-sm-10">
				<label class="radio-inline"> {% if shipping %}
				  <input type="radio" name="shipping" value="1" checked="checked" />
				  {{ text_yes }}
				  {% else %}
				  <input type="radio" name="shipping" value="1" />
				  {{ text_yes }}
				  {% endif %} </label>
				<label class="radio-inline"> {% if not shipping %}
				  <input type="radio" name="shipping" value="0" checked="checked" />
				  {{ text_no }}
				  {% else %}
				  <input type="radio" name="shipping" value="0" />
				  {{ text_no }}
				  {% endif %} </label>
		    </div>
		  </div>			  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_phone1 }}</label>
            <div class="col-sm-4">
              <input type="text" name="phone1" value="{{ phone1 }}" placeholder="{{ entry_phone1 }}" class="form-control" />
            </div>
            <label class="col-sm-1 control-label">{{ entry_phone2 }}</label>
            <div class="col-sm-4">
              <input type="text" name="phone2" value="{{ phone2 }}" placeholder="{{ entry_phone2 }}" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_link1 }}</label>
            <div class="col-sm-10">
              <input type="text" name="link1" value="{{ link1 }}" placeholder="{{ entry_link1 }}" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_link2 }}</label>
            <div class="col-sm-10">
              <input type="text" name="link2" value="{{ link2 }}" placeholder="{{ entry_link2 }}" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_pointx }}</label>
            <div class="col-sm-2">
              <input type="text" name="point_x" value="{{ point_x }}" placeholder="{{ entry_pointx }}" class="form-control" />
            </div>
            <label class="col-sm-1 control-label">{{ entry_pointy }}</label>
            <div class="col-sm-2">
              <input type="text" name="point_y" value="{{ point_y }}" placeholder="{{ entry_pointy }}" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
