{{ header }}
<div class="top-section" style="background-image: url({{ image }})">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>
<div class="content">
    {% if triggers %}
        <div class="section">
            <div class="history">
                <div class="history-tabs__overflow">
                    <div class="history-tabs tabs-list">
                        {% set count = 1 %}
                        {% for trigger in triggers %}
                            <a href="#history-{{ count }}" class="history-tabs__item">{{ trigger.year }}</a>
                        {% set count = count + 1 %}
                        {% endfor %}
                    </div>
                </div>
                <div class="history-content">
                    {% set count = 1 %}
                    {% for trigger in triggers %}
                    <div id="history-{{ count }}" class="tab">
                        <div class="material-list__item history-content__item">
                            {% if trigger.image_design %}
                                <div class="material-list__thumb">
                                    <img src="{{ trigger.image_design }}" alt="{{ trigger.title }}">
                                </div>
                            {% endif %}
                            <div class="material-list__content">
                                <div class="history-content__logo">
                                    <svg width='49' height='64'>
                                        <use xlink:href='/front/dist/images/sprite.svg#logo-image' />
                                    </svg>
                                </div>
                                <div class="history-content__year">{{ trigger.year }}</div>
                                <div class="material-list__title">{{ trigger.title }}</div>
                                {% if trigger.description %}
                                    <div class="material-list__text text" data-simplebar>
                                        {{ trigger.description }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {{ content_top }}
    {{ content_bottom }}
</div>
{{ footer }}