{{ header }}
<div class="top-section" style="background-image: url({{ image }})">
  <ul class="breadcrumbs">
      {% for counter, breadcrumb in breadcrumbs %}
          {% if counter + 1 < breadcrumbs|length %}
            <li class="breadcrumbs__item">
              <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
            </li>
          {% else %}
            <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
          {% endif %}
      {% endfor %}
  </ul>
  <h1>{{ heading_title }}</h1>
</div>
<div class="section section--a contacts-triggers">
  <div class="contacts-triggers__list">
      <div class="contacts-triggers__item">
          <div class="contacts-triggers__thumb">
              <svg width='25' height='35'>
                  <use xlink:href='/front/dist/images/sprite.svg#contacts-triggers-3' />
              </svg>
          </div>
          <div class="contacts-triggers__title">{{ text_block_sale }}</div>
          <div class="contacts-triggers__info">
              <a href="tel:{{ sale_phone }}" class="contacts-triggers__note">{{ sale_phone }}</a>
              {% set sale_foo = sale_email|split(',') %}
              {% for email in sale_foo %}
                <a href="mailto:{{ email }}" class="contacts-triggers__note">{{ email }}</a>
              {% endfor %}
          </div>
          <div class="contacts-triggers__icons">
{#              <a href="{{ sale_viber }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>#}
{#              <a href="{{ sale_telegram }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>#}
{#              <a href="{{ sale_whatsapp }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>#}

              <a href="viber://chat?number={{ sale_phone_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>
              <a href="https://t.me/delavegaua" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>
              <a href="https://wa.me/{{ sale_whatsapp_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>
          </div>
      </div>
      <div class="contacts-triggers__item">
          <div class="contacts-triggers__thumb contacts-triggers__thumb-display">
              <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 61.6 45" enable-background="new 0 0 61.6 45" xml:space="preserve">
<g>
    <path d="M60.2,0.6c-0.2-0.2-0.5-0.2-0.7,0c-1.2,0.7-2.5,2-3.7,3.5H2.9c-0.8,0-1.5,0.7-1.5,1.5v31.2c0,0.8,0.7,1.5,1.5,1.5h21.6v2.7
		H17c-0.4,0-0.8,0.4-0.8,0.8v2c0,0.4,0.4,0.8,0.8,0.8h25c0.4,0,0.8-0.4,0.8-0.8v-2c0-0.4-0.4-0.8-0.8-0.8h-7.6v-2.7h21.6
		c0.8,0,1.5-0.7,1.5-1.5V8.2c1.7-2.6,3-4.7,3-5c0-0.1,0-0.2,0-0.4c-0.1-0.4-0.1-0.9,0.1-1.5C60.5,1,60.4,0.8,60.2,0.6z M41.9,41.1
		c0.3,0,0.5,0.2,0.5,0.5v2c0,0.3-0.2,0.5-0.5,0.5H17c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5H41.9z M24.8,40.9v-2.7H34v2.7
		H24.8z M57.1,36.7c0,0.7-0.5,1.2-1.2,1.2h-53c-0.7,0-1.2-0.5-1.2-1.2V5.5c0-0.7,0.5-1.2,1.2-1.2h52.6C55,5,54.4,5.7,53.9,6.5H5.2
		c-0.5,0-0.8,0.4-0.8,0.8v27.6c0,0.5,0.4,0.8,0.8,0.8h48.5c0.5,0,0.8-0.4,0.8-0.8V12.4c0.9-1.3,1.8-2.6,2.6-3.8V36.7z M44.9,19.4
		l2.1-3.1c0.1-0.1,0.3-0.2,0.4-0.2c0.1,0,0.2,0,0.3,0.1l2.6,1.7c0.1,0.1,0.2,0.2,0.2,0.4c0,0.1,0,0.3-0.2,0.4l-2.5,2.2L44.9,19.4z
		 M43.8,26.8c-1.8,0.8-5.3,0.1-6.4-0.3c0.9-0.4,2.5-2,3.1-4.7c0.5-2.4,3.9-2.2,4.2-2.2l3.1,1.6C47.8,22.2,47,25.3,43.8,26.8z
		 M47.6,15.9c0,0-0.1,0-0.1,0c-0.3,0-0.5,0.1-0.7,0.3l-2.1,3.1c-0.6,0-3.9-0.1-4.4,2.4c-0.3,1.6-1,2.7-1.6,3.4
		c-0.7,0.8-1.3,1.2-1.6,1.2c-0.1,0-0.1,0-0.2,0.1c0,0,0,0.1,0,0.2c0.2,0.2,1.5,0.5,2.8,0.7c0.6,0.1,1.3,0.1,1.9,0.1
		c0.8,0,1.7-0.1,2.3-0.4c3.3-1.5,4.2-4.8,4.1-5.9l2.5-2.2c0.2-0.2,0.3-0.4,0.2-0.6c0-0.2-0.1-0.4-0.3-0.6c1.1-1.3,2.5-3.2,3.9-5.2
		v22.3c0,0.4-0.3,0.7-0.6,0.7H5.2c-0.4,0-0.6-0.3-0.6-0.7V7.3c0-0.4,0.3-0.7,0.6-0.7h48.5c-2.4,3.2-4.7,6.8-5.9,8.9L47.6,15.9z
		 M60.2,1.2C60,1.9,60,2.4,60.1,2.9c0,0.1,0,0.2,0,0.3c0,0.7-6.3,9.9-9.9,14.4L47.9,16c0,0,0,0-0.1,0l0.2-0.2
		c2.1-3.4,7.7-12.5,11.7-14.9c0.1-0.1,0.3,0,0.4,0C60.2,0.9,60.2,1,60.2,1.2z"/>
    <polygon points="5.4,31.4 9,35 9.1,34.9 5.5,31.2 	"/>
    <polygon points="5.4,29.7 10.6,35 10.7,34.9 5.5,29.6 	"/>
    <polygon points="5.4,28.1 12.2,35 12.3,34.9 5.5,28 	"/>
    <polygon points="5.4,26.5 13.8,35 13.9,34.9 5.5,26.4 	"/>
    <polygon points="5.4,24.9 15.4,35 15.5,34.9 5.5,24.7 	"/>
    <polygon points="5.4,23.2 17,35 17.1,34.9 5.5,23.1 	"/>
    <polygon points="5.4,21.6 18.6,35 18.7,34.9 5.5,21.5 	"/>
    <polygon points="5.4,20 20.2,35 20.3,34.9 5.5,19.9 	"/>
    <polygon points="5.4,18.4 21.8,35 21.9,34.9 5.5,18.2 	"/>
    <polygon points="5.4,16.7 23.4,35 23.5,34.9 5.5,16.6 	"/>
    <polygon points="5.4,15.1 25,35 25.1,34.9 5.5,15 	"/>
    <polygon points="5.4,13.5 26.6,35 26.7,34.9 5.5,13.4 	"/>
    <polygon points="5.4,11.9 28.2,35 28.3,34.9 5.5,11.7 	"/>
</g>
</svg>

          </div>
          <div class="contacts-triggers__title">{{ text_block_design }}</div>
          <div class="contacts-triggers__info">
              {#<address class="contacts-triggers__note">{{ address }}</address>#}
              <a href="tel:{{ design_phone }}" class="contacts-triggers__note">{{ design_phone }}</a>

              {% set sale_foo = design_email|split(',') %}
              {% for email in sale_foo %}
                  <a href="mailto:{{ email }}" class="contacts-triggers__note">{{ email }}</a>
              {% endfor %}

          </div>
          <div class="contacts-triggers__icons">
{#              <a href="{{ design_viber }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>#}
{#              <a href="{{ design_telegram }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>#}
{#              <a href="{{ design_whatsapp }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>#}
              <a href="viber://chat?number={{ design_phone_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>
              <a href="https://t.me/delavegaua" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>
              <a href="https://wa.me/{{ design_whatsapp_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>
          </div>
      </div>
  <div class="contacts-triggers__item">
      <div class="contacts-triggers__thumb contacts-triggers__thumb-car">
          <svg width="59" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 60.5 45" enable-background="new 0 0 60.5 45" xml:space="preserve">
<g>
    <path d="M14.7,33c-3.2,0-5.7,2.6-5.7,5.7c0,3.2,2.6,5.7,5.7,5.7s5.7-2.6,5.7-5.7C20.4,35.6,17.8,33,14.7,33z M14.7,44.2
		c-3,0-5.4-2.4-5.4-5.5c0-3,2.4-5.5,5.4-5.5c3,0,5.4,2.4,5.4,5.5C20.1,41.8,17.7,44.2,14.7,44.2z"/>
    <path d="M46.3,33c-3.2,0-5.7,2.6-5.7,5.7c0,3.2,2.6,5.7,5.7,5.7c3.2,0,5.7-2.6,5.7-5.7C52,35.6,49.4,33,46.3,33z M46.3,44.2
		c-3,0-5.4-2.4-5.4-5.5c0-3,2.4-5.5,5.4-5.5c3,0,5.4,2.4,5.4,5.5C51.7,41.8,49.3,44.2,46.3,44.2z"/>
    <path d="M59.1,16.2L54.2,5.5c-0.3-0.7-1.1-1.2-1.9-1.2H36.8c-1.1,0-2,0.9-2,2v21.8h-0.9v-4.2c0-0.4-0.3-0.8-0.8-0.8h-0.8V10.6
		c0-0.4-0.3-0.8-0.8-0.8H20.8V1.3c0-0.4-0.3-0.8-0.8-0.8h-8.1c-0.4,0-0.8,0.3-0.8,0.8v8.6H4.7c-0.4,0-0.8,0.3-0.8,0.8v12.5H3.3
		c-0.4,0-0.8,0.3-0.8,0.8v4.2H2.4c-0.5,0-0.8,0.4-0.8,0.8v8.5c0,0.5,0.4,0.8,0.8,0.8h5.4l0-0.1c0.3-3.5,3.3-6.2,6.8-6.2
		c3.3,0,6.2,2.4,6.8,5.7c0.1,0.4,0.4,0.7,0.8,0.7h16.5c0.4,0,0.7-0.3,0.8-0.7c0.6-3.3,3.4-5.7,6.7-5.7c3.3,0,6.2,2.4,6.8,5.7
		c0.1,0.4,0.4,0.7,0.8,0.7h4.9c0.5,0,0.8-0.4,0.8-0.8v-9.2v-0.1v-10C59.5,17.4,59.4,16.8,59.1,16.2z M20.8,10.2L20.8,10.2l10.7,0
		c0.3,0,0.5,0.2,0.5,0.5v12.5h-13v-13H20.8z M11.5,1.3c0-0.3,0.2-0.5,0.5-0.5h8.1c0.3,0,0.5,0.2,0.5,0.5v8.6h-1.8v0h-1.3v0h-6V1.3z
		 M18.8,10.2v13h-1.3v-13H18.8z M4.2,10.6c0-0.3,0.2-0.5,0.5-0.5h6.5v0h6v13h-13V10.6z M2.8,23.9c0-0.3,0.2-0.5,0.5-0.5h29.8
		c0.3,0,0.5,0.2,0.5,0.5v4.2H2.8V23.9z M59.3,37.4c0,0.3-0.2,0.5-0.5,0.5h-4.9c-0.3,0-0.5-0.2-0.5-0.5c-0.6-3.4-3.6-5.9-7-5.9
		c-3.5,0-6.4,2.5-7,5.9c0,0.3-0.3,0.5-0.5,0.5H22.2c-0.3,0-0.5-0.2-0.5-0.5c-0.6-3.4-3.6-5.9-7-5.9c-1.8,0-3.5,0.7-4.8,1.9
		c-1.3,1.2-2.1,2.8-2.3,4.5H2.4c-0.3,0-0.5-0.2-0.5-0.5v-8.5c0-0.3,0.2-0.5,0.5-0.5h56.9V37.4z M59.3,28.1H35.1V6.3
		c0-1,0.8-1.8,1.8-1.8h15.5c0.7,0,1.3,0.4,1.6,1l4.9,10.7c0.3,0.6,0.4,1.2,0.4,1.8V28.1z"/>
    <path d="M52,7.7c-0.1-0.3-0.4-0.5-0.8-0.5H38.5c-0.5,0-0.8,0.4-0.8,0.9v16.6c0,0.5,0.4,0.9,0.8,0.9h17.3c0.5,0,0.8-0.4,0.8-0.9
		v-6.7c0-0.1,0-0.2-0.1-0.4L52,7.7z M37.9,8c0-0.4,0.3-0.7,0.7-0.7h12.7c0.3,0,0.5,0.2,0.6,0.4l4.6,9.9c0,0,0,0,0,0H37.9V8z
		 M56.5,24.6c0,0.4-0.3,0.7-0.7,0.7H38.5c-0.4,0-0.7-0.3-0.7-0.7v-6.8h18.6c0,0,0,0,0,0.1V24.6z"/>
    <rect x="41.7" y="42.3" transform="matrix(-0.7062 -0.708 0.708 -0.7062 42.8323 102.5697)" width="2" height="0.2"/>
    <rect x="40.4" y="41.8" transform="matrix(-0.7087 -0.7055 0.7055 -0.7087 44.3203 102.0371)" width="5.7" height="0.2"/>
    <rect x="40" y="41.2" transform="matrix(-0.7058 -0.7084 0.7084 -0.7058 45.3491 101.5127)" width="7.6" height="0.2"/>
    <rect x="40" y="40.7" transform="matrix(-0.7067 -0.7075 0.7075 -0.7067 46.6952 100.9814)" width="8.7" height="0.2"/>
    <rect x="40.2" y="40.2" transform="matrix(-0.7048 -0.7094 0.7094 -0.7048 47.8094 100.4602)" width="9.2" height="0.2"/>
    <rect x="40.4" y="39.7" transform="matrix(-0.708 -0.7062 0.7062 -0.708 49.3573 99.9151)" width="9.8" height="0.2"/>
    <rect x="40.9" y="39.1" transform="matrix(-0.7062 -0.708 0.708 -0.7062 50.4803 99.3962)" width="10" height="0.2"/>
    <rect x="10.1" y="42.3" transform="matrix(-0.7062 -0.708 0.708 -0.7062 -11.0792 80.1997)" width="2" height="0.2"/>
    <rect x="8.8" y="41.8" transform="matrix(-0.7087 -0.7055 0.7055 -0.7087 -9.6706 79.7462)" width="5.7" height="0.2"/>
    <rect x="8.4" y="41.2" transform="matrix(-0.7058 -0.7084 0.7084 -0.7058 -8.5503 79.1306)" width="7.6" height="0.2"/>
    <rect x="8.4" y="40.7" transform="matrix(-0.7067 -0.7075 0.7075 -0.7067 -7.2309 78.6257)" width="8.7" height="0.2"/>
    <rect x="8.6" y="40.2" transform="matrix(-0.7048 -0.7094 0.7094 -0.7048 -6.0571 78.045)" width="9.2" height="0.2"/>
    <rect x="8.8" y="39.7" transform="matrix(-0.708 -0.7062 0.7062 -0.708 -4.6105 77.6014)" width="9.8" height="0.2"/>
    <rect x="9.3" y="39.1" transform="matrix(-0.7062 -0.708 0.708 -0.7062 -3.4316 77.026)" width="10" height="0.2"/>
    <rect x="4.1" y="22.4" transform="matrix(-0.7062 -0.708 0.708 -0.7062 -7.5554 41.7976)" width="1.5" height="0.2"/>
    <rect x="3.9" y="21.7" transform="matrix(-0.7077 -0.7066 0.7066 -0.7077 -5.8628 41.1334)" width="3.4" height="0.2"/>
    <rect x="3.6" y="21" transform="matrix(-0.7081 -0.7062 0.7062 -0.7081 -4.1979 40.4505)" width="5.4" height="0.2"/>
    <rect x="3.3" y="20.3" transform="matrix(-0.7082 -0.706 0.706 -0.7082 -2.5388 39.7636)" width="7.3" height="0.2"/>
    <rect x="3" y="19.6" transform="matrix(-0.7084 -0.7059 0.7059 -0.7084 -0.882 39.0753)" width="9.2" height="0.2"/>
    <rect x="2.7" y="18.9" transform="matrix(-0.7084 -0.7058 0.7058 -0.7084 0.774 38.3863)" width="11.2" height="0.2"/>
    <rect x="2.5" y="18.3" transform="matrix(-0.7085 -0.7057 0.7057 -0.7085 2.4292 37.697)" width="13.1" height="0.2"/>
    <rect x="2.2" y="17.6" transform="matrix(-0.7085 -0.7057 0.7057 -0.7085 4.0843 37.0072)" width="15" height="0.2"/>
    <rect x="19.2" y="22.4" transform="matrix(0.7062 0.708 -0.708 0.7062 21.7741 -7.5428)" width="1.5" height="0.2"/>
    <rect x="18.9" y="21.7" transform="matrix(0.7077 0.7066 -0.7066 0.7077 21.4283 -8.2307)" width="3.4" height="0.2"/>
    <rect x="18.7" y="21" transform="matrix(0.7081 0.7062 -0.7062 0.7081 21.1263 -8.9149)" width="5.4" height="0.2"/>
    <rect x="18.4" y="20.3" transform="matrix(0.7082 0.706 -0.706 0.7082 20.8334 -9.5984)" width="7.3" height="0.2"/>
    <rect x="18.1" y="19.6" transform="matrix(0.7084 0.7059 -0.7059 0.7084 20.5437 -10.2816)" width="9.2" height="0.2"/>
    <rect x="17.8" y="18.9" transform="matrix(0.7084 0.7058 -0.7058 0.7084 20.2558 -10.9646)" width="11.2" height="0.2"/>
    <rect x="17.5" y="18.3" transform="matrix(0.7085 0.7057 -0.7057 0.7085 19.9688 -11.6476)" width="13.1" height="0.2"/>
    <rect x="17.3" y="17.6" transform="matrix(0.7085 0.7057 -0.7057 0.7085 19.682 -12.3306)" width="15" height="0.2"/>
    <rect x="11.4" y="8.8" transform="matrix(-0.7062 -0.708 0.708 -0.7062 15.0961 23.968)" width="2.2" height="0.2"/>
    <rect x="11.2" y="8.3" transform="matrix(-0.7062 -0.708 0.708 -0.7062 16.3072 23.4654)" width="3.6" height="0.2"/>
    <rect x="11" y="7.8" transform="matrix(-0.7062 -0.708 0.708 -0.7062 17.5184 22.9628)" width="5" height="0.2"/>
    <rect x="10.8" y="7.2" transform="matrix(-0.7062 -0.708 0.708 -0.7062 18.7296 22.4603)" width="6.4" height="0.2"/>
    <rect x="10.6" y="6.7" transform="matrix(-0.7062 -0.708 0.708 -0.7062 19.9409 21.9577)" width="7.9" height="0.2"/>
    <rect x="10.4" y="6.2" transform="matrix(0.7062 0.708 -0.708 0.7062 8.9026 -8.7768)" width="9.3" height="0.2"/>
    <rect x="10.2" y="5.7" transform="matrix(0.7062 0.708 -0.708 0.7062 8.694 -9.2794)" width="10.7" height="0.2"/>
</g>
</svg>

      </div>
      <div class="contacts-triggers__title">{{ text_block_suppliers }}</div>
      <div class="contacts-triggers__info">
          {#<address class="contacts-triggers__note">{{ address }}</address>#}
          <a href="tel:{{ suppliers_phone }}" class="contacts-triggers__note">{{ suppliers_phone }}</a>

          {% set sale_foo = suppliers_email|split(',') %}
          {% for email in sale_foo %}
              <a href="mailto:{{ email }}" class="contacts-triggers__note">{{ email }}</a>
          {% endfor %}

      </div>
      <div class="contacts-triggers__icons">
{#          <a href="{{ suppliers_viber }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>#}
{#          <a href="{{ suppliers_telegram }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>#}
{#          <a href="{{ suppliers_whatsapp }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>#}
          <a href="viber://chat?number={{ suppliers_phone_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>
          <a href="https://t.me/delavegaua" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>
          <a href="https://wa.me/{{ suppliers_whatsapp_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>
      </div>
  </div>
    <div class="contacts-triggers__item">
      <div class="contacts-triggers__thumb">
        <svg width='36' height='36'>
          <use xlink:href='/front/dist/images/sprite.svg#contacts-triggers-new' />
        </svg>
      </div>
      <div class="contacts-triggers__title">{{ text_open }}</div>
      <div class="contacts-triggers__info">
          <a href="tel:{{ control_phone }}" class="contacts-triggers__note">{{ control_phone }}</a>

          {% set sale_foo = control_email|split(',') %}
          {% for email in sale_foo %}
              <a href="mailto:{{ email }}" class="contacts-triggers__note">{{ email }}</a>
          {% endfor %}

      </div>
        <div class="contacts-triggers__icons">
{#            <a href="{{ control_viber }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>#}
{#            <a href="{{ control_telegram }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>#}
{#            <a href="{{ control_whatsapp }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>#}
            <a href="viber://chat?number={{ control_phone_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>
            <a href="https://t.me/delavegaua" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>
            <a href="https://wa.me/{{ control_whatsapp_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>
        </div>
    </div>
    <div class="contacts-triggers__item">
      <div class="contacts-triggers__thumb">
        <svg width='40' height='39'>
          <use xlink:href='/front/dist/images/sprite.svg#contacts-triggers-4' />
        </svg>
      </div>
      <div class="contacts-triggers__title">{{ text_block_marketing }}</div>
      <div class="contacts-triggers__info">
        <a href="tel:{{ marketing_phone }}" class="contacts-triggers__note">{{ marketing_phone }}</a>

          {% set sale_foo = marketing_email|split(',') %}
          {% for email in sale_foo %}
              <a href="mailto:{{ email }}" class="contacts-triggers__note">{{ email }}</a>
          {% endfor %}

      </div>
        <div class="contacts-triggers__icons">
{#            <a href="{{ marketing_viber }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>#}
{#            <a href="{{ marketing_telegram }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>#}
{#            <a href="{{ marketing_whatsapp }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>#}
            <a href="viber://chat?number={{ marketing_phone_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__viber"></span></a>
            <a href="https://t.me/delavegaua" class="contacts-triggers__icons-item"><span class="contacts-triggers__telegram"></span></a>
            <a href="https://wa.me/{{ marketing_whatsapp_format }}" class="contacts-triggers__icons-item"><span class="contacts-triggers__whatsapp"></span></a>
        </div>
    </div>
  </div>

</div>
<div class="contacts section">
    <div class="contacts-write-letter">
        <div class="contacts-write-letter__title">{{ email_owner }}</div>
        <a href="mailto:founder@delavega.ua" class="contacts-write-letter__link">founder@delavega.ua</a>
    </div>
</div>
<div class="contacts section">
    <div class="contacts-tell-us__wrapper">

        <div class="contacts-tell-us__img">
            <img src="/catalog/view/theme/default/image/tellus.jpg" alt="">
        </div>

        <div class="contacts-tell-us__form">
            <div class="contacts-tell-us__title">{{ title_form }}</div>
            <form id="feedback-form" action="" class="form">
                <div class="form-input">
                    <input name="form_name" id="name-feedback-form" type="text" class="input"/>
                    <label class="label">{{ form_name }}</label>
                </div>
                <div class="form-input">
                    <input name="form_email" id="email-feedback-form" type="email" class="input" required />
                    <label class="label">E-mail</label>
                </div>
                <div class="form-input">
                    <input name="form_phone" id="form_phone-feedback-form" type="tel" class="input" required />
                    <label class="label">{{ form_number }}</label>
                </div>
                <div class="form-textarea">
                    <textarea name="form_message" id="message-feedback-form" class="textarea"></textarea>
                    <label class="label">{{ form_question }}</label>
                </div>
                <div class="form-submit">
                    <input type="submit" class="send-feedback-form btn btn--gold" value="{{ form_send }}">
                    {#<button type="submit" class="btn btn--gold">{{ form_send }}</button>#}
                </div>
            </form>

        </div>
    </div>
</div>

<div id="map-section" class="contacts section">
  <div class="heading heading--center heading--largemb">{{ text_location }}</div>
  <div id="map"></div>
  {% if locations %}
  <div class="contacts-map__list">
    {% for location in locations %}
    <div class="contacts-map__item">
      {% if location.name %}
        <div class="contacts-map__city">{{ location.name }}:</div>
      {% endif %}
      <div class="contacts-map__info">
        {% if location.address %}
          <address class="contacts-map__note">{{ location.address }}</address>
        {% endif %}
        {% if location.open %}
          <span class="contacts-map__note">{{ location.open }}</span>
        {% endif %}
        {% if location.comment %}
          <span class="contacts-map__note">{{ location.comment }}</span>
        {% endif %}
        {% if location.phone %}
          <a href="tel:{{ location.phone }}" class="contacts-map__note">{{ location.phone }}</a>
        {% endif %}
        {% if location.phone2 %}
          <a href="tel:{{ location.phone2 }}" class="contacts-map__note">{{ location.phone2 }}</a>
        {% endif %}
        {% if location.email %}
          <a href="mailto:{{ location.email }}" class="contacts-map__note">{{ location.email }}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="section section--e">
  <div class="heading__wrapper">
    <div class="heading heading--largemb">{{ text_socials }}</div>
  </div>
  <div class="social-align">
      {% if instagram %}
          <a href="{{ instagram }}" rel="nofollow" target="_blank" class="social-likes__item">
              <svg class="social-likes__icon" width="14" height="14">
                  <use xlink:href="/front/dist/images/sprite.svg#instagram" />
              </svg>
          </a>
      {% endif %}

    {% if facebook %}
      <a href="{{ facebook }}" rel="nofollow" target="_blank" class="social-likes__item">
        <svg class="social-likes__icon" width="6" height="17">
          <use xlink:href="/front/dist/images/sprite.svg#facebook" />
        </svg>
      </a>
    {% endif %}
      {% if pinterest %}
          <a href="{{ pinterest }}" rel="nofollow" target="_blank" class="social-likes__item">
              <svg class="social-likes__icon" width="11" height="14">
                  <use xlink:href="/front/dist/images/sprite.svg#pinterest" />
              </svg>
          </a>
      {% endif %}
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnnQfq85piRux-XU6tphXVgc4M1qkCltc"></script>
<script>
    const locations = [
        {% for location in locations %}
        ['{{ location.for_maps }}', {{ location.geocode }}],
        {% endfor %}
    ];
</script>
{{ footer }}
