{{ header }}
<div class="top-section" style="background-image: url({{ image }})">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>
<div class="content">
    <div class="guarantee section">
        {% if triggers %}
            <div class="text guarantee__content">
                {% for trigger in triggers %}
                    <h2>{{ trigger.title }}</h2>
                    {% if trigger.description %}
                        {{ trigger.description }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if description %}
        <div class="guarantee__insert">
            <div class="guarantee__bg">
                <div class="guarantee__note">
                    {{ description }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{{ footer }}