{{ header }}
<div class="top-section" style="background-image: url({{ image }})">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ h1 }}</h1>
</div>
<div class="content">
    {% if triggers %}
    <div class="guarantee section">
        <div class="text guarantee__content">
            {% for trigger in triggers %}
                {% if trigger.title %}
                    <h2>{{ trigger.title }}</h2>
                {% endif %}
                {% if trigger.description %}
                    {{ trigger.description }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="guarantee__insert">
            <div class="guarantee__bg">
                <div class="guarantee__note">
                    {{ description }}
                </div>
            </div>
        </div>

    </div>
    {% endif %}
    <div class="section guarantee-phones__wrap">
        <div class="heading__wrapper">
            <div class="heading">{{ text_question }}</div>
        </div>
        <div class="guarantee-phones">
            <div class="guarantee-phones__item">
                <div class="guarantee-phones__thumb">
                    <svg width='20' height='20'>
                        <use xlink:href='/images/sprite.svg#phone-logo-1' />
                    </svg>
                </div>
                <a href="tel:{{ technical_question }}" class="guarantee-phones__link">{{ technical_question }}</a>
            </div>
            <div class="guarantee-phones__item">
                <div class="guarantee-phones__thumb">
                    <svg width='20' height='20'>
                        <use xlink:href='/images/sprite.svg#phone-logo-2' />
                    </svg>
                </div>
                <a href="tel:{{ technical_question2 }}" class="guarantee-phones__link">{{ technical_question2 }}</a>
            </div>
        </div>
    </div>
</div>

{{ footer }}