{{ header }}
<div class="top-section" style="background-image: url({{ image }})">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>
<div class="content">
    <div class="section">
        {% if triggers %}
            <div class="material-list">
                {% set counter = 1 %}
                {% for trigger in triggers %}
                    <div class="material-list__item" id="material-{{ counter }}">
                        {% if trigger.image_design %}
                            <div class="material-list__thumb">
                                <img src="{{ trigger.image_design }}" alt="{{ trigger.title }}">
                            </div>
                        {% endif %}
                        <div class="material-list__content">
                            {% if trigger.title %}
                                <div class="material-list__title">{{ trigger.title }}</div>
                            {% endif %}
                            {% if trigger.description %}
                                <div class="material-list__text text" data-simplebar>
                                    {{ trigger.description }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% set counter = counter + 1 %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{{ footer }}