{{ header }}
<div class="top-section" style="background-image: url({{ image }})">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ h1 }}</h1>
</div>
<div class="content">
    <div class="section">
        {% if triggers %}
            <div class="material-list">
                {% set count = 1 %}
                {% for trigger in triggers %}
                <div class="material-list__item" id="production-{{ count }}">
                    {% if trigger.image_design %}
                        <div class="material-list__thumb">
                            <img src="{{ trigger.image_design }}" alt="{{ trigger.title }}">
                        </div>
                    {% endif %}
                    <div class="material-list__content">
                        <div class="material-list__title">{{ trigger.title }}</div>
                        <div class="material-list__text text scroll-malihu">
                            {{ trigger.description }}
                        </div>
                    </div>
                </div>
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{{ footer }}