{% set count = 1 %}
{% for project in projects %}
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="project-thumb">
            {% set count_images = 1 %}
            {% for image in project.images %}
                <a href="{{ image.popup }}" data-fancybox="item-{{ count }}" class="project-thumb__image{% if count_images == 1 %} fancybox{% else %} project-thumb__image--hidden{% endif %}">
                    <img src="{{ image.thumb }}" alt="{{ image.title }}" width="510" height="360">
                </a>
                {% set count_images = count_images + 1 %}
            {% endfor %}
            <div class="project-thumb__content">
                <a  class="project-thumb__title">{{ project.name }}</a>
                <div class="project-thumb__text">
                    <div class="project-thumb__position">{{ text_designer }}:</div>
                    <div class="project-thumb__author">{{ project.designer }}</div>
                </div>
                {% if project.models %}
                    <div class="project-thumb__box">
                        <div class="project-thumb__heading">
                            <span>{{ text_models }}:</span>
                        </div>
                        <div class="project-thumb__brands">
                            {% for model in project.models %}
                                <a href="{{ model.href }}" class="project-thumb__link">{{ model.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% set count = count + 1 %}
{% endfor %}