{{ header }}
{{ content_top }}
<div class="top-section top-section--white top-section--mobile">
    <ul class="breadcrumbs">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li class="breadcrumbs__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item">{{ breadcrumb.text }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
</div>
<div class="section" id="projects-list">

<div class="product-thumb__list row" id="all-projects"></div>

{#<div class="news-thumb__btn" id="load-block">
    <a href="#" class="btn-link" id="load-more" data-limit="{{ limit }}" data-max="{{ total_projects }}">{{ text_load_more }}</a>
</div>#}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $.ajax({
            url: 'index.php?route=information/project/getProjectsAjax',
            success: function (html) {
              $('#all-projects').html(html);
                if ($('#load-more').data('limit') >= $('#load-more').data('max')) {
                    $('#load-block').remove();
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
        $('#load-more').on('click', function (event) {
            event.preventDefault();

            let default_limit = {{ limit }};
            var new_limit = $('#load-more').data('limit') + default_limit;

            $('#load-more').data('limit', new_limit);

            if (new_limit >= $('#load-more').data('max')) {
                $('#load-block').remove();
            }

            $.ajax({
                url: 'index.php?route=information/project/getProjectsAjax',
                type: 'get',
                data: '&limit=' + new_limit,
                success: function (html) {
                    $('#all-projects').html(html);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
    });
</script>
{{ content_bottom }}
{{ footer }}