/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SOCIAL FOOTER
	
==============================================*/
.common-home{
    #content{ margin: 0; }
}


#content{ margin-bottom: 30px; }
.dropdown-menu{ 
  .btn-block:hover{
    color: $linkColor;
    }
}
.features-content{
    .col-md-4{
        padding: 0 5px;
    }
}
.module.sohomepage-slider{
    .owl2-dots{ position: absolute; bottom:15px; width: 100%; text-align: center;left: 0;
        .owl2-dot{ display: inline-block;float: none;
            span{ width: 30px; height:3px; background-color: transparent; border:none; margin:0 2px; opacity: 1; 
                display: block;border-radius: 0%; -webkit-border-radius: 0%;background: #fff;
            }
            &.active span, &:hover span{ background-color: $background; border: none;}
        }
    } 
}
.faq-about-us{
    position: relative;
    .views{
        position: absolute;
        top: 0;
        font-size: 12px;
        color: $linkColor;
        #{$right}: 0;
    }
}
.section-style4{
    .so-latest-blog{
        border: none !important; 
        padding-#{$right}: 0;
    }
}
.banner-top{
    margin: 0 -5px;
    margin-top: 10px;
  //  margin-bottom: 60px;
    .banner-right{
        padding: 0;
        margin-#{$left}: 5px;
    }
     .banner-left{
        padding: 0;
        margin-#{$left}: -10px;
        padding-#{$right}: 5px;
     }
}
.about-demo-4,
.so-latest-blog{
    padding-top: 60px;
}
.banner-top-right{
    text-align: center;
    .row{
        margin: 0 -5px;
    }
    .row [class*="col-"] {
        padding-#{$left}: 5px;
        padding-#{$right}: 5px;
    } 
    .banner3{
        margin-bottom: 10px;
    }
    .banner5{
        margin: 10px 0px;
    }
}
.sohomepage-slider .so-homeslider{
    border: none;
    margin-top: 10px;
}


// Home 1 - banner middle
.banner-middle{
    .content{
        position: relative;
        overflow: hidden;
        &:hover{
            .title{
                bottom:50%;
               
                 transform: translate3d(0, 50%, 0);
                -webkit-transform: translate3d(0, 50%, 0);
                -ms-transform: translate3d(0, 50%, 0);
                -o-transform: translate3d(0, 50%, 0);
                -moz-transform: translate3d(0, 50%, 0);
            }
            img{
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -o-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -moz-transform: scale(1.05);
            }
        }
    }
    .title{
        text-align: center;
        position: absolute;
        background: rgba(255,255,255,.6);
        color: #111111;
        font-size: 16px;
        font-weight: bold;
        bottom: 0;
        #{$left}: 0;
        width: 100%;
        text-transform: uppercase;
        padding: 3px 0 2px; 
        @include transition(all ease 0.5s);
    }
     img{
        @include transition(all 0.8s ease-in-out 0s);
    }
}



// .owl2-dots .owl2-dot {
//     margin-#{$left}: -30px;
//    span{
//     width: 33px;
//     height: 3px;
//     background: #fff;
//     border-radius: 0;
//    }
//     &.active{
//         span{
//             background: $background;
//         }
//     }
// }

.common-home .default-nav{

    &:hover{
        .owl2-controls .owl2-nav{
            visibility: visible;
            -webkit-opacity: 1;
            -moz-opacity: 1;
            -ms-opacity: 1;
            -o-opacity: 1;
            opacity: 1;
            transition: 0.2s;
            -moz-transition: 0.2s;
            -webkit-transition: 0.2s;
        }
    }
     .owl2-controls .owl2-nav{ 
         div {
            display: inline-block;
            width: 17px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #999999;
            @include opacity(1);
            &:hover{
                color: $linkColor;
            }
            &:before {
                position: absolute;
                #{$left}: 0;
                #{$right}: inherit;
                top: 0;
                display: inline-block;
                text-indent: 0;
                width: 17px;
                height: 30px;
                 font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                text-align: center;
                font-size: 20px;
                line-height: 30px;
            }
          
            &.owl2-next{
                position: absolute;
                top: 0px;
                #{$right}: 15px;
               
               
            }
            &.owl2-prev{
                position: absolute;
                top: 0px;
                #{$right}: 28px;
                
            }
            //  @include if-ltr{ 
            //      &.owl2-prev::before {
            //         content: '\f104';
            //     }
            //     &.owl2-next::before {
            //         content: '\f105';
            //     }
            // }
             @include if-rtl{ 
                 &.owl2-prev i::before {
                    content: '\f105';
                }
                &.owl2-next i::before {
                    content: '\f104';
                }
            }
           
        }
    }
    .owl2-controls .owl2-dots{
        position: absolute !important;
        #{$left}: 0;
        bottom: 0;
        width: 100% !important;
        .owl2-dot{
            width: 30px;
            height: 3px;
           // background: #999;
            @include border-radius(0);
        }
    }
}

// NEWLETTER POPUP Login
body .block-popup-login .block-content .btn-reg-popup{
    padding: 0 35px;
 }
body .block-popup-login .action.login:hover,
body .block-popup-login .block-content .btn-reg-popup,
body .block-popup-login .tt_popup_login strong{
    background-color: $background;
}
body .block-popup-login .tt_popup_login strong:before{
    border-bottom: 37px solid $background;
}
 body .block-popup-login .tt_popup_login{
    border-bottom: 3px solid $background;
}
body .block-popup-login .block-content .col-reg{
    float: $left;
}
body .block-popup-login .block-content .col-reg.registered-account{
    padding-#{$right}: 30px;
    padding-#{$left}: 0;
    border-#{$right}: 1px solid #ddd;
    border-#{$left}: none;
    float: $left;
}


body .block-popup-login{
     .close-login{
        #{$right}: 10px;
        #{$left}: inherit;
        &:before{
            display: none;
        }
    }
    .tt_popup_login strong{
        
        float: $left;
        padding-#{$left}: 55px;
        padding-#{$right}: 10px;
        &:before{
            #{$right}: -20px;
            #{$left}: inherit;
            border-#{$right}: 20px solid transparent;
        }
         @include if-rtl {
            background-position: right center;
         }
    }
    .input-text{
        padding: side-values(0 5px 0 52px);
    }
    .pass-input:before,
    .email-input:before{
        #{$left}: 0;
        #{$right}: inherit;
    }
     .login{
        text-align: $left;
        .secondary{
             text-align: $left;
        }
    }
     .block-content .col-reg.login-customer{
        padding-#{$left}: 30px;
        text-align: $left;
     }
    .block-content .list-log li{
        padding-#{$left}: 14px;
        padding-#{$right}: 0px;
        &:before{
            #{$left}: 0;
            #{$right}: inherit;
        }
    }
}
.so-filter-content-opts-container .opt_disable{
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
     opacity: 1;

}
#content{
    margin-bottom: 30px;
}

.dev-so-extra{
    margin-bottom: 25px;
    .extraslider-inner{
        margin-bottom: 0 !important;
    }
}
.home1_categories{
    margin-top: 40px;
    .modtitle{
        max-width: 250px;
        &:before{
            height: 46px !important;
            top: 0;
        }
       
    }
     p{
        margin-bottom: 8px;
        line-height: 20px;
    }
    .link{
        float: $right;
        color: $linkColor;
        &:hover{
            text-decoration: underline;
        }
    }
    .col1,
    .content{
        position: relative;
        margin-bottom: 30px;
    }
     .content{
        &:hover{
            .title{
                left: 50%;
               // margin-top: 15px;
                bottom: 50%;
                text-align: center;
                z-index: 9;
                transform: translate3d(-50%, 50%, 0);
                -webkit-transform: translate3d(-50%, 50%, 0);
                -ms-transform: translate3d(-50%, 50%, 0);
                -o-transform: translate3d(-50%, 50%, 0);
                -moz-transform: translate3d(-50%, 50%, 0);
                
            }

            > a:before{
                content: "";
                background: rgba(0,0,0,.6);
                width: 100%;
                height: 100%;
                position: absolute;
                #{$left}: 0;
                top: 0;
            }
        }
        img{ width: 100%;}
    }
    .title {
        //width: 100%;
        text-align: $left;
        position: absolute;
        bottom: 0;
        #{$left}: 0;
        @include transition(all ease 0.5s);
        a{
            z-index: 9;
             @include transition(all ease 0.5s);
            text-transform: uppercase;
            padding: 3px 15px 2px;
            background: $background;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            color: #fff;
            white-space: nowrap;
        }
    }

}
.custom-ourblog {
    .modtitle{
        padding-bottom: 15px;
    }
    .so-blog-external{
       // margin: 0 -5px;
    }
    .owl2-carousel .owl2-stage-outer{
       // padding: 5px;
    }
    &.default-nav .owl2-controls .owl2-dots
    {
        top: 50px;
        text-align: $right;
        #{$right}: 0;
        padding-#{$right}: 10px;
    }
    .content-img{
        margin-bottom: 12px;
        position: relative;
        .entry-date{
            position: absolute;
            #{$left}: 0;
            top: 1px;
            background: $background;
            color: #fff;
            width: 50px;
            text-align: center;
            padding: 9px 0;
            .day-time{
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
            }
            .month-time{
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
                line-height: 16px;

            }
        }
    }
    .blog-external{
        border: none;
    }
    .media{
        margin: 0 !important;
    }
    .media-content{
        padding: 0 20px;
        h4{
            margin-bottom: 12px;
            a{
                padding: 0;
                font-size: 12px;
                font-weight: 600;
                color: #222;
                &:hover{
                    color: $linkColor;
                }
            }
        }
        .description{
            font-size: 12px;
            font-weight: 300;
            color: #666;
            margin-bottom: 20px;
        }
        .readmore{
            float: none;
            text-transform: uppercase;
            font-size: 12px;
            margin-bottom: 10px;

            i{
                margin-#{$left}: 3px;
            }
        }
    }
    .owl2-item{
        background: #fff;
        &:hover{
            // box-shadow: 0 0 5px rgba(0,0,0,.35);
            // -webkit-box-shadow: 0 0 5px rgba(0,0,0,.35);
            // -ms-box-shadow: 0 0 5px rgba(0,0,0,.35);
            // -moz-box-shadow: 0 0 5px rgba(0,0,0,.35);
            .content-img{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.6);
                    top: 0;
                    #{$left}: 0;
                }
                &:after{
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    margin-top: -25px;
                    #{$left}: 50%;
                    margin-#{$left}: -25px;
                    background: url('../../images/icon-image.png') -126px -12px;
                }
            }
             .media-content .readmore a,
            .media-content h4 a{
                color: $linkColor;
            }
        }
    }
     .blog-external .media .item{
        margin: 0;
     }
    
}
.brands{
    .module {
        margin-bottom: 0;
    }
}
.slider-brand-wrapper{
    background: #fff;
    width: 100%;
    .owl2-item{
        &:first-child{
            .item{
                border-left: none;
            }
            
        }
    }
    .item{
        padding: 45px 0;
        border-left: 1px solid #f5f5f5;
        text-align: center;
        
        &:hover{
            img{
                @include opacity(0.8);
            }
        }

    }
     &:hover{
        .owl2-controls .owl2-nav{
            visibility: visible;
            -webkit-opacity: 1;
            -moz-opacity: 1;
            -ms-opacity: 1;
            -o-opacity: 1;
            opacity: 1;
            transition: 0.2s;
            -moz-transition: 0.2s;
            -webkit-transition: 0.2s;
        }
    }
     .owl2-controls .owl2-nav{ 
         div {
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #999999;
            border: 1px solid $base-border-color;
            @include opacity(1);
            @include border-radius(3px);
            &:hover{
                background: $background;
                border: 1px solid $base-border-color;
                color: #fff;
                &:before{
                    color: #fff;
                }
            }
            &:before {
                position: absolute;
                #{$left}: 0;
                #{$right}: inherit;
                top: 0;
                display: inline-block;
                text-indent: 0;
                width: 38px;
                height: 38px;
                 font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                text-align: center;
                font-size: 24px;
                line-height: 36px;
                color: #000000;
            }
          
            &.owl2-next{
                position: absolute;
                 margin-top: -20px;
                top: 50%;
                #{$right}: 0px;
                &::before {
                    content: '\f105';
                }
                @media (min-width:1920px){
                     #{$right}: -60px;
                }
               
            }
            &.owl2-prev{
                position: absolute;
                margin-top: -20px;
                top: 50%;
                #{$left}: 0px;
                &::before {
                content: '\f104'; 
                }  
                  @media (min-width:1920px){
                     #{$left}: -60px;
                }  
            }
             @include if-rtl{ 
                 &.owl2-prev::before {
                    content: '\f105';
                }
                &.owl2-next::before {
                    content: '\f104';
                }
            }
           
        }
    }
}

#section-style3{
   margin: 0 -15px;
}