{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">{{ text_description }}</div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
                <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                {% if error_name %}
                    <div class="text-danger">{{ error_name }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_title }}</label>
            <div class="col-sm-10">
                {% for language in languages %}
                    <span><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> </span>
                    <input type="text" name="title[{{ language.language_id }}]" value="{{ title[language.language_id] }}" placeholder="{{ entry_title }}" id="input-title" class="form-control" />
                {% endfor %}
                {% if error_title %}
                    <div class="text-danger">{{ error_title }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-hashtag">{{ entry_hashtag }}</label>
            <div class="col-sm-10">
                <input type="text" name="hashtag" value="{{ hashtag }}" placeholder="{{ entry_hashtag }}" id="input-hashtag" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-user_id">{{ entry_user_id }}</label>
            <div class="col-sm-10">
                <input type="text" name="user_id" value="{{ user_id }}" placeholder="{{ entry_user_id }}" id="input-user_id" class="form-control" />
                {% if error_user_id %}
                    <div class="text-danger">{{ error_user_id }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-token">{{ entry_token }}</label>
            <div class="col-sm-10">
                <input type="text" name="token" value="{{ token }}" placeholder="{{ entry_token }}" id="input-token" class="form-control" />
                {% if error_token %}
                    <div class="text-danger">{{ error_token }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_qty }}</label>
            <div class="col-sm-10">
                <input type="text" name="qty" class="form-control" value="{{ qty }}" placeholder="{{ entry_qty }}" />
                {% if error_qty %}
                    <div class="text-danger">{{ error_qty }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
            <div class="col-sm-10">
                <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                {% if error_width %}
                    <div class="text-danger">{{ error_width }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
            <div class="col-sm-10">
                <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                {% if error_height %}
                    <div class="text-danger">{{ error_height }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
                <select name="status" id="input-status" class="form-control">
                    {% if status %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                    {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                </select>
            </div>
        </div>

    </form>
</div>