{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ download }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-primary"><i class="fa fa-download"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-download-3d-order').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>

            <div class="pull-left">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">{% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class=" col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{{ delete }}" enctype="multipart/form-data" id="form-download-3d-order">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                        <td class="text-left">{{ text_nunber }}</td>
                                        <td class="text-left">{{ text_name }}</td>
                                        <td class="text-left">{{ text_company }}</td>
                                        <td class="text-left">{{ text_city }}</td>
                                        <td class="text-left">{{ text_site }}</td>
                                        <td class="text-left">{{ text_email }}</td>
                                        <td class="text-left">{{ text_phone }}</td>
                                        <td class="text-left">{{ text_product }}</td>
                                        <td class="text-left">{{ text_date }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if download_3d_orders %}
                                        {% for order in download_3d_orders %}
                                            <tr>
                                                <td class="text-center">{% if order.id in selected %}
                                                        <input type="checkbox" name="selected[]" value="{{ order.id }}" checked="checked" />
                                                    {% else %}
                                                        <input type="checkbox" name="selected[]" value="{{ order.id }}" />
                                                    {% endif %}</td>
                                                <td class="text-left">{{ order.id }}</td>
                                                <td class="text-left">{{ order.name }}</td>
                                                <td class="text-left">{{ order.company }}</td>
                                                <td class="text-left">{{ order.city }}</td>
                                                <td class="text-left">{{ order.site }}</td>
                                                <td class="text-left">{{ order.email }}</td>
                                                <td class="text-left">{{ order.phone }}</td>
                                                <td class="text-left">{{ order.product }}</td>
                                                <td class="text-left">{{ order.date_added }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="9">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ footer }}